<!-- ## MODAL LOGIN ACCOUNT -->
<div id="singIn" class="" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog--margin-top" role="document">
    <!-- Modal content-->
    <div class="modal-content modal-content--container">
      <div class="modal-content__header text-center">
        <p class="modal-content__sing">Resend confirmation instructions</p>
      </div>
      <div class="modal-content__body">
        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>
          <%= f.full_error :email %>

          <div class="row">
            <div class="col-sm-12">
              <%= f.label :email, "Email address", class: "modal-content__title control-label" %>
              <%= f.input_field :email, required: false, autofocus: true, placeholder: "Email", class: "modal-content__input form-control" %>
            </div>
          </div>

          <div class="row">
             <div class="col-sm-12">
               <div class="modal-content__btn text-center">
                 <%= f.button :submit, "Resend confirmation instructions", class: 'modal-content__btn-access' %>
               </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
