<div class="photo-container">
  <h2>Add New Fun Fact</h2>
  <%= simple_form_for [@area, FunFact.new] do |f| %>
    <div class="form-group">
      <%= f.input :content, as: :bootsy, label: false, editor_options: {lists: false}, input_html: { class: 'form-control'}  %>
      <%= f.input :reference, input_html: { class: 'form-control'}  %>
      <%= f.input :area_id, as: :hidden, input_html: {value: @area.id } %>
    </div>
    <div class="form-group">
      <%= f.button :submit%>
    </div>
  <% end %>
</div>
