<div class="photo-container">
  <h2>Add New Fun Fact</h2>
  <%= simple_form_for FunFact.new do |f| %>
    <div class="form-group">
      <%= f.input :content, input_html: { class: 'form-control content-length'}  %>
      LENGTH: <span class="char-count"></span> CHARACTERS
      <%= f.input :reference, input_html: { class: 'form-control'}  %>
      <%= f.input :hero_photo, as: :file, input_html: { class: 'form-control'}  %>
      <%= f.input :reference, input_html: { class: 'form-control'}  %>
    </div>
    <div class="form-group">
      <%= f.input :priority, collection: 1..10, input_html: { class: 'form-control'} %><br />
    </div>
    <div class="form-group">
      <%= f.input :status, label: "Status", collection: ["draft", "edited", "live", "removed"], input_html: { class: 'form-control'}  %>
    </div>
    <% if @area %>
      <%= f.input :area_id, as: :hidden, input_html: {value: @area.id } %>
    <% elsif @place %>
      <%= f.input :place_id, as: :hidden, input_html: {value: @place.id } %>
    <% elsif @region %>
      <%= f.input :fun_factable_id, as: :hidden, input_html: {value: @region.id } %>
      <%= f.input :fun_factable_type, as: :hidden, input_html: {value: "Region"} %>
    <% end %>
    <div class="form-group">
      <%= f.button :submit%>
    </div>
  <% end %>
</div>
