<!-- USING MUSTACHE.JS -->

<div class="instant-search-results">
  <div class="row">
    <div class="instant-hits-result col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="instant-hits-result-pagination pagination col-xs-12"></div>
  </div>
</div>
<script type="text/template" id="instant-hit-template">
{{#hits}}
{{#is_offer}}
  <div class="search-page-card clear-self anchor-offer wrap_link_card">
    <a class="link_card" href="{{ url }}" style="z-index: 1"></a>
    <div class="container-left">
      <h3 class="search-page-card__header">{{{ _highlightResult.display_name.value }}}</h3>
      <div class="search-page-card__info-side search-page-card__info-side--left">
          <p class="search-page-card__country">{{countries}}</p>
          <img src="{{ hero_photo.url }}" class="search-page-card__image" alt="">
          <span class="search-page-card__more-info mobile-only js-show-more-card-info">more info</span>
          <p class="search-page-card__image-description">{{hero_photo.alt_tag}}</p>
          <h4 class="search-page-card-places-visited__header">Places Visited</h4>
          <ul>
          {{#places_visited}}
          <li class="search-page-card-places-visited__place">{{.}}</li>
          {{/places_visited}}
          </ul>
      </div>

      <div class="search-page-card__info-side search-page-card__info-side--right">

          <p class="search-page-card__description">{{description}}</p>
          <div class="search-page-card__short-details">
            <p class="search-page-card__short-details-key">Date</p>
            <p class="search-page-card__short-details-value">{{startDate}}</p>
            <p class="search-page-card__short-details-key">Inclusions</p>
            <p class="search-page-card__short-details-value">
                {{#inclusions}}
                <img src="{{.}}" class="search-page-card__short-details-icon" alt="">
                {{/inclusions}}
            </p>
          </div>

      </div>
    </div>

    <div class="search-page-card__cost-side">
        <p class="search-page-card__cost-from desktop-only">from</p>
        <p class="search-page-card__cost-value"><span class="search-page-card__cost-currency">$</span>{{minRateAdult}}</p>
        <p class="search-page-card__cost-from desktop-only">or 5 monthly payments of ${{monthlyPayments}}</p>
        <p class="search-page-card__cost-per-person">per person</p>
        <p class="search-page-card__cost-from mobile-only clear">or 5 monthly payments of ${{monthlyPayments}}</p>

        <a class="search-page-card__cost-details" href="{{ url }}">details</a>
          <span class="search-page-card__to-bucket-list icon-favourite js-search-page-card__to-bucket-list viator_link bucket-list-offer" id="favouriteType" data-post-path="offers_users" data-klass="offer" data-liked="false" data-place-id="{{ ID }}" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Bucket List</span>
    </div>
  </div>
{{/is_offer}}
{{^is_offer}}
  <div class="search-page-card clear-self search-offer wrap_link_card">
    <a class="link_card" href="{{ url }}"></a>
    <div class="search-page-card__info-side search-page-card__info-side--left">
        <h3 class="search-page-card__header mobile-only">{{{ _highlightResult.display_name.value }}}</h3>
        <span class="search-page-card__to-bucket-list icon-favourite js-search-page-card__to-bucket-list viator_link bucket-list-offer mobile-only" id="favouriteType" data-post-path="{{#is_story}}stories{{/is_story}}{{^is_story}}{{object}}s{{/is_story}}_users" data-klass="{{object}}" data-liked="false" data-place-id="{{ ID }}" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Bucket List</span>
        <div class="search-photo search-page-card__image wrap_link_card">
          <a class="link_card" href="{{ url }}" style="z-index: 1"></a>
          <div class="category-card" style="{{#is_story}}background-image: url(/assets/mydiscoveries_icon/i/map/story.svg){{/is_story}}{{^is_story}}background-image: url(/assets/mydiscoveries_icon/i/map/map-point.png){{/is_story}}" >{{where_destinations}}</div>
          <div class="background" style="background-image: url('{{ hero_photo.url }}');" alt=""></div>
        </div>
        <span class="search-page-card__more-info mobile-only js-show-more-card-info">more info</span>
    </div>

    <div class="search-page-card__info-side search-page-card__info-side--right">
        <h3 class="search-page-card__header desktop-only">{{{ _highlightResult.display_name.value }}}</h3>
        <p class="search-page-card__country">{{country}}</p>
        <p class="search-page-card__description">{{{ description }}}</p>
    </div>
    <a class="search-page-card__cost-details mobile-only" href="{{ url }}">read more</a>
    <br>
    <div class="result-action desktop-only" align="right">
      <!-- <span class="search-page-card__to-bucket-list js-search-page-card__to-bucket-list">Bucket List</span> -->
      <span class="search-page-card__to-bucket-list icon-favourite js-search-page-card__to-bucket-list viator_link bucket-list-offer" id="favouriteType" data-post-path="{{#is_story}}stories{{/is_story}}{{^is_story}}{{object}}s{{/is_story}}_users" data-klass="{{object}}" data-liked="false" data-place-id="{{ ID }}" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Bucket List</span>
      <a class="search-page-card__cost-details" href="{{ url }}">read more</a>
    </div>
  </div>
{{/is_offer}}

{{/hits}}
</script>

<script type="text/template" id="instant-pagination-template">
  <a class="pagination__link-left go-to-page-instant-search {{^prev_page}}disabled{{/prev_page}}" href="#" data-page="{{ prev_page }}"></a>
  {{#pages}}
  <a class="pagination__link go-to-page-instant-search {{#current}}active{{/current}} {{#disabled}}disabled{{/disabled}}" href="#" {{^disabled}} data-page="{{ number }}" {{/disabled}}>{{ number }}</a>
  {{/pages}}
  <a class="pagination__link-right go-to-page-instant-search {{^next_page}}disabled{{/next_page}}" href="#" data-page="{{ next_page }}"></a>
</script>

<script type="text/template"  id="instant-facet-template">
  <div class="facet hidden-xs hidden-sm" >
    <div class="search-page-filter__field-set clear-self">
      <h4 class="search-page-filter__sub-header">{{ title }}</h4>
      {{#values}}
          <label class="search-page-filter__label">
            <input type="checkbox" data-checked="<%= params[:sub_cat_id] %>" class="ischecked facet-link instant-search-toggle-refine {{#disjunctive}}facet-disjunctive{{/disjunctive}} {{#isRefined}}facet-refined{{/isRefined}} search-page-filter__checkbox" data-facet="{{ facet }}" id="checked-result-{{ name }}" data-value="{{ name }}" {{#isRefined}}checked="true"{{/isRefined}}>
            <span class="search-page-filter__custom-checkbox"></span>
            <span class="search-page-filter__label-text">{{ name }}</span>
          </label>
      {{/values}}
    </div>
  </div>
</script>

<script type="text/template" id="instant-no-result-template">
  <div class="col-md-12">
    <div id="message-query">
        <p> Looking for <strong>{{ query }}</strong>?</p>
        <p>Sorry we haven't delivered the goods. We're always adding the best finds across the globe, and this has now been added to our 'To Do' list.</p>
        <p>Want to know when we've added it? <a class="show_form_request" style="cursor: pointer;"> Click here </a> and we'll let you know when it's live! </p>
    </div>
  </div>

  <div class="col-md-6">
      <form id="search_request" style="display:none;">
        <div class="form-group">
          <label >Name</label>
          <input type="text" name="name" class="form-control" placeholder="Your Name" value="<%= user_signed_in? ? current_user.name : '' %>" required>
        </div>
        <div class="form-group">
          <label >Email address</label>
          <input name="email" type="email" class="form-control" placeholder="Your Email" value="<%= user_signed_in? ? current_user.email : '' %>" required >
        </div>
        <div class="form-group">
          <label>Place You Would Like To Discover</label>
          <input name="term" type="text" class="form-control" placeholder="Search Term" value="{{ query }}" required >
        </div>
      <button type="submit" class="btn btn-primary button-loading">Submit</button>
    </form>
  </div>
</script>
