<%= render "layouts/navbar" %>
<%= render "search_suggestions/search_results" %>
<!--#hardcode  -->
<section class="places-to-go top20">
  <div class="container">
    <div class="text-left">
      <!-- <p> -->
        <span class="left-modal top5">
          <%= @places.traverse('nbHits') %> results <a class="pink">Refine</a>
        </span>
        <span class="right-modal width-select">
          <div class="row">
            <div class="col-xs-4 col-sm-4">
              <label class="grey top5"> Sort by : </label>
            </div>
            <div class="col-xs-8 col-sm-8">
              <form class="form form-horizontal margin-right-select20">
              <div class="form-group">
                <select class="form-control">
                  <option>Price</option>
                  <option>Tours</option>
                  <option>City</option>
                  <option>Hotels</option>
                  <option>Do</option>
                </select>
              </div>
              </form>
            </div>
            </div>
        </span>
      <!-- </p> -->
      <!-- <h4 class="section-title">Featured places to go</h4> -->
    </div>
  </div>
</section>


 <div class="container">
  <div class="text-left">
  </div>
  <div class="row" id="areas-list">
    <% unless @areas.traverse("hits").blank? %>
      <%= render partial: 'raw_result_areas_list', collection: @areas.traverse('hits'), as: :area %>
    <% end %>
  </div> <!-- row -->
  <% unless algolia_raw_last_page? @areas %>
    <div class="text-center clearfix btm15 single-pagination-container" id="areas-single-pagination-container" style="clear:both">
      <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
        <img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64">
      </div>
      <%= link_to "Load More", searching_path(areas_page: algolia_raw_next_page(@areas), areas_per_page: 6, pagination_template: 'raw_result_areas_list', resources: 'areas', ), class: 'btn btn-default single-pagination', remote: true %>
     </div>
   <% end %>
 </div>

<section class="places-to-go top15">
  <div class="container">
    <div class="row" id="places-list">
      <!-- Lopping 4 kali load more  -->
      <% unless @places.traverse('hits').blank? %>
        <%= render partial: 'raw_result_places_list', collection: @places.traverse('hits'), as: :place %>
      <% end %>
    </div> <!-- row -->
  </div>
</section>

<% unless algolia_raw_last_page? @places %>
  <div class="text-center clearfix btm15 single-pagination-container" id="places-single-pagination-container" style="clear:both">
    <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
      <img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64">
    </div>
    <%= link_to "Load More", searching_path(places_page: algolia_raw_next_page(@places), pagination_template: 'raw_result_places_list' ,places_per_page: 6, resources: 'places'), class: 'btn btn-default single-pagination', remote: true %>
  </div>
<% end %>
<!-- <div class="text-center clearfix btm20 top5">
  <span><img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64"></span>
</div> -->
<%= render "layouts/footer" %>