<div class="section-grey">
<div class="container sidebar-result-search">
<div class="row">

    <div class="col-md-3 filter-box">
      <div id="facets-instant-search2" style="padding-bottom: 5px;"></div>
        <div class="main-header">
          <h3 class="search-page-filter__header">Filter</h3>
        </div>
      <div id="facets-instant-search3"></div>
      <div id="facets-instant-search"></div>
    </div>
    <div class="col-md-9" id="instant-search-container">
      <div class="row">
        <div class="col-md-12">
            <div class="input-group input-search-nav refine">
              <%= form_tag searching_path, id: '', method: :get  do %>
                <%= text_field_tag "search[common]", params.traverse('search', 'common'), id: "squery" ,class: 'search-page-main-search__search instant-search', autocomplete: "off" %>
                <%= submit_tag "", class: "search-page-main-search__search-icon" %>
              <% end %>
            </div><!-- /input-group -->
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12" id="instant-search-results">
          <% if current_user.present? %>
          <div id="dataBucketOffer" data-bucketlist="<%= current_user.offers.map(&:id) %>"></div>
          <div id="dataBucketPlace" data-bucketlist="<%= current_user.favorite_places.map(&:id) %>"></div>
          <div id="dataBucketAttraction" data-bucketlist="<%= current_user.favorite_attractions.map(&:id) %>"></div>
          <% end %>
          <%= render partial: 'search_suggestions/instant_search_results' %>
        </div>
      </div>
    </div>
</div>
</div>
</div>