<%= render "layouts/navbar" %>
<%= render "search_suggestions/search_results" %>
<!--#hardcode  -->
<section class="places-to-go top20">
  <div class="container">
    <div class="text-left">
      <!-- <p> -->
        <span class="left-modal top5">
          12 results <a class="pink">Refine</a>
        </span>
        <span class="right-modal width-select">
          <div class="row">
            <div class="col-xs-4 col-sm-4">
              <label class="grey top5"> Sort by : </label>
            </div>
            <div class="col-xs-8 col-sm-8">
              <form class="form form-horizontal margin-right-select20">
              <div class="form-group">
                <select class="form-control">
                  <option>Price</option>
                  <option>Tours</option>
                  <option>City</option>
                  <option>Hotels</option>
                  <option>Do</option>
                </select>
              </div>
              </form>
            </div>
            </div>
        </span>
      <!-- </p> -->
      <!-- <h4 class="section-title">Featured places to go</h4> -->
    </div>
  </div>
</section>


 <div class="container">
   <div class="text-left">
   </div>
   <div class="row">
      <% @areas.each do |area| %>
          <div class="col-sm-6 col-md-3 col-xs-6">
           <div class="thumbnail">
             <div class="image-cat outer-js">
               <img class="inner-js" src="<%= showing_image(area["photos"].first["url"]) unless area["photos"].blank? %>" alt="" class="top-rounded img-responsive">
             </div>
             <div class="caption text-center">
               <h4 class="font-orange2"><%= area["_highlightResult"]["display_name"]["value"].html_safe  %></h4>
             </div>
             <div class="details-dest">
               <div class="left">
                 <a href="#"><i class="fa fa-newspaper-o"></i> 2</a>
               </div>
               <div class="right">
                 <a href="#">
                 <i class="fa fa-thumbs-o-up"></i> 100%</a>
               </div>
             </div>
            </div>
          </div>
    <% end %>
   </div> <!-- row -->
 </div>

<section class="places-to-go top15">
  <div class="container">
    <div class="row">
     <!-- Lopping 4 kali load more  -->
     <% @places.each do |place| %>
       <div class="col-xs-12 col-md-6">
        <div class="thumbnail">
          <div class="image-cat image-cat-left">
            <img src="./img/images.jpg" alt="" class="img-responsive img-full-div">
          </div>
          <div class="caption caption-right">
            <h4 class="gray-font"><%= place["country"] %></h4>
            <h2><%= place["_highlightResult"]["display_name"]["value"].html_safe  %></h2>
          </div>
          <div class="details-dest">
            <div class="left">
              <a href="#"><i class="fa fa-male"></i> Do</a>
              <a href="#">Museum</a>
            </div>
            <div class="right">
              $$
            </div>
            </div>
          </div>
        </div>
      <% end %>

    </div> <!-- row -->
  </div>
</section>

<div class="text-center btm20">
 <%= link_to "Load More", "" , class: 'btn btn-default btn btn-default top5 load-more' %>
</div>
<!-- <div class="text-center clearfix btm20 top5">
  <span><img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64"></span>
</div> -->
<%= render "layouts/footer" %>