<div class="container">
  <div class="hidden">

    <div id="similar-places-js" data-similar="<%= array_places_offers_ids(@offer.offers_places) %>" data-controllers="places">
    </div>
  </div>
  <h1>Similar Destinations</h1>
  <%= render "/offers/admin_tabs" %>
  <%= simple_form_for [@offer, @places_offers] do |f| %>
    <div id="dual-list-box-offers-places" class="form-group row">
      <select multiple="true" id="js-area-dual-box" class="dualbox" data-json="false" data-title="offers-places" name="places_offers[place_ids][]">
        <%= @places.each do |place| %>
          <option value="<%= place.id %>" name="<%= place.display_name %>"><%= place.display_name + (place.primary_area ? " (Primary Area)" : "") %></option>
        <% end %>
     </select>
   </div>
    <%= f.submit :submit %>
  <% end %>
</div>
<script>

</script>
