<div class="container">
  <div style="margin-top: 50px;" class="row hidden-xs"></div>
  <div class="row">
    <a href="<%= root_path %>">
      <img src="<%= asset_path('br_logo_new.png') %>" class="img-resposive center-block place-logo" >
    </a>
    <div class="col-md-1 hidden-xs"></div>
    <div class="col-md-10 col-xs-12">
      <%= simple_form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h4>Please correct the following errors:</h4>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <% if provider.to_s == 'instagram' %>
            <p><a href="<%= omniauth_authorize_path(resource_name, provider) %>" class="btn insta-sign-in-button"><i class="fa fa-instagram"></i>&nbsp;Sign In With Instagram</a></p>
            <% end %>
          <% end -%>
        <% end -%>
        <%= f.input :email, required: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :first_name, required: true, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :last_name, required: true, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :username, required: true, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <div class="form-inline">
          <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year,
                              order: [:day, :month, :year], required: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        </div>
        <%= f.input :address, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :address_line_2, required: true, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :city, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :state, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :post_code, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :country, required: true, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :promo_code, label: "Promo Code (optional)", wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :password, required: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <%= f.input :password_confirmation, required: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        <div class="actions">
          <%= f.submit 'Create Account', class: "btn btn-default" %>
        </div>
      <% end %>
      <div class="sign-in-footer">
        <br><p>
        We're committed to protecting your privacy.<br>
        By proceeding, you agree to our <%= link_to "Privacy Policy", pages_privacy_path, target: "_blank" %> and <%= link_to "Terms and Conditions", pages_terms_path, target: "_blank" %>.
      </p>
      </div>
    </div>
    <div class="col-md-1 hidden-xs"></div>
  </div>
  <div style="margin-top: 50px;" class="row hidden-xs"></div>
</div>
