<div class="br_sign_style_modal" id="signup_modal" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <%= simple_form_for(@user) do |f| %>
                        <div class="modal-header">
                            <div class="text-center img-logo-area">
                              <img src="/assets/logoNew.png">
                            </div>
                             <!--<button class="close cs-close close-signup"> -->
                             <%= link_to "  ",  root_path, class: "close cs-close close-signup"  %>
                             <!--</button> -->
                            <!-- <h1 class="text-center">Ben Thompson</h1> -->
                        </div>


                        <div class="modal-body sign-in-pad">
                            <div class="row">
                                <div>
                                    <%= f.input_field :email, required: true, autofocus: true, placeholder: "Email", class: "form-control" %>
                                </div><br>
                            </div>
                            <div class="row">
                                <div>
                                    <%= f.password_field :password, required: true, placeholder: "Password", class: "form-control"%>
                                </div><br>
                                <div>
                                    <%= f.password_field :password_confirmation, required: true, placeholder: "Password Confirmation",class: "form-control" %>
                                </div><br>
                            </div>
                            <div class="row">
                                <div>
                                    <%= f.input :promo_code, label: false, placeholder: "Promo Code (optional)", wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
                                </div>
                            </div>
                            <div class="form-group">
                              <%= f.button :submit, "Join", :class=>'btn btn-default btn-block btn-radius btn-height fontbig-button pink' %>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                              Or sign up with...
                            <div class="row">
                              <%- if devise_mapping.omniauthable? %>
                                <%- resource_class.omniauth_providers.each do |provider| %>
                                  <% if provider.to_s == "facebook" %>
                                    <div class="col-xs-6 col-sm-6">
                                      <a href="<%= omniauth_authorize_path(resource_name, provider) %>">
                                        <button class="btn btn-primary btn-block button-style btn-radius fontbig-signin btn-facebook mrg0"><i class="fa fa-<%= provider.to_s %>"></i> Facebook</button>
                                      </a>
                                    </div>
                                  <% elsif provider.to_s == "google_oauth2" %>
                                    <div class="col-xs-6 col-sm-6">
                                      <a href="<%= omniauth_authorize_path(resource_name, provider) %>">
                                        <button class="btn btn-danger btn-block button-style btn-google-plus btn-radius fontbig-signin"><i class="fa fa-google"></i> Google+</button>
                                      </a>
                                    </div>
                                  <% end %>
                                <% end %>
                              <% end %>
                              <%#- if devise_mapping.omniauthable? %>
                                <%#- resource_class.omniauth_providers.each do |provider| %>
                                  <%# if provider.to_s == 'instagram' %>
                                  <!-- <p><a href="<%#= omniauth_authorize_path(resource_name, provider) %>" class="btn insta-sign-in-button"><i class="fa fa-instagram"></i>&nbsp;&nbsp;Sign In With Instagram</a></p> -->
                                  <%# end %>
                                <%# end -%>
                              <%# end -%>
                              <!-- <div class="col-xs-6 col-sm-6">
                                <button class="btn btn-warning btn-block button-style btn-ig btn-radius fontbig-signin mrg0"><i class="fa fa-instagram"></i> Instagram</button>
                              </div> -->
                              <!-- <div class="col-xs-6 col-sm-6">
                                <button class="btn btn-danger btn-block button-style btn-google-plus btn-radius fontbig-signin"><i class="fa fa-google-plus"></i> Google+</button>
                              </div> -->
                              </div>
                        </div><!--/modal body -->

                        <div class="modal-footer">
                          <div class="row">
                            <div class="col-xs-8">
                              <div class="left">
                                <p class="text-center">We're committed to protecting your privacy. By proceeding, you agree to our <%= link_to "Privacy Policy", pages_privacy_path, target: "_blank" %> and <%= link_to "Terms and Conditions", pages_terms_path, target: "_blank" %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% end %> <!--/simple form -->
                </div>
            </div>
        </div><!--/modal-->
