<% if user_signed_in? && current_user.admin? %>
<div class="container">
  <h1>All Subcategories</h1>
  <table class="table table-striped" id="subcategory-table">
        <thead>
        <tr>
          <th>Subcategory Type</th>
          <th>Image</th>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
    <% @subcategories.each do |category| %>
            <tr>
              <td><%= category.category_type %></td>
              <td><img src="<%= category.icon_url %>" class="photo-edit-thumb"></td>
              <td><%= category.name %></td>
              <td><%= link_to 'Edit', edit_subcategory_path(category) %></td>
              <td><%= link_to 'Destroy', subcategory_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <h2>Create New Subcategory</h2>
  <%= simple_form_for @subcategory do |f| %>
    <%= f.input :name, input_html: {class: "form-control"} %>
    <%= f.input :category_type, as: :select, collection: @subcategory_types, input_html: { class: 'form-control', id: 'subcat-select' } %>
    <label><input type="checkbox" id="subcategory_checkbox">Create a new subcategory type</label>
    <%= f.input :category_type, disabled: true, input_html: { class: 'form-control', id: "subcat-text" } %>
    <%= f.input :icon, as: :file, label: "Image File", input_html: {class: "form-control"} %>
    <%= f.input :primary_description, label: "Primary Description", input_html: {class: "form-control", id: "primary_textarea", onkeyup: "countChars('primary_textarea', 'primary_count')" } %>
    <div>Character Count: <span id="primary_count"></span></div>
    <%= f.input :secondary_description, label: "Secondary Description", input_html: {class: "form-control", id: "secondary_textarea", onkeyup: "countChars('secondary_textarea', 'secondary_count')" } %>
    <div>Character Count: <span id="secondary_count"></span></div>
    <%= f.submit :submit %>
  <% end %>
</div>
<% else %>
  <h1>You do not have sufficient privileges to access this page</h1>
<% end %>

<script>
  function countChars(countfrom,displayto) {
    var len = document.getElementById(countfrom).value.length;
    document.getElementById(displayto).innerHTML = len;
  }

  const subcatCheckbox = document.querySelector("#subcategory_checkbox");

  subcatCheckbox.addEventListener('click', handleSubcatCheckbox);

  function handleSubcatCheckbox(e){
    if (this.checked == true){
      document.querySelector('#subcat-text').disabled = false;
      document.querySelector('#subcat-select').disabled = true;
    } else {
      document.querySelector('#subcat-text').disabled = true;
      document.querySelector('#subcat-select').disabled = false;
    }
  }


</script>
