<% if user_signed_in? && current_user.admin? %>
<div class="container">
  <h1>All Subcategories</h1>
    <% @subcategories.each do |category| %>
      <p>Category Name: <%= category.name %> || Category Type: <%= category.category_type %><br>
      <%= link_to 'Edit', edit_subcategory_path(category) %> ||
      <%= link_to 'Destroy', subcategory_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>
    </p>
    <% end %>
  <h2>Create New Subcategory</h2>
  <%= simple_form_for @subcategory do |f| %>
    <%= f.input :name, input_html: {class: "form-control"} %>
    <%= f.input :icon, as: :file, label: "Image File", input_html: {class: "form-control"} %>
    <%= f.submit :submit %>
  <% end %>
</div>
<% else %>
  <h1>You do not have sufficient privileges to access this page</h1>
<% end %>
