<div class="container">
  <h2>Edit Subcategory</h2>
  <%= simple_form_for @subcategory do |f| %>
    <%= f.input :name, input_html: { class: 'form-control' } %>
    <%= f.input :category_type, as: :select, collection: @subcategory_types, input_html: { class: 'form-control' } %>
    <%= f.input :icon, as: :file %>
    <%= f.input :primary_description, label: "Short Description", input_html: {class: "form-control", id: "primary_textarea"} %>
    <div>Character Count: <span id="primary_count"></span></div>
    <%= f.input :secondary_description, label: "Long Description", input_html: {class: "form-control", id: "secondary_textarea"} %>
    <div>Character Count: <span id="secondary_count"></span></div>
    <div>
      <%= f.input :status, label: 'Subcategory Status', as: :select, collection: ["live", "draft", "removed"] %>
    </div>
    <div class="field subcategory">
      <strong>Secondary categories</strong><br>
        <div class="row">
        <% @subcategories.each do |category| %>
            <% if category.category_type == "subcategory" %>
              <div class="col-md-3">
                <%= hidden_field_tag "subcategory[related_to][]", nil%>
                <%= check_box_tag "subcategory[related_to][]", category.id, @subcategory.related_to.include?(category.id.to_s), id: dom_id(category) %>
                <%= label_tag dom_id(category), category.name %>
              </div>
          <% end %>
        <% end %>
        </div>
      </div>
    <%= f.submit :submit %>
  <% end %>
</div>

<script>
  const primaryCount = document.querySelector("#primary_count");
  const primaryTextArea = document.querySelector("#primary_textarea");
  const secondaryCount = document.querySelector("#secondary_count");
  const secondaryTextArea = document.querySelector("#secondary_textarea");
  primaryCount.textContent = primaryTextArea.value.length;
  secondaryCount.textContent = secondaryTextArea.value.length;
  primaryTextArea.addEventListener('keyup', () => {
    primaryCount.textContent = primaryTextArea.value.length;
  });

  secondaryTextArea.addEventListener('keyup', () => {
    secondaryCount.textContent = secondaryTextArea.value.length;
  });

</script>
