<!-- #hardcode -->

<div class="container">
  <div class="row">
    <div class="head-title">
      <h2 class="gray-font"><%= @subcategory.try(:name) %></h2>
    </div>
  </div>
</div>
<!-- <div class="border-section btm30"></div> -->
<!-- <div class="container top10 padding-style">
  <div class="row search-nearby">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="input-group search-responsive">
          <form action="/results" method="get">
            <input id="" type="text" name="search[common]" id="search-common" class="form-control search-nav" placeholder="Search for destinations">
            <span class="input-group-btn">
              <button class="btn btn-default hero-search" type="submit"><i class="fa fa-search"></i></button>
            </span>
          </form>

        </div> --><!-- /input-group -->
      <!--</div>
    </div>
      <div class="input-group search-responsive">
        <input type="text" class="form-control" placeholder="Search for destinations">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- /input-group -->
    <!-- </div>
    <div class="col-xs-2 col-sm-2 hidden-lg hidden-md">
      <a href="#" class="btn btn-brw-orange2 btn-search"><i class="fa fa-map-marker"></i><br>Nearby</a>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
      <a href="#" class="btn btn-brw-orange2 btn-search btn-responsive-search"><i class="fa fa-map-marker top10 font-orange-black2"></i> Nearby</a>
    </div>
  </div> <!-- row -->
<!-- </div> -->

    <% unless @areas.blank? %>
<!-- <div class="border-section"></div> -->
<!-- Looping places params category -->
<div class="container padding-style">
  <p></p><br>
  <p class="body-text">
    <%= @subcategory.try(:primary_description) %>
  </p><br><br>
  <div class="text-left">
    <h4 class="section-title">Amazing Destinations</h4>
  </div>
  <div class="row">
        <section class="places-to-go visit-place cards">

          <div class="row">
           <div class="col-xs-12" id="areas-list">
              <%= render partial: 'primary_categories/areas_list', collection: @areas, as: :area %>
              <!-- #hardcode activate paginate (6 cards per page) -->
              <!-- sebelumnya di limit 6. pake js tampil lg 3  -->
            </div>
          </div> <!-- row -->
        </section>
        <% unless last_page? @areas %>
          <div class="text-center clearfix btm20 single-pagination-container" id="areas-single-pagination-container" style="clear:both">
            <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
              <img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64">
            </div>
            <%= link_to "Load More", subcategory_path(@subcategory, areas_page: @areas.next_page, resources: 'areas', pagination_template: 'primary_categories/areas_list', collection_object: 'area'), class: 'btn btn-default single-pagination btn btn-default top5 load-more', remote: true %>
          </div>
        <% end %>
      <% end %>

  </div> <!-- row -->
</div>

<div class="border-section"></div>

<div class="container padding-style">
<div class="row">
  <p></p><br>
  <p class="body-text">
    <%= @subcategory.try(:secondary_description) %>
  </p><br><br>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<section class="places-to-go">
    <div class="text-left">
      <h4 class="section-title">Featured places</h4>
    </div>
    <div class="row">
     <div class="col-xs-12" id="places-list">
      <% unless @places.blank? %>
        <%= render partial: 'primary_categories/places_list', collection: @places, as: :place %>
              <!-- #hardcode activate paginate (6 cards per page) -->
              <!-- sebelumnya di limit 6. pake js tampil lg 3  -->
            </div>
          </div> <!-- row -->
        </section>
        <% unless last_page? @places %>
          <div class="text-center clearfix btm20 single-pagination-container" id="places-single-pagination-container" style="clear:both">
            <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
              <img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64">
            </div>
            <%= link_to "Load More", subcategory_path(@subcategory, places_page: @places.next_page, resources: 'places', pagination_template: 'primary_categories/places_list', collection_object: 'place'), class: 'btn btn-default single-pagination btn btn-default top5 load-more', remote: true %>
          </div>
        <% end %>
      <% end %>
    </div> <!-- row -->

</section>

</div> <!-- end col -->
</div><!-- row -->
</div><!-- container -->
