<!-- #hardcode -->
<section class="adventure-header">
  <div class="banner-image" style="background-image: url('<%= @subcategory.icon.url.to_s rescue "https://placehold.it/1920x1080" %>')" role="img" aria-label=""></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="adventure-header__title text-center"><%= @subcategory.try(:name) %></h1>
        <p class="adventure-header__content text-center"><%= @subcategory.try(:primary_description) %></p>
      </div>
    </div>
  </div>
</section>
<section class="section-grey call-to-action-top text-center">
  <div class="container call-to-action-top__container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <p class="call-to-action-top__text"><%= @subcategory.try(:secondary_description)%></p>
      </div>
    </div>
  </div>
</section>

 <% if @offers.present? %>
<section class="related-product-adventure">
  <div class="container width-limiter">
    <div class="row related-product-adventure__header">
      <div class="col-sm-12 col-md-12 col-xs-12">
          <h2 class="adventure-block__title">Best <%= @subcategory.name.titleize %> Holidays</h2>
          <p class="adventure-see__link-wrapper">
              <a href="<%= offers_path %>" class="adventure-see__link hidden-xs">see all</a>
          </p>
      </div>
    </div>
    <div class="package-offers padding-medium">
      <div class="package-offers-block">
        <ul>
          <div id="offers-list">
            <%= render partial: "offers/all_index_offers", collection: @offers, as: :offer %>
          </div>
        </ul>
        <% unless last_page? @offers %>
          <div class="single-pagination-container" id="offers-single-pagination-container">
            <div class="load-more region">
              <div class="hidden single-pagination-loader" align="center">
                <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
              </div>
            <%= link_to "see more", paginate_offers_subcategory_path(@subcategory, offers_page: @offers.next_page, resources: 'offers', pagination_template: 'offers/all_index_offers', collection_object: 'offer'), class: 'see-more__link single-pagination', remote: true %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% end %>

<% if @stories.present? %>
<section class="best-of-adventure section-white">
 <div class="container width-limiter">
   <div class="row best-of-adventure__header">
     <div class="col-sm-12 col-md-12 col-xs-12">
         <h2 class="adventure-block__title">Best of <%= @subcategory.name.titleize %> Stories</h2>
         <p class="adventure-see__link-wrapper">
             <a href="<%= all_posts_posts_path %>" class="adventure-see__link hidden-xs">see all</a>
         </p>
     </div>
   </div>
   <div class="row best-of-adventure__content" id="stories-list">
     <%= render partial: 'stories/all_stories_subcategory', collection: @stories, as: :story %>
   </div>
   <% unless last_page? @stories %>
     <div class="single-pagination-container" id="stories-single-pagination-container">
       <div class="load-more region">
         <div class="hidden single-pagination-loader" align="center">
           <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
         </div>
       <%= link_to "see more", paginate_stories_subcategory_path(@subcategory, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_subcategory', collection_object: 'story'), class: 'see-more__link single-pagination', remote: true %>
       </div>
     </div>
   <% end %>
 </div>
</section>
<% end %>

<% if @subcategories.present? %>
  <section class="interest-related-adventure section-white">
    <div class="container width-limiter">
      <div class="row interest-related-adventure__header">
        <div class="col-sm-12 col-md-12">
            <h2 class="adventure-block__title">Interests related to adventure travel</h2>
        </div>
      </div>
      <div class="row interest-related-adventure__content">
        <% @subcategories.each do |subcategory| %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="interest-related-adventure-card adventure-thumbnail">
            <div class="background" style="background-image: url('<%= subcategory.icon.url.to_s %>')" class="interest-related-adventure-card__people-photo" alt>
            </div>
            <div class="overlay"></div>
            <h3 class="interest-related-adventure-card__title text-center"><%= subcategory.name %></h3>
          </div>
        </div>
        <% end %>
      </div>
  </section>
<% end %>
