<!-- #hardcode -->
<section class="adventure-header">
  <div class="banner-image" style="background-image: url('<%= @subcategory.icon.url.to_s rescue "https://placehold.it/1920x1080" %>')" role="img" aria-label=""></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="adventure-header__title text-center"><%= @subcategory.try(:name) %></h1>
        <p class="adventure-header__content text-center"><%= @subcategory.try(:primary_description) %></p>
      </div>
    </div>
  </div>
</section>
<section class="section-grey call-to-action-top text-center">
  <div class="container call-to-action-top__container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <p class="call-to-action-top__text">Lorem ipsum dolor sit amet, et nec solum everti comprehensam.</p>
        <a href="<%= new_story_path %>" class="call-to-action-top__btn">share a story</a>
      </div>
    </div>
  </div>
</section>
 <% if @stories.present? %>
<section class="best-of-adventure section-white">
  <div class="container width-limiter">
    <div class="row best-of-adventure__header">
      <div class="col-sm-12 col-md-12 col-xs-12">
          <h2 class="adventure-block__title">Best of adventure travel</h2>
          <p class="adventure-see__link-wrapper">
              <a href="#subcategory_all_story" class="adventure-see__link hidden-xs">see all</a>
          </p>
      </div>
    </div>
    <div class="row best-of-adventure__content">
    <% @stories.each do |story| %>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="best-of-adventure-card adventure-thumbnail">
          <img src="<%= story.user.avatar_url rescue '' %>" class="best-of-adventure-card__road-photo" alt>
          <h3 class="best-of-adventure-card__title"><a href="#" class="best-of-adventure-card__link"><%= story.title.size > 30? story.title[0..30]+"..." : story.title %></a></h3>
          <p class="best-of-adventure-card__content"><%= story.seo_friendly_url %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
<% end %>

 <% if @offers.present? %>
<section class="related-product-adventure">
  <div class="container width-limiter">
    <div class="row related-product-adventure__header">
      <div class="col-sm-12 col-md-12 col-xs-12">
          <h2 class="adventure-block__title">Related products for adventure travel</h2>
          <p class="adventure-see__link-wrapper">
              <a href="<%= offers_path %>" class="adventure-see__link hidden-xs">see all</a>
          </p>
      </div>
    </div>
    <div class="row related-product-adventure__content">
    <% @offers.each do |offer| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="related-product-adventure-card adventure-thumbnail">
          <img src="<%= draw_small_background(offer) %>" class="related-product-adventure-card__city-photo" alt>
          <h3 class="related-product-adventure-card__title"><a href="#" class="related-product-adventure-card__link"><%= offer.name %></a></h3>
          <p class="related-product-adventure-card__content"><%= offer.description[0..75] %>...</p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
<% end %>

<% if @subcategories.present? %>
  <section class="interest-related-adventure section-white">
    <div class="container width-limiter">
      <div class="row interest-related-adventure__header">
        <div class="col-sm-12 col-md-12">
            <h2 class="adventure-block__title">Interests related to adventure travel</h2>
        </div>
      </div>
      <div class="row interest-related-adventure__content">
        <% @subcategories.each do |subcategory| %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="interest-related-adventure-card adventure-thumbnail">
            <div class="background" style="background-image: url('<%= subcategory.icon.url.to_s %>')" class="interest-related-adventure-card__people-photo" alt>
            </div>
            <div class="overlay"></div>
            <h3 class="interest-related-adventure-card__title text-center"><%= subcategory.name %></h3>
          </div>
        </div>
        <% end %>
      </div>
  </section>
<% end %>

<section class="call-to-action-bottom text-center">
  <div class="background" style="background-image: url('/assets/call-to-action-bottom-banner.png')">
  <div class="container call-to-action-top__container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <p class="call-to-action-bottom__text">Lorem ipsum dolor sit amet, et nec solum everti comprehensam.</p>
        <a href="<%= new_story_path %>" class="call-to-action-bottom__btn">share a story</a>
      </div>
    </div>
  </div>
  </div>
</section>
