<% if user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?) %>
<div class="container">
  <%= render "/stories/admin_tabs" %>
  <%= simple_form_for @story, html: { role: 'form'} do |f| %>
  <% category_types = Subcategory.all.map {|subcat| subcat.category_type } %>
  <% category_types.uniq! %>
  <% category_types.each do |type| %>
    <div class="field">
      <strong><%= type %></strong><br>
      <% Subcategory.all.each do |category| %>
          <% if category.category_type == type %>
          <%= hidden_field_tag "story[subcategory_ids][]", nil%>
          <%= check_box_tag "story[subcategory_ids][]", category.id, @story.subcategory_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %><br/>
        <% end %>
      <% end %>
    </div>
    <hr>
  <% end %>
      <div class="form-group">
        <%= f.button :submit, 'Submit' %>
      </div>
      <% end %>
</div>
<% end %>
