<div class="container">

  <h2>Add New Program</h2>
<%= simple_form_for @program do |f| %>
  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control' }%>
  </div>
 
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' }%>
  </div>
 
  <div class="form-group">
    <%= f.input :yearlevelnotes, input_html: { class: 'form-control' }%>
  </div>

    <div class="form-group">
    <%= f.input :cost, input_html: { class: 'form-control' }%>
  </div>

  <div class="form-group">
    <%= f.input :programpath, input_html: { class: 'form-control' }%>
  </div>

  <div class="form-group">
    <%= f.input :heroimagepath, input_html: { class: 'form-control' }%>
  </div>

  <div class="form-group">
    <%= f.input :times, input_html: { class: 'form-control' }%>
  </div>

  <div class="form-group">
    <%= f.input :booknowpath, input_html: { class: 'form-control' }%>
  </div>

  <div class="form-group">
    <%= f.input :contact, input_html: { class: 'form-control' }%>
  </div>

    <div class="form-group">
      <%= f.input :programsubject_list, label: "Program Subjects ( Valid tags: "+ "English, Mathematics, Science, History, Geography, Economics, Civics, Arts, Health,Languages" +" )", input_html: { class: 'form-control'} %>
      <!--%= f.input :programactivity_list, collection: valid_program_activity_tags(), input_html: { class: 'form-control', multiple: true } %-->
    </div>

    <div class="form-group">
      <%= f.input :programyearlevel_list, label: "Program Year Levels ( Valid tags: "+ "K,1,2,3,4,5,6,7,8,9,10,11,12"+" )", input_html: { class: 'form-control'} %>
      <!--%= f.input :programyearlevel_list, collection: valid_program_yearlevel_tags(), input_html: { class: 'form-control', multiple: true } %-->
    </div>

    <div class="form-group">
      <%= f.input :programactivity_list, label: "Program Activities ( Valid tags: "+ "Excursion, Virtual Excursion, Incursion" +" )", input_html: { class: 'form-control'} %>
      <!--%= f.input :programactivity_list, collection: valid_program_activity_tags(), input_html: { class: 'form-control', multiple: true } %-->
    </div>

    <div class="form-group">
      <%= f.button :submit%>
    </div>
<% end %>
</div>