<!--
** Renders a group of programs as cards in original (boring & inadequate) style provided by Xyrin in June 2015 

Controller Variables Required
  @programs - Vector of Programs
-->
<div class="row width-no">
  <% @place.programs.each do |program| %>
    <div class="col-sm-4">
      <div class="bottom-box">
        <div class="top-row">
          <div class="col-xs-10 ss_program_name"><h3><%=program.name%></h3></div>
         <div class="clearfix"></div>                
        </div>  
        <div class="bottom-middle">
          <div class="col-sm-12 col-md-11 col-xs-12">
            <p id="program_<%=program.id%>" class="enquire-modal ss_program_description"><%=program.description%>
            </p>
            <p class="ss_program_duration">
              Duration: <span class="bold"><%=program.duration%></span>
            </p>
          </div>
          <div class="clearfix"></div>        
        </div>    
        <div class="bottom-footer">
          <div class="col-xs-5 col-sm-5">
            <p>
              Yr: <%=program_yearlevels(program)%>
            </p>
          </div>  
          <div class="clearfix"></div>                      
        </div>  
        <div class="clearfix">            
        </div>    
      </div>
    </div>
  <% end %>
</div>