<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Year Level Notes:</strong>
  <%= @program.yearlevelnotes %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @program.cost %>
</p>

<p>
  <strong>Program Path:</strong>
  <%= @program.programpath %>
</p>

<p>
  <strong>Hero Image Path:</strong>
  <%= @program.heroimagepath %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @program.duration %>
</p>

<p>
  <strong>Times:</strong>
  <%= @program.times %>
</p>

<p>
  <strong>Book Now Path:</strong>
  <%= @program.booknowpath %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @program.contact %>
</p>