<table class="passport">
  <tr><td colspan="2"><%= image_tag 'plane.png' , class: 'passport-plane' %><h2>My Passport</h2></td></tr>
  <tr>
    <td rowspan="3" class="left-passport">
      <div class="form-group passport-form">
        <div class="passport-photo">
          <i class="spinner fa fa-spinner fa-pulse fa-2x fa-spin"></i>
          <% if @user.avatar_url %>
            <%= image_tag @user.avatar_url, class: 'user-avatar' %><br>
          <% else %>
            <img src="<%= asset_path('passport-photo-placeholder.png') %>" class="user-avatar"><br>
          <% end %>
          <div class="click-to-upload">Click To Change Photo</div>
        </div>
          <%= form_for @user, :html => { :id => "fileupload"  } do |f| %>
            <%= f.file_field :avatar, label: false %>
          <% end %>
      </div>
    </td>
    <%= simple_form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <td>
        <div class="form-group passport-form">
          <%= f.input :first_name, label: false, placeholder: 'First Name', wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
          <%= f.input :last_name, label: false, placeholder: 'Last Name', wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group passport-form form-inline">
          <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year,
                              order: [:month, :day, :year], wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.input :promo_code, label: false, placeholder: 'Add A Promo Code', wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
      </td>
    <tr>
    <tr>
      <td rowspan="3">
        <%= image_tag 'passport_stamp.png', class: 'passport-stamp' %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group passport-form">
          <%= f.input :country, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group passport-form">
          <%= f.input :email, label: false, placeholder: 'Your Email Address', wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="user-signature">
        Signed:&nbsp;&nbsp;&nbsp; <span class="signature"><%= !@user.name.blank? ? @user.name : (@user.first_name + " " + @user.last_name) %></span>
      </td>
    </tr>
  </table>
  <% if current_user.try(:admin) %>
    <div class="row">
      <%= f.input :admin %>
      <%= f.association :roles, as: :check_boxes, inline_label: true, :label_method => lambda { |role| role.name.capitalize }, input_html: { class: 'role-checkbox' } %>
      <%= f.select :owned_place_ids, Place.order(:display_name).collect {|x| [x.display_name, x.id]}, {}, :multiple => true, class: 'owned-place-select' %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Update Account', class: "btn btn-default" %>
  </div>

<% end %>

<div id="progress">
  <div class="bar" style="width: 0%;"></div>
</div>
<script id="template-upload" type="text/x-tmpl">
<i class="spinner fa fa-spinner fa-pulse fa-2x fa-spin"></i>
<div class="click-to-upload">Click To Change Photo</div>
</script>
