<table class="passport">
  <tr><td colspan="2"><%= image_tag 'plane.png' , class: 'passport-plane' %><h2>My Passport</h2></td></tr>
  <%= simple_form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <tr>
      <td rowspan="3" class="left-passport">
        <div class="passport-photo">
          <% if current_user.avatar_url %>
            <%= image_tag current_user.avatar_url, class: 'user-avatar' %><br>
          <% else %>
            <p class="middle-align">Upload Your Photo</p>
          <% end %>
        </div>
        <div class="form-group passport-form">
          <%= f.input :avatar, as: :file, label: false, placeholder: "Upload A Passport Photo" %>
        </div>
      </td>
      <td>
      <div class="form-group passport-form">
        <%= f.input :name, label: false, placeholder: 'Your Name' %>
      </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group passport-form">
          <%= f.input :date_of_birth, as: :datepicker, id: 'datepicker', placeholder: 'Date Of Birth', label: "Date Of Birth", required: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group passport-form">
          <%= f.input :email, label: false, placeholder: 'Your Email Address' %>
        </div>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td colspan="2" class="user-signature">
        Signed:&nbsp;&nbsp;&nbsp; <span class="signature"><%= current_user.name %></span>
      </td>
</table>
    </tr>
<div class="actions">
  <%= f.submit 'Update Account' %>
</div>
<% end %>
<script>
  $(document).ready(function(){
    $("input.datepicker").each(function(input) {
      $(this).datepicker({
        dateFormat: "yy-mm-dd",
        altField: $(this).next()
      });
    });
  });
  </script>
