<div class="sidebar">
  <div class="sidebar-top">
    <div class="passport-photo">
      <% if @user.avatar_url %>
        <%= image_tag @user.avatar_url, class: "user-avatar" %><br>
      <% else %>
        <p class="middle-align">Upload Your Photo</p>
      <% end %>
    </div>
    <%= image_tag 'passport_stamp.png', class: 'sidebar-stamp' %>
    <div class="upload_photo"></div><br>
    <p><%= @user.name %>'s Passport</p>
  </div>
  <a href="<%= user_path(@user) %>">
    <div class="sidebar-item">
      <i class="fa fa-user fa-lg"></i><br>
      My Passport
    </div>
  </a>
  <a href="/users/places">
    <div class="sidebar-item">
      <i class="fa fa-globe fa-lg"></i><br>
      My Places
    </div>
  </a>
  <a href="/users/videos">
    <div class="sidebar-item">
      <i class="fa fa-youtube-play fa-lg"></i><br>
      My Videos
    </div>
  </a>
  <a href="/users/photos">
    <div class="sidebar-item">
      <i class="fa fa-image fa-lg"></i><br>
      My Photos
    </div>
  </a>
  <a href="/users/games">
    <div class="sidebar-item">
      <i class="fa fa-puzzle-piece fa-lg"></i><br>
      My Games
    </div>
  </a>
  <a href="<%= destroy_user_session_path %>">
    <div class="sidebar-item">
      Log Out
    </div>
  </a>
</div>
