<div class="sidebar">
  <div class="sidebar-top">
    <div class="passport-photo">
      <% if @user.avatar_url %>
        <%= image_tag @user.avatar_url, class: "user-avatar" %><br>
      <% else %>
        <p class="middle-align">Upload Your Photo</p>
      <% end %>
    </div>
    <%= image_tag 'passport_stamp.png', class: 'sidebar-stamp' %>
    <div class="upload_photo"></div><br>
    <a style="color:white;" href="<%= user_path(@user) %>">
      <p><%= @user.name %>'s Passport</p>
    </a>
  </div>
  <a href="/users/places">
    <div class="sidebar-item">
      <i class="fa fa-globe fa-lg"></i><br>
      My Wishlist
    </div>
  </a>
  <a href="/users/stories">
    <div class="sidebar-item">
      <i class="fa fa-book fa-lg"></i><br>
      My Stories
    </div>
  </a>
  <a href="/users/reviews">
    <div class="sidebar-item">
      <i class="fa fa-comment fa-lg"></i><br>
      My Reviews
    </div>
  </a>
  <a href="/users/photos">
    <div class="sidebar-item">
      <i class="fa fa-picture-o fa-lg"></i><br>
      My Photos
    </div>
  </a>
  <a href="/users/videos">
    <div class="sidebar-item">
      <i class="fa fa-star fa-lg"></i><br>
      My Favourites
    </div>
  </a>
  <!-- <a href="/users/games">
    <div class="sidebar-item">
      <i class="fa fa-puzzle-piece fa-lg"></i><br>
      My Games
    </div>
  </a> -->
  <a href="<%= destroy_user_session_path %>">
    <div class="sidebar-item">
      <i class="fa fa-sign-out fa-lg"></i><br>
      Sign Out
    </div>
  </a>
</div>
