<div class="sidebar">
  <div class="sidebar-top">
    <div class="passport-photo">
      <% if @user.avatar_url %>
        <%= image_tag @user.avatar_url, class: "user-avatar" %><br>
      <% else %>
        <p class="middle-align">Upload Your Photo</p>
      <% end %>
    </div>
    <%= image_tag 'passport_stamp.png', class: 'sidebar-stamp' %>
    <div class="upload_photo"></div><br>
    <a style="color:white;" href="<%= user_path(@user) %>">
      <% if !@user.name.blank? %>
        <p><%= @user.name %>'s Passport</p>
      <% elsif !@user.first_name.blank? && !@user.last_name.blank? %>
        <p><%= @user.first_name + ' ' + @user.last_name %>'s Passport</p>
        <% else %>
        <p>Please add your first and last name to your profile</p>
      <% end %>
    </a>
  </div>
  <a href="/users/places">
    <div class="sidebar-item">
      <i class="fa fa-globe fa-lg"></i><br>
      <span class="hidden-sm">My Wishlist</span>
    </div>
  </a>
  <a href="/users/stories">
    <div class="sidebar-item">
      <i class="fa fa-book fa-lg"></i><br>
      <span class="hidden-sm">My Stories</span>
    </div>
  </a>
  <a href="/users/reviews">
    <div class="sidebar-item">
      <i class="fa fa-comment fa-lg"></i><br>
      <span class="hidden-sm">My Reviews</span>
    </div>
  </a>
  <a href="/users/photos">
    <div class="sidebar-item">
      <i class="fa fa-picture-o fa-lg"></i><br>
      <span class="hidden-sm">My Photos</span>
    </div>
  </a>
  <a href="/users/videos">
    <div class="sidebar-item">
      <i class="fa fa-star fa-lg"></i><br>
      <span class="hidden-sm">My Favourites</span>
    </div>
  </a>
  <!-- <a href="/users/games">
    <div class="sidebar-item">
      <i class="fa fa-puzzle-piece fa-lg"></i><br>
      My Games
    </div>
  </a> -->
  <a href="<%= destroy_user_session_path %>">
    <div class="sidebar-item">
      <i class="fa fa-sign-out fa-lg"></i><br>
      <span class="hidden-sm">Sign Out</span>
    </div>
  </a>
</div>
