<% if (user_signed_in?) && ( current_user.try(:admin) || current_user.has_role?("publisher") ) %>
<div class="area-content br_place_page">
  <div class="container-fluid br_area">
    <h2>User Content In Draft</h2>
    <h4>Stories</h4>
    <table class="table table-striped" id="stories-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Title</th>
          <th>Content</th>
          <th>Photo 1</th>
          <th>Photo 1 Status</th>
          <th>Photo 2</th>
          <th>Photo 2 Status</th>
          <th>Photo 3</th>
          <th>Photo 3 Status</th>
          <th>Story Status</th>
          <th>User</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <% @stories.each do |story| %>
          <%= simple_form_for [story.storiable, story] do |f| %>
            <tr>
              <td><%= story.storiable ? (link_to story.storiable.display_name, polymorphic_path(story.storiable)) : "" %></td>
              <td><%= f.input :title %></td>
              <td><%= f.input :content %></td>
              <% story.user_photos.each do |photo| %>

              <td><img src="<%= thumbnail_for(photo) if photo.path %>" class="photo-edit-thumb"></td>
                <%= f.simple_fields_for :user_photos, photo do |ff| %>
                  <td>
                    <%= ff.input :status, label: "Photo Status", as: :select, collection: ["draft", "live", "removed"] %>
                    <%= ff.input :id, as: :hidden, value: photo.id %>
                  </td>
                <% end %>
                <% end%>
              <td><%= f.input :status, label: "Story Status", as: :select, collection: ["draft", "live", "removed"] %></td>
              <td><%= story.user.username %></td>
              <td><%= f.submit :submit %></td>
            </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
    <hr>
    <h4>Reviews</h4>
    <table class="table table-striped" id="reviews-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Title</th>
          <th>Content</th>
          <th>Status</th>
          <th>User</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <% if review.reviewable %>
            <%= simple_form_for [review.reviewable, review] do |f| %>
              <tr>
                <td><%= review.reviewable ? (link_to review.reviewable.display_name, polymorphic_path(review.reviewable)) : "" %></td>
                <td><%= f.input :title %></td>
                <td><%= f.input :content %></td>
                <td><%= f.input :status, as: :select, collection: ["draft", "live", "removed"] %></td>
                <td><%= review.user.username%></td>
                <td><%= f.submit :submit %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <hr>
    <h4>Photos</h4>
    <table class="table table-striped" id="photos-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Google Place</th>
          <th>Thumbnail</th>
          <th>Caption</th>
          <th>Status</th>
          <th>User</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <% @user_photos.each do |user_photo| %>
            <% if user_photo.place %>
              <% @location = user_photo.place %>
            <% else %>
              <% @location = user_photo.area %>
            <% end %>
          <%= simple_form_for [@location, user_photo] do |f| %>
            <tr>
              <td><%= f.association :place, label_method: :display_name, collection: Place.order(:display_name), value_method: :id %></td>
              <td><span class="google-place-id" data-google-place-id="<%= user_photo.google_place_id %>"><span class="google-place-name"></td>
              <td><img src="<%= thumbnail_for(user_photo) %>" class="photo-edit-thumb"></td>
              <td><%= f.input :caption %></td>
              <td><%= f.input :status, as: :select, collection: ["draft", "live", "removed"] %></td>
              <td><%= user_photo.user ? user_photo.user.username : "No User Associated" %></td>
              <td><%= f.submit :submit %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<script>
  (function(){
    var getGooglePlaceName = function(place_id, element){
      var map = new google.maps.Map(document.getElementById('place-holder'));
      var service = new google.maps.places.PlacesService(map);
      var placeName;
      var request = {
        placeId: place_id
      };
      service.getDetails(request, function(place, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          console.log(place);
          console.log(place.name.toLowerCase());
          $(element).html(place.name)
        }
      });
    }

    $.each($('.google-place-id'), function(index, place){
      var placeId = $(place).data("google-place-id");
      if (placeId){
        getGooglePlaceName($(place).data("google-place-id"), $('.google-place-name')[index]);
        console.log($(place).data("google-place-id"));
      }
    });
  })();
</script>
