<div class="area-content br_place_page">
  <div class="container-fluid br_area">
    <h2>User Content In Draft</h2>
    <h4>Stories</h4>
    <table class="table table-striped" id="stories-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Title</th>
          <th>Content</th>
          <th>Photo 1</th>
          <th>Photo 1 Status</th>
          <th>Photo 2</th>
          <th>Photo 2 Status</th>
          <th>Photo 3</th>
          <th>Photo 3 Status</th>
          <th>Story Status</th>
        </tr>
      </thead>
      <tbody>
        <% @stories.each do |story| %>
            <tr>
              <td><%= story.storiable ? story.storiable.display_name : "" %></td>
              <td><%= story.title if story.title %></td>
              <td><%= story.content if story.content %></td>
              <td><img src="<%= thumbnail_for(story.user_photos[0]) if story.user_photos[0] %>" class="photo-edit-thumb"></td>
              <td><%= story.user_photos[0].status if story.user_photos[0] %></td>
              <td><img src="<%= thumbnail_for(story.user_photos[1]) if story.user_photos[1] %>" class="photo-edit-thumb"></td>
              <td><%= story.user_photos[1].status if story.user_photos[1] %></td>
              <td><img src="<%= thumbnail_for(story.user_photos[2]) if story.user_photos[2] %>" class="photo-edit-thumb"></td>
              <td><%= story.user_photos[2].status if story.user_photos[2] %></td>
              <td><%= story.status %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <hr>
    <h4>Reviews</h4>
    <table class="table table-striped" id="reviews-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Title</th>
          <th>Content</th>
          <th>Status</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
            <tr>
              <td><%= review.reviewable ? review.reviewable.display_name : "" %></td>
              <td><%= review.title if review.title %></td>
              <td><%= review.content if review.content %></td>
              <td><%= review.status %></td>
              <td><%= review.user.email %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <hr>
    <h4>Photos</h4>
    <table class="table table-striped" id="photos-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Thumbnail</th>
          <th>Caption</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @user_photos.each do |user_photo| %>
            <tr>
              <td><%= user_photo.place ? user_photo.place.display_name : user_photo.area.display_name %></td>
              <td><img src="<%= thumbnail_for(user_photo) %>" class="photo-edit-thumb"></td>
              <td><%= user_photo.caption if user_photo.caption %></td>
              <td><%= user_photo.status %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
