<div class="area-content br_place_page">
  <div class="container-fluid br_area">
    <h2>User Content In Draft</h2>
    <h4>Stories</h4>
    <table class="table table-striped" id="stories-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Title</th>
          <th>Content</th>
          <th>Photo 1</th>
          <th>Photo 1 Status</th>
          <th>Photo 2</th>
          <th>Photo 2 Status</th>
          <th>Photo 3</th>
          <th>Photo 3 Status</th>
          <th>Story Status</th>
          <th>User</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <% @stories.each do |story| %>
          <%= simple_form_for [story.storiable, story] do |f| %>
            <tr>
              <td><%= story.storiable ? (link_to story.storiable.display_name, polymorphic_path(story.storiable)) : "" %></td>
              <td><%= f.input :title %></td>
              <td><%= f.input :content %></td>
              <td><img src="<%= thumbnail_for(story.user_photos[0]) if story.user_photos[0] %>" class="photo-edit-thumb"></td>
              <% if !story.user_photos[0].blank? %>
                <%= simple_fields_for story.user_photos[0] do |ff| %>
                  <td><%= ff.input :status, label: "Photo 1 Status", as: :select, collection: ["draft", "live", "removed"] %></td>
                <% end %>
              <% else %>
                <td>No Main Photo</td>
              <% end %>
              <td><img src="<%= thumbnail_for(story.user_photos[1]) if story.user_photos[1] %>" class="photo-edit-thumb"></td>
              <% if !story.user_photos[1].blank? %>
                <%= simple_fields_for story.user_photos[1] do |ff| %>
                  <td><%= ff.input :status, label: "Photo 2 Status", as: :select, collection: ["draft", "live", "removed"] %></td>
                <% end %>
              <% else %>
                <td>No Second Photo</td>
              <% end %>
              <td><img src="<%= thumbnail_for(story.user_photos[2]) if story.user_photos[2] %>" class="photo-edit-thumb"></td>
              <% if !story.user_photos[1].blank? %>
                <%= simple_fields_for story.user_photos[1] do |ff| %>
                  <td><%= ff.input :status, label: "Photo 3 Status", as: :select, collection: ["draft", "live", "removed"] %></td>
                <% end %>
              <% else %>
                <td>No Third Photo</td>
              <% end %>
              <td><%= f.input :status, label: "Story Status", as: :select, collection: ["draft", "live", "removed"] %></td>
              <td><%= story.user.email %></td>
              <td><%= f.submit :submit %></td>
            </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
    <hr>
    <h4>Reviews</h4>
    <table class="table table-striped" id="reviews-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Title</th>
          <th>Content</th>
          <th>Status</th>
          <th>User</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <%= simple_form_for [review.reviewable, review] do |f| %>
            <tr>
              <td><%= review.reviewable ? (link_to review.reviewable.display_name, polymorphic_path(review.reviewable)) : "" %></td>
              <td><%= f.input :title %></td>
              <td><%= f.input :content %></td>
              <td><%= f.input :status, as: :select, collection: ["draft", "live", "removed"] %></td>
              <td><%= review.user.email %></td>
              <td><%= f.submit :submit %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <hr>
    <h4>Photos</h4>
    <table class="table table-striped" id="photos-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Thumbnail</th>
          <th>Caption</th>
          <th>Status</th>
          <th>User</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <% @user_photos.each do |user_photo| %>
            <% if user_photo.place %>
              <% @location = user_photo.place %>
            <% else %>
              <% @location = user_photo.area %>
            <% end %>
          <%= simple_form_for [@location, user_photo] do |f| %>
            <tr>
              <td><%= link_to @location.display_name, @location.class.to_s == "Area" ? area_path(@location) : place_path(@location) %></td>
              <td><img src="<%= thumbnail_for(user_photo) %>" class="photo-edit-thumb"></td>
              <td><%= f.input :caption %></td>
              <td><%= f.input :status, as: :select, collection: ["draft", "live", "removed"] %></td>
              <td><%= user_photo.user.email %></td>
              <td><%= f.submit :submit %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
