<!-- <div class="container">
  <h1>Edit User: <%= @user.email %></h1>
  <%= render 'form' %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div> -->
<link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
<div class="profile-container">
  <div class="user-container">
    <div class="left-user">
      <div style="margin-top: 50px;" class="row hidden-xs"></div>
      <a href="<%= root_path %>">
        <img src="<%= asset_path('br_logo_new.png') %>" class="img-resposive center-block hidden-xs place-logo" >
      </a>
      <%= render 'passport_form' %>
    </div>
    <div class="right-user">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>
