
<div class="container btm40">
  <div class="row">
    <div class="head-title">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
      <h4 class="top20">My Account</h4>
      <h2 class="gray-font">Edit Profile</h2>
      <div class="img-rounded" align="center">
        <!-- <img src="<%= @user.avatar_url %>"/> -->
          <% if @user.avatar_url %>
            <%= image_tag @user.avatar_url, class: 'img-circle img-responsive large-avatar' %><br>
          <% else %>
            <!-- <img style="width:100%" src="http://shipping-time.com/assets/custom/dp-7d19b1f2dd46251129ec7c472e44aa68a82a2fdde74b7b4aee1b06c89017c843.jpg" class="img-circle img-responsive large-avatar"><br> -->
            <%= image_tag 'imgdummy.jpg', class: 'img-circle img-responsive large-avatar' %>
          <% end %>
      </div>
    </div>
    </div>
  </div>
  </div> <!-- row -->
</div>

<section class="explore topmin16">
  <div class="container container-white">
    <div class="row">
      <%= simple_form_for @user do |f| %>
        <div class="col-xs-12 col-sm-12 top15">
          <span class="btn btn-default btn-block">
          <span class="grey">Email</span><br>
          <%= f.input :email, label: false, input_html: { class: "form-control"} %></span>
          </span>
        </div>
        <div class="col-xs-12 col-sm-12">
          <a href="" class="left15" data-toggle="modal" data-target="#change_password">Change Password</a>
        </div>

        
        <!-- <div class="col-xs-12 col-sm-12 top15">
          <span class="btn btn-default btn-block">
            <span class="grey">Change Password</span><br>
            <%#= f.input :password, label: false, input_html: { class: "form-control" } %>
            <%#= f.password_field :password, label: false, class: "form-control" %>
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 top15">
          <span class="btn btn-default btn-block">
            <span class="grey">Confirm Password Change</span><br>
            <%#= f.input :password_confirmation, label: false, input_html: { class: "form-control" } %>
            <%#= f.password_field :password_confirmation, label: false, class: "form-control" %>
            </span>
        </div> -->

        <!-- <div class="col-xs-12 col-sm-12 top15">
          <span class="btn btn-default btn-block">
          <span class="grey">Password</span><br>
          <span class="rest-in-place" data-attribute="password" data-placeholder="**********"><%= @user.password %></span>
          </span>
        </div> -->
        <div class="col-xs-12 col-sm-12 top15">
          <span class="btn btn-default btn-block">
            <span class="grey">Name</span><br>
            <%= f.input :name, label: false, input_html: { class: "form-control" } %>
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 top5">
          <p class="pink left15">Your profile</p>
          <span href="#" class="btn btn-default btn-block">
          <span class="grey">Keep my profile private</span><br>
          <%= f.input :is_private, as: :boolean, label: false, input_html: { class: "form-control" } %>
          </span>
        </div>
        <div class="col-xs-12 col-sm-12 top15">
          <span class="btn btn-default btn-block">
            <span class="grey">User Name to Appear in Reviews, Stories.....</span><br>
            <%= f.input :username, label: false, input_html: { class: "form-control" } %>
          </span>
        </div>
        <div class="col-xs-12 col-sm-12 top15">
          <span class="btn btn-default btn-block">
          <span class="grey">Date Of Birth</span><br>
          <%= f.input :date_of_birth, as: :date, label: false %>
          </span>
        </div>
        <div class="col-xs-12 col-sm-12 top15">
          <span class="btn btn-default btn-block">
          <span class="grey">Country</span><br>
          <%= f.input :country, label: false, input_html: { class: "form-control" } %>
          </span>
        </div>
        <div class="col-xs-12 col-sm-12 top15 left15">
          <%= f.submit "Save", class: "btn btn-alert" %>
        </div>
        <!-- <div class="col-xs-12 col-sm-12 top5">
          <p class="pink">I'm interested in</p>
          <a href="#" class="btn btn-default btn-block">
          Destinations
          <i class="fa fa-arrow-right margin-arrow-modal"></i>
          <p class="grey">Australia, New Zealand, Bali, Spain...</p>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 top5">
          <a href="#" class="btn btn-default btn-block">
          Experiences
          <i class="fa fa-arrow-right margin-arrow-modal"></i>
          <p class="grey">Food, Technology, Resort, Theme Park...</p>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 top5">
          <a href="#" class="btn btn-default btn-block">
          Experiences for
          <i class="fa fa-arrow-right margin-arrow-modal"></i>
          <p class="grey">5 - 8 year olds, 9 - 12 year olds, teenager...</p>
          </a>
        </div> -->
      <% end %>
    </div><!-- row -->
  </div><!-- container -->
</section>

<div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">
      <div id="messages-devise"></div>
        <form id="form_change_password">
        
          <div class="top15">
              <span class="grey">Current Password</span><br>
              <input type="password" name="user[current_password]" class="form-control" required>
          </div>

          <div class="top15">
              <span class="grey">Change Password</span><br>
              <input type="password" name="user[password]" class="form-control" required>
          </div>
          <div class=" top15">
              <span class="grey">Confirm Password Change</span><br>
              <input type="password" name="user[password_confirmation]" class="form-control" required>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<style>
  #user_is_private {
    margin-left: 0;
  }
</style>

