<div class="left-user">
  <div class="container">
    <a href="<%= root_path %>"><input type="image" src="<%= asset_path("home-button-blue.png") %>" class="globe-home"></a>
    <div class="banner-wrapper game-video-banner">
      <div class="banner">
        <div class="title-wrapper">
          <h1 class="title">Games</h1>
        </div>
      </div>
    </div>
    <div class="card-large-content-hide">
      <button id="close-large-content" style="position:absolute">Close</button>
    </div>

    <div class="cards-float">
      <% @user.games.each do |game| %>
        <% if (game != nil and game.place != nil and game.place.area != nil) %>

          <div class="card-item <%= game.game_type %> card-item-small card-item-hide game-card">
            <%= content_tag "div", class: "game-data", data: {url: game.url} do %><% end %>
            <div class="card-small-content">
              <div class="video-label"><%= link_to (game.place.area.display_name + ', ' + game.place.display_name), place_path(game.place.id) %><%= raw like_icon(game) %></div>
              <!--div class="video-label"><%= link_to (game.place.display_name + ', ' + game.place.area.display_name), place_path(game.place.id) %></div-->
              <% if game.game_type == 'jigsaw puzzle' %>
                <div class="jigsaw-background-image">
              <% elsif game.game_type == 'slider' %>
                <div class="slider-background-image">
              <% else %>
                <div class="wordsearch-background-image">
              <% end %>
                  <img class="vimeo-thumb" src="<%= game_thumbnail(game) %>"/>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="right-user">
  <%= render 'sidebar' %>
</div>
