<div class="left-user">
  <div class="container">
    <div class="user-view-title">
      <h1 class="br_top_heading hidden-xs">
        My Instagram Photos
      </h1>
      <div class="col-xs-12">
        <a href="<%= root_path %>">
          <img src="<%= asset_path('br_logo_new.png') %>" class="img-resposive center-block hidden-xs place-logo" >
        </a>
      </div>
      <%= render 'layouts/search_input' %>
    </div>
    <% if @posts %>
    <% @posts.each do |post| %>
      <div class="col-md-3" style="margin-bottom:10px"><img src="<%= post.images.thumbnail.url %>"></div>
    <% end %>
    <% end %>
  </div>
</div>

<div class="right-user">
  <%= render 'sidebar' %>
</div>
