<%= render "layouts/navbar" %>
<div class="container">
  <div class="row">
    <div class="head-title">
        <%#= render 'user_status' %>
      <h4 class="top20">My account</h4>
      <h2 class="gray-font">Photos</h2>
    </div>
  </div>
  </div> <!-- row -->
</div>

    <div class="border-section btm10"></div>


<section class="places-to-go btm15">
  <div class="container">
    <div class="text-left">

      <span class="left-modal">
        <!-- <a href="#" class="grey btn top5"> Edit </a> -->
      </span>
      <span class="right-modal">
        <!-- <a href="#" class="btn btn-default top5 btn-radius3" data-toggle="modal" data-target="#PhotoModal" ><i class="fa fa-plus font-orange2"></i> Add photo</a> -->
      </span>

      <!-- <p><a href="#" class="grey btn top5">Edit</a></p> -->
      <!-- <h4 class="section-title">Featured places to go</h4> -->
    </div>
  </div>
</section>

<section class="your-stories btm15">
  <div class="container">
    <div class="row">
      <% if !@user.user_photos.blank? %>
        <% @user.user_photos.each do |photo| %>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 btm15">
            <div class="body-stories">
              <div class="p-dynamic member-profile">
              <p class="top10"><%= photo.place.display_name rescue "" %></p>
              <h3 class="font-orange2 topmin5 btm20"><%= photo.caption rescue "" %></h3>
              <p class="grey"><i class="fa fa-camera"></i> 9 </p>
              </div>
                <div class="img-story-place">
                  <img align="right" src="<%= photo.path_url %>" alt="<%= photo.caption rescue "" %>">
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div> <!-- row -->
  </div>
</section>
