  <div class="container">
    <div class="user-view-title">
      <h1 class="br_top_heading hidden-xs">
        My Wishlist
      </h1>
      <div class="col-xs-12">
        <a href="<%= root_path %>">
          <img src="<%= asset_path('br_logo_new.png') %>" class="img-resposive center-block hidden-xs place-logo" >
        </a>
      </div>
      <div class="hidden-xs">
        <%= render 'layouts/search_input' %>
      </div>
    </div>
    <a href="<%= root_path %>"><input type="image" src="<%= asset_path("home-button-blue.png") %>" class="globe-home"></a>
    <% if !@user.favorite_places.blank?%>
        <% if !@user.favorite_places.blank? %>
          <% @user.favorite_places.each do |place| %>
            <div class="wishlist-place">
              <a href="<%= place_path(place) %>" class="no-anchor-decoration">
                <div class="br_top_place">
                  <div class="br_place_top">
                    <img src="<%= place.photos.length > 0 ? place.photos.first.path_url(:small) : asset_path('generic-hero-small.jpg') %>">
                  </div>
                  <div class="br_place_mid">
                    <h4><%= place.display_name %></h4>
                  </div>
                  <div class="br_place_footer">
                    <ul class="list-unstyled">
                      <li>
                        <a href="#"><i class="fa fa-video-camera"></i> &nbsp; <%= place.videos ? place.videos.length : "00" %></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-picture-o"></i> &nbsp; <%= place.photos ? place.photos.length : "00" %></a>
                      </li>
                    </ul>
                  </div>
                  <a href=" " class="br_top_left"><i class="fa fa-paper-plane"></i> <%#= place.categories[0].name if !place.categories.blank? %></a>
                  <%= raw like_icon(place) %>
                </div>
              </a>
            </div>
          <% end %>
        <% end %>
    <% else %>
      <div class="home-text">
        <p>You have not favourited any Places yet!</p>
        <a href='<%= root_path %>'>Start exploring</a> and click the <i class="fa fa-heart"></i>
        to add them to your personal list.
      </div>
    <% end %>
    </div>
<div class="modal fade" id="userStoryModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Send Us Your Story</h4>
      </div>
      <div class="modal-body">
        <%= render 'user_story_form' %>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= javascript_include_tag 'search_suggestions' %>
