<% if @user == current_user || current_user.admin %>
<div class="user-pages width-limiter" data-page="user-page">
  <section>
    <div id="up-tabs" class="up-tabs">
      <ul class="up-tabs-main">
          <li class="up-my-dashboard-link"><a href="#up-my-dashboard">My Dashboard</a></li>
          <li class="up-my-bookings-link"><a href="#up-my-bookings">my bookings</a></li>
          <li class="up-bucket-list-link"><a href="#up-bucket-list">bucket list</a></li>
          <li class="up-my-content-link"><a href="#up-my-content">my content</a></li>
          <li class="up-my-settings-link"><a href="#up-my-settings">my settings</a></li>
      </ul>

      <!-- BEGIN - My Dashboard -->
      <div class="up-tabs-item up-my-dashboard" id="up-my-dashboard">
        <div class="upmd-header">
          <% if @user.name.present? %>
            <h1><%= @user.name %></h1>
            <h4 class="heading">Hi <%= @user.name.split(" ").first %>, it's nice to see you!</h4>
          <% end %>
            <a class="change-selection xs-invisible" id="change-location" href="#up-my-settings">Change your settings</a>
        </div>

        <div class="upmd-img-block">
          <a href="<%= searching_path %>" class="upmd-img-block-item find-deals">
            <div class="img-block">
              <img src="/assets/mydiscoveries_icon/up-dash-img1.jpg" alt="">
            </div>
            <div class="upmd-ibi-content">
              <p class="xs-heading">Find the Best Deals</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet</p>
            </div>
          </a>
          <a href="#" id="change-location2" class="upmd-img-block-item add-details">
            <div class="img-block">
              <img src="/assets/mydiscoveries_icon/up-dash-img2.jpg" alt="">
            </div>
            <div class="upmd-ibi-content">
              <p class="xs-heading">Add your details</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet</p>
            </div>
          </a>
        </div>

          <!-- <div class="upmd-get-app-block">
              <h4 class="heading">Get the App for iPhone, iPad or Android</h4>
              <p>Paperless confirmations offline maps and more!</p>

              <div class="form-block">
                  <form action="">
                      <div class="form-group">
                          <input type="tel" placeholder="Send link to my mobile number">
                      </div>
                      <span>or</span>
                      <div class="form-group">
                          <input type="email" placeholder="Send link to my email address">
                      </div>
                      <div class="form-group last">
                          <button type="button" class="btn-bordered red invert small">GET THE APP</button>
                      </div>
                  </form>
              </div>
          </div> -->

      </div>
      <!-- END - My Dashboard -->
      <div class="up-tabs-item up-my-bookings" id="up-my-bookings">

                <h1 class="lars">Bookings</h1>

                <% if @orders.present? %>
                  <% @orders.each do |order| %>
                  <div class="search-page-card clear-self wrap_link_card">
                    <a class="link_card" href="<%= offer_path(order.offer) %>"></a>
                    <div class="container-left">
                      <h3 class="search-page-card__header"><%= order.title %></h3>
                      <div class="search-page-card__info-side search-page-card__info-side--left">
                          <p class="search-page-card__country"></p>
                          <img src="<%= draw_small_background(order.offer) %>" class="search-page-card__image" alt="">
                          <span class="search-page-card__more-info mobile-only js-show-more-card-info">more info</span>
                          <p class="search-page-card__image-description"></p>
                          <h4 class="search-page-card-places-visited__header">Places Visited</h4>
                          <ul class="tags">
                            <% order.offer.tags.last(2).each do |tag| %>
                            <li class="search-page-card-places-visited__place"><%= tag %></li>
                            <% end %>
                          </ul>
                      </div>

                      <div class="search-page-card__info-side search-page-card__info-side--right">
                          <p class="search-page-card__description" style="min-height: 200px"><%= order.offer.description %></p>

                          <p class="search-page-card__short-details-key">Date</p>
                          <p class="search-page-card__short-details-value"><%= order.start_date %></p>
                          <p class="search-page-card__short-details-key">Inclusions</p>
                          <p class="search-page-card__short-details-value">
                            <% order.offer.inclusions.each do |inclusion| %>
                              <img src="<%= inclusion %>" class="search-page-card__short-details-icon" alt="">
                            <% end %>
                          </p>

                      </div>
                    </div>

                      <div class="search-page-card__cost-side">

                          <p class="search-page-card__short-details-for-cost mobile-only">
                            <img class="search-page-card__short-details-for-cost-icon" src="/assets/mydiscoveries_icon/i/inclusions/kids-club.svg" alt="">
                            <span class="search-page-card__short-details-for-cost-text">2</span>
                            <img class="search-page-card__short-details-for-cost-icon search-page-card__short-details-for-cost-icon--nights" src="/assets/mydiscoveries_icon/i/inclusions/nights.svg" alt="">
                            <span class="search-page-card__short-details-for-cost-text">7</span>
                        </p>

                          <p class="search-page-card__cost-value"><span class="search-page-card__cost-currency">$</span><%= order.total_price %></p>
                          <p class="search-page-card__per-person">$<%= order.offer.minRateAdult %> per person</p>
                          <p class="search-page-card__person-quantity  desktop-only"> <%= order.number_of_children + order.number_of_adults %> people </p>
                          <p class="search-page-card__nights-quantity  desktop-only"> nights</p>

                          <a class="search-page-card__cost-details" href="<%= offer_path(order.offer) %>">details</a>

                          <div class="favourites-wrapper">
                          <% if user_signed_in? && current_user.offers.map(&:id).include?(order.offer.id) %>
                            <span class="icon-favourite search-page-card__to-bucket-list--liked search-page-card__to-bucket-list icon-favourite js-search-page-card__to-bucket-list viator_link bucket-list-offer" id="favouriteType" data-post-path="offers_users" data-klass="offer" data-liked="true" data-place-id="<%= order.offer.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Bucket List</span>
                          <% else %>
                            <span class="icon-favourite search-page-card__to-bucket-list icon-favourite js-search-page-card__to-bucket-list viator_link bucket-list-offer" id="favouriteType" data-post-path="offers_users" data-klass="offer" data-liked="false" data-place-id="<%= order.offer.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Bucket List</span>
                          <% end %>

                  </div>

                      </div>


                  </div>
                  <% end %>
                <% end %>
            </div>
            <!-- END - My Bookings -->


            <!-- BEGIN - Bucket List -->
            <div class="up-tabs-item up-bucket-list" id="up-bucket-list">

                <h1 class="lars">Bucket list</h1>
                <% if @offers.present? %>
                <ul>
                  <% @offers.each do |offer| %>
                    <li class="bl-item bl-hotel">
                        <a href="<%= offer_path(offer) %>">
                            <div class="th-img-block">
                              <% if offer.photos.blank? %>
                                <img src="/assets/default-hero.jpg" alt="">
                              <% else %>
                                <img src="<%= draw_small_background(offer) %>" alt="">
                              <% end %>
                            </div>
                            <div class="th-content">
                                <span class="posi-nights"><%= pluralize((offer.duration / 1000 / 60 / 60 / 24), "night").gsub(/\d/, "") %></span>
                                <span>From $<%= offer.minRateAdult %> </span>
                                <p class="xs-heading blue"><%= offer.name.size>40? offer.name[0...40] : offer.name %></p>
                                <span class="arrow"></span>
                                <div class="bucket-list-icon"></div>
                            </div>
                        </a>
                    </li>
                  <% end %>
                </ul>
                <% end %>
                <!-- <ul>
                    <li class="bl-item bl-hotel">
                        <a href="#">
                            <div class="th-img-block">
                                <img src="../images/all-deals-photo-result.jpg" alt="">
                            </div>
                            <div class="th-content">
                                <span class="posi-nights"> 8 nights </span>
                                <span>From $1399 </span>
                                <p class="xs-heading blue">Seminyak Sky High Sensation</p>
                                <span class="arrow"></span>
                                <div class="bucket-list-icon"></div>
                            </div>
                        </a>
                    </li>

                    <li class="bl-item bl-video">
                        <a href="#">
                            <div class="video-embed-wrapper">
                                <div class="video-embed">
                                    <iframe src="https://www.youtube.com/embed/k4tkrJ563b0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="th-content">
                                <p>Lorem ipsum dolor sit amet dolor euismod bibendum</p>
                                <span class="arrow"></span>
                                <div class="bucket-list-icon"></div>
                            </div>
                        </a>
                    </li>

                    <li class="bl-item bl-story">
                        <a href="#">
                            <div class="th-img-block">
                                <img src="http://lorempixel.com/500/300/food" alt="">
                            </div>
                            <div class="th-content">
                                <p class="xs-heading blue">Eat and drink your way around Venice</p>
                                <span class="arrow"></span>
                                <div class="bucket-list-icon"></div>
                            </div>
                        </a>
                    </li>

                    <li class="bl-item bl-hotel">
                        <a href="#">
                            <div class="th-img-block">
                                <img src="../images/all-deals-photo-result.jpg" alt="">
                            </div>
                            <div class="th-content">
                                <span class="posi-nights"> 8 nights </span>
                                <span>From $1399 </span>
                                <p class="xs-heading blue">Seminyak Sky High Sensation</p>
                                <span class="arrow"></span>
                                <div class="bucket-list-icon"></div>
                            </div>
                        </a>
                    </li>

                    <li class="bl-item bl-video">
                        <a href="#">
                            <div class="video-embed-wrapper">
                                <div class="video-embed">
                                    <iframe src="https://www.youtube.com/embed/k4tkrJ563b0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="th-content">
                                <p>Lorem ipsum dolor sit amet dolor euismod bibendum</p>
                                <span class="arrow"></span>
                                <div class="bucket-list-icon"></div>
                            </div>
                        </a>
                    </li>
                </ul> -->

            </div>
            <!-- END - Bucket List -->


            <!-- BEGIN - My Content -->
            <div class="up-tabs-item up-my-content" id="up-my-content">

                <h1 class="lars">My content</h1>

                <div id="up-mc-tabs">

                    <ul class="up-mc-tabs-links" >
                        <li><a href="#up-mc-stories">Stories</a></li>
                        <!-- <li><a href="#up-mc-comments">Comments</a></li>
                        <li><a href="#up-mc-reviews">Reviews</a></li> -->
                    </ul>


                    <!-- BEGIN - Stories -->
                    <div class="up-mc-tabs-item up-mc-stories" id="up-mc-stories">

                        <div class="up-mc-tabs-header">
                            <p>We love traveller’s tales. Share yours to unlock holiday discounts.</p>
                            <a href="<%= new_story_path %>" class="btn-bordered red small invert">share a story</a>
                        </div>
                        <ul class="up-mc-stories-content">
                          <%= render partial: "stories/user_stories_list", collection: @stories, as: :story %>
                        </ul>

                    </div>
                    <!-- END - Stories -->


                    <!-- BEGIN - Comments -->
                    <!-- <div class="up-mc-tabs-item" id="up-mc-comments">
                        <div class="up-mc-tabs-header">
                            <p>Proin elit arcu, rutrum commodo, Proin elit arcu, rutrum commodo, vehicula tempus, commodMauris</p>
                            <a href="#" class="btn-bordered red small invert">post a comment</a>
                        </div>
                    </div> -->
                    <!-- END - Comments -->


                    <!-- BEGIN - Reviews -->
                    <!-- <div class="up-mc-tabs-item" id="up-mc-reviews">
                        <div class="up-mc-tabs-header">
                            <p>Proin elit arcu, rutrum commodProin elit arcu, rutru Proin elit arcu, rutruo, Proin elit arcu, rutrum commodo, vehicula tempus, commodMauris</p>
                            <a href="#" class="btn-bordered red small invert">share a story</a>
                        </div>
                    </div> -->
                    <!-- END - Reviews -->

                </div>

            </div>
            <!-- END - My Content -->


            <!-- BEGIN - My Settings -->
            <div class="up-tabs-item up-my-settings" id="up-my-settings">

                <h1 class="lars">Settings</h1>

                <div class="form-block">

                    <%= simple_form_for @user, url: user_path(@user), method: :PUT, html: { role: 'form' } do |f| %>

                        <div class="form-group sm">
                            <label for="up-settings-title">Title</label>
                            <%= f.select(:gender, [[ 'Mrs', 'mrs' ],[ 'Mr', 'mr' ]], selected: 'mrs', input_html:{ style: "width: 100%" }) %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :name, placeholder: 'Name', label: "Your Name Displays As" %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :first_name, placeholder: 'First Name', label: "First Name" %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :last_name, placeholder: 'Last Name', label: "Last Name" %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :email, type: 'email', placeholder: 'your@mail.com', label: "Email" %>
                        </div>

                        <div class="form-group sm">
                          <label for="up-settings-dob">D.O.B</label>
                          <input type="text" id="up-settings-dob" name="user[date_of_birth]" value="<%= @user.date_of_birth.blank?? '' : @user.date_of_birth %>">
                        </div>

                        <div class="form-group sm">
                          <%= f.input :home_phone, placeholder: 'Home phone (+61)', label: "Home Phone" %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :mobile, placeholder: 'Mobile phone (+61)', label: "Mobile" %>
                        </div>

                        <div class="form-group sm">
                          <label for="select2-user_country_id-container">Country</label>
                          <%= country_select("user", "country", priority_countries: ["AU"]) %>
                        </div>
                        <div class="form-group clear">
                          <%= f.label :description, "About Me" %>
                          <%= f.text_area :description, placeholder: 'e.g. Your interests, places travelled, etc.' %>
                        </div>

                        <div class="form-group user-ava">
                          <div class="col-xs-12 col-sm-2">
                            <div class="img-rounded edit-profile" align="center">
                              <% if @user.avatar.url %>
                                <%= image_tag @user.avatar.url(:thumb_avatar), class: 'img-responsive avatar-img' %>
                                <img id="image-avatar-preview" class="img-responsive" alt="">
                              <% else %>
                                <%= image_tag 'imgdummy.jpg', class: 'img-responsive' %>
                                <img id="image-avatar-preview" class="img-responsive" alt="">
                              <% end %>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-10 upload-wrap">
                            <%= f.input :avatar, as: :file, label: 'upload photo', input_html: { class: "#{'hide' if !current_user.admin?}", onchange: "this.form.submit()" } %>
                            <div class="avatar-remove-wrap">
                              <span>or</span>
                              <a href="#" class="edit">Remove</a>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                            <input id="up-plan-private" type="checkbox" name="user[is_private]" checked="<%= @user.is_private==true ? true : false %>">
                            <label for="up-plan-private">Keep my profile private</label>
                        </div>

                        <button class="btn-bordered red invert small">save</button>

                        <!-- <a href="#" class="edit">Change password</a> -->

                    <% end %>

                </div>


                <!-- BEGIN - Change password -->
                <div class="form-block">

                    <h5>change password</h5>

                    <form class="horizontal" action="">

                        <div class="form-group">
                            <label for="up-settings-pass-cur">Current password</label>
                            <input type="password" name="user[current_password]" id="up-settings-pass-cur" required>
                        </div>

                        <div class="form-group ">
                            <label for="up-settings-pass-new">New password</label>
                            <input id="up-settings-pass-new" type="password" name="user[password]" required>
                        </div>

                        <div class="form-group ">
                            <label for="up-settings-pass-confirm">Confirm password</label>
                            <input id="up-settings-pass-confirm" type="password" name="user[password_confirmation]" required>
                        </div>

                        <div class="form-group-btns">
                            <button type="submit" class="btn-bordered red invert small">save</button>
                            <span>or</span>
                            <a href="#" class="edit">Cancel</a>
                        </div>

                    </form>
                </div>
                <!-- END - Change password -->
    </div>

    <!-- Modal avatar -->
    <% if @show_modal.present? %>
    <div class="modal fade in" id="editAvatar" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog modal-dialog--margin-top" role="document">
        <div class="modal-content modal-content--container">
          <div class="modal-content__header text-center">
            <span class="proposal__header">Crop Image</span>
            <div class="close_avatar_modal pull-right">&times;</div>
          </div>
          <div class="modal-body text-center">
            <%= image_tag @user.avatar.url, :id => "cropbox" %>
            <!-- <h1>Image Preview</h1>
            <div style="width:100px; height:100px; overflow:hidden">
              <%= image_tag @user.avatar.url, :id => "preview" %>
            </div> -->
            <%= form_for @user do |f| %>
              <% %w[x y w h].each do |attribute| %>
                <%= f.hidden_field "crop_#{attribute}" %>
              <% end %>
              <div class="actions">
                <%= f.submit "Save Avatar", class: "btn btn-primary btn-submit" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </section>
</div>

<% else %>
  <h1>You must be logged into view this page</h1>
<% end %>
