<% if @user == current_user || current_user.admin %>
<div class="user-pages width-limiter" data-page="user-page">
  <section>
    <div id="up-tabs" class="up-tabs">
      <ul class="up-tabs-main">
          <li class="up-my-dashboard-link"><a href="#up-my-dashboard">My Dashboard</a></li>
          <li class="up-my-bookings-link"><a href="#up-my-bookings">my bookings</a></li>
          <li class="up-bucket-list-link"><a href="#up-bucket-list">bucket list</a></li>
          <!-- <li class="up-my-content-link"><a href="#up-my-content">my content</a></li> -->
          <li class="up-my-settings-link"><a href="#up-my-settings">my settings</a></li>
      </ul>

      <!-- BEGIN - My Dashboard -->
      <div class="up-tabs-item up-my-dashboard" id="up-my-dashboard">
        <div class="upmd-header">
          <% if @user.name.present? %>
            <h1><%= @user.name %></h1>
            <h4 class="heading">Hi <%= @user.name.split(" ").first %>, it's nice to see you!</h4>
          <% end %>
            <a class="change-selection xs-invisible" id="change-location" href="#up-my-settings">Change your settings</a>
        </div>

        <div class="upmd-img-block">
          <a href="<%= searching_path %>" class="upmd-img-block-item find-deals">
            <div class="img-block">
              <img src="/assets/mydiscoveries_icon/up-dash-img1.jpg" alt="">
            </div>
            <div class="upmd-ibi-content">
              <p class="xs-heading">Find the Best Deals</p>
              <p></p>
            </div>
          </a>
          <a href="#" id="change-location2" class="upmd-img-block-item add-details">
            <div class="img-block">
              <img src="/assets/mydiscoveries_icon/up-dash-img2.jpg" alt="">
            </div>
            <div class="upmd-ibi-content">
              <p class="xs-heading">Add your details</p>
              <p></p>
            </div>
          </a>
        </div>

          <!-- <div class="upmd-get-app-block">
              <h4 class="heading">Get the App for iPhone, iPad or Android</h4>
              <p>Paperless confirmations offline maps and more!</p>

              <div class="form-block">
                  <form action="">
                      <div class="form-group">
                          <input type="tel" placeholder="Send link to my mobile number">
                      </div>
                      <span>or</span>
                      <div class="form-group">
                          <input type="email" placeholder="Send link to my email address">
                      </div>
                      <div class="form-group last">
                          <button type="button" class="btn-bordered red invert small">GET THE APP</button>
                      </div>
                  </form>
              </div>
          </div> -->

      </div>
      <!-- END - My Dashboard -->
      <div class="up-tabs-item up-my-bookings" id="up-my-bookings">

                <h1 class="lars">Bookings</h1>

                <% if @orders.present? %>
                  <div class="package-offers">
                  <div class="package-offers-block">
                    <ul>
                      <div id="orders-list">
                        <%= render partial: 'offers/all_index_offers',
                          collection: @orders,
                          as: :order,
                          locals: { variable: 'order' }
                        %>
                      </div>
                        <% unless last_page? @orders %>
                        <div class="row single-pagination-container" id="orders-single-pagination-container">
                          <div class="hidden single-pagination-loader" align="center">
                            <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                          </div>
                          <div class="col-xs-12" align="center">
                            <%= link_to "all orders", paginate_orders_user_path(@user, orders_page: @orders.next_page, resources: 'orders', pagination_template: 'offers/all_index_offers', collection_object: 'order'), class: 'more-link single-pagination', remote: true %>
                          </div>
                        </div>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <% end %>
            </div>
            <!-- END - My Bookings -->


            <!-- BEGIN - Bucket List -->
            <div class="up-tabs-item up-bucket-list" id="up-bucket-list">

              <h1 class="lars">Bucket list</h1>
              <% if @favorite_offers.present? %>
                <div class="package-offers">
                  <div class="package-offers-block">
                    <ul>
                      <div id="favorite_offers-list">
                        <%= render partial: "offers/all_index_offers", collection: @favorite_offers, as: :offer, locals:{variable: "favorite_offers"} %>
                      </div>
                        <% unless last_page? @favorite_offers %>
                        <div class="row hidden-xs single-pagination-container" id="favorite_offers-single-pagination-container">
                          <div class="hidden single-pagination-loader" align="center">
                            <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                          </div>
                          <div class="col-xs-12" align="center">
                            <%= link_to "all offers", paginate_offers_user_path(@user, favorite_offers_page: @favorite_offers.next_page, resources: 'favorite_offers', pagination_template: 'offers/all_index_offers', collection_object: 'offer'), class: 'more-link single-pagination', remote: true %>
                          </div>
                        </div>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>
              <% if @favorite_regions.present? %>
                <div class="region places-to-go">
                  <h3 class="search-page-card__header">Regions</h3>
                  <div class="block-wrapper" id="favorite_regions-list">
                      <%= render partial: 'regions/place_to_go_list', collection: @favorite_regions, as: :place %>
                  </div>
                  <% unless last_page? @favorite_regions %>
                    <div class="single-pagination-container" id="favorite_regions-single-pagination-container">
                        <div class="load-more">
                          <div class="hidden single-pagination-loader" align="center">
                            <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                          </div>
                        <%= link_to "load more", paginate_regions_user_path(@user, favorite_regions_page: @favorite_regions.next_page, resources: 'favorite_regions', pagination_template: 'regions/place_to_go_list', collection_object: 'place'), class: 'load-more single-pagination', remote: true %>
                        </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <% if @favorite_places.present? %>
                <div class="region places-to-go">
                  <h3 class="search-page-card__header">Places</h3>
                  <div class="block-wrapper" id="favorite_places-list">
                      <%= render partial: 'regions/place_to_go_list', collection: @favorite_places, as: :place %>
                  </div>
                  <% unless last_page? @favorite_places %>
                    <div class="single-pagination-container" id="favorite_places-single-pagination-container">
                        <div class="load-more">
                          <div class="hidden single-pagination-loader" align="center">
                            <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                          </div>
                        <%= link_to "load more", paginate_places_user_path(@user, favorite_places_page: @favorite_places.next_page, resources: 'favorite_places', pagination_template: 'regions/place_to_go_list', collection_object: 'place'), class: 'load-more single-pagination', remote: true %>
                        </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <% if @favorite_stories.present? %>
                <div class="region places-to-go">
                  <h3 class="search-page-card__header">Stories</h3>
                  <div class="block-wrapper" id="favorite_stories-list">
                      <%= render partial: 'stories/all_stories_list', collection: @favorite_stories, as: :story %>
                  </div>
                  <% unless last_page? @favorite_stories %>
                    <div class="single-pagination-container" id="favorite_stories-single-pagination-container">
                        <div class="load-more">
                          <div class="hidden single-pagination-loader" align="center">
                            <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                          </div>
                        <%= link_to "load more", paginate_favorite_stories_user_path(@user, favorite_stories_page: @favorite_stories.next_page, resources: 'favorite_stories', pagination_template: 'stories/all_stories_list', collection_object: 'story'), class: 'load-more single-pagination', remote: true %>
                        </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <!-- END - Bucket List -->


            <!-- BEGIN - My Content -->
            <!-- <div class="up-tabs-item up-my-content" id="up-my-content"> -->

                <!-- <h1 class="lars">My content</h1> -->

                <!-- <div id="up-mc-tabs"> -->

                    <!-- <ul class="up-mc-tabs-links" > -->
                        <!-- <li><a href="#up-mc-stories">Stories</a></li> -->
                        <!-- <li><a href="#up-mc-comments">Comments</a></li>
                        <li><a href="#up-mc-reviews">Reviews</a></li> -->
                    <!-- </ul> -->


                    <!-- BEGIN - Stories -->
                    <!-- <div class="up-mc-tabs-item up-mc-stories" id="up-mc-stories"> -->

                        <!-- <div class="up-mc-tabs-header"> -->
                            <!-- <p>We love traveller’s tales. Share yours to unlock holiday discounts.</p> -->
                            <!-- <a href="<%= new_story_path %>" class="btn-bordered red small invert">share a story</a> -->
                        <!-- </div> -->
                        <!-- <ul class="up-mc-stories-content"> -->
                          <%#= render partial: "stories/all_stories"%>
                        <!-- </ul> -->

                    <!-- </div> -->
                    <!-- END - Stories -->


                    <!-- BEGIN - Comments -->
                    <!-- <div class="up-mc-tabs-item" id="up-mc-comments">
                        <div class="up-mc-tabs-header">
                            <p>Proin elit arcu, rutrum commodo, Proin elit arcu, rutrum commodo, vehicula tempus, commodMauris</p>
                            <a href="#" class="btn-bordered red small invert">post a comment</a>
                        </div>
                    </div> -->
                    <!-- END - Comments -->


                    <!-- BEGIN - Reviews -->
                    <!-- <div class="up-mc-tabs-item" id="up-mc-reviews">
                        <div class="up-mc-tabs-header">
                            <p>Proin elit arcu, rutrum commodProin elit arcu, rutru Proin elit arcu, rutruo, Proin elit arcu, rutrum commodo, vehicula tempus, commodMauris</p>
                            <a href="#" class="btn-bordered red small invert">share a story</a>
                        </div>
                    </div> -->
                    <!-- END - Reviews -->

                <!-- </div> -->

            <!-- </div> -->
            <!-- END - My Content -->


            <!-- BEGIN - My Settings -->
            <div class="up-tabs-item up-my-settings" id="up-my-settings">

                <h1 class="lars">Settings</h1>

                <div class="form-block">

                    <%= simple_form_for @user, url: user_path(@user), method: :PUT, html: { role: 'form' } do |f| %>

                        <div class="form-group sm">
                            <label for="up-settings-title">Title</label>
                            <%= f.select(:gender, [[ 'Mrs', 'mrs' ],[ 'Ms', 'ms' ],[ 'Mr', 'mr' ]], input_html:{ style: "width: 100%" }) %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :name, placeholder: 'Name', label: "Your Name Displays As" %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :first_name, placeholder: 'First Name', label: "First Name" %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :last_name, placeholder: 'Last Name', label: "Last Name" %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :email, type: 'email', placeholder: 'your@mail.com', label: "Email" %>
                        </div>

                        <div class="form-group sm">
                          <label for="up-settings-dob">D.O.B</label>
                          <input type="text" id="up-settings-dob" name="user[date_of_birth]" value="<%= @user.date_of_birth.blank?? '' : @user.date_of_birth %>">
                        </div>

                        <div class="form-group sm">
                          <%= f.input :home_phone, placeholder: 'Home phone (+61)', label: "Home Phone" %>
                        </div>

                        <div class="form-group sm">
                          <%= f.input :mobile, placeholder: 'Mobile phone (+61)', label: "Mobile" %>
                        </div>

                        <div class="form-group sm">
                          <label for="select2-user_country_id-container">Country</label>
                          <%= country_select("user", "country", priority_countries: ["AU"]) %>
                        </div>
                        <div class="form-group clear">
                          <%= f.label :description, "About Me" %>
                          <%= f.text_area :description, placeholder: 'e.g. Your interests, places travelled, etc.' %>
                        </div>

                        <div class="form-group user-ava col-sm-12">
                          <div class="col-xs-12 col-sm-2">
                            <div class="img-rounded edit-profile" align="center">
                              <% if @user.avatar.url %>
                                <%= image_tag @user.avatar.url, class: 'img-responsive avatar-img' %>
                                <img id="image-avatar-preview" class="img-responsive" alt="">
                              <% else %>
                                <%= image_tag 'imgdummy.jpg', class: 'img-responsive' %>
                                <img id="image-avatar-preview" class="img-responsive" alt="">
                              <% end %>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-10 upload-wrap">
                            <%= f.input :avatar, as: :file, label: 'upload photo', input_html: { class: "#{'hide' if !current_user.admin?}", onchange: "this.form.submit()" } %>
                            <div class="avatar-remove-wrap">
                              <span>or</span>
                              <a href="#" class="edit">Remove</a>
                            </div>
                          </div>
                        </div>

                        <!-- <div class="form-group clear private-profile">
                            <input id="up-plan-private" type="checkbox" name="user[is_private]" <%#= @user.is_private== true ? "checked" : "" %>>
                            <label for="up-plan-private">Keep my profile private</label>
                        </div> -->

                        <button class="btn-bordered red invert small">save</button>

                        <% if user_signed_in? && current_user.admin? %>
                          <div class="col-xs-12 col-sm-12 top5">
                            <p class="pink left15">User Roles</p>
                            <span href="#" class="btn btn-default btn-block">
                              <%= f.collection_check_boxes :role_ids, Role.all, :id, :name, input_html: { class: "form-control" } do |b| %>
                                <div class="collection-check-box">
                                  <%= b.check_box %>
                                  <%= b.label %>&nbsp;&nbsp;
                                </div>
                              <% end %>
                            </span>
                          </div>
                          <div class="col-xs-12 col-sm-12 top5">
                            <p class="pink left15">Admin?
                              <%= f.input :admin, as: :boolean, label: false %>
                            </p>
                          </div>
                        <% end %>
                    <% end %>

                </div>


                <!-- BEGIN - Change password -->
                <div class="form-block">

                    <h5>change password</h5>

                    <form class="horizontal" action="">

                        <div class="form-group">
                            <label for="up-settings-pass-cur">Current password</label>
                            <input type="password" name="user[current_password]" id="up-settings-pass-cur" required>
                        </div>

                        <div class="form-group ">
                            <label for="up-settings-pass-new">New password</label>
                            <input id="up-settings-pass-new" type="password" name="user[password]" required>
                        </div>

                        <div class="form-group ">
                            <label for="up-settings-pass-confirm">Confirm password</label>
                            <input id="up-settings-pass-confirm" type="password" name="user[password_confirmation]" required>
                        </div>

                        <div class="form-group-btns">
                            <button type="submit" class="btn-bordered red invert small">save</button>
                            <span>or</span>
                            <a href="#" class="edit">Cancel</a>
                        </div>

                    </form>
                </div>
                <!-- END - Change password -->
    </div>

    <!-- Modal avatar -->
    <% if @show_modal.present? %>
    <div class="modal fade in" id="editAvatar" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog modal-dialog--margin-top" role="document">
        <div class="modal-content modal-content--container">
          <div class="modal-content__header text-center">
            <span class="proposal__header">Crop Image</span>
            <div class="close_avatar_modal pull-right">&times;</div>
          </div>
          <div class="modal-body text-center">
            <%= image_tag @user.avatar.url, :id => "cropbox" %>
            <!-- <h1>Image Preview</h1>
            <div style="width:100px; height:100px; overflow:hidden">
              <%= image_tag @user.avatar.url, :id => "preview" %>
            </div> -->
            <%= form_for @user do |f| %>
              <% %w[x y w h].each do |attribute| %>
                <%= f.hidden_field "crop_#{attribute}" %>
              <% end %>
              <div class="actions">
                <%= f.submit "Save Avatar", class: "btn btn-primary btn-submit" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </section>

</div>

<% else %>
  <h1>You must be logged into view this page</h1>
<% end %>
