<div class="container">
  <div class="row">
    <div class="head-title">
      <h4 class="top20">My account</h4>
      <h2 class="gray-font">Stories</h2>
    </div>
  </div>
  </div> <!-- row -->
</div>

    <div class="border-section btm10"></div>


<section class="places-to-go">
  <div class="container">
    <div class="text-left">

      <span class="left-modal">
      </span>
      <span class="right-modal">
        <div class="row">
          <div class="col-xs-3 col-sm-3">
          </div>
          <div class="col-xs-9 col-sm-9">
          </div>
          </div>
      </span>

    </div>
  </div>
</section>

<section class="your-stories btm15">
  <div class="container">
    <div class="row">
      <% if !@user.stories.blank? %>
        <% @user.stories.each do |story| %>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 btm15">
            <div class="head-stories">
              <div class="left">
                <a href="<%= edit_story_path(story) %>" class="black" style="position: absolute;">
                  CLICK TO EDIT STORY
                </a>
              </div>
              <div class="right">
                <a href="#">
                  <i class="fa fa-image"></i>
                   <%= story.story_images.size %>
                </a>&nbsp;&nbsp;
              </div>
          </div>
            <div class="body-stories">
              <div class="p-dynamic member-profile">
              <p class="visited"><%= story.created_at.strftime("%B %Y")%></p>
              <p class="font-orange2"><%= story.title %></p>
              <p><%= story.teaser.html_safe rescue "" %></p>
              </div>
                <div class="img-story-place">
                  <img align="right" src="<%= story.story_images.first.file_url rescue "" %>" alt="">
                </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div> <!-- row -->
  </div>
</section>
