<div class="left-user">
  <div class="container">
    <div class="area-content all-videos">
      <a href="<%= root_path %>"><input type="image" src="<%= asset_path("home-button-blue.png") %>" class="globe-home"></a>
      <div class="user-view-title">
        <h1 class="br_top_heading hidden-xs">
          My Videos & Photos
        </h1>
        <p><i class="fa fa-star fa-lg"></i></p>
        <%= render 'layouts/search_input' %>
      </div>

      <div class="card-large-content-hide">
        <button id="close-large-content" style="position:absolute">Close</button>
      </div>
      <% unless @user.videos.empty? %>
        <div class="cards-float">
          <% @user.videos.each do |video| %>
            <% if (video != nil and video.vimeo_thumbnail != nil ) %>
              <div class="card-item card-item-small card-item-hide video video-card">
                <%= content_tag "div", class: "video-data", data: {video_id: video.vimeo_id} do %><% end %>
                <div class="card-small-content">
                  <div class="video-label">
                    <%= area_place_video_link(video) %><a class="debug" href"<%= video.vimeo_thumbnail %>"> <%= video.vimeo_thumbnail.gsub(/_\d+\.jpg/,"_300.jpg") %></a>
                    <%= raw like_icon(video) %>
                  </div>
                  <div class="video-background-image">
                    <img class="vimeo-thumb" src="<%= video.vimeo_thumbnail.gsub(/_\d+\.jpg/,"_300.jpg") %>"/>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="home-text">
          <p>You have not favourited any Videos or Photos yet.</p>
          <a href='<%= root_path %>'>Start exploring</a> and click the <i class="fa fa-star fa-2x"></i>
          to add them to your personal list.
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="right-user">
  <%= render 'sidebar' %>
</div>
<%= javascript_include_tag 'search_suggestions' %>
