<%= simple_form_for operator, html: { role: 'form'} do |f| %>
  <div class="row">
    <div class="col-md-6">
      <p>
        <input id="pac-input" class="controls form-control" type="text"
            placeholder="Search For A Place">
      <div id="map-canvas" style="height:500px;"></div>
    </div>
    <div class="col-md-6">
      <div class="form-group lat-lng">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.input :latitude,
              label: "Latitude",
              input_html: { "data-geo" => "lat", class: 'form-control' }
            %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= f.input :longitude,
              label: "Longitude",
              input_html: { "data-geo" => "lng", class: 'form-control' }
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.input :status, label: 'Operator Status', as: :select, collection: Operator::STATUSES, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :name, label: 'Operator Name', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :companyName, label: 'Operator Company Name', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :code, label: 'Code', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :tradingName, label: 'Trading Name', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :businessNumber, label: 'Business Number', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, label: 'Description', as: :text, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :tncId, label: 'tncId', as: :integer, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group margin-left-20">
    <%= f.input_field :demo, as: :boolean, inline_label: 'Demo', label: false %>
  </div>
  <div class="form-group">
    <%= f.input :address1, label: 'Address1', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :address2, label: 'Address2', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :city, label: 'City', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :state, label: 'State', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :postcode, label: 'Postcode', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :country, label: 'Country', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :language, label: 'Language', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :contactName, label: 'Contact Name', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :email, label: 'Email', as: :email, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :phone, label: 'Phone', as: :tel, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :fax, label: 'Fax', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :website, label: 'Website', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :resContactName, label: 'res Contact Name', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :resEmail, label: 'res Email', as: :email, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :resPhone, label: 'resPhone', as: :tel, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :accountsEmail, label: 'Accounts Email', as: :email, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :currency, label: 'Currency', input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :logoUrl, label: 'Logo Url', as: :url, input_html: { class: 'width100' } %>
  </div>
  <div class="form-group">
    <%= f.input :tags, as: :array, label: 'Tags' %>
    <%= link_to '+ Add', '#', class: 'js-add-operator-tag' %>
  </div>
  <div class="form-group">
    <%= f.input :tncUrl, label: 'tnc Url', as: :url, input_html: { class: 'width100' } %>
  </div>
  </br>
  <div class="form-group">
    <%= f.submit :submit, class: 'btn' %>
  </div>
<% end %>
