<%= simple_form_for operator, html: { role: 'form'} do |f| %>
  <div class="row">
    <div class="col-md-6">
      <p>
        <input id="pac-input" class="controls form-control" type="text"
            placeholder="Search For A Place">
      <div id="map-canvas" style="height:500px;"></div>
    </div>
    <div class="col-md-6">
      <div class="form-group lat-lng">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.input :latitude,
              label: "Latitude",
              input_html: { "data-geo" => "lat", class: 'form-control' }
            %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= f.input :longitude,
              label: "Longitude",
              input_html: { "data-geo" => "lng", class: 'form-control' }
            %>
          </div>
          <div class="form-group col-xs-12 col-sm-12">
            <%= f.input :address1, label: 'Address1', input_html: { class: 'width100', "data-geo" => "street_number" } %>
          </div>
          <div class="form-group col-xs-12 col-sm-12">
            <%= f.input :address2, label: 'Address2', input_html: { class: 'width100', "data-geo" => "route" } %>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <%= f.input :city, label: 'City', input_html: { class: 'width100', "data-geo" => "locality" } %>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <%= f.input :state, label: 'State', input_html: { class: 'width100', "data-geo" => "administrative_area_level_1" } %>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <%= f.input :postcode, label: 'Postcode', input_html: { class: 'width100', "data-geo" => "postal_code" } %>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <%= f.input :country, label: 'Country', input_html: { class: 'width100' } %>
          </div>
          <div class="col-xs-12 col-sm-12"><%= f.input :google_place_id, input_html: { "data-geo" => "place_id", class: 'form-control' }, label: "Google Place ID" %></div>
          <div class="form-group col-xs-12 col-sm-12">
            <%= f.input :website, label: 'Website', input_html: { class: 'width100' } %>
          </div>
          <div class="form-group col-xs-12 col-sm-12">
            <%= f.input :phone, label: 'Phone', as: :tel, input_html: { class: 'width100' } %>
          </div>

          <div class="form-group col-xs-12 col-sm-12">
            <%= f.input :email, label: 'Email', as: :email, input_html: { class: 'width100' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.input :status, label: 'Operator Status', as: :radio_buttons, collection: Operator::STATUSES, input_html: { class: 'width100' } %>
  </div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#general-info-collapse">General Info</a>
        </h4>
      </div>
      <div id="general-info-collapse" class="panel-collapse collapse">
        <div class="form-group">
          <%= f.input :name, label: 'Operator Name', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :companyName, label: 'Operator Company Name', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :code, label: 'MyDiscoveries Supplier Code', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :tradingName, label: 'Trading Name', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :description, label: 'Description', as: :text, input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :language, label: 'Language', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :currency, label: 'Currency', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :tags, as: :array, label: 'Tags' %>
          <%= link_to '+ Add', '#', class: 'js-add-operator-tag' %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#res-info-collapse">
            Reservations Contact
          </a>
        </h4>
      </div>
      <div id="res-info-collapse" class="panel-collapse collapse">
        <div class="form-group">
          <%= f.input :resContactName, label: 'Reservations Contact Name', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :resEmail, label: 'Reservations Email', as: :email, input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :resPhone, label: 'Reservations Phone', as: :tel, input_html: { class: 'width100' } %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#contract-info-collapse">Contract Info</a>
        </h4>
      </div>
      <div id="contract-info-collapse" class="panel-collapse collapse">
        <div class="form-group">
          <%= f.input :contactName, label: 'Contact Name', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :contact_job_title, label: 'Contact Job Title', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :contact_field_office, label: 'Contact Field Office', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :businessNumber, label: 'Business Number', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :accountsEmail, label: 'Accounts Email', as: :email, input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :payment_conditions, label: 'res Contact Name', input_html: { class: 'width100' } %>
        </div>
        <div class="form-group">
          <%= f.input :terms_and_conditions, label: 'Terms And Conditions', as: :tel, input_html: { class: 'width100' } %>
        </div>
      </div>
    </div>
  </div>
  </br>
  <div class="form-group">
    <%= f.submit :submit, class: 'btn' %>
  </div>
<% end %>
