<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="head-stories">
    <div class="left">
        <div class="profile-outer">
          <img src="<%= asset_path('br-logo-new-blue.png')%>" alt="">
        </div>
    </div>
  </div>
  <div class="body-stories">
    <div class="title">
      <p><%= place_or_country_link(video.place) %></p>
      <h4><%= video.title %></h4>
    </div>
    <video poster="<%= video.vimeo_thumbnail %>" class="play-in-modal" data-modal="#video-modal" data-video-url="<%= video.url %>">
    </video>
    <%= link_to '', class: 'play-video' do %>
      <i class="fa fa-play play-video"></i>
    <% end %>
  </div>
  <div class="details-dest btm15">
    <div class="left">
      <% if video.place.present? %>
          <% video.place.subcategories.subcats.each do |sub| %>
            <%= link_to sub.name, subcategory_path(sub.identifier) %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
