<h2>Add New Video</h2>
<div class="form-group">
  <label>Choose Video Type</label><br>
    <select id="select_video_id">
      <option>Youtube</option>
      <option>Vimeo</option>
    </select>
</div>
<%= simple_form_for Video.new do |f| %>
  <div class="form-group" id="vimeo-block">
    <%= f.input :vimeo_id, label: "Enter Vimeo ID", input_html: { class: 'form-control', id: "vimeo-id"}  %>
  </div>
  <div class="form-group" id="youtube-block">
    <%= f.input :youtube_id, label: "Enter Youtube ID", input_html: { class: 'form-control' }  %>
  </div>
  <div class="form-group">
    <%= f.input :priority, label: "Priority", collection: 1..10, input_html: { class: 'form-control'}  %>
    <%= f.input :status, label: "Status", collection: ["draft", "edited", "live", "removed"], input_html: { class: 'form-control'}  %>
    <%= f.input :title, label: "Title (leave blank for autofill from Vimeo)", input_html: { class: 'form-control'}  %>
    <%= f.input :description, label: "Description (leave blank for autofill from Vimeo)", input_html: { class: 'form-control'}  %>
    <%= f.input :transcript, label: "Transcript (leave blank for autofill from Vimeo)", input_html: { class: 'form-control'}  %>
    <% if @place %>
      <%= f.input :videoable_id, as: :hidden, input_html: {value: @place.id } %>
      <%= f.input :videoable_type, as: :hidden, input_html: {value: "Place" } %>
    <% elsif @attraction %>
      <%= f.input :videoable_id, as: :hidden, input_html: {value: @attraction.id } %>
      <%= f.input :videoable_type, as: :hidden, input_html: {value: "Attraction"} %>
    <% elsif @region %>
      <%= f.input :videoable_id, as: :hidden, input_html: {value: @region.id } %>
      <%= f.input :videoable_type, as: :hidden, input_html: {value: "Region"} %>
    <% elsif @country %>
      <%= f.input :videoable_id, as: :hidden, input_html: {value: @country.id } %>
      <%= f.input :videoable_type, as: :hidden, input_html: {value: "Country"} %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.button :submit%>
  </div>
<% end %>
