<div class="col-xs-12 col-sm-6 col-md-4 bg">

  <div class="body-stories">
    <video poster="<%= video.vimeo_thumbnail %>" class="play-in-modal" data-modal="#video-modal" data-video-url="<%= video.url %>">
    </video>
    <%= link_to '', class: 'play-video' do  %>
        <i class="fa fa-play play-video"></i>
    <% end %>
  </div>

    <div class="head-stories">
    <div>
        <div class="profile-outer">
          <img src="<%= asset_path('br-logo-new-blue.png')%>" alt="">
        </div>
        <div class="title">
          <% if video.videoable.present? %>
            <p><%= link_to video.videoable.display_name, polymorphic_path(video.videoable) %></p>
          <% end %>
          <h4 class="small-video-title"><%= video.title %></h4>
        </div>
    </div>
  </div>

  <div class="details-dest">
    <div class="left">

    </div>
    <% if user_signed_in? && current_user.admin? %>
      <div style="font-size:14px">
        EMBED CODE<br>
        <%= video_embed_code(video) %>
      </div>
    <% end %>
  </div>
</div>
