<div class="col-xs-12 col-sm-6 col-md-4 bg">
  <div class="head-stories">
    <div class="left">
      <a href="#">
        <div class="profile-outer">
         <img src="assets/images/BR_Logo.png" alt="">
        </div>
       </a>
    </div>
  </div>
  <div class="body-stories">
    <div class="left">
        <p>Caribbean Craze</p>
        <h4 class="eat-color"><%= video.title %></h4>
      </div>
    <div class="right">
      <!-- <div class="video"> -->
        <video poster="<%= video.vimeo_thumbnail %>" class="play-in-modal" data-modal="<%= video.vimeo_id.blank?? '#youtube-video-modal' : '#vimeo-video-modal' %>" data-video-url="<%= video.url %>">
          <source src="./videos/movie.mp4" type="video/mp4">
          <source src="./videos/movie.ogg" type="video/ogg">
        </video>
      <!-- </div> -->
      <i class="fa fa-play"></i>
    </div>
  </div>
  <div class="details-dest">
    <div class="left">
      <% if video.place %>
        <% if video.place.primary_category.present? %>
          <%= link_to primary_category_path(video.place.primary_category.identifier) do %>
            <i class="i-do i-do-video"></i><%= video.place.primary_category.name %>
          <% end %>
          <% video.place.subcategories.each do |sub| %>
            <%= link_to sub.name, subcategory_path(sub.identifier) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>