<div class="col-xs-12 col-sm-6 col-md-4 bg">

  <div class="body-stories">
    <video poster="<%= video.vimeo_thumbnail %>" class="play-in-modal" data-modal="#video-modal" data-video-url="<%= video.url %>">
    </video>
    <%= link_to '', class: 'play-video' do  %>
        <i class="fa fa-play play-video"></i>
    <% end %>
  </div>

    <div class="head-stories">
    <div>
        <div class="profile-outer">
          <img src="<%= asset_path('br-logo-new-blue.png')%>" alt="">
        </div>
        <div class="title">
          <p><%= place_or_country_link(video.place) %></p>
          <h4 class="small-video-title"><%= video.title %></h4>
        </div>
    </div>
  </div>

  <div class="details-dest">
    <div class="left">
      <% if video.place %>
          <% video.place.subcategories.subcats.each do |sub| %>
            <%= link_to sub.name, subcategory_path(sub.identifier), class: 'badge-link' %>
          <% end %>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.admin? %>
      <div style="font-size:14px">
        EMBED CODE<br>
        &lt;iframe frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="420" height="240" src="https:/www.boundround.com/<%= @place.class.to_s.pluralize.downcase %>/<%= @place.id rescue "" %>/videos/<%= video.id%>"&gt;&lt;/iframe&gt;
      </div>
    <% end %>
  </div>
</div>
