<div class="vacuum-events-off">
	<div class="card-large-content-hide">
		<button id="close-large-content" style="position:absolute">Close</button>
	</div>
</div>

<div class="area-content">
  <a href="<%= root_path %>"><input type="image" src="<%= asset_path("home-button-blue.png") %>" class="globe-home"></a>
  <div class="page-wrap">
    <div class="banner-wrapper">
      <div class="banner">
        <div class="title-wrapper">
          <h1 class="title">Videos</h1>
        </div>
      </div>
    </div>
    <%= will_paginate @videos %>
    <div id="cards-float">
      <% @videos.each do |video| %>
        <div class="card-item card-item-small card-item-hide video video-card">
          <%= content_tag "div", class: "video-data", data: {video_id: video.vimeo_id} do %><% end %>
					<div class="card-small-content">
						<div class="video-label"><%= area_place_video_link(video) %><a class="debug" href"<%= video.vimeo_thumbnail %>"> <%= video.vimeo_thumbnail.gsub(/_\d+\.jpg/,"_300.jpg") %></a></div>
	          <div class="video-background-image">
						 	<img class="vimeo-thumb" src="<%= video.vimeo_thumbnail.gsub(/_\d+\.jpg/,"_300.jpg") %>"/>
	          </div>
					</div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @videos %>
  </div>
</div>

<!--div class="area-content">
  <a href="<%= root_path %>"><input type="image" src="<%= asset_path("home-button-blue.png") %>" class="globe-home"></a>
  <div class="page-wrap">
    <div class="banner-wrapper">
      <div class="banner">
        <div class="title-wrapper">
          <h1 class="title">Videos</h1>
        </div>
      </div>
    </div>
    <div id="photos-masonry">
      <div class="grid-sizer"></div>
      <% @videos.each do |video| %>
        <div class="item video video-card photo-card">
          <div class="video-label"><%= video_place_link(video) %></div>
          <div class="video-wrapper">
            <div class="priority"><%= video.priority ? video.priority : 2 %></div>
            <%= content_tag "div", class: "video-data", data: {video_id: video.vimeo_id} do %>
            <% end %>
            <div class="game-divider"></div>
            <div class="game-thumbnail">
              <div class="video-play"><img class="video-play-background" src="<%= asset_path('video-play.png') %>"></div>
              <img class="vimeo-thumb" src="<%= video.vimeo_thumbnail %>"/>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @videos %>
  </div>
</div-->