<div class="area-content">
  <a href="<%= root_path %>"><input type="image" src="<%= asset_path("back-globe.png") %>" class="globe-home"></a>
  <div class="page-wrap">
    <div class="dropdown pull-right">
      <button class="dropdown-toggle fa fa-bars fa-3x menu-button" type="button" id="dropdownMenu1" data-toggle="dropdown">
      </button>
      <ul id="menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="/" data-filter="*">
            <%= image_tag 'corporate_icon-02.svg', class: 'dropdown-menu-icon' %>
            Home
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="/videos" data-filter=".slider">
            <%= image_tag 'video_icon-01.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Watch Videos
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="/games" data-filter=".jigsaw">
            <%= image_tag 'game_icon-01.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Play Games
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="http://boundround.com/new-home-demo/" data-filter=".word">
            <%= image_tag 'home_icon-01.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Corporate Site
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="http://boundround.com/new-home-demo/" data-filter=".word">
            <%= image_tag 'learn_icon-02.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Help
          </a>
        </li>
      </ul>
    </div>
    <div class="banner-wrapper">
      <div class="banner">
        <div class="title-wrapper">
          <h1 class="title">Videos</h1>
        </div>
      </div>
    </div>
    <div id="photos-masonry">
      <div class="grid-sizer"></div>
      <% @videos.each do |video| %>
        <div class="item video video-card photo-card">
          <div class="video-label"><%= video_place_link(video) %></div>
          <div class="video-wrapper">
            <div class="priority"><%= video.priority ? video.priority : 2 %></div>
            <%= content_tag "div", class: "video-data", data: {video_id: video.vimeo_id} do %>
            <% end %>
            <div class="game-divider"></div>
            <div class="game-thumbnail">
              <div class="video-play"><img class="video-play-background" src="<%= asset_path('video-play.png') %>"></div>
              <img class="vimeo-thumb" src="<%= video.vimeo_thumbnail %>"/>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @videos %>
  </div>
</div>
