<%
if !params[:controller].eql? "countries"
    grid, stroke = if !@place.is_area?
        ["col-md-4", "orange-stroke"]
    else
        ["col-md-3",""]
    end
end
%>

<div class="<%= grid %> col-sm-6">
    <div class="photo-component">
        <div class="img-wrapper">
            <%= link_to "" , deal.url,
                        style: "background: url( #{image_path deal_image(deal.hero_image_url)} ) no-repeat;", target: "_blank"  %>
        </div>
        <div class="title-wrapper text-center">
            <!-- <img class="svg-inject <%= stroke %>" src="/assets/new-images/icon-camera.svg"/> -->

            <a href="<%= deal.url %>" target="_blank"><%= deal.title %></a>
            <br><span class="text-center">From $<%= deal.min_price.to_s %></span>
        </div>
    </div>
</div>
