<%
  if !@place.blank?
      variable = @place
  elsif !@attraction.blank?
      variable = @attraction
  elsif !@region.blank?
      variable = @region
  elsif !@country.blank?
      variable = @country
  end
  
if !params[:controller].eql? "countries"

  grid, orange, stroke = if !variable.is_area?
   ["col-md-4", "orange", "orange-stroke"]
  else
   ["col-md-4", "", ""]
  end
else
  grid, orange, stroke = ["col-md-4", "", ""]

end
  %>

<% if !video.youtube_id.blank? %>
  <div class="<%= grid %> col-sm-6">
    <div class="<%= grid %> col-sm-6">
      <div class="small-video-component">
        <iframe class="player-vimeo" src="<%= video.url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="title-wrapper">
          <div class="video-title"><%= video.title %></div>
      </div>
    </div>
  </div>
<% else %>
  <div class="<%= grid %> col-sm-6">
    <div class="small-video-component">
      <iframe class="player-vimeo" src="<%= video.url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="title-wrapper">
        <div class="video-title"><%= video.title %></div>
    </div>
  </div>
<% end %>

<% if params[:active_videos].present? %>
  <%= javascript_tag do -%>
    getThumbnail();

    var injectSvgs = document.querySelectorAll("img.svg-inject");
    SVGInjector(injectSvgs);

  <% end -%>
<% end %>
