<%
if !params[:controller].eql? "countries"
  
  grid, orange, stroke = if !@place.is_area? 
   ["col-md-3", "orange", "orange-stroke"]
  else
   ["col-md-4", "", ""]
  end
else
  grid, orange, stroke = ["col-md-4", "", ""]

end
  %>

<% if !video.youtube_id.blank? %>
<div class="<%= grid %> col-sm-6">
    <div class="small-video-component">
        <div class="video-img-wrapper play-in-modal <%= orange %>" 
                 style="background: url(<%= video.vimeo_thumbnail %>) no-repeat;background-size:cover;background-position:center;" 
                 role="img"
                 data-thumb="<%= video.vimeo_thumbnail %>"
                 aria-label="<%= video.title %>"
                 data-id="<%= video.youtube_id %>" 
                 data-video="youtube"
                 data-modal="#video-modal" 
                 data-video-url="<%= video.url %>"
                 >
            <div class="video-img"
                 >
            </div>
            <div class="main-play-icon-wrapper">
                <div class="main-play-icon <%= orange %> "></div>
            </div>
        </div>
        <div class="title-wrapper">
            <img class="svg-inject <%= stroke %>" src="/assets/new-images/icon-play-rect-unfilled.svg"/>

            <div class="video-title"><%= video.title %></div>
        </div>
    </div>
</div>
<% else %>
<div class="<%= grid %> col-sm-6">
    <div class="small-video-component">
        <div class="video-img-wrapper play-in-modal <%= orange %>" 
                style="background: url(<%= video.vimeo_thumbnail %>) no-repeat;background-size:cover;background-position:center;" 
                role="img"
                aria-label="lavender"
                data-id="<%= video.vimeo_id %>" 
                data-thumb="<%= video.vimeo_thumbnail %>"
                data-video="vimeo" 
                data-modal="#video-modal" 
                data-video-url="<%= video.url %>"
                >
            <span class="video-img"
                >
            </span>
            <div class="main-play-icon-wrapper">
                <div class="main-play-icon <%= orange %>"></div>
            </div>
        </div>
        <div class="title-wrapper">
            <img class="svg-inject <%= stroke %>" src="/assets/new-images/icon-play-rect-unfilled.svg"/>

            <div class="video-title"><%= video.title %></div>
        </div>
    </div>
</div>
<% end %>

<!--             <div class="col-md-4 col-sm-6">
                <div class="small-video-component">
                    <div class="video-img-wrapper orange">
                            <span class="video-img"
                                  style="background-image:url(/assets/new-images/continental-car-small.jpg)"></span>

                        <div class="main-play-icon-wrapper">
                            <span class="main-play-icon orange"></span>
                        </div>
                    </div>
                    <div class="title-wrapper">
                        <img class="svg-inject orange-stroke"
                             src="/assets/new-images/icon-play-rect-unfilled.svg"/>

                        <div class="video-title">Rides and parks in Luna Park and Milson's
                            Point
                        </div>
                    </div>
                </div>
            </div> -->

<% if params[:active_videos].present? %>
  <%= javascript_tag do -%>
    getThumbnail();
    
    var injectSvgs = document.querySelectorAll("img.svg-inject");
    SVGInjector(injectSvgs);

  <% end -%>
<% end %>