<%
  if !@place.blank?
      variable = @place
  elsif !@attraction.blank?
      variable = @attraction
  elsif !@region.blank?
      variable = @region
  elsif !@country.blank?
      variable = @country
  elsif !@offer.blank?
      variable = @offer
  end

if (!params[:controller].eql? "countries") && (!params[:controller].eql? "offers")

  grid, orange, stroke = if !variable.is_area?
   ["col-md-4", "orange", "orange-stroke"]
  else
   ["col-md-4", "", ""]
  end
else
  grid, orange, stroke = ["col-md-4", "", ""]

end
  %>

<% if !video.youtube_id.blank? %>
  <div class="<%= grid %> col-sm-6 video-embed-wrapper sm">
      <img src="<%= showing_image(video.vimeo_thumbnail) %>" data-src="<%= video.url %>" alt="" class="width100 video_thumbnail">
      <div class="title-wrapper">
          <p><%= video.title %></p>
      </div>
  </div>
<% else %>
  <div class="<%= grid %> col-sm-6 video-embed-wrapper sm">
    <div class="small-video-component">
      <img src="<%= showing_image(video.vimeo_thumbnail) %>" data-src="<%= video.url %>" alt="" class="width100 video_thumbnail">
    </div>
    <div class="title-wrapper">
        <p><%= video.title %></p>
    </div>
  </div>
<% end %>

<% if params[:active_videos].present? %>
  <%= javascript_tag do -%>
    getThumbnail();

    var injectSvgs = document.querySelectorAll("img.svg-inject");
    SVGInjector(injectSvgs);

  <% end -%>
<% end %>
