<div class="photo-container">
  <h2>Add New Info Bit</h2>
  <%= simple_form_for [@country, InfoBit.new] do |f| %>
    <div class="form-group">
      <%= f.input :title, input_html: { class: 'form-control'}  %>
    </div>
    <div class="form-group">
      <%= f.input :description, input_html: { class: 'form-control'}  %>
    </div>
    <div class="form-group">
      <%= f.input :photo, as: :file %>
    </div>
    <div class="form-group">
      <%= f.input :photo_credit, input_html: { class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.input :status, label: "Status", collection: ["draft", "edited", "live", "removed"], input_html: { class: 'form-control'}  %>
    </div>
    <div class="form-group">
      <%= f.button :submit%>
    </div>
  <% end %>
</div>