<% variable = @place.blank? ? @attraction : @place %>
<% path = (variable.eql? @place)? 'place' : 'attraction' %>
<div class="container">
  <%= render "/#{path}s/admin_tabs" %>
  <h2>Edit 3d Video</h2>
  <%= simple_form_for [variable, @three_d_video] do |f| %>
    <%= f.input :link, input_html: { class: 'form-control' } %>
    <%= f.input :caption, input_html: { class: 'form-control' } %>
    <%= f.hidden_field "#{path}_id", value: variable.id %>
    <%= f.submit :submit %>
  <% end %>
</div>
