<% variable = @place.blank? ? @attraction : @place %>
<% path = (variable.eql? @place)? 'place' : 'attraction' %>
<div class="container">
  <%= render "/#{path}s/admin_tabs" %>
  <h2>All 3D Videos</h2>
  <%= link_to "Back To Edit #{variable.display_name}", eval("edit_#{path}_path(variable)") %>
  <% variable.three_d_videos.each do |video| %>
  <p>Link: <%= video.link %> || Caption: <%= video.caption %> ||
    <%= link_to 'Edit', eval("edit_#{path}_three_d_video_path(#{variable}, #{video.id})") %> ||
    <%= link_to 'Destroy', eval("#{path}_three_d_video_path(variable, video)"), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
  <h2>Create New 3D Video</h2>
  <%= simple_form_for [variable, @three_d_video] do |f|%>
    <%= f.input :link, input_html: { class: 'form-control' } %>
    <%= f.input :caption, input_html: { class: 'form-control' } %>
    <%= f.hidden_field "#{path}_id", value: variable.id %>
    <%= f.submit :submit %>
  <% end %>
</div>
