 <h2>Create New 3D Video</h2>
 <% if true %>
    <%= simple_form_for [@place, @three_d_video] do |f|%>
      <%= f.input :link, input_html: { class: 'form-control' } %>
      <%= f.input :caption, input_html: { class: 'form-control' } %>
      <%= f.hidden_field :place_id, value: @place.id %>
      <%= f.submit :submit %>
    <% end %>
  <% else %>
    <h2>You do not have sufficient privileges to view this page</h2>
    <%= link_to "Home", root_path %>
  <% end %>