<div class="container">
  <%= simple_form_for :order_populate,
    url: populate_offer_orders_path,
    method: :post,
    html: {
      role: 'form',
      class: 'top20 js-order-form',
      data: {
        'variant_prices' => variant_prices(@variants)
      }
    } do |f| %>
    <div class="row">
      <div class="form-group">
        <%# f.input :variant_id, as: :hidden
        %>
      </div>
    </div>
  <div class="booking-block">
    <div class="block-inside">
      <section class="prices-and-availability-block">
        <div class="paab-header">
            <h1><%= @offer.name %></h1>
            <h4 class="heading">
              <%# "PRICES: From $#{unit_price(offer.minRateChild, offer.minRateAdult)} AUD to $#{offer.minRateAdult} AUD" %>
            </h4>
        </div>

        <div class="form-block">
            <ul>
              <li>
                <h5>Duration</h5>
                <div><%= create_duration(@offer) %></div>
              </li>
              <li class="quantity form-variants">
                <h5>Variants</h5>
                <div>
                  <%= f.input :variant_id,
                      as: :select,
                      collection: @variants,
                      label_method: :select_label,
                      include_blank: false,
                      label: false,
                      input_html: { class: 'form-control' }
                  %>
                </div>
              </li>
              <li class="quantity">
                <h5>Quantity</h5>
                <div>
                  <%= f.input :quantity,
                      as: :integer,
                      include_blank: false,
                      label: false,
                      input_html: {
                        class: 'form-control js-quantity',
                        min: 1,
                        value: 1
                      }
                  %>
                </div>
              </li>
              <li>
                <h5>PRICE</h5>
                <div class="js-order-total-price">$ AUD</div>
              </li>
              <% if @offer.allow_installments? %>
                <li class="request_installments">
                  <%= f.label :request_installments,
                    "Or 5 monthly payments of",
                    class: 'js-order-monthly-price monthly-payments-label'
                  %>
                  <%= f.check_box :request_installments, label: false, class: 'monthly-payments-checkbox' %>
                </li>
              <% end %>
              <li class="quantity">
                <h5>Action</h5>
                <div>
                  <%= button_tag(type: 'submit', class: 'btn-bordered red small invert') do %>
                    <span>Add</span>
                  <% end %>
                </div>
              </li>
            </ul>
        </div>

        <div class="form-block already-added-variants">
          <% if @line_items.any? %>
            <h3 class="heading text-center">
              Already added
            </h3>
          <% end %>
          <% @line_items.each_with_index do |line_item, index| %>
            <ul>
              <li>
                <% if index.zero? %>
                  <h5>Duration</h5>
                <% end %>
                <div><%= create_duration(@offer) %></div>
              </li>
              <li class="quantity form-variants">
                <% if index.zero? %>
                  <h5>Variant</h5>
                <% end %>
                <div>
                  <%= line_item.variant.select_label %>
                </div>
              </li>
              <li class="quantity">
                <% if index.zero? %>
                  <h5>Quantity</h5>
                <% end %>
                <div>
                  <%= line_item.quantity %>
                </div>
              </li>
              <li class="subtotal">
              <% if index.zero? %>
                <h5>Subtotal</h5>
              <% end %>
                <% if line_item.request_installments? %>
                  <%= "5 x #{number_to_currency(total_line_item_price(line_item).to_f / 5.to_f)} AUD" %>
                <% else %>
                  <%= "#{number_to_currency(total_line_item_price(line_item))} AUD" %>
                <% end %>
              </li>
              <li class="quantity">
                <div>
                  <% if index.zero? %>
                    <h5>Action</h5>
                  <% end %>
                  <%= link_to(
                      delete_line_item_offer_orders_path(
                        offer: @offer,
                        variant_id: line_item.variant.id,
                        quantity: line_item.quantity
                      ),
                      class: 'btn-bordered red small invert pull-right',
                      method: :patch
                    ) do %>
                      <span>Delete</span>
                  <% end %>
                </div>
              </li>
            </ul>
            <hr class='variants-divider' />
          <% end %>
          <% if @line_items.any? %>
            <h4 class="heading padding-top-30p">
              <%= "Total: #{number_to_currency(total_line_items_price(@line_items))} AUD" %>
            </h4>
            <div class="form-group padding-top-50p">
              <%= link_to add_passengers_offer_order_path(@offer, @order),
                class: 'btn-bordered red invert' do %>
                <span>CONTINUE</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>

<% end %>
