<div class="checkout-page">
  <div class="form-block">
    <%= simple_form_for(@customer, url: payment_offer_order_path(@offer, @order), method: :post, html: { class: 'customer_form' }) do |cf| %>
      <div class="checkout-form">
        <h2 class="title"> Billing details </h2>
        <div class="populate-passenger"><input type="checkbox" id="populate-passenger" data-offer="<%= @offer.id %>" data-order="<%= @order.number %>" > <label for="populate-passenger">Populate Name/Email From Passenger Info</label></div>
        <div class="customer-fields">
          <div class="form-group customer-title">
            <%= cf.input :title,
              as: :select,
              collection: Customer::TITLES,
              include_blank: false,
              label: false,
              input_html: { class: "select optional form-control select2-hidden-accessible checkout-select-box" }
            %>
          </div>
          <div class="form-group customer-first-name">
            <%= cf.input :first_name, required: true, label: false, placeholder: 'First name' %>
          </div>
          <div class="form-group customer-last-name">
            <%= cf.input :last_name, required: true, label: false, placeholder: 'Last name' %>
          </div>
          <div class="form-group sm">
            <div class="control-group string optional">
              <%= cf.input :email, as: :email, required: true, label: false, placeholder: 'your@mail.com' %>
            </div>
          </div>
          <div class="form-group sm">
            <div class="control-group string optional">
              <%= cf.input :phone_number, as: :tel, required: true, label: false, placeholder: 'Phone number' %>
            </div>
          </div>
          <div class="form-group sm">
            <div class="control-group string optional">
              <%= cf.country_select :country, priority_countries: ['AU', 'US'],
                required: true,
                label: false,
                include_blank: false,
                input_html: { class: "select optional form-control select2-hidden-accessible checkout-select-box" } %>
            </div>
          </div>
          <div class="form-group sm">
            <div class="control-group string optional">
              <%= cf.input :address_one, as: :string, required: true, label: false, placeholder: 'First address' %>
            </div>
          </div>
          <div class="form-group sm">
            <div class="control-group string optional">
              <%= cf.input :address_two, as: :string, label: false, placeholder: 'Second address' %>
            </div>
          </div>
          <div class="form-group customer-city">
            <%= cf.input :city, required: true, label: false, placeholder: 'City' %>
          </div>
          <div class="form-group customer-state">
            <%= cf.input :state, required: true, label: false, placeholder: 'State' %>
          </div>
          <div class="form-group customer-postal-code">
            <%= cf.input :postal_code, required: true, label: false, placeholder: 'Postal Code' %>
          </div>
        </div>


        <%= cf.simple_fields_for :credit_card, @customer.credit_card do |pf| %>
          <div class="payment-fields">
            <h2 class="title"> Credit card details </h2>
            <div class="card-container"></div>

            <% flash.each do |type, message| %>
              <% if !bootstrap_class_for(type).eql?("timedout")%>
                <% if is_flash_key_for_tracking?(type) %>
                  <div class="hidden <%= type %>"></div>
                <% else %>
                  <div class="alert <%= bootstrap_class_for(type) %> fade in">
                    <button class="close" data-dismiss="alert">×</button>
                    <%= message %>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <div class="form-group sm">
              <div class="control-group string optional">
                <%= pf.input :number,
                  as: :string,
                  label: false,
                  placeholder: 'Card Number',
                  required: true,
                  input_html: { value: '' }
                %>
              </div>
            </div>
            <div class="form-group card-holder-name">
              <%= pf.input :holder_name,
                as: :string,
                label: false,
                placeholder: 'Name on card',
                required: true,
                input_html: { value: '' }
              %>
            </div>
            <div class="form-group card-date">
              <%= pf.input :date,
                as: :string,
                label: false,
                placeholder: 'MM/YY',
                required: true,
                input_html: { value: '' }
              %>
            </div>
            <div class="form-group card-cvv">
              <%= pf.input :cvv,
                as: :string,
                label: false,
                placeholder: 'CVV',
                required: true,
                input_html: { value: '' }
              %>
            </div>
          </div>
        <% end %>
        <div class="btns-block">
          <%= link_to 'back',
            edit_passengers_offer_order_path(@offer, @order),
            class: 'btn-bordered red no-border'
          %>
          <%= button_tag(type: 'submit', class: 'btn-bordered red invert') do %>
            <span>Complete Order</span>
          <% end %>
        </div>
      </div>
    <% end %>
    <input type="hidden" value="<%= @order.ax_sales_id %>" id="ax_sales_id">
    <input type="hidden" value="<%= @offer.name %>" id="name">
    <input type="hidden" value="<%= @offer.item_id %>" id="item_id">
    <input type="hidden" value="<%= @offer.child_item_id %>" id="child_item_id">
    <input type="hidden" value="<%= @order.total_quantity %>" id="quantity">
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var ax_sales_id_analytics   = $('#ax_sales_id').val(),
            name_analytics          = $('#name').val(),
            item_id_analytics       = $('#item_id').val(),
            child_item_id_analytics = $('#child_item_id').val(),
            quantity_analytics      = $('#quantity').val(),
            sku_analytics;

        if((item_id_analytics != "" && child_item_id_analytics != "") ||
           (item_id_analytics != "" && child_item_id_analytics == "")){
          sku_analytics = item_id_analytics;
        }

        ga('ecommerce:addTransaction', {
          'id': ax_sales_id_analytics,                     // Transaction ID. Required.
          'affiliation': '',                               // Affiliation or store name.
          'revenue': '',                                   // Grand Total.
          'shipping': '',                                  // Shipping.
          'tax': '',                                       // Tax.
          'currency': 'AUD'
        });

        ga('ecommerce:addItem', {
          'id': ax_sales_id_analytics,                     // Transaction ID. Required.
          'name': name_analytics,                          // Product name. Required.
          'sku': sku_analytics,                            // SKU/code.
          'category': '',                                  // Category or variation.
          'price': '',                                     // Unit price.
          'quantity': quantity_analytics                   // Quantity.
        });
    })
</script>
