<div class="checkout-page">
  <div class="form-block">
    <h2>Customer Info</h2>
    <% if @order.customer.present? %>
      <p>Customer Name: <%= "#{@order.customer.first_name} #{@order.customer.last_name}" %></p>
      <p>Customer Email: <%= "#{@order.customer.email}" %></p>
      <p>Customer Phone: <%= "#{@order.customer.phone_number}" %></p>
      <p>Customer Address Line One: <%= "#{@order.customer.address_one}" %></p>
      <p>Customer Address Line Two: <%= "#{@order.customer.address_two}" %></p>
      <p>Customer City: <%= "#{@order.customer.city}" %></p>
      <p>Customer State: <%= "#{@order.customer.state}" %></p>
      <p>Customer Postal Code: <%= "#{@order.customer.postal_code}" %></p>
    <% else %>
      <p>Customer Info Not Available</p>
    <% end %>
    <h2 class="order-info" data-number="<%= @order.number %>">Order Info</h2>
    <p>AX SALES ID: <%= @order.ax_sales_id %></p>
    <p>Total Price: $<%= @order.total_price %></p>
    <p>
      Tour Operators:
      <% @order.products.each do |product| %>
        <span>
          <%= product.operator.name %>
        </span>
      <% end %>
    </p>
    <p>Payment Status: <%= @order.authorized? ? "Authorized" : "Not Authorized" %></p>
    <p>Miscellaneous Charges?: <%= @order.miscellaneous_charges? ? 'Yes' : 'No' %></p>
    <% if @order.miscellaneous_charges? %>
      <p>Description: <%= @order.description %></p>
    <% end %>
    <%= simple_form_for(@order, url: order_update_line_items_path, method: :patch) do |f| %>
      <div class="">
        <h2 class="title"> Edit Departure Dates </h2>
        <div class="customer-fields">
          <div class="row">
            <% @line_items.each do |line_item| %>
              <div class="">
                <p>
                  Product: <%= link_to line_item.product.name, offer_path(line_item.product), target: "blank" %><br></p>
                  Quantity: <%= line_item.quantity%><br></p>
                  Price: <%= number_to_currency(line_item.price) %><br></p>
                  Requested Installments?: <%= line_item.request_installments? ? "Yes" : "No" %><br></p>
                  AX Item Code: <%= line_item.variant.item_code %> <br></p>
                  Supplier Product Code: <%= line_item.variant.supplier_product_code %> <br></p>
                </p>
                <div id=<%= "line_item_#{line_item.id}_departure_date" %>>
                  Departure Date: <%= line_item.variant.display_departure_date %>
                </div>
                <div>
                  Change Departure Date (page will refresh after choice):<br> 
                  <select class="order_line_item_variant_id" 
                          name="order[line_item][variant_id]" 
                          data-line-item-id="<%= line_item.id %>"
                          data-variant-id="<%= line_item.variant_id %>"
                          data-order-number="<%= line_item.order.number %>">
                    <% line_item.variant.similar_variants.order(departure_date: :asc).each do |variant| %>
                      <option value="<%= variant.id %>"><%= variant.display_departure_date %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>