<% if (user_signed_in?) && ( current_user.try(:admin) || current_user.has_role?("editor") || current_user.has_role?("publisher") ) %>
  <div id="table-container">
    <h1>All Orders</h1>

    <table class="table table-striped" id="orders-table">
      <thead>
      <tr>
        <th>AX SALES ID</th>
        <th>Purchase Date</th>
        <th>User</th>
        <th>User Email</th>
        <th>State</th>
        <th>Miscellaneous Charge</th>
        <th>View/Edit Order Info</th>
        <th>Offers</th>
        <th>Operator</th>
        <th>Total Price</th>
        <th>Resend Confirm</th>
        <th>View Confirm</th>
        <th>Edit Customer Info</th>
      </tr>
      </thead>
      <tfoot>
        <tr>
          <th>AX SALES ID</th>
          <th>Purchase Date</th>
          <th>User</th>
          <th>User Email</th>
          <th>State</th>
          <th>Miscellaneous Charge</th>
          <th>View/Edit Order Info</th>
          <th>Offer</th>
          <th>Operators</th>
          <th>Total Price</th>
          <th>Resend Confirm</th>
        </tr>
      </tfoot>
      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.ax_sales_id %></td>
            <td><%= local_time(order.purchase_date, '%Y-%m-%d') rescue '' %></td>
            <td><%= (order.customer.first_name.to_s + ' ' + order.customer.last_name.to_s) rescue "Error finding name" %></td>
            <td><%= order.customer.email rescue "Error finding email" %></td>
            <td><%= order.state %></td>
            <td><%= order.miscellaneous_charges? ? 'Yes' : 'No' %></td>
            <td><%= link_to "View/Edit Order Info", order_edit_line_items_path(order) %></td>
            <td>
              <% order.products.each do |product| %>
                <span>
                  <%= link_to product.name, offer_path(product) %>
                </span>
              <% end %>
            </td>
            <td>
              <% order.products.each do |product| %>
                <span>
                  <%= product.operator.name %>
                </span>
              <% end %>
            </td>
            <td><%= "$#{order.total_price}" %></td>
            <td><%= link_to "Resend Confirmation", order_resend_confirmation_path(order) %></td>
            <td><%= link_to "View Confirmation", order_view_confirmation_path(order) %>
            </td>
            <td><%= link_to "Edit Customer Info", order_edit_confirmation_path(order) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
<h3>You are not signed in or do not have the proper permissions to view this page</h3>
<% end %>
