<% if (user_signed_in?) && ( current_user.try(:admin) || current_user.has_role?("editor") || current_user.has_role?("publisher") ) %>
  <div id="table-container">
    <h1>All Places</h1>

    <table class="table table-striped" id="place-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>User Email</th>
        <th>Offer</th>
        <th>Resend Confirm</th>
        <th>View Confirm</th>
      </tr>
      </thead>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>User Email</th>
          <th>Offer</th>
          <th>Resend Confirm</th>
          <th>View Confirm</th>
        </tr>
      </tfoot>
      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td></td>
            <td><%= (order.customer.first_name.to_s + ' ' + order.customer.last_name.to_s) rescue "Error finding name" %></td>
            <td><%= order.customer.email rescue "Error finding email" %></td>
            <td><%= link_to order.offer.name, offer_path(order.offer) %></td>
            <td><%= link_to "Resend Confirmation", resend_confirmation_offer_order_path(order.offer, order, order_id: order.id) %></td>
            <td><%= link_to "View Confirmation", "/orders/#{order.id}/view_confirmation" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
<h3>You are not signed in or do not have the proper permissions to view this page</h3>
<% end %>
