<nav id='menu-ui' class='menu-ui'>
  <a href='#' class='active' data-category='all'>All Places</a>
  <a href='#' data-category='activity'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Activity_orange_text.svg" %></a>
  <a href='#' data-category='animals'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Animals_text.svg" %></a>
  <a href='#' data-category='beach'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Beach_text.svg" %></a>
  <a href='#' data-category='museum'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Museum_text.svg" %></a>
  <a href='#' data-category='park'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Park_text.svg" %></a>
  <a href='#' data-category='place_to_eat'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Place_to_Eat_text.svg" %></a>
  <a href='#' data-category='place_to_stay'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Place_to_Stay_text.svg" %></a>
  <a href='#' data-category='shopping'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Shopping_text.svg" %></a>
  <a href='#' data-category='sights'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Sights_text.svg" %></a>
  <a href='#' data-category='sport'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Sport_text.svg" %></a>
  <a href='#' data-category='theme_park'><%= image_tag "http://d1w99recw67lvf.cloudfront.net/filter_icons_rs/Theme_Park_text.svg" %></a>
</nav>
