<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="6" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img class="help-image" src="<%= asset_path('help-globe.png') %>" alt="First slide">
      <div class="help-caption">
        <p>Spin the globe to explore information about fun things for kids to do all over the world.</p>
        <p>Use the zoom tool to zoom into a country and see places within a city.</p>
      </div>
    </div>
    <div class="item">
      <img class="help-image" src="<%= asset_path('help-plane.png') %>" alt="Second slide">
      <div class="help-caption">
        <p>Click on a plane to see photos and information about that place.</p>
      </div>
    </div>
    <div class="item">
      <img class="help-image" src="<%= asset_path('help-marker.png') %>" alt="Third slide">
      <div class="help-caption">
        <p>Click on a marker to see photos and fun facts about that place.</p>
        <p>Use the filters to only see places that you think would be fun.</p>
        <p>Places with a logo have LOTS more content, including videos and games.</p>
      </div>
    </div>
    <div class="item">
      <img class="help-image" src="<%= asset_path('help-menu.png') %>" alt="Fourth slide">
      <div class="help-caption">
        <p>Use the menu to only see some types of content.</p>
        <p>Use the Back button to go back to the globe and check out another place.</p>
      </div>
    </div>
    <div class="item">
      <img class="help-image" src="<%= asset_path('help-postcard.png') %>" alt="Fifth slide">
      <div class="help-caption">
        <p>You can send an e-postcard from any photo.</p>
        <p>Enter the email address you want to sent the postcard from, and the one you’re sending it to.</p>
        <p>We don’t store either email address in our system.</p>
      </div>
    </div>
    <div class="item">
      <img class="help-image" src="<%= asset_path('help-feedback.png') %>" alt="Sixth slide">
      <div class="help-caption">
        <p>For problems or to suggest new content or features, send us an email at any time.</p>
      </div>
    </div>
    <div class="item">
      <img class="help-image" src="<%= asset_path('help-dude.png') %>" alt="Seventh slide">
      <div class="help-caption">
        <p>If you need help at any time, click on Dude.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="carousel-indicator fa fa-arrow-circle-left fa-2x"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="carousel-indicator fa fa-arrow-circle-right fa-2x"></span>
  </a>
</div>
