<div class='map-page'>
  <div id='map'></div>
</div>

<nav id='menu-ui' class='menu-ui'>
  <a href='#' class='active' data-category='all'>All Places</a>
  <a href='#' data-category='activity'><%= image_tag "Activity_orange.png" %></a>
  <a href='#' data-category='animals'><%= image_tag "Animals.png" %></a>
  <a href='#' data-category='beach'><%= image_tag "Beach.png" %></a>
  <a href='#' data-category='museum'><%= image_tag "Museums.png" %></a>
  <a href='#' data-category='park'><%= image_tag "Park.png" %></a>
  <a href='#' data-category='place_to_eat'><%= image_tag "Place_to_Eat.png" %></a>
  <a href='#' data-category='place_to_stay'><%= image_tag "Place_to_Stay.png" %></a>
  <a href='#' data-category='shopping'><%= image_tag "Shopping.png" %></a>
  <a href='#' data-category='sights'><%= image_tag "Sights.png" %></a>
  <a href='#' data-category='sport'><%= image_tag "Sport.png" %></a>
  <a href='#' data-category='theme_park'><%= image_tag "Theme_Parks.png" %></a>
</nav>

<a class="dude-help" href="#" data-toggle="modal" data-target="#helpModal">
  <img class="dude-help-icon" src="<%= asset_path('dude-01.svg')%>">
</a>

<div class="modal fade" id="areaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="area-content">
    ...
    </div>
  </div>
  <div class="footer" data-dismiss="modal">
    <%= image_tag(asset_path('back.jpg'), class: "close-button") %>
  </div>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-body">
      <%= render '/pages/help' %>
    </div>
  </div>
  <div class="footer" data-dismiss="modal">
    <%= image_tag(asset_path('back.jpg'), class: "close-button") %>
  </div>
</div>
