<%= render "layouts/navbar" %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner home-carousel" role="listbox">
    <% @carousel_places.each_with_index do |place, index| %>
    <div class="item <%= ("active" if index == 0) %> fix-img">
      <img src="<%= draw_hero_background(place) %>" class="crop-image"  alt="<%= "Hero Image for #{place.display_name }"%>">
      <div class="carousel-caption text-center text-light text-shadow">
        <div class="text-caption">
        <h1><%= place.display_name %></h1>
        <!-- <h4></h4> -->
        </div>
      </div>
    </div>
    <% end %>

  </div>

</div>
<div class="container-fluid top10 hidden-xs searchbackground">
  <div class="row containerwidth searchpadding search-nearby">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class="input-group search-responsive">
        <input type="text" class="form-control" placeholder="Search for destinations">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- /input-group -->
    </div>
    <div class="col-xs-2 col-sm-2 hidden-lg hidden-md">
      <a href="#" class="btn btn-brw-orange2 btn-search"><i class="fa fa-map-marker"></i><br>Nearby</a>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
      <a href="#" class="btn btn-brw-orange2 btn-search btn-responsive-search"><i class="fa fa-map-marker top10"></i> Nearby</a>
    </div>
  </div> <!-- row -->
</div>
<!--<div class="border-section hidden-xs"></div>-->

<div class="positionrelative">
<div class="container padding-style">
  <% unless @places_to_go.blank? %>
    <div class="text-left top20 btm20">
      <h4 class="section-title font-weight-style">Places to go</h4>
    </div>
    <div class="row" id="places_to_go-list">
        <% @places_to_go.each do |place| %>
          <div class="col-sm-6 col-md-4 col-xs-6 col-lg-4">
              <%= render partial: 'primary_categories/places_list', locals: { place: place} %>
          </div>
        <% end %>
    </div> <!-- row -->
  <% end %>
</div>
<% unless last_page? @places_to_go %>
  <div class="text-center clearfix top10 btm40 single-pagination-container" id="places_to_go-single-pagination-container" style="clear:both">
    <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
      <img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64">
    </div>
    <%= link_to "View more destinations", pages_path(areas_page: @places_to_go.next_page, resources: 'places_to_go'), class: 'btn button-orange btn-padding single-pagination', remote: true %>
  </div>
<% end %>

<!-- #hardcode (show on device mobile only) -->
<!-- #activate link_to  -->
<!-- #task
  "5 To 8 Year Olds" will link to a subcategories page where places.min_age > 4 AND places.max_age < 9
  Same for 9 to 12 year olds except change min and max age
  Teenagers where places.max_age > 12
-->
<section class="everyone visible-xs">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 bg">
        	<h5>Experiences for everyone</h5>
        	<h4 class="pink">Travelling with people of all ages</h4>
          <p class="desc">Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna justo, </p>
          <div class="image">
            <img src="http://previews.123rf.com/images/dolgachov/dolgachov1307/dolgachov130701779/21034493-holidays-and-tourism-concept-beautiful-girls-looking-into-tourist-map-in-the-city-Stock-Photo.jpg">
          </div>
          <div class="btn-everyone">
            <div class="col-xs-12 col-sm-12 col-md-6 paddingleftright0">
              <%= link_to specific_subcategories_path(age_ranges: '5-8'), class: 'btn btn-default btn-border btn-block' do %>
                5 - 8 year olds<i class="fa fa-caret-right"></i>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 paddingleftright0">
              <%= link_to specific_subcategories_path(age_ranges: '9-12'), class: 'btn btn-default btn-border btn-block' do %>
                9 - 12 year olds<i class="fa fa-caret-right"></i>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 paddingleftright0">
              <%= link_to specific_subcategories_path(age_ranges: '13-18'), class: 'btn btn-border btn-default btn-block' do %>
                Teenagers<i class="fa fa-caret-right"></i>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 paddingleftright0">
              <a href="#" class="btn btn-default btn-border btn-block">People with special needs<i class="fa fa-caret-right"></i></a>
            </div>
          </div>
        </div>
    </div> <!-- row -->
  </div>

  <div class="text-center clearfix visible-xs">
  <a href="#" class="btn button-orange top5 btmminus52">View more travellers</a>
</div>
</section>


<div class="header-image-with-nav no-nav hidden-sm hidden-xs btm20 superheight">
  <img src="http://onehdwallpaper.com/wp-content/uploads/2015/07/Full-HD-Green-Nature-Wallpapers-1080p.jpg" alt="">
  <div class="container top0 padding-style">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <div class="head-title col-md-12 col-lg-12 btmminresponsive">
        <h4 class="white" align="left">Experiences for everyone</h4>
      </div>
      <div class="col-md-12 col-lg-12">
        <h2 class="white" align="left">Travelling with people of all ages</h2>
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
      <div class="head-title col-md-12 col-lg-12" align="right">

      </div>
      <div class="col-md-12 col-lg-12 topmin20">
        <p class="white" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia magna non vehicula commodo. Nullam dapibus pellentesque euismod. Donec tempus eleifend libero, a viverra urna rutrum vel. Integer luctus nulla et bibendum vulputate. Sed vel aliquet enim. </p>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- #hardcode -->
<!-- #activate link_to  -->
<!-- #task
  "5 To 8 Year Olds" will link to a subcategories page where places.min_age > 4 AND places.max_age < 9
  Same for 9 to 12 year olds except change min and max age
  Teenagers where places.max_age > 12
-->
<div class="container hidden-sm hidden-xs topmin140 padding-style">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <%= link_to specific_subcategories_path(age_ranges: '5-8') do %>
        <div class="thumbnail padd0">
          <div class="image-cat">
            <img src="https://iitandtheworld.files.wordpress.com/2014/12/kids-and-summer-vacation-2.jpg" alt="" class="img-responsive">
          </div>
          <div class="details-dest lineheight">
            <div align="center">
              <p class="black">5 to 8 year olds</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 col-lg-4">
      <%= link_to specific_subcategories_path(age_ranges: '9-12') do %>
        <div class="thumbnail padd0">
          <div class="image-cat">
            <img src="https://iitandtheworld.files.wordpress.com/2014/12/kids-and-summer-vacation-2.jpg" alt="" class="img-responsive">
          </div>
          <div class="details-dest lineheight">
            <div align="center">
              <p class="black">9 to 12 year olds</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 col-lg-4">
      <%= link_to specific_subcategories_path(age_ranges: '13-18') do %>
        <div class="thumbnail padd0">
          <div class="image-cat">
            <img src="http://previews.123rf.com/images/mandygodbehear/mandygodbehear0807/mandygodbehear080700022/3291600-group-of-teens-on-vacation-Stock-Photo.jpg" alt="" class="img-responsive">
          </div>
          <div class="details-dest lineheight">
            <div align="center">
              <p class="black">Teenagers</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- #hardcode end-->

<% if @primary_categories.present? or @subcategories.present? %>
<div class="container visible-xs">
  <div class="text-left">
    <h4 class="section-title top36all180">Things to do</h4>
  </div>
  <div class="row">
    <% if @subcategories.present? %>
      <% @subcategories.each do |category| %>
        <div class="col-sm-6 col-md-3 col-xs-6">
          <%= link_to subcategory_path(category.identifier) do %>
            <div class="thumbnail">
              <div class="image-cat">
                 <%= image_tag category.icon.try(:url).try(:to_s) , class: 'top-rounded img-responsive' %>
              </div>
              <div class="details-dest">
                <div class="left">
                  <%= category.name %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div> <!-- row -->
</div>
<%- end %>

<!-- #hardcode -->
<!-- button will link to "all_subcategories" page -->
<div class="text-center clearfix visible-xs">
  <%= link_to 'View more things to do', subcategories_path, :class => 'btn button-orange top5 btm20' %>
</div>
<!-- #hardcode end-->

<!-- #hardcode -->
<!--
#tasks "Explore Experiences"
Each card will link to subcategories page where places.subcategory == "driving" or whatever the text of the card says
Bottom button will link to "all_subcategories" page
-->

<div class="container padding-style hidden-xs">
  <div class="text-left top20 btm30">
    <h4 class="section-title font-weight-style">Explore Things To Do</h4>
  </div>
  <div class="row" id="categories-list">
    <% @subcategories.each do |category| %>
      <% if category.eql? @subcategories.first %>
        <div class="col-lg-12 col-md-12 btm15">
          <%= link_to subcategory_path(category.identifier) do %>
            <div class="img-bg-wide outer-js">
              <%= image_tag category.icon.url.to_s , class: 'img-explore-wide inner-js' %>
              <span class="text-explore">
                <%= category.name %>
              </span>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-6 col-md-6 btm15">
          <div class="img-bg outer-js">
            <%= link_to subcategory_path(category.identifier) do %>
              <%= image_tag category.icon.url.to_s , class: 'img-explore inner-js' %>
              <span class="text-explore">
                <%= category.name %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- button will link to "all_subcategories" page -->
    <div class="col-lg-12 col-md-12 top20 btm60" align="center">
        <%= link_to 'View more things to do', subcategories_path, :class => 'btn button-orange btn-padding single-pagination' %>
    </div>
  </div>
</div>
</div>

<!-- #hardcode end -->
<%= render 'layouts/all_modal' %>
<%= render 'layouts/signin_modal' %>
<%#= render 'layouts/video_modal' %>
<%#= render 'stories/modal_story' %>

<!-- <div class="container" id="blogs">
    <h2 id="blog-title"></h2>
    <div id="blog-content"></div>
</div> -->
<%= render 'layouts/footer' %>
