<div class='map-page'>
  <div id='map'></div>
</div>

<%= render partial: 'filter_menu' %>

<!-- <a class="dude-help" href="#" data-toggle="modal" data-target="#helpModal">
  <img class="dude-help-icon" src="<%= asset_path('dude-01.svg')%>">
</a> -->

<div class="modal fade" id="areaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="area-content">
    ...
    </div>
  </div>
  <div class="footer" data-dismiss="modal">
    <%= image_tag(asset_path('back.jpg'), class: "close-button") %>
  </div>
</div>

<!-- <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-body">
      <%= render '/pages/help' %>
    </div>
  </div>
  <div class="footer" data-dismiss="modal">
    <%= image_tag(asset_path('back.jpg'), class: "close-button") %>
  </div>
</div> -->
