<div class='map-only-page'>
  <div class="slick-carousel">
    <div id='map'>
      <div id="zoomcontrol">
        <div id="zoomplus"><%=image_tag("zoomplus.png")%></div>
        <div id="zoomscroller"><%=image_tag("zoomscroller2.png")%></div>
        <div id="zoomminus"><%=image_tag("zoomminus.png")%></div>
      </div>
    </div>
    <div id="cards">
      <div class="br-logo-home"></div>
      <div class="search-wrapper">
        <input class="search-box" placeholder="Where do you want to explore?"></input>
        <div class="search-sidebar"></div>
      </div>
      <div id="card-container">
        <div id='filters' class='ui-select'>
          <div>
            <input type='checkbox' checked=checked class='filter'
                     name='filter' id='activity' value='activity'/><label for='activity'>Activity</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='animals' value='animals'/><label for='animals'>Animals</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='beach' value='beach'/><label for='beach'>Beach</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='museum' value='museum'/><label for='museum'>Museum</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='park' value='park'/><label for='park'>Park</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='place_to_eat' value='place_to_eat'/><label for='place_to_eat'>Place To Eat</label>
          </div>
          <div>
            <input type='checkbox' checked=checked class='filter'
                     name='filter' id='place_to_stay' value='place_to_stay'/><label for='place_to_stay'>Place To Stay</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='shopping' value='shopping'/><label for='shoppping'>Shopping</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='sights' value='sights'/><label for='sights'>Sights</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='sport' value='sport'/><label for='sport'>Sport</label>
            <input type='checkbox' checked=checked class='filter'
                       name='filter' id='theme_park' value='theme_park'/><label for='theme_park'>Theme Park</label>
          </div>
        </div>
        <div id="areas"></div>
        <div id="places"></div>
        <div class="clearfix"></div>
        <div class="video-game-buttons">
          <button class="video-button button" onclick="window.location.href='/videos'">
            <%= image_tag("all_videos_icon.png", size: "20x15", class: "all-game-video-icon") %>
            See All Videos
          </button>
          <button class="game-button button" onclick="window.location.href='/games'">
            <%= image_tag("all_games_icon.png", size: "20x15", class: "all-game-video-icon") %>
            Play All Games
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <footer>
        <div class="home-footer">
          <span class="top-footer"><p><a href="http://boundround.com/kids/" target="blank">Travelling Families</a> <a href="http://boundround.com/travel-industry/" target="blank">The Travel Industry</a> <a href="http://boundround.com/education/" target="blank">Teachers</a><a href=" http://boundround.com/media/" target="blank">Media</a></span></p>
          <span class="bottom-footer">
            <a href="https://www.surveygizmo.co.uk/s3/1997229/Kids-in-travel/" target="blank">Your Say</a>
            <a href="http://boundround.com/privacy-terms/" target="blank">Privacy Policy</a> <a href="http://boundround.com/about-us/" target="blank">About Us</a><a href="http://boundround.com/contact-bound-round/" target="blank">Contact</a>
          </span>
        </div>
      </footer>
    </div>
  </div>
</div>
<!--
<div class="dude-help">
  <div class="balloon-wrapper">
    <a href="#" data-toggle="modal" data-target="#helpModal">
      <div class="help-balloon">
        <div>
          <p class="balloon-dialog">Hi there!<br />Click here for the Bound Round guide.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="dude-icon-wrapper">
    <%= image_tag "dude-help.png", class: "dude-help-icon" %>
  </div>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-body">
      <%= render '/pages/help' %>
    </div>
  </div>
  <div class="footer">
    <a class="feedback" href="mailto:help@boundround.com">Send us your feedback!</a>
  </div>
</div> -->

<div id='user-ip' data-ip=<%= request.remote_ip %>></div>
<!-- Google Fonts embed code -->
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Signika:300:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
  </script>
<%= javascript_include_tag 'd3.v3.min' %>
<%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'jquery.ui' %>
<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<%= javascript_include_tag 'slick.min' %>
<%= javascript_include_tag 'slick-carousel' %>
<%= javascript_include_tag 'pages' %>
