<% if (user_signed_in?) && ( current_user.try(:admin) || current_user.has_role?("editor") || current_user.has_role?("publisher") ) %>
  <div class="container" style="padding-top:50px;">
    <%= simple_form_for @page do |f| %>
      <%= f.input :title, collection: ["home"], selected: "home" %>
      <%= f.input :hero_image_text, input_html: { class: "form-control", id: "hero-image-text"}%><br>
      Characters: <span id="hero-text-count"></span> (MAX 255)<br>
      <%= f.input :brief_headline, input_html: { class: "form-control" } %>
      <%= f.input :travel_links_headline, input_html: { class: "form-control" } %>
    <% end %>
  </div>
<% end %>
