<!--div class="vacuum-events-off">
	<div class="card-large-content-hide">
		<button id="close-large-content" style="position:absolute">Close</button>
	</div>
</div-->

<div class="area-content">
  <a href="<%= root_path %>"><input type="image" src="<%= asset_path("home-button-blue.png") %>" class="globe-home"></a>
  <div class="page-wrap">
    <div class="dropdown pull-right">
      <button class="dropdown-toggle fa fa-bars fa-3x menu-button" type="button" id="dropdownMenu1" data-toggle="dropdown">
      </button>
      <ul id="menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" data-filter="*">
            <%= image_tag 'all_icon-02.svg', class: 'dropdown-menu-icon' %>
            Show All
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" data-filter=".slider">
            <%= image_tag 'game_icon-slider.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Slider
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" data-filter=".jigsaw">
            <%= image_tag 'game_icon-01.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Jigsaw
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" data-filter=".word">
            <%= image_tag 'game_icon-wordsearch.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Word Search
          </a>
        </li>
      </ul>
    </div>
    <div class="banner-wrapper">
      <div class="banner">
        <div class="title-wrapper">
          <h1 class="title">Games</h1>
        </div>
      </div>
    </div>

    <%= will_paginate @games %>

		<div class="card-large-content-hide">
			<button id="close-large-content" style="position:absolute">Close</button>
		</div>

    <div class="cards-float">
      <% @games.each do |game| %>
				<% if (game != nil and game.place != nil and game.place.area != nil) %>

	        <div class="card-item <%= game.game_type %> card-item-small card-item-hide game-card">
	          <%= content_tag "div", class: "game-data", data: {url: game.url} do %><% end %>
						<div class="card-small-content">
	          	<div class="video-label"><%= link_to (game.place.area.display_name + ', ' + game.place.display_name), place_path(game.place.id) %></div>
	          	<!--div class="video-label"><%= link_to (game.place.display_name + ', ' + game.place.area.display_name), place_path(game.place.id) %></div-->
		          <% if game.game_type == 'jigsaw puzzle' %>
			          <div class="jigsaw-background-image">
		          <% elsif game.game_type == 'slider' %>
			          <div class="slider-background-image">
		          <% else %>
			          <div class="wordsearch-background-image">
		          <% end %>
								 	<img class="vimeo-thumb" src="<%= game_thumbnail(game) %>"/>
			          </div>
						</div>
	        </div>
				<% end %>
      <% end %>
    </div>
    <%= will_paginate @games %>
  </div>
</div>

