<%= simple_form_for(@regions_story) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :region_id %>
    <%= f.input :story_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
