<h1>Listing regions_stories</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions_stories.each do |regions_story| %>
      <tr>
        <td><%= regions_story.region_id %></td>
        <td><%= regions_story.story_id %></td>
        <td><%= link_to 'Show', regions_story %></td>
        <td><%= link_to 'Edit', edit_regions_story_path(regions_story) %></td>
        <td><%= link_to 'Destroy', regions_story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regions story', new_regions_story_path %>
