<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @regions_story.region_id %>
</p>

<p>
  <strong>Story:</strong>
  <%= @regions_story.story_id %>
</p>

<%= link_to 'Edit', edit_regions_story_path(@regions_story) %> |
<%= link_to 'Back', regions_stories_path %>
