<div id="stories" class="thing-page-segment <%= "container" if (@place.present? && (@place.class.to_s == "Country" || @place.is_area == true)) %> stories-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <% @stories = @stories_like_this if (action_name.eql? 'show') && (controller_name.eql? 'stories')%>
      <% if (controller_name.eql? "posts") || (controller_name.eql? "pages") || (action_name.eql? "all_posts") %>
        <h3>More Stories Like This</h3>
      <% else %>
        <% unless @stories.blank? %>
          <% if :flag %>
            <h3>More Stories Like This</h3>
          <% else %>
            <h3>Stories</h3>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- <div class="row"> -->
    <div class="owl-carousel carousel" id ="stories-list">
      <%= render partial: "stories/all_stories_list", collection: @stories, as: :story %>
    <!-- </div> -->
  </div> <!-- row -->
  <% unless last_page? @stories %>
    <div class="row hidden-xs single-pagination-container" id="stories-single-pagination-container">
      <div class="hidden single-pagination-loader" align="center">
        <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
      </div>
      <div class="col-xs-12">
        <div class="load-more">
          <%if params[:controller].eql? "countries" %>
            <%= link_to "LOAD MORE", paginate_stories_country_path(@country, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'single-pagination', remote: true %>
          <% elsif params[:controller].eql? "places" %>
            <%= link_to "LOAD MORE", paginate_stories_place_path(@place, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'single-pagination', remote: true %>
          <% elsif params[:controller].eql? "users" %>
            <%= link_to "LOAD MORE", paginate_stories_user_path(@user, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'single-pagination', remote: true %>
          <% else %>
            <%= link_to "LOAD MORE", paginate_posts_path(stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'single-pagination', remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
