<div class="col-md-12 text-center">
  <h2>
    Some stories from <%= @storiable.display_name %>
  </h2>
  <% if user_signed_in? %>
    <a href="#" data-toggle="modal" data-target="#storyModal" class="br_create_btn btn btn-default">+ Create story</a>
  <% else %>
    <a href="#reviews" onclick="alertSignIn()" class="br_create_btn btn btn-default">+ Create Story</a>
  <% end %>
</div>
<% @stories.each_with_index do |story, index| %>
  <% if story.user_photos.length > 0 %>
    <!-- Story with image header -->
    <div class="col-sm-12 col-md-6">
      <style>
        #story-<%= index %> {
          background:url('<%= story.user_photos.first.path_url(:small) %>') no-repeat;
          background-size: 100% 420px;
        }
      </style>
      <div class="br_story bg" id="story-<%= index %>">
                <h3><%= story.title %></h3>
                <p>
                    <%= story.content[0..280] if story.content %><%= "..." if story.content && story.content.length > 280 %>
                </p>
                <a href="#" class="br_read_more">Read story</a>
                <img src="<%= asset_path('Badge.png') %>" class="img-responsive">
        </div>
    </div>
  <% else %>
    <div class="col-sm-12 col-md-6 ">
      <div class="br_story">
        <h3><%= story.title %></h3>
        <p>
          <%= story.content %>
        </p>
        <a href="#" class="br_read_more">Read story</a>
        <img src="<%= asset_path('Badge.png') %>" class="img-responsive">
      </div>
    </div>
  <% end %>
<% end %>
