<div class="col-md-12 text-center">
  <h2>
    Some stories from <%= @storiable.display_name %>
  </h2>
  <a href="#" data-toggle="modal" data-target="#story" class="br_create_btn btn btn-default">+ Create story</a>
</div>
<% @stories.each_with_index do |story, index| %>
  <% if story.user_photos.length > 0 %>
    <!-- Story with image header -->
    <div class="col-sm-12 col-md-6">
      <style>
        #story-<%= index %> {
          background:url('<%= story.user_photos.first.path_url(:small) %>') no-repeat;
          background-size: cover;
          background-size: 100% 228px;
        }
      </style>
      <div class="br_story bg" id="story-<%= index %>">
                <h3><%= story.title %></h3>
                <p>
                    <%= story.content %>
                </p>
                <a href="#" class="br_read_more">Read story</a>
        </div>
    </div>
  <% else %>
    <div class="col-sm-12 col-md-6 ">
      <div class="br_story">
        <h3><%= story.title %></h3>
        <p>
          <%= story.content %>
        </p>
        <a href="#" class="br_read_more">Read story</a>
        <img src="<%= asset_path('Badge.png') %>" class="img-responsive">
      </div>
    </div>
  <% end %>
<% end %>
<!-- Story with background image -->
<!-- <div class="col-sm-12 col-md-6">
  <div class="br_story bg">
    <h3>The day I met a lion with Pete the trainer from Taronga Zoo!</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. Aenean non tortor id lda. Aenean non tortor id leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. non tortor id leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus
    </p>
    <a href="#" class="br_read_more">Read story</a>
  </div>
</div> -->
