<div id="stories">
  <div class="row">
    <div class="col-xs-12">
      <% @stories = @stories_like_this if (action_name.eql? 'show') && (controller_name.eql? 'stories')%>
    </div>
  </div>
    <div class="owl-carousel carousel" id ="stories-list">
      <%= render partial: "stories/all_stories_list", collection: @stories, as: :story %>
  </div> <!-- row -->
  <% unless last_page? @stories %>
    <div class="row hidden-xs single-pagination-container" id="stories-single-pagination-container">
      <div class="hidden single-pagination-loader" align="center">
        <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
      </div>
      <div class="col-xs-12">
        <div class="see-more">
          <%if params[:controller].eql? "countries" %>
            <%= link_to "SEE MORE", paginate_stories_country_path(@country, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'see-more__link', remote: true %>
          <% elsif params[:controller].eql? "places" %>
            <%= link_to "SEE MORE", paginate_stories_place_path(@place, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'see-more__link', remote: true %>
          <% elsif params[:controller].eql? "users" %>
            <%= link_to "SEE MORE", paginate_stories_user_path(@user, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'story'), class: 'see-more__link single-pagination', remote: true %>
          <% elsif params[:controller].eql? "attractions" %>
            <%= link_to "SEE MORE", paginate_stories_attraction_path(@attraction, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'see-more__link', remote: true %>
          <% elsif params[:controller].eql? "regions" %>
            <%= link_to "SEE MORE", paginate_stories_region_path(@region, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'see-more__link', remote: true %>
          <% elsif params[:controller].eql? "pages" %>
            <%= link_to "SEE MORE", paginate_stories_page_path(@page, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'see-more__link', remote: true %>
          <% else %>
            <%= link_to "SEE MORE", paginate_posts_path(stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_list', collection_object: 'stories'), class: 'see-more__link', remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
