<div class="col-md-12 text-center">
  <h2>
    Some stories from <%= @storiable.display_name %>
  </h2>
  <% if user_signed_in? %>
    <a href="#" data-toggle="modal" data-target="#storyModal" class="br_create_btn btn btn-default">+ Create story</a>
  <% else %>
    <a href="#reviews" onclick="alertSignIn()" class="br_create_btn btn btn-default">+ Create Story</a>
  <% end %>
</div>
<% @stories.each_with_index do |story, index| %>
  <% if story.user_photos.length > 0 %>
    <!-- Story with image header -->
    <div class="col-sm-12 col-md-6">
      <style>
        #story-<%= index %> {
          background:url('<%= story.user_photos.first.path_url(:small) %>') no-repeat;
          background-size: 100% 420px;
        }
      </style>
      <div class="br_story bg" id="story-<%= index %>">
                <h3><%= story.title %></h3>
                <p>
                    <%= story.content[0..280] if story.content %><%= "..." if story.content && story.content.length > 280 %>
                </p>
                <a href="#" data-toggle="modal" data-target="#userStory" data-content="<%= story.content %>"
                  data-title="<%= story.title ? story.title : @place.display_name %>" data-user="<%= story.user.email.match(/^(.*?)@/)[1] %>"
                  <% story.user_photos.each_with_index do |photo, index| %>
                  data-image-<%= index %>="<%= photo.path_url(:medium) %>"
                  <% end %>
                  class="br_read_more">Read story</a>
                <img src="<%= asset_path('Badge.png') %>" class="img-responsive">
        </div>
    </div>
  <% else %>
    <div class="col-sm-12 col-md-6 ">
      <div class="br_story">
        <h3><%= story.title %></h3>
        <p>
          <%= story.content %>
        </p>
        <a href="#" data-toggle="modal" data-target="#userStory" data-content="<%= story.content %>"
                  data-title="<%= story.title ? story.title : @place.display_name %>" data-user="<%= story.user.email.match(/^(.*?)@/)[1] %>">
        <img src="<%= asset_path('Badge.png') %>" class="img-responsive">
      </div>
    </div>
  <% end %>
<% end %>

<div class="modal fade" id="userStory">
      <div class="modal-dialog">
        <div class="modal-content" id="storyHeroImage">
          <button type="button" class="close" id="story-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="mid-cont">
              <h1 class="text-center" id="story-title">

              </h1>
              <h3 class="text-center" id="story-user"></h3>

              <div class="mid-cont" id="story-image-2">

                  <span id="story-content"></span>
                  <div class="clearfix"></div>
                <div class="slider-cont">

                    <div id="story-image-3">

                  </div>
                </div>
              </div>
              <hr/>
              <div class="br_modal-footer text-center">
                <a href="#" data-dismiss="modal" aria-label="Close" >Cancel</a>
              </div>
            </div>
          </div>
      </div><!-- /.modal-content -->
    </div>

    <script>
      $('.br_read_more').on('click', function(e){
        e.preventDefault();
        var title = $(this).data('title');
        var user = $(this).data('user');
        var content = $(this).data('content');
        var image1 = $(this).data('image-0');
        console.log(image1);
        var image2 = $(this).data('image-1');
        var image3 = $(this).data('image-2');
        $('#story-user').html("by " + user);
        $('#story-title').html(title);
        $('#story-content').html(content);
        if (image1)
          $('#storyHeroImage').prepend("<div id='image-1' class='img-cont share story-hero-container'><img src=" + image1 + " class='story-image'></div>");
        if (image2)
          $('#story-image-2').prepend('<div id="image-2" class="pull-right side-img-cont share"><div class="share-btn"><img src=' + image2 + ' class="story-image"></div></div>');
        if (image3)
          $('#story-image-3').html("<div class='img-cont2 share z-up'><div class='share-btn'><img src=" + image3 + " class='story-image'></div></div>");

      });

      $('#story-close').on('click', function(){
        $('#image-1').remove();
        $('#image-2').remove();
      });
    </script>
