<div class="col-sm-6 col-lg-4">
  <div class="inspiration-item wrap_link_card">
  <a class="link_card" href="<%= story.class.to_s == "Story" ? story_path(story) : post_path(story) %>"></a>
      <div class="user-dp"
           style="background: url(<%= showing_image(story.hero_image_url)%>) no-repeat;
                  background-size: cover !important;"
           role="img"
           aria-label="User: <%= story.user.name %>">
      </div>
      <h4 class="inspiration-item__header"><%= raw story.title.blank? ? story.title : story.title.truncate(50) %></h4>
      <a class="inspiration-item__link" href="<%= story.class.to_s == "Story" ? story_path(story) : post_path(story) %>">read more</a>
      <span class="inspiration-item__mark">Featured Article</span>
  </div>
</div>
