<% unless stories.blank? %>
<div id="stories" class="container stories-wrapper">
<div class="row">
    <div class="col-xs-12">
        <h3>Stories</h3>
    </div>
</div>
<div class="row">
    <div class="owl-carousel carousel">
      <% stories.each_with_index do |story, index| %>
          <% if  story.class.to_s.eql? "Story" %>
            <div class="col-md-6 story-wrapper">
                <div class="story"
                     data-class="story"
                     data-content="<%= story.content %>"
                     data-title="<%= story.story_title ? story.story_title : @storiable.display_name %>"
                     data-user="<%= story.user.name %>"
                      <% story.story_images.each_with_index do |photo, index| %>
                        data-image-<%= index %>="<%= photo %>"
                      <% end %> 
                >
                    <div class="story-header-details-wrapper">
                        <div class="user-dp" 
                             style="background: url(<%=  story.story_images.first %>) no-repeat;"
                             role="img" 
                             aria-label="User: <%= story.user.name %>"></div>
                        <div class="username"><%= story.user.name %></div>
                        <div class="date hidden-xs"><%= story.created_at.strftime("%B %Y") %></div>
                    </div>
                    <div class="story-content">
                        <h4 class="story-title"><%= raw story.title %></h4>
                        <p><%= raw story.teaser %></p>

                        <div class="story-desc">
                            <%= raw story.content[0..280]+"..." %>
                        </div>
                        <div class="story-img" style="background: url(/assets/new-images/goat.jpg) no-repeat;" role="img"
                             aria-label="Story Image"></div>
                    </div>
                </div>
            <!-- </div> -->
            <% else %> <!-- API BLOG -->
            <div class="col-md-6 story-wrapper">
                <div  class="story"
                      id="blog-<%= story.id %>"
                      data-class="apiblog" 
                      data-id="<%= story.id %>" 
                      data-cat="<%= (@category ? params[:id] : "") rescue '' %>" 
                      data-place="<%= @place.display_name.parameterize rescue '' %>"
                >
                    <div class="story-header-details-wrapper">
                        <div class="user-dp" 
                             style="background: url(<%= asset_path('br-logo-new-blue.png') %>) no-repeat;background-position: center;background-size: cover !important;"
                             role="img" 
                             aria-label="User: Bound Round">
                             </div>
                        <div class="username">Bound Round</div>
                        <div class="date hidden-xs"><%= DateTime.parse(story.created_at).strftime("%B %Y") %></div>
                    </div>
                    <div class="story-content">
                        <h4 class="story-title"><%= raw story.title %></h4>

                        <div class="story-desc">
                            <%= story.content.gsub(/(<[^>]+>)/, '').truncate(200) %>
                        </div>
                        <div class="story-img" style="background: url(<%= story.image.blank? ? draw_hero_background(@place) : story.image %>) no-repeat;" role="img"
                             aria-label="Story Image"></div>
                    </div>
                </div>
            </div>

        <% end %>

        <% end %>
        
    </div>
</div> <!-- row -->

<div class="row">
    <div class="col-xs-12">
        <div class="load-more hidden-xs"><a href="#">LOAD MORE</a></div>
        <hr/>
    </div>
</div>
</div>
<% end %>