<% unless stories.blank? %>
  <section class="your-stories cards">
    <div class="text-left">
      <h4 class="section-title"><%= title %></h4>
    </div>
      <% stories.each_with_index do |story, index| %>
          <% if  story.class.to_s.eql? "Story" %>
              <div class="card"
               data-class="story"
               data-content="<%= story.content %>"
               data-title="<%= story.title ? story.title : @storiable.display_name %>"
               data-user="<%= story.user.name %>"
                              <% story.user_photos.each_with_index do |photo, index| %>
                                data-image-<%= index %>="<%= photo.path_url(:medium) %>"
                              <% end %>>
                <div class="head-stories">
                  <div class="left">
                    <a href="#">
                      <div class="profile-outer">
                        <img src="<%= showing_image(story.user.avatar_url)%>" alt="">
                      </div>
                      <div class="profile-text">
                        <%= story.user.name %>
                      </div>
                     </a>
                  </div>
                  <div class="right"><a href="#"><i class="fa fa-image"></i> <%= story.user.photos.size %>
                  </a>&nbsp;&nbsp;<a href="#"><i class="fa fa-youtube-play"></i> <%= story.user.videos.size %></a>
                  </div>
                </div>
                <div class="body-stories btm15">
                  <div class="p-dynamic">
                    <% if !story.user_photos.blank? %>

                    <% end %>
                    <p class="visited"><%= story.created_at.strftime("%B %Y") %></p>
                    <p class="mrg0 pink"><%= story.title.html_safe %> </p>
                     <%= story.content[0..280] + "..." %>
                  </div>
                <div class="img-story-place outer-js">
                  <% if !story.user_photos.blank? %>
                    <img class="no-inner-js" align="right" src="<%= story.user_photos.first.path_url(:medium) %>" alt="">
                  <% end %>
                </div>
            </div><!-- card -->
          <% elsif story.class.to_s.eql? "ApiBlog" %>
            <div class="card" id="blog-<%= story.id %>"data-class="apiblog" data-id="<%= story.id %>" data-cat="<%= (@category ? params[:id] : "") rescue '' %>" data-place="<%= @place.display_name.parameterize rescue '' %>">
              <div class="head-stories">
                <div class="left">
                  <a href="#">
                    <div class="profile-outer">
                      <img src="<%= asset_path('br-logo-new-blue.png') %>" alt="">
                    </div>
                    <div class="profile-text">
                      Bound Round
                    </div>
                   </a>
                </div>
                <div class="right">
                </div>
              </div>
              <div class="body-stories btm15">
                <div class="p-dynamic blog">
                  <p class="visited"><%= DateTime.parse(story.created_at).strftime("%B %Y") %></p>
                  <p class="mrg0 pink"><%= raw story.title %></p>
                  <div class="blog-content"><%= raw story.content %></div>
                </div>
                <div class="img-story-place outer-js">
                <%# if !story.user_photos.blank? %>
                  <img class="no-inner-js" align="right" src="<%= story.image.blank? ? draw_hero_background(@place) : story.image %>" alt="">
                  <%# end %>
                </div>
              </div>
            </div>
          <% end %> <!-- /if -->
        <% end %> <!-- /each -->
      <div class="text-center btm20 clearfix">
        <button class="btn btn-default black top5 load-more">Load more stories</button>
      </div>
  </section> <!-- /story -->
<% end %>
