<div class="container">
	<div class="row">
		<%=  form_for @story do |f| %>
			<div class="col-md-12 top70">
				<div>
					<p style="padding-bottom:25px;">
						<%= f.select :public, [['Public', true], ['Private', false]] %>
					</p>
				</div>
				<div class="outer-profile" style="background: url('<%= @new_story.user.avatar_url rescue '' %>') no-repeat;">
        </div>
        <div style="color:#fd7c56;"><%= @new_story.user.username rescue "" %></div>
			</div>
			<div class="col-md-12">
				<div class="title-editable" > </div>
				<div class="content-editable" ></div>
				<center><button class="btn btn-primary top20 btm20" id="submit_story"> Update Story</button></center>
			</div>
			<!-- :url => {:controller => "your-controller-name", :action => "your-action-name"} -->
				<% if current_user.admin? %>
					<%= f.label "Bound Round Status" %>
					<%= f.select :status, ["draft", "live", "removed"] %>
				<% end %>
				<%= f.hidden_field :title %>
				<%= f.hidden_field :content %>
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :date %>
				<%= f.submit "", style: :"display:none;", id:"submit-form-story" %>
			<% end %>

		<!-- </div> -->
	</div>
</div>

<%= javascript_tag do -%>
	function edit_story(){
		var title = $(".title-editable");
		content = $(".content-editable");

		title.html( $("#story_title").val());
		content.html( $("#story_content").val() );
	}

	edit_story();
<% end -%>
