<div class="loading">Loading&#8230;</div>
<div class="container">
  <div class="row">
    <%=  form_for @story, method: :post do |f| %>
      <div class="col-md-12 top70">
        <div>
          <p style="padding-bottom:25px;">
            <%#= f.select :public, [['Public', true], ['Private', false]] %>
            <% if current_user.admin? %>
              <%= f.label "Publish Date" %><br>
              <%= f.date_field :publish_date %><br>
              <%= f.label "Change User" %><br>
            <% end %>
            <% if current_user.admin? || current_user.has_role?("contributor") %>
              <%= f.label "SEO Friendly URL" %><br>
              <%= f.text_field :seo_friendly_url, class: "form-control" %><br>
              <%= f.label "Choose a title for this story" %><br>
              <%= f.text_field :title, class: "form-control story-title-edit" %>
            <% end %>
            <% if current_user.has_role? "contributor" %>
              <%= f.hidden_field :publish_date, :value => Time.now %><br>
            <% end %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </p>
        </div>
      </div>
    <center>
      <%= f.submit 'Submit Story', class: 'btn btn-primary top20 btm20' %>
    </center>
    <% end %>
  </div>
</div>
