<div class="container">
	<div class="row">
			<%=  form_for @new_story ,  url: create_story_place_path, method: :post do |f| %>
			<div class="col-md-12 top70">
				<div>
					<p style="padding-bottom:25px;">
						<%= f.select :public, [['Public', true], ['Private', false]] %>
					</p>
				</div>
				<div class="outer-profile">
          <img src="<%= current_user.avatar_url rescue "" %>" />
        </div>
        <div style="color:#fd7c56;"><%= current_user.username rescue "" %></div>
			</div>
			<div class="col-md-12">
				<div class="title-editable" > </div>
				<div class="content-editable" ></div>
				<center> <button class="btn btn-primary top20 btm20" id="submit_story"> Post Story</button> </center>
			</div>
				<%= f.hidden_field :title %>
				<%= f.hidden_field :content %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :date, :value => Time.now %>
				<%= f.submit "", style: :"display:none;", id:"submit-form-story" %>
			<% end %>

	</div>
</div>

	<!-- $("#medium-editor-toolbar-1").find("button.medium-editor-action.medium-editor-action-h2").click(); -->
<%= javascript_tag do -%>

	$(document).ready(function(){
		<!-- $(".title-editable").find("p").replaceWith("<h2>Titile...</h2>"); -->
	 });
<% end -%>
