<div class="container">
  <%= render "/stories/admin_tabs" %>
  <h1>SEO Analysis</h1>
  <%= form_for @story do |f| %>
    <div class="col-md-4">
      <%= f.label "Focus Keyword: " %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :focus_keyword, class: "form-control" %>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-4">
      <%= f.label "SEO Title: " %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :seo_title , class: "form-control", id: "seo-title" %>
      <span id="seo-title-count">0</span> characters entered. (72 max)<br>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-4">
      <%= f.label "Meta Description: " %>
    </div>
    <div class="col-md-8">
      <%= f.text_area :meta_description , class: "form-control", id: "meta-description" %>
      <span id="meta-description-count">0</span> characters entered. (156 max)<br>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-11">
    </div>
    <div class="col-md-1">
      <%= f.button "Save" , class: "btn btn-primary" %>
    </div>
  <% end %>
  <br>
  <hr>
  <br>
  Total Word Count(>300 recommended): <%= @story.word_count %><br>
  Keyword Density(Optimum Between 1 and 3 percent): <%= (@story.get_keyword_density * 100).round(2) %>&#37;

</div>
