<% provide(:title, @story.title) %>
<% provide(:category, @story.teaser) %>
<% provide(:description, @story.description) %>
<% provide(:og_image, @story.hero_image.url.gsub("https://", "http://")) rescue "" %>
<% provide(:og_secure_image, @story.hero_image.try(:url)) %>

<div class="stories-show">
	<div class="container">
		<div class="row">
	    <p><div style="color:#fd7c56;margin-top:-7px;"></div></p>
			<div class="col-md-12 text-center"><h2><%= @story.title.html_safe %></h2></div>
			<div class="text-center">
				by&nbsp;
		    <% if @story.user.is_private? %>
		      <%= @story.user.username rescue "" %>
		    <% else %>
		      <%= link_to @story.user.username, public_profile_user_path(@story.user) %>
		    <% end %>
		  </div>
			<div class="story-avatar" style="background: url('<%= @story.user.avatar_url rescue '' %>') no-repeat;"></div>
			<div class="col-md-12"><%= @story.content.html_safe %></div>
		</div>
	</div>
</div>

<div class="social-container">
  <div class="container">
    <section class="col-lg-2 col-md-2 col-xs-5">
      <div class="share-title">Share This</div>
      <ul class="share-buttons">
        <li><div class="share-button" id="shareBtn" title="Share on Facebook"><img class="share-icon" src="<%= asset_path('social_icons/Facebook.png') %>"></div></li>
        <li><a class="twitter-share-button" href="https://twitter.com/intent/tweet?source=&text=<%= "#{@story.title} #{post_url(@story)}%20%23SeeItMyWay"%>" target="_blank" title="Tweet"><img  class="share-icon" src="<%= asset_path('social_icons/Twitter.png') %>"></a></li>
        <!-- <li><div href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="<%= asset_path('social_icons/Google+.png') %>"></div></li>
        <li><div href="http://pinterest.com/pin/create/button/?url=&description=" target="_blank" title="Pin it"><img src="<%= asset_path('social_icons/Pinterest.png') %>"></div></li> -->
        <!-- <li><div href="mailto:?subject=&body=:%20" target="_blank" title="Email"><img  class="share-icon" src="<%= asset_path('social_icons/Email.png') %>"></div></li> -->
      </ul>
    </section>
    <section class="col-lg-3 col-md-3 col-xs-5">
      <div class="favourites-wrapper">
        <% if user_signed_in? && @story.users.include?(current_user) %>
          <div class="favourites-title hidden-xs">Remove from favourites</div>
          <div class="icon-favourite selected like-icon" id="favouriteType" data-post-path="stories_users" data-klass="story" data-liked="true" data-place-id="<%= @story.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
        <% else %>
          <div class="favourites-title hidden-xs" >Add to favourites</div>
          <div class="icon-favourite like-icon" id="favouriteType" data-post-path="stories_users" data-klass="story" data-liked="false" data-place-id="<%= @story.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
        <% end %>
      </div>
    </section>
  </div>
</div>

<% if @stories_like_this.present? %>
  <section class="your-stories video-show">
    <div class="container">
      <div class="text-left">
      </div>
      <div class="row">
        <%= render partial: "all_stories", :locals => {flag: true} %>
      </div>
    </div>
  </section>
<% end %>

<% unless @places_to_visit.blank? %>
  <div class="thing-page">
    <div class="background">
      <div id="thingstodo" class="container dest-things-wrapper">
        <div class="row">
          <div class="col-xs-12">
            <h3>Things to do</h3>
          </div>
        </div>
        <div class="row">
          <div class="owl-carousel carousel" id="places_to_visit-list">
            <%= render partial: 'places_to_visit_list', collection: @places_to_visit, as: :area %>
          </div>
        </div>
        <% unless last_page? @places_to_visit %>
          <div class="row hidden-xs single-pagination-container" id="places_to_visit-single-pagination-container">
            <div class="col-xs-12 load-more">
              <div class="hidden single-pagination-loader" align="center">
                <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
              </div>
              <%= link_to "LOAD MORE", paginate_place_story_path(@story, places_to_visit_page: @places_to_visit.next_page, resources: 'places_to_visit', collection_object: 'area'), class: 'single-pagination', remote: true %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @region_stories.present? %>
  <section class="your-stories video-show">
    <div class="container">
      <div class="text-left">
      </div>
      <div class="row">
        <%= render partial: "regions/all_regions", :locals => {flag: true} %>
      </div>
    </div>
  </section>
<% end %>

<%# if @stories.present? %>
  <!-- <section class="your-stories video-show">
    <div class="container">
      <div class="text-left"></div>
      <div class="row">
        <%#= render partial: "stories/all_stories"%>
      </div>
    </div>
  </section> -->
<%# end %>

<script>
(function(){
	setTimeout(function(){
		var crosses = document.querySelectorAll('.medium-insert-buttons');
		crosses.forEach(function(cross){
			cross.style.display = "none";
		});
	}, 1000);
})();
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: "<%= post_url(@story) %>"
  }, function(response){});
}
</script>
