<% provide(:title, @story.title) %>
<% provide(:category, @story.teaser) %>
<% provide(:description, @story.description) %>
<% provide(:og_image, @story.hero_image_url.gsub("https://", "http://")) rescue "" %>
<% provide(:og_secure_image, @story.hero_image_url) %>
<!-- KEEP THE CODE ABOVE -->
<div class="story">
    <div class="story-content-block width-limiter">
        <aside class="desktop-only">
            <h5 class="xs-heading lars blue">Latest stories</h5>
            <ul class="featured-articles">
                <%= render partial: "stories/all_stories_white", collection: @latest_stories, as: :story %>
            </ul>

        </aside>

        <section>
            <article>
                <h1><%= @story.title.html_safe %></h1>
                <div class="info-block">
                    <ul class="social-icons-block">
                        <li class="fb">
                            <a id="shareBtn" data-url="<%= post_url(@story) %>" style="cursor: pointer;"></a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/intent/tweet?source=&text=<%= "#{@story.title} #{post_url(@story)}"%>" target="_blank"></a>
                        </li>
                        <li class="google">
                            <a href="https://plus.google.com/share?url=<%= post_url(@story)%>" target="_blank"></a>
                        </li>
                        <!-- <li class="zuzu">
                            <a href="#"></a>
                        </li> -->
                    </ul>
                    <div class="help-block">
                        <p>Send this</p>
                        <a href="#" class="hb-print"></a>
                        <a href="#" class="hb-email"></a>
                    </div>
                </div>

                <div class="author-block">
                    <img class="cover-bg" style="background: url('<%= @story.author.present? ? @story.author.image : asset_path('mydiscoveries_icon/logo-short.png') %>') center no-repeat;">
                    <span class="ab-author">
                        <% if @story.author.blank? %>
                            <%= @story.user.name.present? ? story.user.name.truncate(28) : "MyDiscoveries" %>
                        <% else %>
                            <%= link_to @story.author.name, author_path(@story.author) %>
                        <% end %>
                    </span>
                    <span class="ab-date"><%= @story.publish_date.strftime("%d %B %Y") %></span>
                </div>
                <%= @story.content.html_safe %>

            </article>

        </section>

        <aside class="mobile-only">
            <h5 class="xs-heading lars blue">Latest stories</h5>
            <ul class="featured-articles">
                <%= render partial: "stories/all_stories_white", collection: @latest_stories, as: :story %>
            </ul>

        </aside>
    </div>

</div>
<!-- KEEP THE CODE -->
<script>
(function(){
	setTimeout(function(){
		var crosses = document.querySelectorAll('.medium-insert-buttons');
		crosses.forEach(function(cross){
			cross.style.display = "none";
		});
	}, 1000);
})();
</script>
