<% provide(:title, @story.title) %>
<% provide(:category, @story.teaser) %>
<% provide(:description, @story.description) %>
<% provide(:og_image, @story.hero_image.url.gsub("https://", "http://")) rescue "" %>
<% provide(:og_secure_image, @story.hero_image.try(:url)) %>
<!-- KEEP THE CODE ABOVE -->
<div class="story">
    <div class="story-content-block width-limiter">
        <aside>
            <div class="share-story">
                <img src="../images/up-dash-img1.jpg" alt="">
                <div class="ss-content">
                    <p>Lorem ipsum dolor sit amet,  nec solum </p>
                    <a href="<%= new_story_path %>" class="btn-bordered white invert">share a story</a>
                </div>
            </div>
            <h5 class="xs-heading lars blue">Latest stories</h5>
            <ul class="featured-articles">
            <% @latest_stories.each do |story| %>
                <li>
                    <div class="fa-img-block">
                        <img  style="background: url(<%= showing_image(story.hero_image_url) %>) center no-repeat;" class="cover-bg" >
                        <!-- <img src="http://lorempixel.com/400/200/city" alt=""> -->
                    </div>
                    <p class="xs-heading"><%= raw story.title.blank? ? story.title : story.title.truncate(65) %></p>
                    <a class="btn-bordered red small" href="javascript:void(0)" onclick="window.location='<%= story.class.to_s == "Story" ? story_path(story) : post_path(story) %>'">READ MORE</a>
                    <span class="label-article">Featured Article</span>
                </li>
            <% end %>
            </ul>

        </aside>

        <section>
            <article>
                <h1><%= @story.title.html_safe %></h1>
                <div class="info-block">
                    <ul class="social-icons-block">
                        <li class="fb">
                            <a href="#"></a>
                        </li>
                        <li class="twitter">
                            <a href="#"></a>
                        </li>
                        <li class="google">
                            <a href="#"></a>
                        </li>
                        <li class="zuzu">
                            <a href="#"></a>
                        </li>
                    </ul>
                    <div class="help-block">
                        <p>Send this</p>
                        <a href="#" class="hb-print"></a>
                        <a href="#" class="hb-email"></a>
                    </div>
                </div>

                <div class="author-block">
                    <img class="cover-bg" style="background: url('<%= @story.user.avatar_url rescue '' %>') center no-repeat;">
                    <span class="ab-author">
                      <% if @story.user.is_private? %>
                        <%= @story.user.username rescue "" %>
                      <% else %>
                        <%= link_to @story.user.username, public_profile_user_path(@story.user) %>
                      <% end %>
                    </span>
                    <span class="ab-date"><%= @story.publish_date.strftime("%d %B %Y") %></span>
                </div>
                <%= @story.content.html_safe %>

            </article>

        </section>
    </div>

</div>
<!-- KEEP THE CODE -->
<script>
(function(){
	setTimeout(function(){
		var crosses = document.querySelectorAll('.medium-insert-buttons');
		crosses.forEach(function(cross){
			cross.style.display = "none";
		});
	}, 1000);
})();
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: "<%= post_url(@story) %>"
  }, function(response){});
}
</script>
