<% variable = @place.blank? ? @attraction : @place %>
<% path = (variable.eql? @place)? 'place' : 'attraction' %>
<% if user_signed_in? && current_user.admin? %>
  <div class="container">
    <%= render "/#{path}s/admin_tabs" %>
    <h2>Create New Deal</h2>
    <%= link_to "Back To Edit #{variable.display_name}", eval("edit_#{path}_path(variable)")%>
    <%= simple_form_for [@dealable, @deal] do |f| %>
      <%= f.input :url, input_html: { class: "form-control"} %>
      <%= f.input :title, input_html: { class: "form-control"} %>
      <%= f.input :description, input_html: { id: "data", class: "form-control", onkeyup: "countChars('data', 'charCount')", onkeydown: "countChars('data', 'charCount')", onmouseout: "countChars('data', 'charCount')"} %>
      <span id="charCount">0</span> characters entered. (255 max)<br>
      <%= f.input :min_price, label: "Priced From", input_html: { class: "form-control"} %>
      <%= f.input :status, collection: ["live", "draft", "removed"], input_html: { class: "form-control"} %>
      <%= f.input :hero_image, as: :file, input_html: { class: "form-control"} %>
      <%= f.submit "Create New Deal", class: "btn btn-primary" %>
    <% end %>
    <div class="border-section btm20"></div>
  </div>
  <script type="text/javascript">

  </script>
<% end %>
