<div class="container">
  <div class="hidden">

    <div id="similar-countries-js" data-similar="<%= array_countries_stories_ids(@story.countries_stories) %>">
    </div>
  </div>
  <h1>Add To Countries</h1>
  <%= render "/stories/admin_tabs" %>
  <%= simple_form_for [@story, @countries_stories] do |f| %>
    <div id="dual-list-box-stories-countries" class="form-group row">
      <select multiple="true" id="js-area-dual-box" class="dualbox" data-json="false" data-title="stories-countries" name="countries_story[country_ids][]">
        <%= @countries.each do |country| %>
          <option value="<%= country.id %>" name="<%= country.display_name %>"><%= country.display_name %></option>
        <% end %>
     </select>
   </div>
    <%= f.submit :submit %>
  <% end %>
</div>
<script>

</script>
