
  <div id="photos-masonry">
    <div class="grid-sizer"></div>
    <div class="item about">
      <div class="dude">
        <img src="<%= asset_path('dude-01.svg')%>">
      </div>
      <div class="about-wrapper">
        <div class="about-hero">
          <% if @hero_video %>
            <iframe class="hero-video" id="player1" src="//player.vimeo.com/video/<%= @hero_video.vimeo_id %>?api=1&player_id=player1" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <% else %>
            <% unless @area.photos.empty? %>
              <% if @area.photos.find_by(priority: 1) %>
                <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="<%= @area.photos.find_by(priority: 1).path_url(:large) %>" media="(min-width: 800px)">
                  <source srcset="<%= @area.photos.find_by(priority: 1).path_url(:medium) %>" media="(min-width: 500px)">
                  <!--[if IE 9]></video><![endif]-->
                  <img class="hero-photo" srcset="<%= @area.photos.find_by(priority: 1).path_url(:small) %>">
                </picture>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="about-content">
          <h3>About <%= @area.display_name %></h3>
          <div id="area-content">
            <p><%= raw @area.description %></p>
          </div>
        </div>
      </div>
    </div>
    <% unless @area.photos.empty? %>
    <% @area.photos.each_with_index do |photo, index| %>
        <div class="item photo photo-card photo-thumb">
          <div class="game-divider"></div>
          <%= content_tag "div", class: "photo-data", data: {photo_url: photo.path_url(:large)} do %>
          <% end %>
          <img class="game-thumbnail" src="<%= photo.path_url(:small) %>"/>
          <div class="priority"><%= photo.priority ? photo.priority : 2 %></div>
          <div id="fun-fact-<%= index %>" class="fun-fact">
            <p><%= raw photo.caption %></p>
            <a href="#" data-toggle="modal" data-target="#postCardModal-<%= index %>">
              <img class="postcard-icon" src="<%= asset_path ('postcard_icon-01.svg') %>"/>
            </a>
            <!-- Modal -->
            <div class="modal post-modal fade" id="postCardModal-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog postcard-dialog">
                <div class="modal-content postcard-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Send A Postcard!</h4>
                  </div>
                  <div class="modal-body">
                    <div class="post-card-form">
                      <%= form_tag(send_postcard_path) do %>
                          <div class="form-group">
                              <%= label_tag 'name', 'Your Email Address' %>
                              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Email Address' %>
                          </div>
                         <div class="form-group">
                             <%= label_tag 'email', 'Send To: Email Address' %>
                             <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Recipient Email Address' %>
                         </div>
                         <div class="form-group">
                             <%= label_tag 'message', 'Message' %>
                             <%= text_area_tag 'message', nil, class: 'form-control', rows: 4 %>
                             <%= hidden_field_tag 'photo', photo.path_url(:medium) %>
                             <%= hidden_field_tag 'place', @area.display_name %>
                             <%= hidden_field_tag 'area', '' %>
                             <%= hidden_field_tag 'country', @area.country %>
                         </div>
                         <div class="form-group">
                           <%= submit_tag 'Send', class: 'btn btn-default btn-about' %>
                         </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>

<!-- <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-body">
      <%= render '/pages/help' %>
    </div>
  </div>
  <div class="footer" data-dismiss="modal">
    <%= image_tag(asset_path('back.jpg'), class: "close-button") %>
  </div>
</div> -->
