<%= simple_form_for [@area, Photo.new] do |f| %>
  <div class="form-group">
    <%= f.input :title %>
  </div>
  <div class="form-group">
    <%= f.file_field :path %>
  </div>
  <div class="form-group">
    <%= f.input :credit %>
  </div>
  <div class="form-group">
    <%= f.input :area_id, as: :hidden, input_html: { value: '5'} %>
  </div>
  <div class="form-group">
    <%= f.submit :submit %>
  </div>

<% end %>
