<h1>Edit Area</h1>
<%= render "photo_form" %>
<% @area.photos.each do |photo| %>
      <%= simple_form_for [@area, photo] do |f| %>
        <%= image_tag photo.path_url(:tablet) %>
        <div class="form-group">
          <%= f.input :title %>
        </div>
        <div class="form-group">
          <%= f.file_field :path, as: :file %>
        </div>
        <div class="form-group">
          <%= f.input :credit %>
          <%= f.input :area_id, as: :hidden %>
          <%= f.submit :submit %>
        </div>
      <% end %>
    <% end %>
<%= simple_form_for @area, html: { role: 'form'} do |f| %>

    <div class="form-group">
      <%= f.input :display_name, label: 'Area Name' %>
    </div>
    <div class="form-group">
      <%= f.input :code, label: 'Airport Code' %>
    </div>
    <div class="form-group">
      <%= f.input :identifier, label: 'Identifier' %>
    </div>
    <div class="form-group">
      <%= f.input :country, priority: ['', 'Australia', 'United States of America'] %>
    </div>
    <div class="form-group">
      <%= f.input :short_intro, label: 'Short Intro' %>
    </div>
    <div class="form-group">
      <%= f.text_area :description, placeholder: 'Description' %>
    </div>
    <div class="form-group">
      <%= f.text_area :address, placeholder: 'Address' %>
    </div>
    <div class="form-group">
      <%= f.submit :submit %>
    </div>
  <%end%>
