<h1>Edit Area</h1>
  <div class="container">
    <h3>Add / Change Photos</h3>
    <div id="area-carousel" class="carousel slide">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @area.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="item active">
              <%= simple_form_for [@area, photo] do |f| %>
                <div class="carousel-image">
                  <%= image_tag "http://trial.resrc.it/" + photo.path_url, class: 'resrc small-photo' %>
                </div>
                <div class="form-group">
                  <%= f.input :title, input_html: { class: 'form-control' } %>
                </div>
                <div class="form-group">
                  <%= f.file_field :path, as: :file %>
                </div>
                <div class="form-group">
                  <%= f.input :credit, input_html: { class: 'form-control' } %>
                  <%= f.input :area_id, as: :hidden %>
                  <%= f.submit :submit %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="item">
              <%= simple_form_for [@area, photo] do |f| %>
                <div class="carousel-image">
                  <%= image_tag "http://trial.resrc.it/" + photo.path_url, class: 'resrc small-photo' %>
                </div>
                <div class="form-group">
                  <%= f.input :title, input_html: { class: 'form-control' } %>
                </div>
                <div class="form-group">
                  <%= f.file_field :path, as: :file %>
                </div>
                <div class="form-group">
                  <%= f.input :credit, input_html: { class: 'form-control' } %>
                  <%= f.input :area_id, as: :hidden %>
                  <%= f.submit :submit %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="item carousel-style">
          <%= render "photo_form" %>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#area-carousel" data-slide="prev" data-interval="false">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#area-carousel" data-slide="next" data-interval="false">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
<br />
<br />
<h3>Add / Edit Area</h3>
<%= simple_form_for @area, html: { role: 'form'} do |f| %>

    <div class="form-group">
      <%= f.input :display_name, label: 'Area Name' %>
    </div>
    <div class="form-group">
      <%= f.input :code, label: 'Airport Code' %>
    </div>
    <div class="form-group">
      <%= f.input :identifier, label: 'Identifier' %>
    </div>
    <div class="form-group">
      <%= f.input :country, priority: ['', 'Australia', 'United States of America'] %>
    </div>
    <div class="form-group">
      <%= f.input :short_intro, label: 'Short Intro' %>
    </div>
    <div class="form-group">
      <%= f.text_area :description, placeholder: 'Description', label: 'Description' %>
    </div>
    <div class="form-group">
      <%= f.text_area :address, placeholder: 'Address' %>
    </div>
    <div class="form-group">
      <%= f.submit :submit %>
    </div>
  <%end%>
</div>
