<h1>Edit Area</h1>
  <div class="container">
    <h3>Add / Change Photos</h3>
    <div id="area-carousel" class="carousel slide">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @area.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="item active">
              <%= simple_form_for [@area, photo] do |f| %>
                <div class="carousel-content">
                  <%= image_tag "https://s3.amazonaws.com/donovan-bucket/fun_fact_button.png", class: 'fun-fact-icon' %>
                  <div id="fun-fact-<%= index %>" class="fun-fact"><%= photo.fun_fact %></div>
                  <%= image_tag photo.path_url, class: 'resrc place-photo' %>
                </div>
                <p></p>
                <div class="form-group">
                  <%= f.file_field :path, as: :file %>
                </div>
                <div class="form-group">
                  <%= f.input :fun_fact, input_html: { class: 'form-control'} %>
                  <%= f.input :credit, input_html: { class: 'form-control' } %>
                  <%= f.input :area_id, as: :hidden %><br />
                  <%= f.button :submit %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="item carousel-content">
              <%= simple_form_for [@area, photo] do |f| %>
                <%= image_tag "https://s3.amazonaws.com/donovan-bucket/fun_fact_button.png", class: 'fun-fact-icon' %>
                <div id="fun-fact-<%= index %>" class="fun-fact"><%= photo.fun_fact %></div>
                <%= image_tag photo.path_url, class: 'resrc place-photo' %>
                <div class="form-group">
                  <%= f.file_field :path, as: :file %>
                </div>
                <div class="form-group">
                  <%= f.input :fun_fact, input_html: { class: 'form-control'} %>
                  <%= f.input :credit, input_html: { class: 'form-control' } %>
                  <%= f.input :area_id, as: :hidden %>
                  <%= f.button :submit %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="item carousel-content">
          <h4>Add New Photo</h4>
          <%= render "photo_form" %>
        <div class="carousel-caption">

        </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#area-carousel" data-slide="prev" data-interval="false">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#area-carousel" data-slide="next" data-interval="false">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
<br />
<br />
<h3>Add / Edit Area</h3>
<%= simple_form_for @area, html: { role: 'form'} do |f| %>

    <div class="form-group">
      <%= f.input :display_name, label: 'Area Name', input_html: { class: 'form-control' } %>
    </div>
    <!-- <div class="form-group">
      <%= f.input :code, label: 'Airport Code', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :identifier, label: 'Identifier', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :country, priority: ['', 'Australia', 'United States of America'] %>
    </div>
    <div class="form-group">
      <%= f.input :short_intro, label: 'Short Intro', input_html: { class: 'form-control' } %>
    </div> -->
    <div class="form-group">
      <%= f.input :description, as: :text, label: 'Description', input_html: { class: 'form-control area-description-input' } %>
    </div>
    <div class="form-group">
      <%= f.input :address, as: :text, placeholder: 'Address', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.button :submit, 'Update Area' %>
    </div>
  <%end%>
</div>
