<h1>All Areas</h1>
<ul>
  <% @areas.order(display_name: :asc).each do |area| %>
    <li><%= link_to area.display_name, edit_area_path(area) %></li>
  <% end %>
</ul>

<% if current_user.try(:admin) %>
  <h3>Import Areas From Excel</h3>
  <%= form_tag import_areas_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Import Photo URLs From Excel</h3>
  <%= form_tag import_photos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Import Videos From Excel</h3>
  <%= form_tag import_videos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>

<% end %>
