<h1>Create New Area</h1>

  <%= simple_form_for @area do |f| %>
    <%= f.simple_fields_for :photos do |ff| %>
      <%= ff.input :title %>
      <%= ff.file_field :path %>
      <%= ff.input :credit %>
    <% end %>
    <%= f.input :display_name, label: 'Area Name' %>
    <%= f.input :code, label: 'Airport Code' %>
    <%= f.input :identifier, label: 'Identifier' %>
    <%= f.input :country, priority: ['', 'Australia', 'United States of America'] %>
    <%= f.input :short_intro, label: 'Short Intro' %>
    <%= f.text_area :description, label: 'Description' %>
    <%= f.submit :submit %>
  <%end%>
<p></p>
