<div class='map-page'>
  <div id='map'></div>
</div>

<% if !@request_xhr %>
  <div class="modal fade" id="showAreaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
<% end %>
<h1><%= @area.display_name %></h1>
<div class="container">
  <ul class="nav nav-tabs responsive" id="area-tabs">
  <li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
  <li><a href="#description" data-toggle="tab">Description</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active responsive" id="photos">
      <% if @area.photos.length > 0 %>
        <div id="area-carousel" class="carousel slide">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @area.photos.each_with_index do |photo, index| %>
              <% if index == 0 %>
                <div class="item active">
                    <div class="carousel-content">
                      <%= image_tag "https://s3.amazonaws.com/donovan-bucket/fun_fact_button.png", class: 'fun-fact-icon' %>
                      <div id="fun-fact-text"class="fun-fact mercury-region" data-type="editable" data-mercury="full">
                        <%= raw photo.fun_fact %></div>
                      <div id="photo-id" class="hide mercury-region" data-type="editable" data-mercury="full"><%= photo.id %></div>
                      <%= image_tag "http://trial.resrc.it/" + photo.path_url, class: 'resrc place-photo' %>
                    </div>
                    <div class="carousel-caption">
                      <%= photo.title %> - Credit: <%= photo.credit %>
                    </div>
                </div>
              <% else %>
                <div class="item">
                  <div class="carousel-content">
                    <%= image_tag "/assets/fun_fact_button.png", class: 'fun-fact-icon' %>
                    <div id="fun-fact-<%= index %>" class="fun-fact mercury-region" data-type="editable" data-mercury="full"><%= raw photo.fun_fact %></div>
                    <%= image_tag "http://trial.resrc.it/" + photo.path_url, class: 'resrc place-photo' %>
                  </div>
                  <div class="carousel-caption">
                    <%= photo.title %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if current_user.try(:admin) %>
              <div class="item carousel-content">
                <h4>Add New Photo</h4>
                <%= render "photo_form" %>
                <div class="carousel-caption">
                </div>
              </div>
            <% end %>
          </div>
          <!-- Controls -->
           <% if !current_user.try(:admin) && @area.photos.length <= 1 %>
            <a class="left carousel-control" href="#area-carousel" data-slide="prev" data-interval="false">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#area-carousel" data-slide="next" data-interval="false">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          <% end %>
        </div>
      <% else %>
        <% if current_user.try(:admin) %>
          <div class="item carousel-content">
            <h4>Add New Photo</h4>
            <%= render "photo_form" %>
            <div class="carousel-caption">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="description">
      <p></p>
      <div id="area-content" class="mercury-region" data-type="editable" data-mercury="full">
        <p><%= raw @area.description %></p>
      </div>
    </div>
  </div>
</div>
<% if current_user.try(:admin?) %>
  <p><%= link_to "WYSIWYG Editor", "/editor" + request.path, id: "edit-link", data: { save_url: mercury_update_area_path(@area) } %>
  <p><%= link_to 'Edit Area', edit_area_path %></p>
<% end %>

<script>

</script>

<% if !@request_xhr %>
   </div>
  </div>
</div>

<% end %>

