<h1><%= @area.display_name %></h1>
<p><%= link_to 'Edit Area', edit_area_path %></p>
<p><%= @area.latitude %>, <%= @area.longitude %></p>

<% @area.photos.each do |photo| %>
<div>
  <li><p><%= photo.title %></p>
      <%= image_tag "http://trial.resrc.it/" + photo.path_url, class: 'resrc small-photo' %>
  </li>
</div>

<% end %>
