<div class="container sign-in">
  <div style="margin-top: 50px;" class="row hidden-xs"></div>
  <div class="row">
    <a href="<%= root_path %>">
      <img src="<%= asset_path('br_logo_new.png') %>" class="img-resposive center-block place-logo" >
    </a>
    <div class="col-md-3 hidden-xs"></div>
    <div class="col-md-6 col-xs-12">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :username, required: false, autofocus: true, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %><br>
          <%= f.input :password, required: false, wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %><br>
          <%= f.input :remember_me, as: (:boolean if devise_mapping.rememberable?), wrapper_html: { class: "form-group"}, input_html: { class: "form-control" } %><br>
        </div>

        <div class="form-actions">
          <p><%= f.button :submit, "Sign in" %></p>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
