<div id="table-container">
  <h1>
    <%= link_to(
        "Product ##{@product.id}",
        edit_offer_path(@product)
      )
    %> variants
    <%= link_to(
        'Create New Variant',
        new_offer_variant_path(@product),
        class: 'btn btn-success'
      )
    %>
  </h1>

  <table class="table table-striped" id="place-table">
    <thead>
      <tr>
        <th>Variant</th>

        <% unless @product.disable_bed_type %>
          <th>Bed Type</th>
        <% end %>

        <% unless @product.disable_maturity %>
          <th>Maturity</th>
        <% end %>

        <% unless @product.disable_departure_city %>
          <th>Departure City</th>
        <% end %>

        <% unless @product.disable_departure_date %>
          <th>Departure Date</th>
        <% end %>

        <% unless @product.disable_accommodation %>
          <th>Accommodation / Hotel</th>
        <% end %>

        <% unless @product.disable_room_type %>
          <% if @product.room_type_label.blank? %>
            <th>Room Type</th>
          <% else %>
            <th><%= @product.room_type_label %></th>
          <% end %>
        <% end %>

        <% unless @product.disable_package_option %>
          <% if @product.room_type_label.blank? %>
            <th>Package Option</th>
          <% else %>
            <th><%= @product.package_option_label %></th>
          <% end %>
        <% end %>

        <th>Price</th>
        <th>Item Code</th>
        <th>Supplier Product Code</th>
        <th>Created At</th>
        <th>Edit Link</th>
        <th>Miscellaneous Charges</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Variant</th>

        <% unless @product.disable_bed_type %>
          <th>Bed Type</th>
        <% end %>

        <% unless @product.disable_maturity %>
          <th>Maturity</th>
        <% end %>

        <% unless @product.disable_departure_city %>
          <th>Departure City</th>
        <% end %>

        <% unless @product.disable_departure_date %>
          <th>Departure Date</th>
        <% end %>

        <% unless @product.disable_accommodation %>
          <th>Accommodation / Hotel</th>
        <% end %>

        <% unless @product.disable_room_type %>
          <% if @product.room_type_label.blank? %>
            <th>Room Type</th>
          <% else %>
            <th><%= @product.room_type_label %></th>
          <% end %>
        <% end %>

        <% unless @product.disable_package_option %>
          <% if @product.room_type_label.blank? %>
            <th>Package Option</th>
          <% else %>
            <th><%= @product.package_option_label %></th>
          <% end %>
        <% end %>

        <th>Price</th>
        <th>Item Code</th>
        <th>Supplier Product Code</th>
        <th>Created At</th>
        <th>Edit Link</th>
        <th>Miscellaneous Charges</th>
        <th>Delete</th>
      </tr>
    </tfoot>
    <tbody>
      <% @variants.each do |variant| %>
        <% if variant.deleted_at.blank? %>
          <tr>
            <td>
              <%= link_to(
                  variant_edit_link_label(variant),
                  edit_offer_variant_path(@product, variant)
                )
              %>
            </td>

            <% unless @product.disable_bed_type %>
              <td><%= variant.bed_type %></td>
            <% end %>

            <% unless @product.disable_maturity %>
              <td><%= variant.maturity %></td>
            <% end %>

            <% unless @product.disable_departure_city %>
              <td><%= variant.departure_city %></td>
            <% end %>

            <% unless @product.disable_departure_date %>
              <td><%=variant.departure_date.try(:strftime, "%Y-%m-%d") %></td>
            <% end %>

            <% unless @product.disable_accommodation %>
              <td><%= variant.accommodation %></td>
            <% end %>

            <% unless @product.disable_room_type %>
              <td><%= variant.room_type %></td>
            <% end %>

            <% unless @product.disable_package_option %>
              <td><%= variant.package_option %></td>
            <% end %>

            <td><%= variant.price %></td>
            <td><%= variant.item_code %></td>
            <td><%= variant.supplier_product_code %></td>
            <td><%= variant.updated_at.strftime("%F") %></td>
            <td>
              <%= link_to(
                  'Edit',
                  edit_offer_variant_path(@product, variant),
                  target: "_blank"
                )
              %>
            </td>
            <td>
              <% if variant.miscellaneous_charges? %>
                <%= link_to(
                    'Miscellaneous Charge',
                    miscellaneous_charge_offer_variant_path(@product, variant),
                    target: "_blank"
                  )
                %>
              <% end %>
            </td>
            <td>
              <%= link_to(
                  'Destroy',
                  offer_variant_path(@product, variant),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                )
              %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
