<div id="table-container">
  <h1>
    <%= link_to(
        "Product ##{@product.id}",
        edit_offer_path(@product)
      )
    %> variants
    <%= link_to(
        'Create New Variant',
        new_offer_variant_path(@product),
        class: 'btn btn-success'
      )
    %>
  </h1>

  <table class="table table-striped" id="place-table">
    <thead>
    <tr>
      <th>Variant</th>
      <th>Bed Type</th>
      <th>Maturity</th>
      <th>Price</th>
      <th>Departure City</th>
      <th>Room Type</th>
      <th>Item Code</th>
      <th>Supplier Product Code</th>
      <th>Created At</th>
      <th>Edit Link</th>
      <th>Miscellaneous Charges</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tfoot>
      <tr>
      <th>Variant</th>
      <th>Bed Type</th>
      <th>Maturity</th>
      <th>Price</th>
      <th>Departure City</th>
      <th>Item Code</th>
      <th>Supplier Product Code</th>
      <th>Updated At</th>
      <th></th>
      <th></th>
      <th></th>
      </tr>
    </tfoot>
    <tbody>
    <% @variants.each do |variant| %>
        <tr>
          <td>
            <%= link_to(
                variant_edit_link_label(variant),
                edit_offer_variant_path(@product, variant)
              )
            %>
          </td>
          <td><%= variant.bed_type %></td>
          <td><%= variant.maturity %></td>
          <td><%= variant.price.to_s %></td>
          <td><%= variant.departure_city %></td>
          <td><%= variant.room_type %></td>
          <td><%= variant.item_code %></td>
          <td><%= variant.supplier_product_code %></td>
          <td><%= variant.updated_at.strftime("%F") %></td>
          <td>
            <%= link_to(
                'Edit',
                edit_offer_variant_path(@product, variant),
                target: "_blank"
              )
            %>
          </td>
          <td>
            <% if variant.miscellaneous_charges? %>
              <%= link_to(
                  'Miscellaneous Charge',
                  miscellaneous_charge_offer_variant_path(@product, variant),
                  target: "_blank"
                )
              %>
            <% end %>
          </td>
          <td>
            <%= link_to(
                'Destroy',
                offer_variant_path(@product, variant),
                method: :delete,
                data: { confirm: 'Are you sure?' }
              )
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
