<div id="table-container">
  <h1>
    <%= link_to(
        "Product ##{@product.id}",
        edit_offer_path(@product)
      )
    %> variants
    <%= link_to(
        'Create New Variant',
        new_offer_variant_path(@product),
        class: 'btn btn-success'
      )
    %>
  </h1>

  <table class="table table-striped" id="place-table">
    <thead>
    <tr>
      <th>Variant</th>
      <th>Bed Type</th>
      <% if !@product.disable_maturity %>
        <th>Maturity</th>
      <% end %>
      <th>Price</th>
      <% if !@product.disable_departure_city %>
        <th>Departure City</th>
      <% end %>
      <% if !@product.disable_room_type %>
        <th>Room Type</th>
      <% end %>
      <% if !@product.disable_departure_date %>
        <th>Departure Date</th>
      <% end %>
      <% if !@product.disable_package_option %>
        <th>Package Option</th>
      <% end %>
      <% if !@product.disable_accommodation %>
        <th>Accommodation / Hotel</th>
      <% end %>
      <th>Item Code</th>
      <th>Supplier Product Code</th>
      <th>Created At</th>
      <th>Edit Link</th>
      <th>Miscellaneous Charges</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% @variants.each do |variant| %>
        <tr>
          <td>
            <%= link_to(
                variant_edit_link_label(variant),
                edit_offer_variant_path(@product, variant)
              )
            %>
          </td>
          <td><%= variant.bed_type %></td>
          <% if !@product.disable_maturity %>
            <td><%= variant.maturity %></td>
          <% end %>
          <td><%= variant.price.to_s %></td>
          <% if !@product.disable_departure_city %>
            <td><%= variant.departure_city %></td>
          <% end %>
          <% if !@product.disable_room_type %>
            <td><%= variant.room_type %></td>
          <% end %>
          <% if !@product.disable_departure_date %>
            <td><%= variant.departure_date.strftime("%Y-%m-%d") %></td>
          <% end %>
          <% if !@product.disable_package_option %>
            <td><%= variant.package_option %></td>
          <% end %>
          <% if !@product.disable_accommodation %>
            <td><%= variant.accommodation %></td>
          <% end %>
          <td><%= variant.item_code %></td>
          <td><%= variant.supplier_product_code %></td>
          <td><%= variant.updated_at.strftime("%F") %></td>
          <td>
            <%= link_to(
                'Edit',
                edit_offer_variant_path(@product, variant),
                target: "_blank"
              )
            %>
          </td>
          <td>
            <% if variant.miscellaneous_charges? %>
              <%= link_to(
                  'Miscellaneous Charge',
                  miscellaneous_charge_offer_variant_path(@product, variant),
                  target: "_blank"
                )
              %>
            <% end %>
          </td>
          <td>
            <%= link_to(
                'Destroy',
                offer_variant_path(@product, variant),
                method: :delete,
                data: { confirm: 'Are you sure?' }
              )
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
