<p class="top20">
  <a href="<%= offer_path(@offer) %>" class="btn btn-primary"
    target="_blank">View Offer Page</a>
  <a href="<%= offer_attractions_path(@offer) %>" class="btn btn-primary"
    target="_blank">Associated Attractions</a>
  <a href="<%= offer_places_path(@offer) %>" class="btn btn-primary"
    target="_blank">Associated Places</a>
  <a href="<%= offer_regions_path(@offer) %>" class="btn btn-primary"
    target="_blank">Associated Regions</a>
  <a href="<%= offer_subcategories_path(@offer) %>" class="btn btn-primary"
    target="_blank">Choose Categories</a>
</p>
