<p class="top20">
  <a href="<%= offer_path(@offer) %>" class="btn btn-primary"
    target="_blank">View Offer Page</a>
  <a href="<%= offer_places_path(@offer) %>" class="btn btn-primary"
    target="_blank">Associated Places</a>
  <a href="<%= offer_regions_path(@offer) %>" class="btn btn-primary"
    target="_blank">Associated Regions</a>
  <a href="<%= offer_subcategories_path(@offer) %>" class="btn btn-primary"
    target="_blank">Choose Categories</a>
  <a href="<%= choose_hero_offer_path(@offer) %>"
    class="btn btn-primary">Edit / Add Photos</a>
  <a href="<%= all_offer_videos_path(@offer) %>"
    class="btn btn-primary">Videos</a>
  <a href="<%= clone_offer_path(@offer) %>"
    class="btn btn-success">Create a Copy</a>
</p>
