<div class="col-md-4 col-sm-6 dest-thing-wrapper">
  <div class="new-offer-promo-item wrap_link_card">
    <a class="link_card" href="<%= offer_path(offer) %>"></a>
    <div class="dest-thing-overlay-wrapper">

    </div>
    <div class="things-img" style="background: url(<%= draw_small_background(offer) %>) no-repeat;" role="img"
         aria-label="Bondi">
      <h3 class="new-offer-promo-item__header"><%= offer.name %></h3>
    </div>
    <div class="dest-thing-content">
        <p class="new-offer-promo-item__description"><%= offer.description[0..75] %>...</p>
        <a href="<%= offer_path(offer) %>" class="new-offer-promo-item__link">go to offer</a>
    </div>
  </div>
</div>