<li>
    <a href="<%= offer_path(offer) %>">
        <div class="po-content-wrapper">
            <img style="background: url(<%= showing_image(draw_hero_background(offer)) %>)center center no-repeat;" class="homepage-cover cover-bg">
            <div class="po-content-block">
                <p class="xs-heading">
                    <%= offer.name %>
                </p>
                <div class="po-price">
                    <span class="lg">
                        <span>$</span>
                        <span class="po-price-self"><%= offer.minRateAdult %></span>
                    </span>
                    <span class="sm">per person</span>
                </div>
                <div class="po-stay-info">
                    <span class="posi-nights"><%= create_duration(offer) %></span>
                    <span class="posi-date">Book by <%= offer.startDate.strftime("%d %B %Y") rescue ""%></span>
                </div>
            </div>
        </div>
    </a>
</li>
