<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#core-information-collapse">Core Information</a>
      </h4>
    </div>
    <div id="core-information-collapse" class="panel-collapse collapse">
      <!-- STUFF GOES HERE -->

      <div class="row">
        <div class="col-md-6">
          <p>
            <input id="pac-input" class="controls form-control" type="text"
                placeholder="Search For A Place">
            <span id="latitude" class="hide"><%= @offer.latitudeStart %></span><span id="longitude" class="hide"><%= @offer.longitudeStart %></span>
          <div id="map-canvas" style="height:500px;"></div>
        </div>
        <div class="col-md-6">
          <div class="form-group lat-lng">
            <div class="row">
              <div class="col-xs-12 col-sm-6"><%= f.input :latitudeStart, as: :hidden, label: "Latitude Start", :input_html => { "data-geo" => "lat", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-6"><%= f.input :longitudeStart, as: :hidden, label: "Longitude Start", :input_html => { "data-geo" => "lng", class: 'form-control' } %></div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.check_box :featured, label: false %>
         <%= f.label :featured, "Featured" %>
      </div>
      <div class="form-group">
        <%= f.check_box :show_in_mega_menu, label: false %>
        <%= f.label :show_in_mega_menu, "Show in mega menu?" %>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.check_box :disable_room_type, label: false %>
            <%= f.label :disable_room_type, "Disable Room Type" %>
          </div>
          <div class="form-group">
            <%= f.check_box :disable_maturity, label: false %>
            <%= f.label :disable_maturity, "Disable Maturity" %>
          </div>
          <div class="form-group">
            <%= f.check_box :disable_bed_type, label: false %>
            <%= f.label :disable_bed_type, "Disable Bed Type" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.check_box :disable_departure_city, label: false %>
            <%= f.label :disable_departure_city, "Disable Departure City" %>
          </div>
          <div class="form-group">
            <%= f.check_box :disable_departure_date, label: false %>
            <%= f.label :disable_departure_date, "Disable Departure Date" %>
          </div>
          <div class="form-group">
            <%= f.check_box :disable_package_option, label: false %>
            <%= f.label :disable_package_option, "Disable Package Option" %>
          </div>
          <div class="form-group">
            <%= f.check_box :disable_accommodation, label: false %>
            <%= f.label :disable_accommodation, "Disable Accommodation" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.input :per_adult_overwrite, label: 'Overwrite "Per Adult" label', input_html: { class: "form-control" } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :room_type_label, label: "Display Room Type As:", :input_html => { class: 'form-control' } %>
        </div>
        <div class="col-md-4">
          <%= f.input :package_option_label, label: "Display Package Option As:", :input_html => { class: 'form-control' } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.association :operator,
          label_method: :name,
          value_method: :id,
          label: 'Operator',
          input_html: { class: 'width100 form-control' }
        %>
      </div>
      <div class="form-group">
        <%= f.input :status, label: 'Offer Status', as: :select, collection: ["live", "draft", "removed"], input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
          <%= f.input :marketing_headline, label: 'Marketing Headline *important', input_html: { class: 'width100' } %>
        </div>
      <div class="form-group">
        <%= f.input :name, label: 'Offer Name', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :description, label: 'Offer Description', as: :text, input_html: { class: 'width100' } %>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= f.input :startDate, label: 'Trip Start Date', as: :date, input_html: { class: '' } %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= f.input :endDate, label: 'Trip End Date', as: :date, input_html: { class: '' } %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.input :number_of_days, as: :integer, label: 'Number of Days', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :number_of_nights, as: :integer, label: 'Number of Nights', input_html: { class: 'width100' } %>
      </div>
      <!-- Package, Cruise, Tour, Hotel/accommodation, Event, Other -->
      <div class="form-group"> 
        <%= f.input :product_type, label: 'Holiday Type', as: :select, collection: ["Package", "Cruise", "Tour", "Hotel/accommodation", "Event", "Other"], input_html: { class: 'width100' } %>
      </div>

      <!-- <div class="form-group">
        <%#= f.input :supplier_product_code, as: :string, label: 'Supplier Product Code', input_html: { class: 'width100' } %>
      </div> -->

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#commercials-collapse">
          Commercials
        </a>
      </h4>
    </div>
    <div id="commercials-collapse" class="panel-collapse collapse">
      <!--  STUFF GOES HERE -->
      <div class="form-group margin-left-20">
        <%= f.input_field :allow_installments, as: :boolean, inline_label: 'Allow Installments', label: false %>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= f.input :validityStartDate, label: 'Voucher Validity Start Date', as: :date, input_html: { class: '' } %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= f.input :validityEndDate, label: 'Voucher Validity End Date', as: :date, input_html: { class: '' } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= f.input :publishstartdate, label: 'Publish Start Date', as: :date, input_html: { class: '' } %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= f.input :publishenddate, label: 'Publish End Date', as: :date, input_html: { class: '' } %>
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <%#= f.input :minRateAdult, as: :integer, label: 'Adult Rate', input_html: { class: 'width100' } %>
      </div> -->
      <div class="form-group">
        <%= f.input :item_id, as: :string, label: 'SKU Code', input_html: { class: 'width100' } %>
      </div>
      <!-- <div class="form-group">
        <%#= f.input :minRateChild, as: :integer, label: 'Child Rate', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%#= f.input :child_item_id, as: :string, label: 'Child SKU Code Variant', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%#= f.input :minUnits, as: :integer, label: 'Min Units', input_html: { class: 'width100' } %>
      </div> -->

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#logistics-collapse">
          Logistics
        </a>
      </h4>
    </div>
    <div id="logistics-collapse" class="panel-collapse collapse">
      <!--  STUFF GOES HERE -->
      <div class="form-group">
        <%= f.input :operatingSchedule, as: :bootsy, label: 'Travel Period', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :locationStart, as: :string, label: 'Location Start', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :locationEnd, as: :string, label: 'Location End', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.label :inclusion_icons %>
      </div>
      <div class="col-md-3">
        <% if @offer.inclusions.map(&:name).include? "/assets/mydiscoveries_icon/i/inclusions/beds.svg" %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/beds.svg", checked: true%>
        <% else %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/beds.svg"%>
        <% end %>
        <%= f.label "offer_inclusions_bed", "<img src='/assets/mydiscoveries_icon/i/inclusions/beds.svg' width='30'>".html_safe %>
      </div>
      <div class="col-md-3">
        <% if @offer.inclusions.map(&:name).include? "/assets/mydiscoveries_icon/i/inclusions/flights.svg" %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/flights.svg", checked: true %>
        <% else %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/flights.svg"%>
        <% end %>
          <%= f.label "offer_inclusions_flight", "<img src='/assets/mydiscoveries_icon/i/inclusions/flights.svg' width='30'>".html_safe %>
      </div>
      <div class="col-md-3">
        <% if @offer.inclusions.map(&:name).include? "/assets/mydiscoveries_icon/i/inclusions/hairdryer.svg" %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/hairdryer.svg", checked: true %>
        <% else %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/hairdryer.svg"%>
        <% end %>
          <%= f.label "offer_inclusions_hairdryer", "<img src='/assets/mydiscoveries_icon/i/inclusions/hairdryer.svg' width='30'>".html_safe %>
      </div>
      <div class="col-md-3">
        <% if @offer.inclusions.map(&:name).include? "/assets/mydiscoveries_icon/i/inclusions/kids-club.svg" %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/kids-club.svg", checked: true %>
        <% else %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/kids-club.svg"%>
        <% end %>
          <%= f.label "offer_inclusions_kids-club", "<img src='/assets/mydiscoveries_icon/i/inclusions/kids-club.svg' width='30'>".html_safe %>
      </div>
      <div class="col-md-3">
        <% if @offer.inclusions.map(&:name).include? "/assets/mydiscoveries_icon/i/inclusions/meals.svg" %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/meals.svg", checked: true %>
        <% else %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/meals.svg"%>
        <% end %>
          <%= f.label "offer_inclusions_meal", "<img src='/assets/mydiscoveries_icon/i/inclusions/meals.svg' width='30'>".html_safe %>
      </div>
      <div class="col-md-3">
        <% if @offer.inclusions.map(&:name).include? "/assets/mydiscoveries_icon/i/inclusions/swimming-pool.svg" %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/swimming-pool.svg", checked: true %>
        <% else %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/swimming-pool.svg"%>
        <% end %>
          <%= f.label "offer_inclusions_swimming-pool", "<img src='/assets/mydiscoveries_icon/i/inclusions/swimming-pool.svg' width='30'>".html_safe %>
      </div>
      <div class="col-md-3">
        <% if @offer.inclusions.map(&:name).include? "/assets/mydiscoveries_icon/i/inclusions/wifi.svg" %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/wifi.svg", checked: true %>
        <% else %>
          <%= check_box_tag "offer[inclusions][]", "/assets/mydiscoveries_icon/i/inclusions/wifi.svg"%>
        <% end %>
          <%= f.label "offer_inclusions_wifi", "<img src='/assets/mydiscoveries_icon/i/inclusions/wifi.svg' width='30'>".html_safe %>
      </div>
      <div style="clear:both">
      </div>
      <div class="form-group">
        <%= f.input :customStr1, as: :bootsy, label: 'Booking Essentials', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :voucher_booking_essentials, as: :bootsy, label: 'Booking Essentials For Voucher', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :customStr4, as: :string, label: 'Booking Guarantee', input_html: { class: 'width100', value: @offer.customStr4.present?? @offer.customStr4 : @book_guarantee } %>
      </div>

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#content-collapse">
          Content
        </a>
      </h4>
    </div>
    <div id="content-collapse" class="panel-collapse collapse">
      <!--  STUFF GOES HERE -->
      <div class="form-group">
        <%= f.input :specialNotes, as: :bootsy, label: 'Hero Image Copy', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :tags, as: :array, label: 'Tags' %>
        <%= link_to '+ Add', '#', class: 'js-add-offers-tag' %>
      </div>
      <div class="form-group">
        <%= f.input :places_visited, as: :array, label: 'Places Visited' %>
        <%= link_to '+ Add', '#', class: 'js-add-places_visited-tag' %>
      </div>
      <div class="form-group">
        <%= f.input :highlightsStr, as: :bootsy, label: 'Hightlights', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :itineraryStr, as: :bootsy, label: 'Itinerary', input_html: { class: 'width100' } %>
      </div>
      <% if @offer.itinerary.present? %>
        <label>Current Itinerary File</label>
        <iframe src="<%= @offer.itinerary.url %>" width="600px" height="400px" style="margin: auto; display: block;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <% end %>
      <div class="form-group">
        <%= f.input :itinerary, as: :file, label: 'Upload Itinerary File' %>
      </div>
      <div class="form-group">
        <%= f.input :includes, as: :bootsy, label: 'Includes/Excludes', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :customStr2, as: :bootsy, label: 'Facilities', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%= f.input :customStr3, as: :bootsy, label: 'Fine Print', input_html: { class: 'width100' } %>
      </div>
      <div class="form-group">
        <%#= f.input :other, as: :bootsy, label: 'Other', input_html: { class: 'width100' } %>
      </div>
    </div>
  </div>
</div>

</br>
<div class="form-group">
  <%= f.submit :submit, class: 'btn' %>
</div>
