<li>
    <div class="po-content-wrapper wrap_link_card">
        <a class="link_card" href="<%= offer_path(offer) %>"></a>
        <div class="hero-offer-region" style="background-image: url('<%= draw_small_background(offer) %>')">
        </div>
        <div class="po-content-block">
            <div class="po-stay-info">
                <span>From $<%= offer.minRateAdult %></span>
                <span class="posi-nights"><%= create_duration(offer) %></span>
            </div>
            <p class="sm-heading">
                <%= offer.name.size > 31? offer.name[0..30]+" ..." : offer.name %>
            </p>
            <p><%= offer.description[0..50] %> ...</p>
            <p class="info-text">Offer ends <%= offer.endDate %></p>
            <a class="see-more-offer" href="<%= offer_path(offer) %>">see offer</a>
        </div>
    </div>
</li>