<div class="package-options">
  <h3 class="xs-heading lars">Package Options</h3>
  <ul>
    <li class="po-item">
      <div class="poi-content-top">
        <h4><%= @offer.name %></h4>
        <div class="poict-nights"><%= create_duration(@offer) %></div>
        <div class="book-now hidden">
          <%= simple_form_for :order_populate,
            url: populate_offer_orders_path(@offer),
            method: :post,
            html: {
              role: 'form',
              class: 'top20 package-options-form',
              data: {
                room_type_present:       !@offer.disable_room_type?,
                bed_type_present:        !@offer.disable_bed_type?,
                maturity_present:        !@offer.disable_maturity?,
                accommodation_present:   !@offer.disable_accommodation?,
                package_option_present:  !@offer.disable_package_option?,
                departure_city_present:  !@offer.disable_departure_city?,
                departure_date_present:  !@offer.disable_departure_date?,
                offer_id: "#{@offer.slug}",
                allow_installments: @offer.allow_installments,
                user_signed_in: current_user.present?
              }
            } do |f| %>
              <div>
                <%= f.input :variant_id,
                    input_html: { class: 'form-control' },
                    as: :hidden
                %>
                <% if !@offer.disable_departure_city? %>
                  <div class="quantity top10">
                    <h5>Departure City</h5>
                    <div>
                      <%= f.input :departure_city,
                          as: :select,
                          collection: @departure_cities,
                          include_blank: false,
                          label: false,
                          prompt: 'Please Select',
                          input_html: {
                            class: 'form-control js-variant-option'
                          }
                      %>
                    </div>
                  </div>
                <% end %>
                <% if !@offer.disable_departure_date? %>
                  <div class="quantity top10">
                    <h5>Departure Date</h5>
                    <div>
                      <%= f.input :departure_date,
                          as: :select,
                          collection: @departure_dates.map { |date| [date[0], date[1], {label: date[0]}] },
                          include_blank: false,
                          label: false,
                          prompt: 'Please Select',
                          input_html: {
                            class: 'form-control js-variant-option',
                            'data-type': 'date'
                          }
                      %>
                    </div>
                  </div>
                <% end %>
                <% if !@offer.disable_package_option? %>
                <% if @offer.package_option_label.present? %>
                  <div class="quantity top10">
                    <h5><%= @offer.package_option_label %></h5>
                      <div>
                        <%= f.input :package_option,
                            as: :select,
                            collection: @package_options,
                            include_blank: false,
                            label: false,
                            prompt: 'Please Select',
                            input_html: {
                              class: 'form-control js-variant-option'
                            }
                        %>
                      </div>
                    </div>
                  <% else %>
                    <div class="quantity top10">
                      <h5>Package Option</h5>
                      <div>
                        <%= f.input :package_option,
                            as: :select,
                            collection: @package_options,
                            include_blank: false,
                            label: false,
                            prompt: 'Please Select',
                            input_html: {
                              class: 'form-control js-variant-option'
                            }
                        %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <% if !@offer.disable_accommodation? %>
                  <div class="quantity top10">
                    <h5>Hotel / Accommodation</h5>
                    <div>
                      <%= f.input :accommodation,
                          as: :select,
                          collection: @accommodations,
                          include_blank: false,
                          label: false,
                          prompt: 'Please Select',
                          input_html: {
                            class: 'form-control js-variant-option'
                          }
                      %>
                    </div>
                  </div>
                <% end %>
                <% if !@offer.disable_maturity? %>
                  <div class="quantity top10">
                    <h5>Adult / Child</h5>
                    <div>
                      <%= f.input :maturity,
                          as: :select,
                          collection: @maturities,
                          include_blank: false,
                          label: false,
                          prompt: 'Please Select',
                          input_html: {
                            class: 'form-control js-variant-option'
                          }
                      %>
                    </div>
                  </div>
                <% end %>
                <% if !@offer.disable_bed_type? %>
                  <div class="quantity top10">
                    <h5>Twin / Single</h5>
                    <div>
                      <%= f.input :bed_type,
                          as: :select,
                          collection: @bed_types,
                          include_blank: false,
                          label: false,
                          prompt: 'Please Select',
                          input_html: {
                            class: 'form-control js-variant-option'
                          }
                      %>
                    </div>
                  </div>
                <% end %>
                <% if !@offer.disable_room_type? %>
                  <% if @offer.room_type_label.present? %>
                    <div class="quantity top10">
                      <h5><%= @offer.room_type_label %></h5>
                      <div>
                        <%= f.input :room_type,
                            as: :select,
                            collection: @room_types,
                            include_blank: false,
                            label: false,
                            prompt: 'Please Select',
                            input_html: {
                              class: 'form-control js-variant-option'
                            }
                        %>
                      </div>
                    </div>
                  <% else %>
                    <div class="quantity top10">
                      <h5>Room Type</h5>
                      <div>
                        <%= f.input :room_type,
                            as: :select,
                            collection: @room_types,
                            include_blank: false,
                            label: false,
                            prompt: 'Please Select',
                            input_html: {
                              class: 'form-control js-variant-option'
                            }
                        %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class='js-variant-quantity hidden'>
                <h5>Quantity</h5>
                <div>
                  <%= f.input :quantity,
                      as: :integer,
                      include_blank: false,
                      label: false,
                      input_html: {
                        class: 'form-control',
                        min: 0
                      }
                  %>
                </div>
              </div>
              <div class='top20'>
                <span class='js-selected-variants-options'>
                  Selection:
                </span><br>
                <%= link_to 'Reset Options', load_options_offer_path(@offer, product_options: true), remote: true, class: "reset-options btn btn-warning" %>
              </div>
              <div class='top20 js-price-range'>
                Prices:
                <span>
                  <%= "#{price_range(@offer)}" %>
                </span>
                <br>
              </div>
              <div class='top20 js-price hidden'>
                Prices
              </div>
              <div class='top20 js-total-price hidden'>
                Price: $
              </div>
              <% if @offer.allow_installments? %>
                <div class="js-request-installments top20 hidden">
                  <%= f.label :request_installments,
                    "Or 5 monthly payments of",
                    class: 'js-order-monthly-price monthly-payments-label'
                  %>
                  <%= f.check_box :request_installments, label: false, class: 'monthly-payments-checkbox' %>
                </div>
              <% end %>
              <%= button_tag(
                  'buy now',
                  type: 'submit',
                  hidden: true,
                  disabled: true,
                  class: 'btn-bordered red small top20 js-submit-button'
                )
              %>
            <% end %>
            </div>
        </div>
    </li>
  </ul>
</div>