<div class="container">
  <%= render "offers/admin_tabs" %>
  <br>
  <%= link_to "Back To Edit  #{@offer.name}", edit_offer_path(@offer) %><br><br>

  <% if @ships.blank? %>
  	<h1>Ship is empty!</h1><small>Create new ship? <%= link_to "GO", new_ship_path %> </small><br>
  <% else %>
  	<b>
	  	Current Ship: 
	  	<%= if @offer.ship.blank? 
	  		"No Ship" 
	  	else
	  		link_to "<h3 style='display: inline !important;color: #ff4d1a !important;'>#{@offer.ship.name}</h3>".html_safe, edit_ship_path(@offer.ship) 
	  	end
	  	%>
	  </b>
	  <h1>Assign or Change Ship</h1><br>
	  <%= simple_form_for @offer, url: offer_path, html: { role: 'form' } do |f| %>
		  <div class="row">
		    <div class="col-md-12">
		      <div class="form-group lat-lng">
		        <div class="row">

		          <div class="form-group col-xs-12 col-sm-6">
		          	<%= f.input :ship_id, as: :hidden %>
		          	<label>Choose Ship</label>
		          	<small>* This field autocomplete (type 2 or more characters)</small>
		          	<%= autocomplete_field_tag "ship_name", "", autocomplete_ship_name_offers_path, :id_element => '#product_ship_id', class: 'width100' %>
		          </div>

		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <%= f.submit :submit, class: 'btn btn-default' %>
		  </div>
		<% end %><br>
		<h1>All Sihps</h1>
		<% @ships.each_with_index do |ship, idx| %>
			<div class="col-sm-6 col-md-6 col-xs-12">
				<%= "#{idx+1}. #{ship.name}" %>
			</div>
		<% end %>
		<br>
	<% end %>
</div>
<br>