<% if (user_signed_in?) && ( current_user.try(:admin) || current_user.has_role?("editor") || current_user.has_role?("publisher") ) %>
<div id="table-container">
  <h1>All Offers</h1>

  <table class="table table-striped" id="place-table">
    <thead>
    <tr>
      <th>Offer</th>
      <th>Marketing Headline</th>
      <th>SKU</th>
      <th>Status</th>
      <th>Operator</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Created At</th>
      <th>Itinerary</th>
      <th>Edit Link</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Offer</th>
        <th>Marketing Headline</th>
        <th>SKU</th>
        <th>Operator</th>
        <th>Created At</th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
    <% @offers.each do |offer| %>
        <tr>
          <td><%= link_to "#{offer.name} || #{offer.id}", edit_offer_path(offer) %></td>
          <td><%= offer.marketing_headline %></td>
          <td><%= offer.item_id + " / " + offer.child_item_id %></td>
          <td><%= offer.status %></td>
          <td><%= offer.operator.name %></td>
          <td><%= offer.startDate.try(:strftime, "%m-%d-%Y") %></td>
          <td><%= offer.endDate.try(:strftime, "%m-%d-%Y") %></td>
          <td><%= offer.created_at.strftime("%F") %></td>
          <td><%= link_to 'download itinerary', offer_path(offer, :format => :pdf), class: "btn-bordered red", id:"download-itinerary" %></td>
          <td><%= link_to 'Edit offer', edit_offer_path(offer), target: "_blank" %></td>
          <td><%= link_to 'Destroy', offer_path(offer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.try(:admin) && current_user.email == "donovan.whitworth@gmail.com" %>
    <h3>Import Variants From Excel</h3>
    <%= form_tag import_variants_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
    <br />
  <% end %>
</div>
<% else %>
<h3>You are not signed in or do not have the proper permissions to view this page</h3>
<% end %>
