<div data-page='offer'>
  <div class="deal-header">
    <%- if @offer.tags.present? %>
      <div class="deal-header__tags-holder">
        <%- @offer.tags.to_a.each do |tag| %>
          <span class="deal-header__tag">
            <%= tag %>
          </span>
        <% end %>
      </div>
    <% end %>
    <h1 class="deal-header__point-name">
      <%= @offer.name %>
    </h1>
    <%- if @offer.description.length > 280 %>
      <p class="deal-header__point-short-description offer-desc" style="display:none;">
        <%= raw @offer.description %>
      </p>

      <p class="deal-header__point-short-description offer-desc">
        <%= raw @offer.description[0..280]+"..." %>
      </p>

      <div class="read-more-wrapper">
        <a href="javasctipt:void();" class="readmore-area" style="display:none;">LESS</a>
        <a href="javasctipt:void();" class="readmore-area">SHOW MORE</a>
      </div>
    <% else %>
      <p class="deal-header__point-short-description offer-desc">
        <%= raw @offer.description %>
      </p>
    <% end %>
    <span data-js-scroll-to="js-deal-options" class="deal-header__view-options js-scroll-to-node">view deal options</span>
  </div>

  <div class="deal-promo-photo">
    <div class="hero-image-wrapper dismiss-mega-menu-search" style="background: url(<%= main_offer_photo_url(@offer)[:url] %>) no-repeat;" role="img">
      <div class="overlay"></div>
      <%- if main_offer_photo_url(@offer)[:title].present? %>
        <h2 class="deal-promo-photo__head-line">
          <span class="deal-promo-photo__head-line-icon"></span>
          <%= main_offer_photo_url(@offer)[:title] %>
        </h2>
      <% end %>
    </div>
  </div>

  <div class="deal-promo-media">
    <div class="deal-promo-media__card-holder swiper-container horizontal-scroll js-horizontal-scroll--centered-slides">
      <div class="swiper-wrapper">
        <%= render partial: "shared/media_list", as: :media, locals: { container: "container" } %>
      </div>
    </div>
  </div>

  <div class="deal-wrapper">
    <div class="deal-options js-deal-options">
      <h2 class="deal-options__main-header">
        <%= image_tag 'offer/i/deal/gray-deal.svg', class: "deal-options__main-header-text-icon" %>deal options
      </h2>
      <div class="deal-option">
        <h3 class="deal-option__head-line">
          <%= "#{pluralize(duration_in_days(@offer.duration), 'day')}" %>
        </h3>
        <div class="deal-option-card">
            <%= link_to new_offer_order_path(@offer, number_of_adults: 1) do %>
              <span class="deal-option-card__buy-now">buy now</span>
            <% end %>
          <!-- </a> -->
          <h4 class="deal-option-card__cost">
            <%= "$#{@offer.minRateAdult}"%>
          </h4>
          <span class="deal-option-card__valued-up">
            <%= "Valued up to $#{@offer.maxRateAdult}"%>
          </span>
          <p class="deal-option-card__short-info">
            <%= image_tag 'offer/i/deal/person.svg', class: "deal-option-card-short-info__icon" %>
            <%= "#{pluralize(1, 'Adult')}" %>
          </p>
          <p class="deal-option-card__short-info">
            <%= image_tag 'offer/i/deal/night.svg', class: "deal-option-card-short-info__icon" %>
            <%= "#{pluralize(duration_in_days(@offer.duration), 'day')}" %>
          </p>
          <%- if @offer.includes.present? %>
            <div class="deal-option-card__details js-show-hide-details__parent">
              <div class="deal-option-card__details-interactive-block">
                <p class="deal-option-card__descriptions">
                  <span class="deal-option-card__descriptions deal-option-card__descriptions--bold">Inclusions:</span>
                  <%= simple_format @offer.includes %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="deal-data">
      <div class="map-container">
        <div class="row">
          <div class="col-xs-12">
            <div class="promo-map js-promo-map">
              <input
                type="hidden"
                data-zoom="5"
                name="offer"
                data-start-lat="<%= @offer.latitudeStart %>"
                data-start-lng="<%= @offer.longitudeStart %>"
                data-start-name="<%= @offer.locationStart %>"
                data-end-lat="<%= @offer.latitudeEnd %>"
                data-end-lng="<%= @offer.longitudeEnd %>"
                data-end-name="<%= @offer.locationEnd %>"
                data-img-template="<%= asset_path('generic-hero-thumb.jpg') %>"
                data-img-pointer="<%= asset_path('img/map/map-point.svg') %>"
              >
              <div class="google-promo-map js-google-promo-map"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="deal-data-card deal-data-card--open-card">
        <span class="deal-data-card__switcher"></span>
        <h2 class="deal-data-card__header open js-show-hide-info-block">Highlights</h2>
        <div class="deal-data-card__info-block">
          <p class="deal-data-card__paragraph">
            <%= simple_format @offer.highlightsStr %>
          </p>
        </div>
      </div>
      <%- if @offer.itineraryStr.present? %>
        <div class="deal-data-card ">
          <span class="deal-data-card__switcher"></span>
          <h2 class="deal-data-card__header open js-show-hide-info-block">Itinerary</h2>
          <div class="deal-data-card__info-block">
            <p class="deal-data-card__paragraph">
              <%= simple_format @offer.itineraryStr %>
            </p>
          </div>
        </div>
      <% end %>
      <div class="deal-data-card ">
        <span class="deal-data-card__switcher"></span>
        <h2 class="deal-data-card__header open js-show-hide-info-block">Details</h2>
        <div class="deal-data-card__info-block">
          <p class="deal-data-card__paragraph">
            <%= simple_format @offer.description %>
          </p>
        </div>
      </div>
      <div class="deal-data-card ">
        <span class="deal-data-card__switcher"></span>
        <h2 class="deal-data-card__header open js-show-hide-info-block">
          Reviews
        </h2>
        <div class="deal-data-card__info-block">
          <div id="memberreviews" class="thing-page-segment">
            <div class="row member-reviews-wrapper">
              <div class="owl-carousel auto-height-carousel" id="reviews-list">
                <%= render partial: "reviews/reviews_list", collection: @reviews, as: :review %>
              </div>
              <% unless last_page? @reviews %>
                <div class="col-xs-12 hidden-xs single-pagination-container" id="reviews-single-pagination-container">
                  <div class="hidden single-pagination-loader" align="center">
                    <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                  </div>
                  <div class="load-more member-reviews-load-more temporary-class-3">
                    <%= link_to "LOAD MORE",
                          paginate_reviews_offer_path(
                            @offer,
                            reviews_page: @reviews.next_page,
                            resources: 'reviews',
                            pagination_template: 'reviews/reviews_list',
                            collection_object: 'review'
                          ),
                          class: 'single-pagination', remote: true
                    %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div id="offer-add-review" class="top20 btm20">
            <% if user_signed_in? %>
              <a href="#" class="btn" data-toggle="modal" data-target="#ReviewModal">
                <div class="message-icon" style="background-image: url('/assets/new-images/icon-review.png')" role="img" aria-label=""></div>
                <span class='message-text'>LEAVE A REVIEW</span>
              </a>
            <% else %>
              <a href="javascript:void();" class="btn" data-toggle="modal" data-target="#myModal">
                <div class="message-icon" style="background-image: url('/assets/new-images/icon-review.png')" role="img" aria-label=""></div>
                <span class='message-text'>LEAVE A REVIEW</span>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'reviews/form', variable: @offer, review: @review %>
<%= render 'layouts/all_modal' %>
<%= render partial: 'shared/blueimp_gallery_modal' %>
<%= render 'shared/video_modal' %>
