<% provide(:title, @offer.name) %>
<% provide(:description, @offer.description) %>
<% provide(:og_image, open_graph_image.gsub("https://", "http://")) %>
<% provide(:og_secure_image, open_graph_image) %>
<div data-page="offer">

<!-- BEGIN - breadcrumbs -->
<div class="breadcrumbs width-limiter">
  <%= raw create_breadcrumb_offer(@offer) %>
  <% if user_signed_in? and current_user.admin? %>
    <%= link_to "Edit Offer", edit_offer_path(@offer), class: "breadcrumbs__link" %>
  <% end %>
</div>
<!-- END - breadcrumbs -->


<div class="product" id="waitMeee">
  <div class="hero" style="background: url( <%= showing_image(draw_hero_background(@offer)) %>) 50% 50% no-repeat;" >
    <div class="photo-credit"><%= get_hero_image_credit(@offer) %></div>
    <div class="hero-content width-limiter hero-content-offer">
      <div class="offer-grey-box">
        <h2 class=""><%= @offer.name %></h2>
        <div class="hc-info">
          <span class="hci-price">
            <span>$</span>
            <span class="hci-price-self"><%= offer_minimum_price(@offer).round %></span>
            <% if @offer.allow_installments? %>
              <span class="payments-text-hero">or 5 monthly payments of <%= number_to_currency(offer_minimum_price(@offer) / 5.0) %></span><br>
            <% end %>
          </span>
          <% if @offer.duration.present? %>
            <span class="hci-nights">
              <span class="xs-invisible"><%= create_duration(@offer) %></span>
            </span>
          <% end %>
          <div class="info-text">Per Adult</div>
          <% specialNotes_txt = @offer.specialNotes.blank? ? '' : @offer.specialNotes.gsub(/\r?\n/, '') %>
          <span class="hci-info"><%= simple_format(specialNotes_txt) %></span>
        </div>
        <div class="info-text">
          <img src="<%= @offer.stickers.first.file_url %>">
          <img src="<%= @offer.stickers.second.file_url %>">
        </div>
        <div class="location">
          <%= link_to 'download itinerary', offer_path(@offer, :format => :pdf), class: "btn-bordered red", id:"download-itinerary" %>
          <% if user_signed_in? and current_user.admin? %>
            &nbsp;&nbsp;&nbsp;<%= link_to "Edit Offer", edit_offer_path(@offer) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class="product-content width-limiter">
      <aside>
        <h3 class="point-card__header"><%= @operator.city rescue "" %></h3>
        <a  data-toggle="modal" data-target="#operatorDetail" href="#" class="hotel-name"><%= @operator.name rescue "" %></a>

        <div class="package-options">
          <h3 class="xs-heading lars">Package Options</h3>
          <ul>
            <li class="po-item">
              <div class="poi-content-top">
                <h4><%= @offer.name %></h4>
                <div class="poict-nights"><%= create_duration(@offer) %></div>
                <div class="book-now hidden">
                  <%= simple_form_for :order_populate,
                    url: populate_offer_orders_path(@offer),
                    method: :post,
                    html: {
                      role: 'form',
                      class: 'top20 package-options-form',
                      data: {
                        room_type_present: @offer.room_type_present?,
                        offer_id: "#{@offer.slug}",
                        allow_installments: @offer.allow_installments
                      }
                    } do |f| %>
                      <div>
                        <%= f.input :variant_id,
                            input_html: { class: 'form-control' },
                            as: :hidden
                        %>
                        <div class="quantity top10">
                          <h5>Departure City</h5>
                          <div>
                            <%= f.input :departure_city,
                                as: :select,
                                collection: @departure_cities,
                                include_blank: false,
                                label: false,
                                prompt: 'Please Select',
                                input_html: {
                                  class: 'form-control js-variant-option'
                                }
                            %>
                          </div>
                        </div>
                        <div class="quantity top10">
                          <h5>Adult / Child</h5>
                          <div>
                            <%= f.input :maturity,
                                as: :select,
                                collection: @maturities,
                                include_blank: false,
                                label: false,
                                prompt: 'Please Select',
                                input_html: {
                                  class: 'form-control js-variant-option'
                                }
                            %>
                          </div>
                        </div>
                        <div class="quantity top10">
                          <h5>Twin / Single</h5>
                          <div>
                            <%= f.input :bed_type,
                                as: :select,
                                collection: @bed_types,
                                include_blank: false,
                                label: false,
                                prompt: 'Please Select',
                                input_html: {
                                  class: 'form-control js-variant-option'
                                }
                            %>
                          </div>
                        </div>
                        <% if @offer.room_type_present? %>
                          <div class="quantity top10">
                            <h5>Room Type</h5>
                            <div>
                              <%= f.input :room_type,
                                  as: :select,
                                  collection: @room_types,
                                  include_blank: false,
                                  label: false,
                                  prompt: 'Please Select',
                                  input_html: {
                                    class: 'form-control js-variant-option'
                                  }
                              %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                      <div class='js-variant-quantity hidden'>
                        <h5>Quantity</h5>
                        <div>
                          <%= f.input :quantity,
                              as: :integer,
                              include_blank: false,
                              label: false,
                              input_html: {
                                class: 'form-control',
                                min: 0
                              }
                          %>
                        </div>
                      </div>
                      <div class='top20'>
                        <span class='js-selected-variants-options'>
                          Selection:
                        </span>
                      </div>
                      <div class='top20 js-price-range'>
                        Prices:
                        <span>
                          <%= "#{price_range(@offer)}" %>
                        </span>
                        <br>
                      </div>
                      <div class='top20 js-price hidden'>
                        Prices
                      </div>
                      <div class='top20 js-total-price hidden'>
                        Price: $
                      </div>
                      <% if @offer.allow_installments? %>
                        <div class="js-request-installments top20 hidden">
                          <%= f.label :request_installments,
                            "Or 5 monthly payments of",
                            class: 'js-order-monthly-price monthly-payments-label'
                          %>
                          <%= f.check_box :request_installments, label: false, class: 'monthly-payments-checkbox' %>
                        </div>
                      <% end %>
                      <%= button_tag(
                          'buy now',
                          type: 'submit',
                          hidden: true,
                          disabled: true,
                          class: 'btn-bordered red small top20 js-submit-button'
                        )
                      %>
                    <% end %>
                    </div>
                </div>
            </li>
          </ul>
        </div>
      </aside>
      <section>
          <div class="country-info main-article">
            <h2 class="lg-heading"><%= @offer.name %></h2>
            <% if @offer.description.size > 301 %>
              <div class="destination-desc " style="display:none;">
                  <%= simple_format @offer.description %>
              </div>
              <div class="destination-desc">
                  <%= simple_format @offer.description[0..300]+"..." %>
              </div>
              <a href="javascript:void()" class="readmore-area more-link">READ MORE</a>
              <a href="javascript:void()" class="readmore-area more-link" style="display:none;">LESS</a>
            <% else %>
              <div class="destination-desc">
                  <%= simple_format @offer.description %>
              </div>
            <% end %>
            <div id="product-accordion" class="accordion-block">
              <h3>Highlights</h3>
              <div class="highlights">
                  <p><%= simple_format @offer.highlightsStr %></p>
              </div>
              <% if @offer.itineraryStr.present? %>
                <h3 id="ci-itinarary-map-loader">Itinerary</h3>
                <div class="itinerary">
                  <%= simple_format @offer.itineraryStr %>
                </div>
              <% end %>

              <% if @offer.customStr2.present? %>
                <h3>FACILITIES</h3>
                <div class="FACILITIES">
                    <%= simple_format @offer.customStr2 %>
                </div>
              <% end %>

              <% if @offer.includes.present? %>
                <h3>INCLUDES</h3>
                <div class="includes">
                    <%= simple_format @offer.includes %>
                </div>
              <% end %>
              <h3>map</h3>
              <div class="ci-map-block">
                <div id='dest-map' data-map="<%= create_marker @offer %>">
                </div>
              </div>
              <% if @offer.other.present? %>
                <h3>Other</h3>
                <div class="other">
                  <%= simple_format @offer.other %>
                </div>
              <% end %>
              <% if @offer.customStr3.present? %>
                <h3>fine print</h3>
                <div class="fint-print">
                  <%= simple_format @offer.customStr3 %>
                </div>
              <% end %>
              <h3>booking essentials</h3>
              <div class="details">
                <%= simple_format(
                    @offer.customStr1.presence || @offer.operator.booking_essentials
                  )
                %>
              </div>
              <h3>booking guarantee</h3>
              <div class="guarantee">
                <p>
                  <%= simple_format(
                      @offer.customStr4.presence || @book_guarantee
                    )
                  %>
                </p>
              </div>
              <h3>operating schedule</h3>
              <div class="operating-schedule">
                <p>
                  <%= simple_format(
                      @offer.operatingSchedule
                    )
                  %>
                </p>
              </div>

            </div>

            <h3 class="sm-heading lars">Videos & Photos</h3>
            <% unless @galeries.blank? %>
              <div class="gallery">
                <div class="slider-mobile-wrapper">
                  <div class="slider-for">
                    <% @galeries.each do |galery| %>
                      <% if galery.class.name == "Video" %>
                        <iframe
                          class="player-vimeo"
                          src="<%= galery.url %>"
                          frameborder="0"
                          webkitallowfullscreen
                          mozallowfullscreen
                          allowfullscreen
                        >
                        </iframe>
                      <% else %>
                        <div>
                          <img src="<%= galery.path_url(:large) %>" alt="" width="100%">
                          <div class="photo-credit">Credit: <%= galery.credit %></div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="slider-nav xs-invisible">
                  <% @galeries.each do |galery| %>
                    <% if galery.class.name == "Video" %>
                      <div
                        data-toggle="popover"
                        data-trigger="hover"
                        data-container="body"
                        data-placement="bottom"
                        data-content="<%= galery.title %>"
                      >
                        <img src="<%= galery.vimeo_thumbnail %>" alt="" width="100%">
                        <div class="overlay-nav-video"></div>
                      </div>
                    <% else %>
                      <div>
                        <img src="<%= galery.path_url(:large) %>" alt="" width="100%">
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>
<%= render "operator_detail"%>
