<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%= wicked_pdf_stylesheet_link_tag "bootstrap.min" %>
  	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  	<style>
  	  .itinerary-page .img-waves.waves-sm:before {
  	    background: url("<%= wicked_pdf_asset_base64('pdf/japanese-waves-pattern_LARGE.jpg') %>") 0 0 repeat;
  	    background-size: cover; }
  	  .itinerary-page .img-waves.waves-lg:before {
  	    background: url("<%= wicked_pdf_asset_base64('pdf/japanese-wave-wallpaper-background-1471183286fyQ.jpg') %>") 0 0 repeat;
  	    background-size: cover; }
  	</style>
    <title>My Discoveries Itinerary</title>

  </head>

  <body class="itinerary-page">

    <header class="main-header" id="main-header"></header>

    <section class="intro">
      <div class="banner" style="background:url(<%= showing_image(draw_hero_background(@offer)) %>) 50% 50% no-repeat !important;">
      </div>
      <div class="container">
        <h1><%= @offer.name %></h1>
        <h3><%= create_duration(@offer) %> - <%= @operator.name rescue "" %></h3>
        <div class="row">
          <div class="col-xs-6">
            <p><%= simple_format @offer.description %></p>
            <% unless @photos.blank? %>
              <div class="img-waves waves-sm">
                <%= image_tag(all_offer_photos(@offer).blank? ? @photos.first.path_url : all_offer_photos(@offer)[0][:url], class: "img-responsive") %>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6 orange-block">
            <% unless @photos.blank? %>
              <div class="img-waves waves-sm">
                <%= image_tag(all_offer_photos(@offer).blank? ? @photos.last.path_url : all_offer_photos(@offer)[1][:url], class: "img-responsive") %>
              </div>
            <% end %>
            <h3>HIGHLIGHTS</h3>
            <%= simple_format @offer.highlightsStr %>
          </div>
          </div>
      </div>
    </section>

    <section class="itinerary container">
      <h2>Itinerary</h2>
      <div class="itinerary-item">
        <p><%= simple_format @offer.itineraryStr %></p>
      </div>
    </section>

    <% unless @offer.includes.blank? %>
      <section class="includes container">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>INCLUDES:</h3> -->
            <%= simple_format(offer_includes(@offer)['includes']) rescue 'No includes' %>
          </div>
          <div class="col-xs-12">
            <!-- <h3>EXCLUDES:</h3> -->
             <%= simple_format(offer_includes(@offer)['excludes']) rescue 'No excludes' %>
          </div>
        </div>
      </section>
    <% end %>

    <!-- alwaysbreak -->
    <section class="dates container">
      <% unless @offer.departure_dates.blank? %>
        <h3>DEPARTURE DATES</h3>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-3">
            <table>
              <% offer_departure_dates(@offer).each do |key, val|%>
                <tr>
                  <th width="30%"><%= key %></th>
                  <td width="70%"><%= val %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>
    </section>

    <section class="facilities container">
      <h3>FACILITIES</h3>
      <ul>
    	 <%= simple_format @offer.customStr2 %>
      </ul>
    </section>
    
    <section class="info container">
      <h3>TRAVEL PERIOD</h3>
      <div class="operating-schedule">
          <%= simple_format(@offer.operatingSchedule)%>
      </div>
    </section>

    <section class="essentials container">
      <div class="row">
        <div class="col-xs-12">
          <h3>BOOKING ESSENTIALS</h3>
          <%= simple_format(@offer.customStr1) if @offer.customStr1.present? %>
        </div>
        <% unless @offer.customStr3.blank? %>
          <div class="col-xs-12">
            <h3>FINE PRINT</h3>
            <%= simple_format @offer.customStr3 %>
          </div>
        <% end %>
      </div>
    </section>

    <section class="info container">
      <div class="row">
        <div class="col-xs-12">
          <%= simple_format(@offer.customStr4.presence || @book_guarantee) %>
        </div>
      </div>
    </section>

    <section class="info container">
      <div class="row">
        <div class="col-xs-12">
          <% if @offer.variants_table.present? %>
            <table style="margin-top: 20px;
                          margin-bottom: 40px;
                          border-collapse: collapse;
                          border-spacing: 0;
                          width: 100%;">
              <thead>
                <tr>
                  <% @offer.variants_table.first.keys.each do |key| %>
                    <% unless key == :price %>
                      <th><%= key.to_s.titleize %></th>
                    <% end %>
                  <% end %>
                    <th>Price</th>
                </tr>
              </thead>
              <tbody style="display: table-row-group;
                            vertical-align: middle;
                            border-color: inherit;">
                <% @offer.variants_table.each do |variant_hash| %>
                  <tr>
                    <% variant_hash.each do |k,v| %>
                      <% unless k == :price %>
                        <td><%= v %></td>
                      <% end %>
                    <% end %>
                    <td><%= number_to_currency(variant_hash[:price]) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <style>
            tr:nth-child(even) {background-color: #f2f2f2;}
          </style>
        </div>
      </div>
    </section>

    <section class="info container">
      <p class="small">Promotional prices and offers valid from <%= @offer.validityStartDate.strftime('%d-%m-%Y') %> until <%= @offer.validityEndDate.strftime('%d-%m-%Y') %> or while stocks last. Note: While all due care has been taken in the preparation of this document, MyDiscoveries shall not be liable for any inaccuracies or omissions which may occur. This document has been prepared from material supplied by our Travel Suppliers and from their websites.MyDiscoveries reserves the right to change information without notice and the most up to date version will always be found on www.mydiscoveries.com.au Reproduction without permission is strictly prohibited.</p>
      <div class="row">
        <% exc =  all_offer_photos(@offer).blank? ? [] : all_offer_photos(@offer).map{|key, val| val[:id]} %>
      	<% @photos.each do |photo|  %>
          <% unless exc.include?(photo.id) %>
            <div class="col-xs-6">
              <div class="img-waves waves-sm" style="min-height: 250px;">
                <%= image_tag(photo.path_url, class: "img-responsive") %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>

  </body>
</html>
