<div data-page="offer">

<!-- BEGIN - breadcrumbs -->
<div class="breadcrumbs width-limiter">
    <a href="#" class="breadcrumbs__link">home</a>
    <a href="#" class="breadcrumbs__link">destinations</a>
    <a href="#" class="breadcrumbs__link">pacific</a>
    <a href="#" class="breadcrumbs__link">australia</a>
    <a href="<%= edit_offer_path(@offer) %>" class="breadcrumbs__link">Edit Offer</a>
</div>
<!-- END - breadcrumbs -->


<div class="product">

    <!-- <div class="hero" style="background: url(<%= main_offer_photo_url(@offer)[:url] %>) center no-repeat;" > -->
    <div class="hero" style="background: url( <%= showing_image(draw_hero_background(@offer)) %>) 50% 50% no-repeat;" >
        <div class="hero-content width-limiter">
            <h2 class="lg-heading"><%= @offer.name %></h2>
            <span class="info-text">LOCATION</span>
            <div class="hc-info">
                <span class="hci-price">
                    <span>$</span>
                    <span class="hci-price-self"><%= @offer.minRateAdult %></span>
                </span>
                <span class="hci-nights">
                    <span><%= @offer.duration / 1000 / 60 / 60 / 24 %></span>
                    <span class="xs-invisible"><%= pluralize((@offer.duration / 1000 / 60 / 60 / 24), "night").gsub(/\d/, "") %></span>
                </span>
                <!-- <span class="hci-people">
                    <span>2</span>
                    <span class="xs-invisible">people</span>
                </span> -->
                <span class="hci-info"><%= simple_format @offer.specialNotes %></span>
            </div>
            <a class="btn-bordered red invert" href="<%= new_offer_order_path(@offer, number_of_adults: 1)%>">buy now</a>
            <div class="destination-details">

                  <div class="favourites-wrapper">
                      <% if user_signed_in? && @offer.users.include?(current_user) %>
                        <div class="icon-favourite selected" id="favouriteType" data-post-path="offers_users" data-klass="offer" data-liked="true" data-place-id="<%= @offer.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                        <div class="favourites-title hidden-xs">Remove from favourites</div>
                      <% else %>
                        <div class="icon-favourite" id="favouriteType" data-post-path="offers_users" data-klass="offer" data-liked="false" data-place-id="<%= @offer.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                        <div class="favourites-title hidden-xs" >Add to favourites</div>
                      <% end %>

                  </div>
              </div>
        </div>
    </div>

    <div class="product-content width-limiter">

        <aside>
            <h3 class="point-card__header">LOCATION</h3>
            <p class="hotel-name">PROVIDER / OPERATOR NAME</p>

            <div class="package-options">
                <h4 class="xs-heading lars">Package Options</h4>

                <ul>
                    <li class="po-item">

                        <div class="poi-content-top">
                            <div class="poict-price">
                                <span>$</span>
                                <span class="poict-price-self">1399</span>
                            </div>
                            <div class="poict-valued">Valued up to $3,441</div>
                            <div class="poict-people">2 Adults</div>
                            <div class="poict-nights">7 nights</div>
                            <div class="poict-room">TSHELL room, TS Suites Seminyak</div>

                            <a href="" class="btn-bordered red small">buy now</a>
                        </div>

                        <div class="poi-content-bottom">
                            <p>
                                <span>Inclusions:</span>
                                Daily all-day breakfasts, a global smorgasbord buffet dinner, daily poolside cocktails,
                                daily mini-bar treats, four Balinese massages, daily shuttle to Double-Six Beach and
                                Seminyak Square, nightly tacos at Famous Motel Mexicola, plus more!
                            </p>
                        </div>

                    </li>
                    <li class="po-item">

                        <div class="poi-content-top">
                            <div class="poict-price">
                                <span>$</span>
                                <span class="poict-price-self">1399</span>
                            </div>
                            <div class="poict-valued">Valued up to $3,441</div>
                            <div class="poict-people">2 Adults</div>
                            <div class="poict-nights">7 nights</div>
                            <div class="poict-room">TSHELL room, TS Suites Seminyak</div>

                            <a href="" class="btn-bordered red small">buy now</a>
                        </div>

                        <div class="poi-content-bottom">
                            <p>
                                <span>Inclusions:</span>
                                Daily all-day breakfasts, a global smorgasbord buffet dinner, daily poolside cocktails,
                                daily mini-bar treats, four Balinese massages, daily shuttle to Double-Six Beach and
                                Seminyak Square, nightly tacos at Famous Motel Mexicola, plus more!
                            </p>
                        </div>

                    </li>
                </ul>

                <a href="#" class="more-link">see more</a>

            </div>

        </aside>

        <section>

            <div class="country-info main-article">
                <h2 class="lg-heading"><%= @offer.name %></h2>
                <p class="destination-desc " style="display:none;">
                    <%= raw @offer.description %>
                </p>
                <p class="destination-desc">
                    <%= raw @offer.description[0..280]+"..." %>
                </p>
                <a href="javascript:void()" class="readmore-area more-link">READ MORE</a>
                <a href="javascript:void()" class="readmore-area more-link" style="display:none;">LESS</a>

                <div class="ci-map-block">
                    <div id='dest-map' data-map="<%= create_marker @map_marker %>"></div>
                </div>
                <div id="product-accordion" class="accordion-block">

                    <h3>highlights</h3>
                    <div class="highlights">
                        <p><%= simple_format @offer.highlightsStr %></p>
                    </div>

                    <h3>details</h3>
                    <div class="details">
                        <h5>Introduction</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h5>Accommodation</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="d-list">
                            <li>Hair-dryer</li>
                            <li>Hair-dryer</li>
                            <li>Hair-dryer</li>
                        </ul>
                        <h5>Introduction</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h5>Accommodation</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <h3 id="ci-itinarary-map-loader">Itinerary</h3>
                    <div class="itinerary">

                        <div id="ci-itinerary-map"></div>

                        <h4>RENDEVOUS GRAND HOTEL PERTH SCARBOROUGH</h4>

                        <div id="itinerary-tabs">
                            <div class="tabs-wrapper">
                                <ul>
                                    <li>
                                        <a href="#itinerary-tabs-1">
                                            <img src="http://lorempixel.com/140/90/city" alt="">
                                            <p>21 September</p>
                                        </a>
                                    </li>
                                    <li><a href="#itinerary-tabs-2"><img src="http://lorempixel.com/140/90/city" alt="">
                                        <p>21 September</p></a></li>
                                    <li><a href="#itinerary-tabs-3"><img src="http://lorempixel.com/140/90/city" alt="">
                                        <p>21 September</p></a></li>
                                </ul>

                            </div>
                            <div id="itinerary-tabs-1" class="itinerary-tabs">
                                <div class="it-info">
                                    <p class="heading">22 September 2016 - Day 2</p>
                                    <p>Arriving in the afternoon you'll be met from the airport and taken to the Rendezvous
                                        Grand Hotel Perth Scarborough (3Q) for a three-night stay. Enjoy a welcome dinner
                                        tonight.</p>
                                </div>
                                <div class="it-img">
                                    <img src="http://lorempixel.com/290/180/city" alt="">
                                </div>
                            </div>
                            <div id="itinerary-tabs-2" class="itinerary-tabs">
                                <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
                            </div>
                            <div id="itinerary-tabs-3" class="itinerary-tabs">
                                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                            </div>
                        </div>
                    </div>

                    <h3>FACILITIES</h3>
                    <div class="FACILITIES">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                        <ul class="d-list">
                            <li>Restaurant</li>
                            <li>Restaurant</li>
                            <li>Restaurant</li>
                        </ul>
                    </div>

                    <h3>Reviews &nbsp; (2)</h3>
                    <div class="reviews">
                        <div class="heading">Hotel Port Denia Signature Scores 8.2 out of 10 based on 2 reviews</div>
                        <div class="review-block">
                            <h5>JANE SNOW 10 / 10</h5>
                            <p>Not a particularly fancy hotel but with staff ALL trained to a very high standard and happy to help which more than makes up for minor weeknesses elsewhere. That is why I spend two x four weeks there per year.</p>
                        </div>
                        <div class="review-block">
                            <h5>KATE BLACK     10 / 10</h5>
                            <p>This is a good hotel a decent walk, or a bus ride, from Denia centre. Nearby is the marina and also some bars and a supermarket. Remember you are in Spain, so there will be a lot of Spanish guests in the hotel. Outside school times they are mainly elderly and good fun, but exuberant as the Spanish are. At weekends and definitely in school holidays there are a lot of children in the hotel and they keep late hours and can be very noisy.</p>
                        </div>
                        <div class=" pagination">
                            <a class="pagination__link-left" href="#"></a>
                            <a class="pagination__link" href="#">1</a>
                            <a class="pagination__link" href="#">2</a>
                            <a class="pagination__link" href="#">3</a>
                            <a class="pagination__link-right" href="#"></a>
                        </div>
                    </div>

                    <h3>Fine print</h3>
                    <div class="fint-print">
                        <p class="heading">Terms and Conditions</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                        <ul class="d-list">
                            <li>Restaurant</li>
                            <li>Restaurant</li>
                            <li>Restaurant</li>
                        </ul>
                    </div>

                    <h3>booking guarantee</h3>
                    <div class="guarantee">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>

                    </div>


                </div>

                <div class="gallery">

                    <h4 class="xs-heading lars">Gallery</h4>

                    <div class="slider-mobile-wrapper">
                        <div class="slider-for">
                        <% @photos.each do |photo| %>
                            <div><img src="<%= photo.path %>" alt="" width="100%"></div>
                        <% end %>
                        </div>
                    </div>
                    <div class="slider-nav xs-invisible">
                        <% @photos.each do |photo| %>
                            <div><img src="<%= photo.path %>" alt="" width="100%"   ></div>
                        <% end %>
                    </div>
                </div>

            </div>
            </div>
        </section>
    </div>
</div>
</div>
