<% provide(:title, @offer.name) %>
<% provide(:description, @offer.description) %>
<% provide(:og_image, open_graph_image.gsub("https://", "http://")) %>
<% provide(:og_secure_image, open_graph_image) %>
<div data-page="offer">

<!-- BEGIN - breadcrumbs -->
<div class="breadcrumbs width-limiter">
  <%= raw create_breadcrumb_offer(@offer) %>
  <% if user_signed_in? and current_user.admin? %>
    <%= link_to "Edit Offer", edit_offer_path(@offer), class: "breadcrumbs__link" %>
  <% end %>
</div>
<!-- END - breadcrumbs -->


<div class="product" id="waitMeee">
  <div class="hero" style="background: url( <%= showing_image(draw_hero_background(@offer)) %>) 50% 50% no-repeat;" >
    <div class="photo-credit"><%= get_hero_image_credit(@offer) %></div>
    <div class="hero-content width-limiter hero-content-offer">
      <div class="offer-grey-box">
        <div class="row">
          <div class="col-xs-7 col-sm-9 col-md-9">
            <h2 class=""><%= @offer.marketing_headline.present? ? @offer.marketing_headline : @offer.name  %></h2>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1" style="padding-top:20px">
            <% if @offer.stickers.first.present? %>
              <img src="<%= @offer.stickers.first.file_url %>">
            <% end %>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1" style="padding-top:20px;">
            <% if @offer.stickers.second.present? %>
              <img src="<%= @offer.stickers.second.file_url %>">
            <% end %>
          </div>
        </div>
        <div class="hc-info">
          <span class="hci-price">
            <span>$</span>
            <span class="hci-price-self"><%= offer_minimum_price(@offer).round %></span>
            <% if @offer.allow_installments? %>
              <span class="payments-text-hero">or 5 monthly payments of <%= number_to_currency(offer_minimum_price(@offer) / 5.0) %></span><br>
            <% end %>
          </span>
          <% if @offer.duration.present? %>
            <span class="hci-nights">
              <span class="xs-invisible"><%= create_duration(@offer) %></span>
            </span>
          <% end %>
          <div class="info-text">
            <%= @offer.per_adult_overwrite.present? ? @offer.per_adult_overwrite : "Per Adult" %>
          </div>
          <% specialNotes_txt = @offer.specialNotes.blank? ? '' : @offer.specialNotes.gsub(/\r?\n/, '') %>
          <span class="hci-info"><%= simple_format(specialNotes_txt) %></span>
        </div>
        <div class="location">
          <!-- TODO Remove booking essentials for vpoucher for this download (as opposed to customer voucher email attachment) -->
          <%= link_to 'download itinerary', offer_path(@offer, :format => :pdf), class: "btn-bordered red", id:"download-itinerary" %>
          <% if user_signed_in? and current_user.admin? %>
            <p><br>&nbsp;&nbsp;&nbsp;<%= link_to "Edit Offer", edit_offer_path(@offer) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class="product-content width-limiter">
      <aside>
        <h3 class="point-card__header"><%= @operator.city rescue "" %></h3>
        <a  data-toggle="modal" data-target="#operatorDetail" href="#" class="hotel-name"><%= @operator.name rescue "" %></a>
        <div id="product-options"><%= render partial: 'offers/select_variants_form', offer: @offer %></div>
      </aside>
      <section>
          <div class="country-info main-article">
            <h2 class="lg-heading"><%= @offer.name %></h2>
            <% if @offer.description.size > 301 %>
              <div class="destination-desc " style="display:none;">
                  <%= simple_format @offer.description %>
              </div>
              <div class="destination-desc">
                  <%= simple_format @offer.description[0..300]+"..." %>
              </div>
              <a href="javascript:void()" class="readmore-area more-link">READ MORE</a>
              <a href="javascript:void()" class="readmore-area more-link" style="display:none;">LESS</a>
            <% else %>
              <div class="destination-desc">
                  <%= simple_format @offer.description %>
              </div>
            <% end %>
            <div id="product-accordion" class="accordion-block">
              <h3>Highlights</h3>
              <div class="highlights">
                  <p><%= simple_format @offer.highlightsStr %></p>
              </div>
              <% if @offer.itineraryStr.present? %>
                <h3 id="ci-itinarary-map-loader">Itinerary</h3>
                <div class="itinerary">
                  <%= simple_format @offer.itineraryStr %>
                </div>
              <% end %>

              <% if @offer.customStr2.present? %>
                <h3>FACILITIES</h3>
                <div class="FACILITIES">
                    <%= simple_format @offer.customStr2 %>
                </div>
              <% end %>

              <% if @offer.includes.present? %>
                <h3>INCLUDES</h3>
                <div class="includes">
                    <%= simple_format @offer.includes %>
                </div>
              <% end %>
              <h3>map</h3>
              <div class="ci-map-block">
                <div id='dest-map' data-map="<%= create_marker @offer %>">
                </div>
              </div>
              <% if @offer.other.present? %>
                <h3>Other</h3>
                <div class="other">
                  <%= simple_format @offer.other %>
                </div>
              <% end %>
              <% if @offer.customStr3.present? %>
                <h3>fine print</h3>
                <div class="fint-print">
                  <%= simple_format @offer.customStr3 %>
                </div>
              <% end %>
              <h3>booking essentials</h3>
              <div class="details">
                <%= simple_format(
                    @offer.customStr1.presence || @offer.operator.booking_essentials
                  )
                %>
              </div>
              <h3>booking guarantee</h3>
              <div class="guarantee">
                <p>
                  <%= simple_format(
                      @offer.customStr4.presence || @book_guarantee
                    )
                  %>
                </p>
              </div>
              <h3>travel period</h3>
              <div class="operating-schedule">
                <p>
                  <%= simple_format(
                      @offer.operatingSchedule
                    )
                  %>
                </p>
              </div>
              <h3>pricing options</h3>
              <div class="pricing-options">
                <p>
                  <% if @offer.variants_table.present? %>
                    <table style="margin-top: 20px;
                                  margin-bottom: 40px;
                                  border-collapse: collapse;
                                  border-spacing: 0;
                                  width: 100%;">
                      <thead>
                        <tr>
                          <% @offer.variants_table.first.keys.each do |key| %>
                            <% unless key == :price %>
                              <th><%= key.to_s.titleize %></th>
                            <% end %>
                          <% end %>
                            <th>Price</th>
                        </tr>
                      </thead>
                      <tbody style="display: table-row-group;
                                    vertical-align: middle;
                                    border-color: inherit;">
                        <% @offer.variants_table.each do |variant_hash| %>
                          <tr>
                            <% variant_hash.each do |k,v| %>
                              <% unless k == :price %>
                                <td><%= v %></td>
                              <% end %>
                            <% end %>
                            <td><%= number_to_currency(variant_hash[:price]) %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <% end %>
                  <style>
                    tr:nth-child(even) {background-color: #f2f2f2;}
                  </style>
                </p>
              </div>

            </div>

            <h3 class="sm-heading lars">Videos & Photos</h3>
            <% unless @galeries.blank? %>
              <div class="gallery">
                <div class="slider-mobile-wrapper">
                  <div class="slider-for">
                    <% @galeries.each do |galery| %>
                      <% if galery.class.name == "Video" %>
                        <iframe
                          class="player-vimeo"
                          src="<%= galery.url %>"
                          frameborder="0"
                          webkitallowfullscreen
                          mozallowfullscreen
                          allowfullscreen
                        >
                        </iframe>
                      <% else %>
                        <div>
                          <img src="<%= galery.path_url(:large) %>" alt="" width="100%">
                          <div class="photo-credit">Credit: <%= galery.credit %></div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="slider-nav xs-invisible">
                  <% @galeries.each do |galery| %>
                    <% if galery.class.name == "Video" %>
                      <div
                        data-toggle="popover"
                        data-trigger="hover"
                        data-container="body"
                        data-placement="bottom"
                        data-content="<%= galery.title %>"
                      >
                        <img src="<%= galery.vimeo_thumbnail %>" alt="" width="100%">
                        <div class="overlay-nav-video"></div>
                      </div>
                    <% else %>
                      <div>
                        <img src="<%= galery.path_url(:large) %>" alt="" width="100%">
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            </div>
          </div>
      </section>
    </div>
    <% if @related_offers.present? %>
      <div class="package-offers padding-medium">
        <div class="head-title">
          <h3 class="proposal__header">You might also like</h3>
        </div>
        <div class="package-offers-block width-limiter">
            <ul>
              <div id="featured_offers-list">
                <%= render partial: "offers/all_index_offers", collection: @related_offers, as: :offer %>
              </div>
            </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "operator_detail" %>
<%= render "layouts/guest_modal" %>
