<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="body-stories">
    <div class="image">
      <%= link_to showing_image(photo.path_url(:large)) , class: 'display-image-on-modal', data: { gallery: '' }  do %>
        <%= image_tag showing_image(photo.path_url(:medium)) %>
      <% end %>
          <div class="title">
      <p><%= photo.place.display_name rescue "" %></p>
      <h4><%= photo.caption %></h4>
    </div>
    </div>
  </div>
  <div class="details-dest btm15">
  <!-- #hardcode -->
    <div class="left">
        <% if photo.place.present? %>
          <% photo.place.subcategories.subcats.each do |sub| %>
            <%= link_to sub.name, subcategory_path(sub.identifier), class: "badge-link" %>
          <% end %>
        <% end %>
    </div>
  </div>
</div> <!-- /col -->
