<div class="photo-container">
  <h2>Add New Photo</h2>
  <%= simple_form_for @photo do |f| %>
    <div class="form-group">
      <%= f.input :title, label: "Photo Title", input_html: { class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.input :caption, input_html: { class: 'form-control content-length'} %><br />
      LENGTH: <span class="char-count"></span> CHARACTERS
    </div>
    <div class="form-group">
      <%= f.input :credit, input_html: { class: 'form-control'} %><br />
    </div>
    <div class="form-group">
      <%= f.input :alt_tag, input_html: { class: 'form-control'} %><br />
    </div>
    <div class="form-group">
      <%= f.input :caption_source, input_html: { class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.input :priority, collection: 1..10, input_html: { class: 'form-control'} %>
    </div>
      <%= f.input :status, label: "Status", collection: ["draft", "edited", "live", "removed"], input_html: { class: 'form-control'}  %><br />
    <div class="form-group">
      <p><%= f.input :path, as: :file, label: false%></p>
      <% if @area %>
        <%= f.input :area_id, as: :hidden, input_html: {value: @area.id } %>
      <% elsif @place %>
        <%#= f.input :place_id, as: :hidden, input_html: {value: @place.id } %>
        <%= f.input :photoable_id, as: :hidden, input_html: {value: @place.id } %>
        <%= f.input :photoable_type, as: :hidden, input_html: {value: "Place" } %>
      <% elsif @attraction %>
        <%#= f.input :attraction_id, as: :hidden, input_html: {value: @attraction.id } %>
        <%= f.input :photoable_id, as: :hidden, input_html: {value: @attraction.id } %>
        <%= f.input :photoable_type, as: :hidden, input_html: {value: "Attraction" } %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.button :submit%>
    </div>
</div>
  <% end %>