<div class="photo-container">
  <h2>Add New Photo</h2>
  <%= simple_form_for [@photoable, @photo] do |f| %>
    <div class="form-group">
      <%= f.input :title, label: "Photo Title", input_html: { class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.input :fun_fact, input_html: { class: 'form-control'} %><br />
    </div>
    <div class="form-group">
      <%= f.input :credit, input_html: { class: 'form-control'} %><br />
    </div>
    <div class="form-group">
      <p><%= f.input :path, as: :file, label: false%></p>
    </div>
    <div class="form-group">
      <%= f.button :submit%>
    </div>
</div>
  <% end %>
