
  <div id="photos-masonry">
    <div class="grid-sizer"></div>
    <div class="item about">
      <div class="dude">
        <img src="<%= asset_path('dude-01.svg') %>" class="dude-image">
      </div>
      <div class="about-wrapper">
        <div class="about-hero">
          <% if @video %>
            <iframe class="hero-video" id="player1" src="//player.vimeo.com/video/<%= @video.vimeo_id %>?api=1&player_id=player1" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <% else %>
            <% unless @photoable.photos.empty? %>
              <img class="hero-photo" src="<%= @photoable.photos.first.path_url(:large) %>" />
            <% end %>
          <% end %>
        </div>
        <div class="about-content">
          <h3>About <%= @photoable.display_name %></h3>
          <div id="area-content">
            <p><%= raw @photoable.description %></p>
          </div>
        </div>
      </div>
    </div>
  <div class="vertical-space"></div>
  <% unless @photoable.photos.empty? %>
    <div class="item photo photo-label">
      <div class="icon"><%= image_tag asset_path 'washingmachine.png' %></div>
      <h3>Photos</h3>
    </div>
    <% @photoable.photos.each_with_index do |photo, index| %>
        <div class="item photo photo-card">
          <div class="photo-container">
            <img class="place-photo" src="<%= photo.path_url(:large) %>" />
            <div id="fun-fact-<%= index %>" class="fun-fact">
              <p><%= raw photo.caption %></p>
            </div>
          </div>
        </div>

    <% end %>
  </div>
<% end %>
