<div class="item photo photo-card photo-thumb">
  <div class="game-divider">
  </div>
  <%= content_tag "div", class: "photo-data", data: { photo_url: photo.path_url(:large),
                                                      photo_alt: alt_tag_for(photo),
                                                      photo_credit: photo.credit
                                                      } do %>
  <% end %>
  <img class="game-thumbnail" src="<%= photo.path_url(:small) %>" alt="<%= photo.path.path.gsub('photos/', '') %>" />
  <%= raw like_icon(photo) %>
  <div class="photo-credit">Credit: <%= photo.credit %></div>
  <div class="priority"><%= photo.priority ? photo.priority : 2 %></div>
  <div class="photo-caption">
  <p><%= raw photo.caption %></p>
    <a href="#" data-toggle="modal" data-target="#postCardModal-<%= index %>">
      <img class="postcard-icon" src="<%= asset_path ('postcard_icon-01.svg') %>"/>
    </a>
    <!-- Modal -->
    <div class="modal post-modal fade" id="postCardModal-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog postcard-dialog">
        <div class="modal-content postcard-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Send A Postcard!</h4>
          </div>
          <div class="modal-body">
            <div class="post-card-form">
              <%= form_tag(send_postcard_path) do %>
                  <div class="form-group">
                      <%= label_tag 'name', 'Your Email Address' %>
                      <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Email Address' %>
                  </div>
                 <div class="form-group">
                     <%= label_tag 'email', 'Send To: Email Address' %>
                     <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Recipient Email Address' %>
                 </div>
                 <div class="form-group">
                     <%= label_tag 'message', 'Message' %>
                     <%= text_area_tag 'message', nil, class: 'form-control', rows: 4 %>
                     <%= hidden_field_tag 'photo', photo.path_url(:medium) %>
                     <%= hidden_field_tag 'place', photo.area ? photo.area.display_name : photo.place.display_name %>
                     <%= hidden_field_tag 'area', '' %>
                     <%= hidden_field_tag 'country', photo.area ? @area.country.display_name : photo.place.area.country.display_name %>
                 </div>
                 <div class="form-group">
                   <%= submit_tag 'Send', class: 'btn btn-default btn-about' %>
                 </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
