<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="head-stories">
    <!-- #hardcode -->
      <div class="left">
        <% if photo.respond_to?(:user) and photo.user.present? %>
          <%= link_to user_path(photo.user) do %>
            <div class="profile-outer">
              <%= image_tag photo.user.avatar_url(:thumb) %>
            </div>
            <div class="profile-text">
              <%= photo.profile.user_name %>
            </div>
           <%- end %>
         <% end %>
      </div>
      <div class="right"><a href="#"><i class="fa fa-image"></i> 9 </a>
      </div>
    </div>
    <div class="body-stories">
      <div class="left">
          <p><%= photo.place.display_name rescue "" %></p>
          <h4 class="cruises-color paddright2"><%= photo.caption %></h4>
      </div>
      <div class="right">
        <div class="image">
          <img src="<%= showing_image(photo.path_url(:medium)) %>" alt="">
        </div>
      </div>
    </div>
    <!-- #hardcode -->
    <div class="details-dest">
      <div class="left">
        <% if photo.place.present? %>
          <% photo.place.subcategories.each do |sub| %>
            <%= link_to sub.name, subcategory_path(sub) %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
