<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="body-stories">
      <div class="left">
          <p><%= link_to photo.place ? photo.place.display_name : photo.countries.first.display_name, photo.place ? place_path(photo.place) : country_path(photo.countries.first) %></p>
          <h5 class="cruises-color text-light paddright2"><%= raw(photo.caption) %></h5>
      </div>
      <div class="right">
        <div class="image">
          <%= link_to showing_image(photo.path_url(:large)) , class: 'display-image-on-modal', data: { gallery: '' }  do %>
            <%= image_tag showing_image(photo.path_url(:medium)) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="details-dest">
      <div class="left">
        <% if photo.place.present? %>
          <% if photo.place.primary_category.present?%>
            <%= link_to photo.place.primary_category.name, primary_category_path(photo.place.primary_category.identifier) %>
          <% end %>
          <% photo.place.subcategories.each do |sub| %>
            <%= link_to sub.name, subcategory_path(sub.identifier), class: "badge-link" %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
