<div class="container">
  <div class="row">
    <div class="head-title">
      <h2 class="gray-font">Photos</h2>
    </div>
  </div>
</div>

<div class="border-section "></div>

<div class="container text-left">
    <h4 class="section-title btm15 top15">Featured Gallery</h4>
</div>

<section class="your-stories video-show photo">
  <div class="container">
    <div class="row">
      <%= render partial: 'featured_photos_list', collection: @featured_photos, as: :photo %>
    </div> <!-- row -->
  </div>
</section>
<!-- Latest -->

<% unless @photos.blank? %>
  <div class="container ">
    <div class="text-left">
      <h4 class="section-title btm15 top15 ">Latest</h4>
    </div>
  </div>

  <section class="your-stories video-show video-latest photo-latest">
    <div class="container ">
      <div class="row" id="photos-list">
        <%= render partial: "photos/photos_list", collection: @photos, as: :photo %>
      </div>
    </div>
  </section>

  <% unless last_page? @photos %>
    <div class="text-center clearfix btm15 single-pagination-container" id="photos-single-pagination-container" style="clear:both">
      <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
        <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
      </div>
      <%= link_to "Load More", photos_path(page: @photos.next_page, resources: 'photos'), class: 'btn btn-default single-pagination', remote: true %>
    </div>
  <% end %>

<% end %>

<%= render partial: 'shared/blueimp_gallery_modal' %>
