<a href="<%= place_path(area) %>">
  <div class="col-sm-12 col-md-6 col-xs-12 col-lg-6">
  <div class="thumbnail padd0">
    <div class="image-cat">
      <img src="<%= draw_small_background(area)%>" class="top-rounded img-responsive">
    </div>
    <div class="caption text-center">
      <h4 class="font-orange2"><%= area.display_name %></h4>
    </div>
    <div class="details-dest">
      <div class="left">
        <% area.subcategories.subcats.each do |c| %>
          <a href="<%= subcategory_path(c) %>"><%= c.name %></a>
        <% end %>
      </div>
      <div class="right">
        <% if !area.viator_link.blank? %>
          <a onclick="bookNowClicks()" href="<%= area.viator_link%>" target="_blank" class="pink">Book Now</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
</a>
