<% if (user_signed_in?) && ( current_user.try(:admin) || current_user.has_role?("editor") || current_user.has_role?("publisher") ) %>
<div id="table-container">
  <h1>All Countries</h1>

  <table class="table table-striped" id="place-table">
    <thead>
    <tr>
      <th>Country</th>
      <th>Description Word Count</th>
      <th>SEO Rating</th>
      <th>Status</th>
      <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    <% @countries.each do |country| %>
        <tr>
          <td><%= link_to "#{country.display_name} || #{country.id} ", edit_country_path(country) %></td>
          <td><%= country.description.blank? ? 0 : (country.description.size / 6) %></td>
          <td><%= link_to country.seo_complete_percentage, seo_analysis_country_path(country) %></td>
          <td><%= country.published_status %></td>
          <td><%= country.updated_at.strftime('%F at %T') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
