<div class="container" data-controller='countries' data-action="onload">
  <h1>Create New Country</h1>

  <%= simple_form_for @country, html: { role: 'form'} do |f| %>
    <div class="row">
        <div class="col-md-6">
          <p>
            <input id="pac-input" class="controls form-control" type="text"
              placeholder="Search For An Regions">
          </p>
          <div id="map-canvas" style="height:500px;"></div>
        </div>
        <div class="col-md-6">
          <div class="form-group lat-lng row">
            <div class="col-xs-12 col-sm-6"><%= f.input :latitude, :input_html => { "data-geo" => "lat", class: 'form-control' } %></div>
            <div class="col-xs-12 col-sm-6"><%= f.input :longitude, :input_html => { "data-geo" => "lng", class: 'form-control' } %></div>
          </div>
        </div>
      </div>
    <div class="form-group">
      <%= f.input :display_name, label: 'Country Name', input_html: { class: 'wide-form' }, required: true %>
    </div>
    <div class="form-group">
      <%= f.input :description, label: 'Description', input_html: { class: 'wide-form' }, required: true %>
    </div>
    <div class="form-group">
      <%= f.input :hero_photo, as: :file, label: 'Hero Photo' %>
    </div>
    <div class="form-group">
      <%= f.input :country_code, as: :string, label: '2-Letter Country Code', required: true %>
    </div>
    <div class="form-group">
      <%= f.input :capital_city, label: 'Capital City' %>
    </div>
    <div class="form-group">
      <%= f.input :capital_city_description, label: 'Capital City Description', input_html: { class: 'wide-form' } %>
    </div>
    <div class="form-group">
      <%= f.input :currency_code, label: '3-Letter Currency Code' %>
    </div>
    <div class="form-group">
      <%= f.input :official_language, label: 'Official Language' %>
    </div>
    <div class="form-group">
      <%= f.input :tallest_mountain, label: 'Tallest Mountain' %>
    </div>
    <div class="form-group">
      <%= f.input :tallest_mountain_height, label: 'Height (numbers only in metres)' %>
    </div>
    <div class="form-group">
      <%= f.input :longest_river, label: 'Longest River' %>
    </div>
    <div class="form-group">
      <%= f.input :longest_river_length, label: 'Length (numbers only in kilometres)' %>
    </div>
    <div class="form-group published-radio">
      <%= f.input :published_status, as: :radio_buttons, collection: ["draft", "edited", "live", "removed"], checked: ['draft'] %>
    </div>
    <div class="form-group">
        <%= f.label "Parentable" %><br>
        <%= radio_button_tag 'parentable_chose', 'region', true %> Region &nbsp; &nbsp;
        <%= radio_button_tag 'parentable_chose', 'no_parent', true %> No Parent
        <br>
        <%= f.fields_for :parent, (@country.childrens.new()) do |fc| %>
          <div id='chosen_region' style="display:none;">
            <%= fc.select(:parentable_id, @regions.collect {|p_c| [ p_c.display_name, p_c.id ] }, :required => true) %>
            <%= fc.hidden_field(:parentable_type, class: 'place_parent_attributes_parentable_type_region', value: "Region") %>
          </div>
        <% end %>
      </div>
    <div class="form-group">
      <%= f.submit :submit %>
    </div>
  <% end %>
