<% provide(:title, @country.display_name) %>
<% provide(:description, @country.description) %>
<% provide(:og_image, open_graph_image.gsub("https://", "http://")) %>
<% provide(:og_secure_image, open_graph_image) %>

<% if @country.published_status == "live" || (user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?)) || (user_signed_in? && (current_user.places.include?(@country) && @country.published_status!= "removed")) %>
<div data-page="country">
<div class="area-content" data-lat="<%= @country.latitude %>" data-long="<%= @country.longitude %>">
  <div id='country-data' data-country-code=<%= @country.country_code %> data-capital-city=<%= @country.capital_city %>>
</div>


<div class="hero-image-wrapper hero dismiss-mega-menu-search"
         style="background: url( <%= showing_image(draw_hero_background(@country)) %>) no-repeat;" role="img"
         aria-label="">
   <div class="photo-credit"><%= get_hero_image_credit(@country) %></div>
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="location">
              </div>
              <h1><%= @country.display_name %></h1>
              <div class="destination-details">

                  <div class="favourites-wrapper">
                      <% if user_signed_in? && @country.users.include?(current_user) %>
                        <div class="icon-favourite selected" id="favouriteType" data-post-path="countries_users" data-klass="country" data-liked="true" data-place-id="<%= @country.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                        <div class="favourites-title hidden-xs">Remove from favourites</div>
                      <% else %>
                        <div class="icon-favourite" id="favouriteType" data-post-path="countries_users" data-klass="country" data-liked="false" data-place-id="<%= @country.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                        <div class="favourites-title hidden-xs" >Add to favourites</div>
                      <% end %>

                  </div>
                  <a data-scroll href="#photos" class="white">
                    <div class="photo-wrapper">
                        <img class="svg-inject" src="/assets/new-images/icon-camera.svg"/>

                        <div class="photo-title"><span class="count"> <%= @country.photos.size %></span> <span class="hidden-xs">Photos</span>
                        </div>
                    </div>
                  </a>
                  <a data-scroll href="#videos" class="white">
                    <div class="video-wrapper">
                        <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">

                        <div class="video-title"><span class="count"><%= @country.videos.size %></span><span class="hidden-xs"> Videos</span>
                        </div>
                    </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="destinations">
  <div class="destinations-content-block width-limiter">
    <aside>
      <h3 class="point-card__header"><%= @country.display_name %></h3>
      <ul class="featured-articles">
        <% @stories.each do |story| %>
        <li>
          <div class="fa-img-block">
            <div class="user-dp"
                 style="background: url(<%= showing_image(story.user.avatar_url)%>) no-repeat;"
                 role="img"
                 aria-label="User: <%= story.user.username %>">
            </div>
          </div>
          <p class="xs-heading"><%= raw story.title.blank? ? story.title : story.title.truncate(65) %></p>
          <div style="float: left;">
            <div class="hidden-xs hidden-sm">
              <p><%= story.user.name.truncate(28) rescue "" %></p>
            </div>
            <div class="hidden-lg hidden-xl">
              <p><%= story.user.name.truncate(18) rescue "" %></p>
            </div>
          </div>
          <div style="float: right;">
            <a href="<%= story_path(story) %>" class="btn-bordered red small">READ MORE</a>
          </div>
          <span class="label-article">Featured Article</span>
        </li>
        <% end %>
      </ul>
    </aside>
    <section>
      <div class="main-article">
        <h2 class="lg-heading"><%= @country.display_name %></h2>
        <p class="destination-desc " style="display:none;">
            <%= raw @country.description %>
        </p>
        <p class="destination-desc">
            <%= raw @country.description[0..280]+"..." %>
        </p>
        <a href="javascript:void()" class="readmore-area more-link">READ MORE</a>
        <a href="javascript:void()" class="readmore-area more-link" style="display:none;">LESS</a>
      </div>
      <div class="top-holidays">
        <h3>Top Australian Holidays</h3>
        <ul>
            <li>
            </li>
        </ul>
      </div>
    </section>
  </div>
</div>



<!-- ADD CODE HERE -->

</div>
</div>
<% end %>
<%= render 'layouts/all_modal' %>
<%= render partial: 'shared/blueimp_gallery_modal' %>
<%= render 'shared/video_modal' %>
