<% provide(:title, @country.display_name) %>
<% provide(:description, @country.description) %>
<% provide(:og_image, open_graph_image.gsub("https://", "http://")) %>
<% provide(:og_secure_image, open_graph_image) %>

<% if @country.published_status == "live" || (user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?)) || (user_signed_in? && (current_user.places.include?(@country) && @country.published_status!= "removed")) %>
<div data-page="country">
<div class="area-content" data-lat="<%= @country.latitude %>" data-long="<%= @country.longitude %>">
  <div id='country-data' data-country-code=<%= @country.country_code %> data-capital-city=<%= @country.capital_city %>>
</div>


<div class="hero-image-wrapper dismiss-mega-menu-search"
         style="background: url( <%= showing_image(draw_hero_background(@country)) %>) no-repeat;" role="img"
         aria-label="">
         <div class="photo-credit"><%= get_hero_image_credit(@country) %></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="location">
                    </div>
                    <div class="destination"><%= @country.display_name %></div>
                    <div class="destination-details">

                        <div class="favourites-wrapper">
                            <% if user_signed_in? %>
                              <div class="icon-favourite selected"></div>
                              <div class="favourites-title hidden-xs" data-liked="true" data-place-id="<%= @country.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Remove from favourites</div>
                            <% else %>
                              <div class="icon-favourite" data-liked="false" id="favouriteType" data-klass="country" data-place-id="<%= @country.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                              <div class="favourites-title hidden-xs" >Add to favourites</div>
                            <% end %>

                        </div>
                        <a data-scroll href="#photos" class="white">
                          <div class="photo-wrapper">
                              <img class="svg-inject" src="/assets/new-images/icon-camera.svg"/>

                              <div class="photo-title"><span class="count"> <%= @country.photos.size %></span> <span class="hidden-xs">Photos</span>
                              </div>
                          </div>
                        </a>
                        <a data-scroll href="#videos" class="white">
                          <div class="video-wrapper">
                              <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">

                              <div class="video-title"><span class="count"><%= @country.videos.size %></span><span class="hidden-xs"> Videos</span>
                              </div>
                          </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-container">
        <div class="nav-option-container">
            <div class="container">
                <div class="nav-option-outer-wrapper">
                    <div class="nav-option-wrapper">
                        <% if @videos.present? %><div class="nav-option"><a data-scroll href="#videos">VIDEOS</a></div><% end %>
                        <% if @stories.present? %><div class="nav-option"><a data-scroll href="#stories">STORIES</a></div><% end %>
                        <% if @areas.present? %><div class="nav-option"><a data-scroll href="#thingstodo">PLACES TO GO</a></div><% end %>
                        <% if @photos.present? %><div class="nav-option"><a data-scroll href="#photos">PHOTOS</a></div><% end %>
                        <% if @famous_faces.present? %><div class="nav-option"><a data-scroll href="#famousfaces">FAMOUS FACES</a></div><% end %>
                        <% if @fun_facts.present? %><div class="nav-option"><a data-scroll href="#funfacts">FUN FACTS</a></div><% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <% if @country.description.length > 280 %>
                <div class="destination-desc " style="display:none;">
                    <%= raw @country.description %>
                </div>
                <div class="destination-desc">
                    <%= raw @country.description[0..280]+"..." %>
                </div>
                <div class="read-more-wrapper">
                    <a href="javascript:void()" class="readmore-area">READ MORE</a>
                    <a href="javascript:void()" class="readmore-area " style="display:none;">LESS</a>
                </div>
            <% else %>
                <div class="destination-desc ">
                    <%= raw @country.description %>
                </div>
            <% end %> 
            </div>
        </div>
      </div>

    </div>

    <!-- VIDEO SECTION -->
    <% unless @last_video.blank? %>
    <% if !@last_video.youtube_id.blank? %>
      <div id="videos" class="large-video-component-wrapper play-in-modal"
           style="background: url(<%= @last_video.vimeo_thumbnail %>) no-repeat;"
           role="img"
           data-thumb="<%= @last_video.vimeo_thumbnail %>"
           data-id="<%= @last_video.youtube_id %>"
           data-video="youtube"
           data-modal="#video-modal"
           data-video-url="<%= @last_video.url %>"
           aria-label="Kids View: Things to do in Sydney">
          <div class="overlay"></div>
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="kids-view-wrapper">
                          <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">

                          <div class="kids-view"><%= @last_video.title %></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="main-play-icon-wrapper">
              <div class="main-play-icon"></div>
          </div>
      </div>
    <% else %>
      <div id="videos" class="large-video-component-wrapper play-in-modal"
           style="background: url(<%= @last_video.vimeo_thumbnail %>) no-repeat;"
           role="img"
           data-thumb="<%= @last_video.vimeo_thumbnail %>"
           data-id="<%= @last_video.vimeo_id %>"
           data-video="vimeo"
           data-modal="#video-modal"
           data-video-url="<%= @last_video.url %>"
           aria-label="Kids View: Things to do in Sydney">
          <div class="overlay"></div>
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="kids-view-wrapper">
                          <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">

                          <div class="kids-view"><%= @last_video.title %></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="main-play-icon-wrapper">
              <div class="main-play-icon"></div>
          </div>
      </div>
      <% end %>
    <% end %>

    <%= render partial: "shared/videos_list", locals:{container: "container" } %>

    <% if @stories.present? %>
      <div class="stories-things-wrapper">
        <%= render partial: "stories/all_stories" %>
      </div>
    <% end %>

      <% unless @areas.blank? %>
        <div id="thingstodo" class="container dest-things-wrapper">
          <div class="row">
            <div class="col-xs-12">
                <h3>Places to go in <%= @country.display_name %></h3>
            </div>
          </div>
          <div class="row">
            <div class="owl-carousel carousel" id="areas-list">
              <%= render partial: 'places/places_to_visit_list', collection: @areas, as: :area %>
            </div>
          </div>

          <% unless last_page? @areas %>
            <div class="row hidden-xs single-pagination-container" id="areas-single-pagination-container">
              <div class="col-xs-12 load-more">
                <div class="hidden single-pagination-loader" align="center">
                  <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                </div>
                <%= link_to "LOAD MORE", paginate_things_to_do_country_path(@country, areas_page: @areas.next_page, resources: 'areas', collection_object: 'area', pagination_template: "places/places_to_visit_list"), class: 'single-pagination', remote: true %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

<!--     <% unless @photos_hero.blank? %>
      <div id="photos" class="large-carousel-wrapper">
        <div class="large-owl-carousel owl-carousel">
          <% @photos_hero.each do |photo| %>
            <div class="carousel-slide">
              <div class="carousel-img" style="background: url( <%= image_path(showing_image(photo.path_url(:large))) %>) no-repeat;"></div>
              <div class="large-carousel-overlay">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="camera"></div>
                      <div id="cs-large-carousel-title" class="large-carousel-title"><h3><%= photo.caption %></h3></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %> -->

    <div id="photos">
      <%= render partial: "shared/photos_list", as: :photos, locals:{container: "container"} %>
    </div>

  <% if @famous_faces.present? %>
    <div id="famousfaces" class="famous-faces-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3>Famous faces from <%= @country.display_name %></h3>
          </div>
        </div>
        <div class="row">
          <div class="owl-carousel carousel">
            <% unless @famous_faces.blank? %>
              <% @famous_faces.each do |famous| %>
                <div class="col-md-3 col-sm-6">
                  <div class="famous-face">
                    <div class="famous-face-img" style="background: url(<%= image_path showing_image(famous.photo_url) %>) no-repeat;" role="img" aria-label="Bindi Irwin"></div>
                    <h4><%= famous.name %></h4>
                    <p><%= famous.description %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @fun_facts.present? %>
    <div id="funfacts" class="container fun-facts-wrapper">
      <div class="row">
          <div class="col-xs-12">
              <h3>Fun Facts</h3>
          </div>
      </div>
      <div class="row">

          <div class="owl-carousel fun-fact-carousel">
           <%= render partial: 'shared/fun_facts', collection: @fun_facts, as: :funfact %>
          </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
<%= render 'layouts/all_modal' %>
<%= render partial: 'shared/blueimp_gallery_modal' %>
<%= render 'shared/video_modal' %>

<%#= render 'layouts/video_modal' %>
<%#= render 'stories/modal_story' %>
