<p>
  <a href="<%= post_places_path(@post) %>" class="btn btn-primary" >Associated Places</a>
  <a href="<%= post_countries_path(@post) %>" class="btn btn-primary" >Associated Countries</a>
  <a href="<%= post_subcategories_path(@post) %>" class="btn btn-primary" target="blank">Choose Categories</a>
  <a href="<%= edit_post_path(@post) %>" class="btn btn-primary" >Edit Post</a>
  <a href="<%= post_path(@post) %>" class="btn btn-primary" target="_blank">View Post Page</a>
</p>
