<div class="container">
<% if (user_signed_in?) && ( current_user.try(:admin) || current_user.has_role?("editor") || current_user.has_role?("publisher") ) %>
<div id="table-container">
  <h1>All Posts</h1>

  <table class="table table-striped" id="post-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>
      <th>Credit</th>
      <th>Created At</th>
      <th>Associated Places</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= link_to post.title, post_path(post) %></td>
          <td><%= post.status %></td>
          <td><%= post.credit %></td>
          <td><%= post.created_at.strftime("%F") %></td>
          <td><%= link_to "Edit Associated Places", post_places_path(post) %></td>
          <td><%= link_to "Edit", edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Create New Post", new_post_path, class: "btn btn-default btn-lg" %>
</div>
<% end %>
</div>
