<% 
  if !@country.blank?
    variable = @country
    path = 'country'
  end
%>

<div class="container">
  <% if path == 'country' %>
    <%= render "countries/admin_tabs" %>
  <% else %>
    <%= render "#{path}s/admin_tabs" %>
  <% end %>
  <h2>Famous Face</h2>
  <%= link_to "Back To Edit #{variable.display_name}", eval("edit_#{path}_path(variable)") %>
  <% if @famous_faces.present? %>
    <h4>Famous Faces (Click to Edit)</h4>
    <div class="row">
      <% @famous_faces.each do |famous_face| %>
        <div class="col-md-4 fun-fact">
          <%= link_to edit_country_famous_face_path(variable, famous_face), method: :get do %>
            <div class="fun-fact-img" style="background: url(<%= draw_country_partial_photo(famous_face, variable) rescue nil %>) no-repeat;" role="img" aria-label="Fish Market"></div>
          <% end %>
          <div class="fact"><%= raw famous_face.name %></div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="edit_photo">
    <%= render "/famous_faces/form" %>
  </div>
</div>