<% categories.each do |category| %>
  <div class="col-lg-12 col-md-12 btm15">
    <%= link_to primary_category_path(category.identifier) do %>
      <div class="img-bg-wide outer-js">
        <%= image_tag category.icon.url.to_s , class: 'img-explore-wide inner-js' %>
        <span class="text-explore">
          <%= category.name %>
        </span>
      </div>
    <% end %>
  </div>
  <% category.get_subcategories.each do |sub| %>
    <div class="col-lg-6 col-md-6 btm15">
      <div class="img-bg outer-js">
        <%= link_to subcategory_path(sub) do %>
          <%= image_tag category.icon.url.to_s , class: 'img-explore- inner-js' %>
          <span class="text-explore">
            <%= sub.name %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
