<div class="container">
  <div class="hidden">

    <div id="similar-places-js" data-similar="<%= array_similar_place_ids(@place.similar_places) %>">
    </div>
  </div>
  <h1>Similar Destinations</h1>
  <%= link_to "Back To Edit #{@place.display_name}", edit_place_path(@place)%>
  <%= render "/places/admin_tabs" %>
  <%= simple_form_for [@place, @similar_places] do |f| %>
    <div id="dual-list-box-employees" class="form-group row">
      <select multiple="true" id="js-area-dual-box" class="dualbox" data-json="false" data-title="Destinations" name="similar_place[similar_place_ids][]">
        <%= @areas.each do |area| %>
        <option value="<%= area.id %>" name="<%= area.display_name %>"><%= area.display_name + (area.primary_area ? " (Primary Area)" : "") %></option>
        <% end %>
     </select>
   </div>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
