<div class="container">
  <div class="hidden">

    <div id="similar-places-js" data-similar="<%= array_similar_place_ids(@place.similar_places) %>">
    </div>
  </div>
  <h1>Similar Destinations</h1>
  <%= render "/places/admin_tabs" %>
  <%= simple_form_for [@place, @similar_places] do |f| %>
    <div id="dual-list-box-employees" class="form-group row">
      <select multiple="true" id="js-area-dual-box" class="dualbox" data-json="false" data-title="Destinations" name="similar_place[similar_place_ids][]">
        <%= @areas.each do |area| %>
        <option value="<%= area.id %>" name="<%= area.display_name %>"><%= area.display_name + " " + area.id.to_s %></option>
        <% end %>
     </select>
   </div>
    <%= f.submit :submit %>
  <% end %>
</div>
<script>
  $(document).ready(function(){
    var availableDestinations = $('#dual-list-box-Destinations');
    var similar_ids = $('#similar-places-js').data("similar");
    var selectBox = $("[name*='similar_place[similar_place_ids][]']");
    if(similar_ids.length > 0){
      for (var i = 0; i < similar_ids.length; i++){
        availableDestinations.find($("[name*='" + similar_ids[i]['place_name'] + "'")).remove();
        if (similar_ids[i] !== "nil"){
          $(selectBox).append("<option value='" + similar_ids[i]['place_id'] +
                              "' name=" + similar_ids[i]['place_name'] +
                              "' >" + similar_ids[i]['place_name'] + "</option>")
        }
      }
    }
  });
</script>
