<div class="container">
  <%= render "/offers/admin_tabs" %>
  <h1>Edit Stickers</h1>
  <%= link_to "Back To Edit #{@offer.display_name}", eval("edit_offer_path(@offer)")%>  
  <div id="update_product_sticker_js" class="hidden">
    <h4 style="color:red">Stickers updated!</h4>
  </div>

  <% if @stickers.present? %>
    <div class="row">
      <%= simple_form_for @offer, remote: true, url: offer_path(@offer), html: { role: 'form', id: 'sticker_form'} do |f| %>
        <% @stickers.each do |sticker| %>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <%= hidden_field_tag "product[sticker_ids][]", nil%>
            <%= check_box_tag "product[sticker_ids][]", sticker.id, @offer.sticker_ids.include?(sticker.id), id: dom_id(sticker), class: "checkbox_sticker" %>
            <img src="<%= sticker.file_url %>"><br/>
            <%= link_to 'Edit', edit_sticker_path(sticker) %>
            <%= link_to 'Destroy', sticker, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
    </div>
      <div class="form-group hidden">
        <%= f.button :submit, 'Update', id: 'sticker_button' %>
      </div>
      <% end %>
  <% end %>

  <div class="photo-container">
    <h2>Add New Sticker</h2>
    <%= simple_form_for @sticker do |f| %>
      <div class="form-group">
        <p><%= f.input :file, label: false%></p>
      </div>
      <div class="form-group">
        <%= f.button :submit%>
      </div>
    <% end %>
  </div>
</div>
