<% unless reviews.blank? %>
    <div class="text-left">
        <!-- <h4 class="section-title">Member Reviews</h4> -->
        <h4 class="section-title"><%= title %></h4>
    </div>
  <% reviews.each do |review| %>
    <div class="btm15 card review-content">
      <div class="body-stories">
        <p class="some-text" data-full-text="<%= review.content %>">
          <% if review.content.length > 280 %>
              <%= review.content[0..280] + "..." %>
            <% else %>
             <%= review.content %>
          <% end %>
        </p>
      </div>
      <div class="head-stories">
        <div class="left">
          <a href="#" class="black">
            <%= strip_domain_from_username review.user %>
          </a>
          <span class="grey">Jul 2015</span>
        </div>
        <div class="right">
        <!-- #hardcode -->
        <%# debugger %>
          <%# get_user_place_rating_from_review(review).times do |star| %>
            <i class="fa fa-smile-o"></i>
          <%# end %>
        <%# end %>
        </div>
      </div>
    </div>
  <% end %>

<div class="text-center clearfix">
  <button href="#" class="btn btn-default black top5 btm5 load-more">Load more</button>
</div>
<% end %>