<div class="row" id="reviews">
  <% @reviews.each do |review| %>
    <div class="col-sm-6 col-md-3">
      <h4><%= !review.title.blank? ? review.title : @reviewable.display_name %></h4>
      <% get_user_place_rating_from_review(review).times do |star| %>
        <img src="<%= asset_path('star-on.png') %>" />
      <% end %>
      <p>
        "<%= review.content[0..280] %>"
      </p>
        <p class="anchor">
      <% if review.content.length > 280 %>
          <a href="#">See entire review</a>
      <% end %>
        </p>
      <p><%= review.user.email.match(/^(.*?)@/)[1] %><%= (", " + age(review.user.date_of_birth).to_s) if (age(review.user.date_of_birth) > 0) %><br><%= review.user.country if review.user.country %></p>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>

<div class="col-md-12 text-center">
  <!-- <a href="#" class="br_see_more_btn">See more reviews</a> -->
</div>
