<!-- <div class="btm15 card review-content">
  <div class="body-stories">
    <p class="some-text" data-full-text="<%= review.content %>">
      <%# if review.content.length > 280 %>
          <%#= review.content[0..280] + "..." %>
        <%# else %>
         <%#= review.content %>
      <%# end %>
    </p>
  </div>
  <div class="head-stories">
    <div class="left">
      <a href="#" class="black">
        <%#= strip_domain_from_username review.user %>
      </a>
      <span class="grey">Jul 2015</span>
    </div>
    <div class="right">    
      <%## get_user_place_rating_from_review(review).times do |star| %>
        <%## <i class="fa fa-smile-o"></i>
      <%## end %>
      <%#= raw draw_smile_review(review) rescue "" %>
    </div>
  </div>
</div> -->

<div class="col-md-4">
    <div class="member-review-wrapper">
        <div class="user-wrapper">
            <div class="user-dp"
                 style="background: url(<%= showing_image(review.user.avatar_url)%>) no-repeat;"></div>
            <div class="username"> <%= review.user.name %></div>
        </div>
        <div class="comment">
          <%= review.content %>
        </div>
        <div class="rating-wrapper">
            <!-- <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/> -->
            <%= raw draw_smile_review(review) rescue "" %>
        </div>
        <div class="date"><%= review.created_at.strftime("%B %Y") %></div>
    </div>
</div>