<div class="container">
  <div class="hidden">
    <div id="similar-places-js" data-similar="<%= array_regions_offers_ids(@offer.offers_regions) %>" data-controllers="regions">
    </div>
  </div>
  <h1>Similar Destinations</h1>
  <%= render "/offers/admin_tabs" %><br>
  <%= simple_form_for [@offer, @regions_offers] do |f| %>
    <div id="dual-list-box-offers-regions" class="form-group row">
      <select multiple="true" id="js-area-dual-box" class="dualbox" data-json="false" data-title="offers-regions" name="regions_offers[region_ids][]">
        <%= @regions.each do |region| %>
          <option value="<%= region.id %>" name="<%= region.display_name %>"><%= region.display_name %></option>
        <% end %>
      </select>
    </div>
    <%= f.submit :submit %>
  <% end %>
</div><br>