<% variable = @place.blank? ? @attraction : @place %>
<% path = (variable.eql? @place)? 'place' : 'attraction' %>
<div class="container">
  <%= render "/#{path}s/admin_tabs" %>
  <h2>Edit Good To Know</h2>
  <%= simple_form_for [variable, @good_to_know] do |f| %>
    <%= f.input :description, input_html: { class: 'form-control' } %>
    <%= f.input :show_on_page %>
    <%= f.submit :submit %>
  <% end %>
</div>
