<p class="top20">
  <a href="<%= place_path(@place) %>" class="btn btn-primary"
    target="_blank">View Place Page</a>
  <a href="<%= seo_analysis_place_path(@place) %>" class="btn btn-primary"
    target="_blank">SEO Analysis</a>
  <a href="<%= place_good_to_knows_path(@place) %>"
    class="btn btn-primary" >Good To Knows</a>
  <a href="<%= choose_hero_place_path(@place) %>"
    class="btn btn-primary">Edit / Add Photos</a>
  <a href="<%= polymorphic_path([@place, Deal]) %>"
    class="btn btn-primary">Deals</a>
  <a href="<%= all_place_videos_path(@place) %>"
    class="btn btn-primary">Videos</a>
  <a href="<%= place_three_d_videos_path(@place) %>"
    class="btn btn-primary" >3D Videos</a>
  <a href="<%= all_place_fun_facts_path(@place) %>"
    class="btn btn-primary">Fun Facts</a>
</p>
