<p class="top20">
  <a href="<%= place_path(@place) %>" class="btn btn-primary" target="_blank">View Place Page</a>
  <a href="<%= place_similar_places_path(@place) %>" class="btn btn-primary" >Associated Areas</a>
  <a href="<%= place_good_to_knows_path(@place) %>" class="btn btn-primary" >Good To Knows</a>
  <a href="<%= choose_hero_place_path(@place) %>" class="btn btn-primary">Edit / Add Photos</a>
  <a href="<%= polymorphic_path([@place, Deal]) %>" class="btn btn-primary">Deals</a>
  <a href="<%= place_three_d_videos_path(@place) %>" class="btn btn-primary" >3D Videos</a>
</p>
