<% if user_signed_in? %>
<%= nested_form_for [@place, @story], :html => { :id => "story-form" , multipart: true} do |f| %>
<div id="StoryModal" class="modal fade">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content" id="ContentStoryModal">
      <div class="modal-header">
        <button type="button" class="close close-modal-orange" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Tell us your story</h4>
      </div>
      <div class="modal-body" align="center">
        <section class="explore">
          <div class="row">
            <div class="col-xs-12 ">
              <p class="pink btm15" align="left">About your visit</p>
              <a href="#" class="btn btn-default btn-block title-story">
              Title of your story<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Write an interesting title</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <a href="#" class="btn btn-default btn-block photo-story">
              Photos & Video<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Add media</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <a href="#" class="btn btn-default btn-block date-story">
              When did you visit?<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Select the month and year</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <a href="#" class="btn btn-default btn-block about-story">
              Tell us about your visit<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Write a few paragraphs</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <p class="pink btm15" align="left">About you</p>
              <a href="#" class="btn btn-default btn-block agebracket">
              Your age bracket<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Select from the list provided</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <a href="#" class="btn btn-default btn-block firstname">
              Your first name<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">This will appear on your story</p>
              </a>
            </div>
            <div class="col-xs-12 col-md-12">
              <%= f.submit "Publish", class: "btn btn-danger btn-block btn-height btn-radius button-orange fontbig-button btm15", id: "story-publish-button" %>
            </div>
            <div class="col-xs-12 ">
              <button class="btn btn-default pink">Save as draft</button>
            </div>

          </div>
        </section>
      </div>
    </div>

    <div class="modal-content" id="TitleStoryModal">
      <div class="modal-header">
        <!-- <button type="button" class="close close-modal" data-dismiss="modal">&times;</button> -->
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">Title of your story</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="form-group">
          <%= f.text_area :title, :class => 'form-control', rows: 5, placeholder: 'Enter title of your story' %>
        </div>
      </div>
    </div>

    <div class="modal-content" id="PhotoStoryModal">
      <div class="modal-header">
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">Photos & Videos</h4>
      </div>
      <div class="modal-body" align="left">
        <div class="row">
        <div class="col-xs-12">
          
          
        <div class="lis-file-upload" class="">
          <%= f.fields_for :user_photos do |ff| %>
            <% next if ff.object.path.file.blank? %>
            <div class="MultiFile-label">
              <%= ff.link_to_remove "x", class: 'MultiFile-remove'  %>
              <span>
                <span class="MultiFile-label" title="File selected: <%= ff.object.path.file.file_name %>">
                  <span class="MultiFile-title"><%= ff.object.path.file.file_name %></span>
                  <%= image_tag ff.object.path.url.to_s, style: "max-height:100px; max-width:100px;", class: 'MultiFile-preview' %>
                  </span>
                </span>
            </div>
          <% end %>
        </div>  

          <div class="fileinput-button">
              <div class="btn btn-height-width btn-default block-import" >
                <i class="fa fa-plus pink"></i> Add
                <%= file_field_tag 'files[]', label: false, class: 'file-upload with-preview' %>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="modal-content" id="DateStoryModal">
      <div class="modal-header">
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">When did you visit?</h4>
      </div>
      <div class="modal-body" align="center">
         <p class="grey top15 btm15 ">Select the month and year that you visited this place</p>
            <%= f.text_field :age_bracket, class: 'form-control place-date' %>
            <input type="text" class="form-control place-date">
        </div>
      </div>

    <div class="modal-content" id="AboutStoryModal">
      <div class="modal-header">
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">About your visit</h4>
      </div>
      <div class="modal-body" align="center">
         <div class="form-group">
           <%= f.text_area :content, class: 'form-control', rows: 5, placeholder: 'In a few paragraphs, tell is about your experience visiting to this place.' %>
         </div>
      </div>
    </div>

    <div class="modal-content" id="AgeBracketModal">
      <div class="modal-header">
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">Your age bracket</h4>
      </div>
      <div class="modal-body">
         <div class="" data-toggle="buttons">
          <label class="btn btn-default btn-block ">
            <%= f.radio_button :age_bracket, value: 'toodlers', autocomplete: 'off', id: 'option1' %> 5-8 years old
          </label>
          <label class="btn btn-default btn-block ">
            <%= f.radio_button :age_bracket, value: 'kids', autocomplete: 'off', id: 'option2' %> 9-12 years old
          </label>
          <label class="btn btn-default btn-block ">
            <%= f.radio_button :age_bracket, value: 'teenagers', autocomplete: 'off', id: 'option3' %> A teenager
          </label>
          <label class="btn btn-default btn-block ">
            <%= f.radio_button :age_bracket, value: 'adults', autocomplete: 'off', id: 'option4' %> An adult
          </label>
        </div>
      </div>
    </div>

    <div class="modal-content" id="FirstNameModal">
      <div class="modal-header">
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">Your first name</h4>
      </div>
      <div class="modal-body" align="center">
         <div class="form-group">
          <%= f.text_area :author_name, class: 'form-control', rows: 5, placeholder: "Enter your name you'd like to appear with your story." %>
         </div>
      </div>
    </div>

  </div>
</div>

<% end %> <!-- /form for -->
<% end %> 