<div class="thumbnail">
  <div class="image-cat image-cat-left outer-js">
    <img src="<%= showing_image (place.photos.count > 0 ? place.photos.first.path_url(:small) : asset_path('generic-grey.jpg')) %>" alt="" class="img-responsive inner-js">
  </div>
  <div class="caption caption-right">
    <h4 class="gray-font"><%= place.country.display_name rescue "" %></h4>
    <h2><%= place.display_name %></h2>
  </div>
    <!-- hardcode #get category + sub category-->
  <div class="details-dest">
    <div class="left">
      <%= place.subcategories.each do |sub| %>
        <%= link_to subcategory_path(sub) do %>
          <i class="fa fa-user"></i> <%= sub.name %>
        <% end %>
      <% end %>
    </div>
    <div class="right">
      <a href="#"> $$</a>
    </div>
  </div>
</div>