<div class="col-md-4 col-sm-6 dest-thing-wrapper">
    <div class="dest-thing">
      <a class="link_card" href="<%= (area.class.to_s.eql? 'Attraction') ? attraction_path(area) : place_path(area) %>"></a>
        <div class="dest-thing-overlay-wrapper">
            <% unless area.viator_link.blank? %>
              <div class="dest-thing-overlay">
                  <div class="dollar-rating">
                  <% price = area.subcategories.find_by_category_type("price")%>
                  <%= !price.blank?? price.name : "" %>
                  </div>
                  <div class="book-wrapper">
                      <a class="btn book-btn" onclick="bookNowClicks()" href="<%= area.viator_link%>" target="_blank">BOOK</a>
                  </div>
              </div>
          <% end %>
        </div>
        <div class="things-img" style="background: url(<%= showing_image(area.photos.count > 0 ? area.photos.first.path_url(:small) : asset_path('generic-hero-small.jpg')) %>) no-repeat;" role="img"
             aria-label="Bondi"></div>
        <div class="dest-thing-content">
            <h4><%= area.display_name %></h4>
            <div class="tags">
              <% area.subcategories.subcats.each do |c| %>
                <div class="tag">
                    <div class="v-center">
                      <a href="<%= subcategory_path(c) %>"><%= c.name %></a>
                    </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>
