
<% provide(:title, @place.display_name) %>
<% category = @place.categories.first.identifier rescue "default"%>
<% provide(:description, @place.short_description ? @place.short_description : @place.description) %>

<% if @place.status == "live" || @place.status == "guest" || (user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?)) || (user_signed_in? && (current_user.places.include?(@place) && @place.status!= "removed")) %>
  <div id='country-data' data-country-code=<%= @place.country.country_code %> data-capital-city=<%= @place.country.capital_city %>></div>

  <div class="area-content" data-lat="<%= @place.latitude %>" data-long="<%= @place.longitude %>">

  <div class="hero-image-wrapper dismiss-mega-menu-search" style="background: url( <%= showing_image(draw_hero_background(@place)) %>) no-repeat;"
      role="img" aria-label="Destination Sydney">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="location">
                        <%= raw create_breadcrumb_for(@place) %>
                        <% if user_signed_in? and current_user.admin? %>
                          <p><%= link_to "Edit Place", edit_place_path(@place) %></p>
                        <% end %>
                    </div>
                    <div class="destination"><%= @place.display_name %></div>
                    <div class="destination-details">
                        <div class="ages-wrapper">
                            <div class="ages-title">For ages</div>
                          <% unless @place.minimum_age && @place.maximum_age %>
                            <p class="age-ranges">
                              All Ages
                            </p>
                          <% else %>
                          <p id="age-ranges" class="ages">
                            <%= @place.minimum_age %> - <%= @place.maximum_age %>
                          </p>
                          <% end %>
                        </div>
                        <div class="weather-wrapper">
                            <div class="weather-title">Weather</div>
                            <div class="temperature">
                                 <div class="weather">
                                   <img id="icon" src=""/>
                                   <span id="temperature"></span>
                                 </div>
                            </div>
                        </div>
                        <div class="favourites-wrapper">
                            <% if user_signed_in? && @place.users.include?(current_user) %>
                              <div class="icon-favourite selected"></div>
                              <div class="favourites-title hidden-xs" data-liked="true" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Remove from favourites</div>
                            <% else %>
                              <div class="icon-favourite" data-liked="false" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                              <div class="favourites-title hidden-xs" >Add to favourites</div>
                            <% end %>
                        </div>
                        <a data-scroll href="#photos" class="white">
                          <div class="photo-wrapper">
                              <img class="svg-inject" src="/assets/new-images/icon-camera.svg"/>
                              <div class="photo-title"><span class="count"> <%= @place.photos.size %></span> <span class="hidden-xs">Photos</span>
                              </div>
                          </div>
                        </a>
                        <a data-scroll href="#videos" class="white">
                          <div class="video-wrapper">
                              <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">
                              <div class="video-title"><span class="count"><%= @place.videos.size %></span><span class="hidden-xs"> Videos</span>
                              </div>
                          </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="action">
      <div class="left">
        <ul>
          <!-- Add To Favourites -->
<!--           <%# if user_signed_in? && @place.users.include?(current_user) %>
            <li>
              <i class="fa fa-bookmark-o"></i><a href="#" class="place-favorite white" data-liked="true" data-place-id="<%#= @place.id.to_s %>" data-user-id="<%#= user_signed_in? ? current_user.id.to_s : 'no-user' %>"> Remove From Favourites</a>
            </li>
          <%# else %>
            <li>
              <i class="fa fa-bookmark-o"> </i><a href="#" class="place-favorite white" data-liked="false" data-place-id="<%#= @place.id.to_s %>" data-user-id="<%#= user_signed_in? ? current_user.id.to_s : 'no-user' %>"> Add To Favourites</a>
            </li>
          <%# end %> -->

         <!--  <%# if user_signed_in? && current_user.admin? %>
            <li><a href="<%#= new_polymorphic_path([@place, Story.new]) %>" class="white" ><i class="fa fa-file-text-o"></i> Tell your story</a></li>
          <%# end %> -->
        </ul>
      </div>
        <div class="pull-right hidden-xs">
          <div class="component-desk">
            <ul>
              <li><a href="#photos"><i class="fa fa-image"></i> <%= @place.photos.size %> Photos</a></li>
              <li><a href="#videos"><i class="fa fa-youtube-play"></i> <%= @place.videos.size %> Videos</a></li>
            </ul>
          </div>
    </div>
    <div class="sticky-container">
        <div class="nav-option-container">
            <div class="container">
                <div class="nav-option-outer-wrapper">
                    <div class="nav-option-wrapper">
                        <% unless @videos.blank? %>
                          <div class="nav-option"><a data-scroll href="#videos">VIDEOS</a></div>
                        <% end %>
                        <% unless @stories.blank? %>
                          <div class="nav-option"><a data-scroll href="#stories">STORIES</a></div>
                        <% end %>
                        <% unless @deals.blank? %>
                          <div class="nav-option"><a data-scroll href="#deals">DEALS</a></div>
                        <% end %>
                        <div class="nav-option"><a data-scroll href="#thingstodo">THINGS TO DO</a></div>
                        <% unless @photos.blank? %>
                          <div class="nav-option"><a data-scroll href="#photos">PHOTOS</a></div>
                        <% end %>
                        <% unless @fun_facts.blank? %>
                          <div class="nav-option"><a data-scroll href="#funfacts">FUN FACTS</a></div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="destination-desc " style="display:none;">
                    <%= raw @place.description %>
                </div>
                <div class="destination-desc">
                    <%= raw @place.description[0..280]+"..." %>
                </div>
                <div class="read-more-wrapper">
                    <a href="javascript:void()" class="readmore-area">READ MORE</a>
                    <a href="javascript:void()" class="readmore-area " style="display:none;">LESS</a>
                </div>
            </div>
        </div>
    </div>
    <% unless @last_video.blank? %>
    <% if !@last_video.youtube_id.blank? %>
      <div id="videos" class="large-video-component-wrapper play-in-modal"
           style="background: url(<%= @last_video.vimeo_thumbnail %>) no-repeat;"
           role="img"
           data-id="<%= @last_video.youtube_id %>"
           data-video="youtube"
           data-modal="#video-modal"
           data-video-url="<%= @last_video.url %>"
           aria-label="Kids View: Things to do in Sydney"
           data-thumb="<%= @last_video.vimeo_thumbnail %>" >
          <div class="overlay"></div>
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="kids-view-wrapper">
                          <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">

                          <div class="kids-view"><%= @last_video.title %></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      <div class="desc-place">
        <p class="text"><%= raw @place.description[0..280]+"..." %></p>
        <p class="text full" style="display: none;"><%= raw @place.description.gsub("\n", "<br>").gsub("\r", "<br>") %></p>
        <button class="blueish more" style="background:none;border:none;outline:none;padding-left:0;">More <span class="fa fa-caret-down"></span></button>
        <button class="blueish" style="background:none;border:none;outline:none;padding-left:0;display:none;">Less <span class="fa fa-caret-up"></span></button>
          <div class="main-play-icon-wrapper">
              <div class="main-play-icon"></div>
          </div>
      </div>
    <% else %>
      <div id="videos" class="large-video-component-wrapper play-in-modal"
           style="background: url(<%= @last_video.vimeo_thumbnail %>) no-repeat;"
           role="img"
           data-id="<%= @last_video.vimeo_id %>"
           data-video="vimeo"
           data-modal="#video-modal"
           data-video-url="<%= @last_video.url %>"
           aria-label="Kids View: Things to do in Sydney"
           data-thumb="<%= @last_video.vimeo_thumbnail %>">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="kids-view-wrapper">
                            <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">
                            <div class="kids-view"><%= @last_video.title %></div>
                        </div>
                    </div>
              </div>
          </div>
          <div class="main-play-icon-wrapper">
              <div class="main-play-icon"></div>
          </div>
      </div>
      <% end %>
    <% end %>
    <%= render partial: "shared/videos_list", locals:{container: "container" } %>
      <% unless @places_to_visit.blank? %>
        <div id="thingstodo" class="container dest-things-wrapper">
            <div class="row">
              <div class="col-xs-12">
                  <h3>Things to do in <%= @place.display_name %></h3>
              </div>
            </div>
            <div class="row">
                <div class="owl-carousel carousel" id="places_to_visit-list">
                  <%= render partial: 'places_to_visit_list', collection: @places_to_visit, as: :area %>
                </div>
            </div>
          <% unless last_page? @places_to_visit %>
            <div class="row hidden-xs single-pagination-container" id="places_to_visit-single-pagination-container">
                <div class="col-xs-12 load-more">
                  <div class="hidden single-pagination-loader" align="center">
                    <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                  </div>
                <%= link_to "LOAD MORE", paginate_place_to_visit_place_path(@place, places_to_visit_page: @places_to_visit.next_page, resources: 'places_to_visit', collection_object: 'area'), class: 'single-pagination', remote: true %>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="stories-things-wrapper">
        <%= render partial: "stories/all_stories" %>
    <% if user_signed_in? && current_user.admin? && !@place.deals.blank? %>
      <div class="container stories-things-wrapper">
        <div id="deals" class="thing-page-segment">
          <div>
            <h3>Deals</h3> </div>
          <%= render partial: "deals/all_deals", locals:{container: "" } %>
        </div>
      </div>
    <% end %>
    <% unless @photos_hero.blank? %>
      <div id="photos" class="large-carousel-wrapper">
          <div class="large-owl-carousel owl-carousel">
              <% @photos_hero.each do |photo| %>
              <div class="carousel-slide">
                  <div class="carousel-img"
                   style="background: url( <%= image_path(showing_image(photo.path_url(:large))) %>) no-repeat;">
                   </div>
                  <div class="large-carousel-overlay">
                      <div class="container">
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="camera"></div>
                                  <div id="cs-large-carousel-title" class="large-carousel-title"><h3><%= photo.caption %></h3>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  <%= render partial: "shared/photos_list", as: :photos, locals:{container: "container"} %>
<% if @fun_facts.present? %>
  <div id="funfacts" class="container fun-facts-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <h3>Fun Facts</h3>
        </div>
    </div>
    <div class="row">
        <div class="owl-carousel fun-fact-carousel">
         <%= render partial: 'shared/fun_facts', collection: @fun_facts, as: :funfact %>
        </div>
    </div>
  </div>
<% end %>
  </div> <!-- area-content -->
<% end %>

<%= render 'user_photos/form' %>
<%= render 'layouts/all_modal' %>
<%= render 'new_story' %>
<%= render partial: 'shared/blueimp_gallery_modal' %>
<%= render 'shared/video_modal' %>

<style>
  @media (min-width: 767px){
    h1 {
      <%= 'font-size:80px !important;' if @place.display_name.size > 15 %>
    }
  }
</style>
