<div class="container" data-controller='places' data-action="onload">
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being updated:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?) %>
    <%= render "/places/admin_tabs" %>
    <h2>Edit <%= @place.display_name + ' (ID: ' + @place.id.to_s + ')' %></h2>

    <%= simple_form_for @place, html: { role: 'form'} do |f| %>
      <div class="row">
        <div class="col-md-6">
          <p>
            <input id="pac-input" class="controls form-control" type="text" placeholder="Search For A Region">Geometry: <span id="latitude"><%= @place.latitude %></span>, <span id="longitude"><%= @place.longitude %></span>
          </p>
          <div id="map-canvas" style="height:500px;"></div>
          <small>* Set zoom level in the map</small><br>
          Zoom level : <span id="zoom_text"></span>
        </div>
        <div class="col-md-6">
          <div class="form-group lat-lng">
            <div class="row">
              <div class="col-xs-12 col-sm-12"><%= f.input :display_address, placeholder: 'Address', :input_html => { "data-geo" => "formatted_address", class: 'longer-input, form-control' }, label: "Display Address" %></div>
              <div class="col-xs-12 col-sm-6"><%= f.input :latitude, :input_html => { "data-geo" => "lat", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-6"><%= f.input :longitude, :input_html => { "data-geo" => "lng", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-12"><%= f.input :street_number, :input_html => { "data-geo" => "street_number", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-4"><%= f.input :route, :input_html => { "data-geo" => "route", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-4"><%= f.input :sublocality, :input_html => { "data-geo" => "sublocality", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-4"><%= f.input :locality, :input_html => { "data-geo" => "locality", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-6"><%= f.input :state, :input_html => { "data-geo" => "administrative_area_level_1", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-6"><%= f.input :post_code, as: :string, :input_html => { "data-geo" => "postal_code", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-12"><%= f.input :phone_number, input_html: { "data-geo" => "formatted_phone_number", class: 'form-control' } %></div>
              <div class="col-xs-12 col-sm-12"><%= f.input :place_id, input_html: { "data-geo" => "place_id", class: 'form-control' }, label: "Google Place ID" %></div>
              <div class="col-xs-12 col-sm-12"><%= f.input :trip_advisor_url, input_html: { class: 'form-control' } %></div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div><%= f.check_box :footer_include, label: false %>&nbsp;Include In Footer?</div>
      <hr>
      <div class="form-group">
        <table class="table">
          <tr>
            <td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <%= f.hidden_field :zoom_level, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :display_name, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%#= f.association :country, label: 'Country', collection: @countries, as: :select, label_method: :display_name, required: true %>
      </div>
      <div class="form-group">
        <%#= f.input :parent_id, label: 'Parent Place', collection: @places, as: :select, :label_method => lambda { |place| "#{place.display_name}, #{place.country.display_name rescue ""}, ID: #{place.id}"}, value_method: :id, required: true %>
        <%= f.hidden_field :no_parent_select, value: true, class: 'no_parent_select' %>
        <%= f.label "Parent" %><br>
        <% if @place.parent.blank? %>
          <%= radio_button_tag 'parentable_chose', 'region', false %> Region &nbsp;&nbsp;
          <%= radio_button_tag 'parentable_chose', 'place', false %> Place &nbsp;&nbsp;
          <%= radio_button_tag 'parentable_chose', 'no_parent', true %> No Parent
          <br>
          <%= f.fields_for :parent, (@place.childrens.new()) do |fc| %>
            <div id='chosen_country' style="display:none;">
              <%= fc.select(:parentable_id, @countries.collect {|p_c| [ p_c.display_name, p_c.id ] }, :required => true) %>
              <%= fc.hidden_field(:parentable_type, class: 'place_parent_attributes_parentable_type_country', value: "Country") %>
            </div>
            <div id='chosen_region' style="display:none;">
              <%= fc.select(:parentable_id, @regions.collect {|p_c| [ p_c.display_name, p_c.id ] }, :required => true) %>
              <%= fc.hidden_field(:parentable_type, class: 'place_parent_attributes_parentable_type_region', value: "Region") %>
            </div>
            <div id='chosen_place' style="display:none;">
              <%= fc.select(:parentable_id, @places.collect {|p_c| [ p_c.display_name, p_c.id ] }, :required => true) %>
              <%= fc.hidden_field(:parentable_type, class: 'place_parent_attributes_parentable_type_place', value: "Place") %>
            </div>
          <% end %>
        <% else %>
          <%= radio_button_tag 'parentable_chose', 'region', (@place.parent.parentable_type.eql? 'Region') ? true : false %> Region &nbsp;&nbsp;
          <%= radio_button_tag 'parentable_chose', 'place', (@place.parent.parentable_type.eql? 'Place') ? true : false %> Place
          <br>
          <%= f.fields_for :parent do |fc| %>
            <div id='chosen_country' style="display:none;">
              <%#= fc.select(:parentable_id, @countries.collect {|p_c| [ p_c.display_name, p_c.id.to_s+"#{(p_c.class.to_s.eql? 'Place') ? '-place' : '-country'}" ] }, selected:  @place.parent.parentable_id.to_s+"#{(@place.parent.parentable.class.to_s.eql? 'Country') ? '-country' : '-place'}") %>
              <%= fc.select(:parentable_id, @countries.collect {|p_c| [ p_c.display_name, p_c.id ] }, selected:  @place.parent.parentable_id) %>
              <%= fc.hidden_field(:parentable_type, class: 'place_parent_attributes_parentable_type_country', value: "Country") %>
            </div>
            <div id='chosen_region' style="display:none;">
              <%= fc.select(:parentable_id, @regions.collect {|p_c| [ p_c.display_name, p_c.id ] }, selected:  @place.parent.parentable_id) %>
              <%= fc.hidden_field(:parentable_type, class: 'place_parent_attributes_parentable_type_region', value: "Region") %>
            </div>
            <div id='chosen_place' style="display:none;">
              <%= fc.select(:parentable_id, @places.collect {|p_c| [ p_c.display_name, p_c.id ] }, selected:  @place.parent.parentable_id) %>
              <%= fc.hidden_field(:parentable_type, class: 'place_parent_attributes_parentable_type_place', value: "Place") %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.input :meta_description, label: "Meta Description", required: true, input_html: { class: 'form-control area-description-input' } %><br>
        <span id="shortDescriptionCharCount">0</span> characters entered. (255 max)<br>
      </div>
      <div class="form-group">
        <%= f.input :description_heading, label: "Description Heading", input_html: { class: 'form-control area-description-input' } %><br>
      </div>
      <div class="form-group">
        <%= f.input :description, as: :bootsy, label: "Long description", input_html: { class: 'form-control area-description-input', col: 50 } %><br>
        <span id="descriptionCharCount">0</span> characters entered. (700 max)<br>
      </div>
      <div class="form-group">
        <%= f.input :tags, as: :array, label: 'Tags' %>
        <%= link_to '+ Add', '#', class: 'js-add-places-tag' %>
      </div>
      <div class="form-group published-radio">
        <%= f.input :status, as: :select, collection: ["draft", "edited", "live", "removed"] %>
      </div>
      <div><%= f.check_box :is_country, label: false %>  <%= f.label :is_country, "Is Country?" %></div>
      <div><%= f.check_box :show_in_mega_menu, label: false %>  <%= f.label :show_in_mega_menu, "Show in mega menu?" %></div>
      <div class="form-group">
        <%= f.button :submit, 'Submit' %>
      </div>
    <% end %>
    <hr>
  <% else %>
    <h2>You do not have sufficient privileges to view this page</h2>
    <%= link_to "Home", root_path %>
  <% end %>
  <p></p>
  <br>
  <p></p>
</div>
