<% if current_user.try(:admin?) %>
  <div class="area-content">
    <div class="page-wrap">
      <h1>Edit <%= @place.display_name + ' (ID: ' + @place.id.to_s + ')' %></h1>
      <div class="container">
        <div class="banner-wrapper">
          <div class="banner">
            <!--img src="<%= asset_path('title_banner-01.svg') %>" class="blue-banner"-->
            <div class="title-wrapper">
              <h1 class="title"><%= @place.display_name %></h1>
            </div>
          </div>
        </div>
      <%= simple_form_for @place, html: { role: 'form'} do |f| %>
      <div id="edit-photos-masonry">
        <div class="grid-sizer"></div>
        <div class="item about">
          <div class="dude">
            <img src="<%= asset_path('dude-01.svg') %>" class="dude-image">
          </div>
          <div class="about-wrapper">
            <div class="about-hero">
              <% if @video %>
                <iframe class="hero-video" src="//player.vimeo.com/video/<%= @video.vimeo_id %>" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <% else %>
                <% unless @place.photos.empty? %>
                  <img class="hero-photo" src="<%= @place.photos.first.path_url(:medium) %>" />
                <% end %>
              <% end %>
            </div>
            <div class="about-content">
              <h3>About <%= @place.display_name %></h3>
              <div class="form-group">
                <%= f.input :display_name, input_html: { class: 'form-control' } %>
              </div>
              <div class="form-group">
                <%= f.input :description, as: :bootsy, label: false, input_html: { class: 'form-control area-description-input' } %>
              </div>
              <div class="form-group">
                <%= f.input :website, input_html: { class: 'form-control' } %>
              </div>
              <div class="form-group">
                <%= f.input :booking_url, input_html: { class: 'form-control' } %>
              </div>
              <div class="form-group">
                <%= f.input :display_address, input_html: { class: 'form-control' } %>
              </div>
              <div class="form-group">
                <%= f.input :phone_number, input_html: { class: 'form-control' } %>
              </div>
              Current Map Icon: <%= label_tag @place.map_icon %><br />
              Change Icon (PNG Only)
              <div class="form-group">
                <%= f.file_field :map_icon, input_html: { class: 'form-control' } %>
              </div>
              <div class="form-group">
                <%= f.input :subscription_level, collection: ["Premium", "standard", "basic", "out", "draft"], required: true %>
              </div>
              <p><input id="pac-input" class="controls" type="text"
                  placeholder="Enter a location"></p>

              <div class="map-container">
                <div class="map-canvas"></div>
              </div>

              <div class="form-group lat-lng">
                <%= f.input :latitude, :input_html => { class: 'form-control', "data-geo" => "lat" } %>
                <%= f.input :longitude, :input_html => { class: 'form-control', "data-geo" => "lng" } %>
                <%= f.input :address, placeholder: 'Address', :input_html => { class: 'form-control', "data-geo" => "formatted_address" }, label: "Marker Address" %>
              </div>
              <div class="form-group">
                <%= f.input :area_id, label: 'Change Area', collection: @areas, as: :select, label_method: :display_name, value_method: :id, required: true %>
              </div>
              <div class="field">
                <% Category.all.each do |category| %>
                  <%= hidden_field_tag "place[category_ids][]", nil%>
                  <%= check_box_tag "place[category_ids][]", category.id, @place.category_ids.include?(category.id), id: dom_id(category) %>
                  <%= label_tag dom_id(category), category.name %><br/>
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.button :submit, 'Update Place' %>
          </div>
        <% end %>
      </div>

        <div class="vertical-space"></div>

        <% unless @place.videos.empty? %>
          <% @place.videos.each do |video| %>
            <%= simple_form_for [@place, video] do |f| %>
              <div class="">
                <div class="photo-container">
                  <iframe class="video video-player" src="//player.vimeo.com/video/<%= video.vimeo_id %>?api=1&player_id=player1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <div class="form-group">
                    <%= f.input :vimeo_id, input_html: { class: 'form-control'} %>
                    <%= f.input :priority, collection: 1..10 %>
                    <%= f.button :submit %>
                    <%= link_to "Delete", video, class: "btn btn-danger", method: :delete,
                                       data: { confirm: "Are you sure?" } %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% unless @place.photos.empty? %>
          <% @place.photos.each_with_index do |photo, index| %>
            <%= simple_form_for [@place, photo] do |f| %>
              <div class="">
                <div class="photo-container">
                  <img class="place-photo" src="<%= photo.path_url(:small) %>" />
                  <div class="form-group">
                    <%= f.file_field :path, as: :file %>
                  </div>
                  <div class="form-group">
                    <%= f.input :caption, as: :bootsy, input_html: { class: 'form-control caption' } %>
                      Characters remaining:
                    <% unless photo.caption.nil? || photo.caption.length == 0 %>
                      <span class="charCount"><%= 140 - photo.caption.length %></span>
                    <% else %>
                      <span class="charCount">140</span>
                    <% end %>
                      <p></p>
                    <%= f.input :alt_tag, input_html: { class: 'form-control'} %>
                    <%= f.input :title, input_html: { class: 'form-control'} %>
                    <%= f.input :credit, input_html: { class: 'form-control' } %>
                    <%= f.input :priority, collection: 1..10 %>
                    <%= f.button :submit %>
                    <%= link_to "Delete", photo, class: "btn btn-danger", method: :delete,
                                       data: { confirm: "Are you sure?" } %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% unless @place.discounts.empty? %>
        <% @place.discounts.each do |discount| %>
          <%= simple_form_for [@place, discount] do |f| %>
            <div class="item special discount-card photo-card">
              <div class="form-group">
                <h4>Edit Discount</h4>
                <p><%= f.input :description, as: :bootsy, label: false, editor_options: {lists: false}, input_html: { class: 'form-control'} %></p>
                <%= f.button :submit %>
                <%= link_to "Delete", discount, class: "btn btn-danger", method: :delete,
                                   data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% unless @place.games.empty? %>
        <% @place.games.each do |game| %>
          <%= simple_form_for [@place, game] do |f| %>
            <div class="item special discount-card photo-card">
              <div class="form-group">
                <h3>Edit Game</h3>
                <%= f.input :url, label: "Game URL", input_html: { class: 'form-control' } %>
                <%= f.input :priority, collection: 1..10 %>
                <p></p>
                <div class="form-group published-radio">
                  <%= f.input :game_type, as: :radio_buttons, collection: ["jigsaw puzzle", "slider", "word search"], input_html: { class: 'form-control'} %><br />
                </div>
                <%= f.button :submit %>
                <%= link_to "Delete", game, class: "btn btn-danger", method: :delete,
                                   data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="edit_photo">
        <%= render "/videos/form" %>
      </div>

      <div class="edit_photo">
        <%= render "/photos/form" %>
      </div>

      <div class="edit_photo">
        <%= render "/discounts/form" %>
      </div>

      <div class="edit_photo">
        <%= render "/games/form" %>
      </div>

    </div>
  </div>

  <script>
    window.onload = function() {
      $('.caption').on("keypress", function(){
          var len = $(this).val().length;
          $(this).closest('.control-group').next('.charCount').text(140 - len);
      });
    }
  </script>

  <%= javascript_include_tag 'area.js' %>

<% else %>
  <h2>Unauthorized Page</h2>
<% end %>
