 <div class="area-content">
  <div class="page-wrap">
    <h1>Edit Place</h1>
    <div class="container">
      <div class="banner-wrapper">
        <div class="banner">
          <!--img src="<%= asset_path('title_banner-01.svg') %>" class="blue-banner"-->
          <div class="title-wrapper">
            <h1 class="title"><%= @place.display_name %></h1>
          </div>
        </div>
      </div>
    <%= simple_form_for @place, html: { role: 'form'} do |f| %>
    <div id="photos-masonry">
      <div class="grid-sizer"></div>
      <div class="item about">
        <div class="dude">
          <img src="<%= asset_path('dude-01.svg') %>" class="dude-image">
        </div>
        <div class="about-wrapper">
          <div class="about-hero">
            <% if @video %>
              <iframe class="hero-video" src="//player.vimeo.com/video/<%= @video.vimeo_id %>" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <% else %>
              <% unless @place.photos.empty? %>
                <img class="hero-photo" src="<%= @place.photos.first.path_url(:medium) %>" />
              <% end %>
            <% end %>
          </div>
          <div class="about-content">
            <h3>About <%= @place.display_name %></h3>
            <div class="form-group">
              <%= f.input :description, as: :bootsy, label: false, editor_options: {lists: false}, input_html: { class: 'form-control area-description-input' } %>
            </div>
            <div class="form-group">
              <%= f.input :area_id, label: 'Change Area', collection: @areas, as: :select, label_method: :display_name, value_method: :id, required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.button :submit, 'Update Place' %>
        </div>
      <% end %>
    </div>

      <div class="vertical-space"></div>

      <% unless @place.videos.empty? %>
        <% @place.videos.each do |video| %>
          <%= simple_form_for [@place, video] do |f| %>
            <div class="">
              <div class="photo-container">
                <iframe class="video video-player" src="//player.vimeo.com/video/<%= video.vimeo_id %>?api=1&player_id=player1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="form-group">
                  <%= f.input :vimeo_id, input_html: { class: 'form-control'} %>
                  <%= f.input :priority, collection: 1..10 %>
                  <%= f.button :submit %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% unless @place.photos.empty? %>
        <% @place.photos.each_with_index do |photo, index| %>
          <%= simple_form_for [@place, photo] do |f| %>
            <div class="">
              <div class="photo-container">
                <img class="place-photo" src="<%= photo.path_url(:small) %>" />
                <div class="form-group">
                  <%= f.file_field :path, as: :file %>
                </div>
                <div class="form-group">
                  <%= f.input :fun_fact, input_html: { class: 'form-control'} %>
                  <%= f.input :credit, input_html: { class: 'form-control' } %>
                  <%= f.input :priority, collection: 1..10 %>
                  <%= f.button :submit %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% unless @place.discounts.empty? %>
      <% @place.discounts.each do |discount| %>
        <%= simple_form_for [@place, discount] do |f| %>
          <div class="item special discount-card photo-card">
            <div class="form-group">
              <p><%= f.input :description, as: :bootsy, label: false, editor_options: {lists: false}, input_html: { class: 'form-control'} %></p>
              <%= f.button :submit %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="edit_photo">
      <%= render "/photos/form" %>
    </div>

    <div class="edit_photo">
      <%= render "/discounts/form" %>
    </div>

  </div>
</div>
