<div class="container">
  <h1>Edit <%= @place.display_name + ' (ID: ' + @place.id.to_s + ')' %></h1>
  <%= simple_form_for @place, html: { role: 'form'} do |f| %>
    <% if current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin? %>
      <div class="form-group">
        <%= f.input :display_name, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :description, as: :bootsy, label: false, input_html: { class: 'form-control area-description-input' } %>
      </div>
      <div class="form-group">
        <%= f.input :tag_list, label: 'Tags (Comma Separated Values)', input_html: { class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.input :location_list, label: 'Location Tags (Comma Separated Values)', input_html: { class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.input :activity_list, label: 'Activity Tags (Comma Separated Values)', input_html: { class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.input :website, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :booking_url, input_html: { class: 'form-control' } %>
      </div>
    <% end %>
    <% if current_user.has_role?("publisher") || current_user.try(:admin) %>
      <div class="form-group published-radio">
        <%= f.input :status, as: :radio_buttons, collection: ["draft", "edited", "live", "removed"] %>
      </div>
      <div class="form-group">
        <%= f.input :published_at, as: :date, order: [:day, :month, :year], include_blank: true, label: "Publish At" %>
      </div>
      <div class="form-group">
        <%= f.input :unpublished_at, as: :date, order: [:day, :month, :year], include_blank: true, label: "Remove At" %>
      </div>
    <% elsif current_user.has_role?("editor") %>
      <% if @place.status == "draft" || @place.status == "edited" %>
        <div class="form-group published-radio">
          <%= f.input :status, as: :radio_buttons, collection: ["draft", "edited"] %>
        </div>
      <% else %>
      <div class="form-group published-radio">
        <%= f.input :status, as: :radio_buttons, collection: [@place.status] %>
      </div>
      <% end %>
    <% end %>
    <% if current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin? %>
    <p><input id="pac-input" class="controls" type="text"
        placeholder="Enter a location"> Geometry: <%= @place.latitude %>, <%= @place.longitude %></p>

    <div class="map-container">
      <div class="map-canvas"></div>
    </div>

    <div class="form-group lat-lng">
      <%= f.input :display_address, placeholder: 'Address', :input_html => { "data-geo" => "formatted_address", class: 'longer-input' }, label: "Display Address" %>
      <%= f.input :latitude, as: :hidden, :input_html => { "data-geo" => "lat" } %>
      <%= f.input :longitude, as: :hidden, :input_html => { "data-geo" => "lng" } %>
      <%= f.input :street_number, :input_html => { "data-geo" => "street_number" } %>
      <%= f.input :route, :input_html => { "data-geo" => "route", class: 'form-control' } %>
      <%= f.input :sublocality, :input_html => { "data-geo" => "sublocality", class: 'form-control' } %>
      <%= f.input :locality, :input_html => { "data-geo" => "locality", class: 'form-control' } %>
      <%= f.input :state, :input_html => { "data-geo" => "administrative_area_level_1", class: 'form-control' } %>
      <%= f.input :country, as: :string, :input_html => { "data-geo" => "country" } %>
      <%= f.input :post_code, as: :string, :input_html => { "data-geo" => "postal_code" } %>
      <%= f.input :phone_number, input_html: { "data-geo" => "formatted_phone_number", class: 'form-control' } %>
      <%= f.input :place_id, input_html: { "data-geo" => "place_id", class: 'form-control' }, label: "Google Place ID" %>
    </div>
    <div class="form-group">
      <%= f.input :area_id, label: 'Change Area', collection: @areas, as: :select, label_method: :display_name, value_method: :id, required: true %>
    </div>
    <div class="field">
      <% Category.all.each do |category| %>
        <%= hidden_field_tag "place[category_ids][]", nil%>
        <%= check_box_tag "place[category_ids][]", category.id, @place.category_ids.include?(category.id), id: dom_id(category) %>
        <%= label_tag dom_id(category), category.name %><br/>
      <% end %>
    </div>
    <div id="table-container">
      <h3>Videos</h3>
      <table class="table table-striped" id="video-table">
        <thead>
          <tr>
            <th>Preview</th>
            <th>Vimeo ID</th>
            <th>Priority</th>
            <th>Updated By</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @place.videos.each do |video| %>
            <%= f.fields_for :videos do |ff| %>
              <tr>
                <%= ff.input :id, as: :hidden %>
                <td></td>
                <td><%= ff.text_area :vimeo_id %></td>
                <td><%= ff.select :priority, 1..10 %></td>
                <td><%= !video.versions.blank? && video.versions.last.whodunnit ? User.find(video.versions.last.whodunnit).email : "" %><br><%= video.updated_at.strftime('%F at %T') %></td>
                <td><%= ff.check_box :_destroy %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="table-container">
      <h3>Photos</h3>
      <table class="table table-striped" id="photo-table">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Change Photo</th>
            <th>Credit</th>
            <th>Caption</th>
            <th>Alt Tags</th>
            <th>Priority</th>
            <th>Updated By</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @place.photos.each do |photo| %>
            <%= f.fields_for :photos, photo do |ff| %>
              <tr>
                <%= ff.input :id, as: :hidden %>
                <td><img src="<%= asset_path(photo.path_url) %>" class="photo-edit-thumb"></td>
                <td><%= ff.file_field :path, class: "photo-file" %></td>
                <td><%= ff.text_area :credit %></td>
                <td class="photo-caption-edit"><%= ff.text_area :caption, :cols => "30", :rows => "5" %></td>
                <td><%= ff.text_field :alt_tag %></td>
                <td><%= ff.select :priority, 1..10 %></td>
                <td><%= !photo.versions.blank? && photo.versions.last.whodunnit ? User.find(photo.versions.last.whodunnit).email : "" %><br><%= photo.updated_at.strftime('%F at %T') %></td>
                <td><%= ff.check_box :_destroy %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="table-container">
      <h3>Games</h3>
      <table class="table table-striped" id="game-table">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>URL</th>
            <th>Game Type</th>
            <th>Priority</th>
            <th>Updated By</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @place.games.each do |game| %>
            <%= f.fields_for :games, game do |ff| %>
              <tr>
                <%= ff.input :id, as: :hidden %>
                <td><img src="<%= asset_path(game.thumbnail) %>" class="photo-edit-thumb"></td>
                <td><%= ff.text_area :url, :cols => "50", :rows => "3" %></td>
                <td><%= ff.select :game_type, ["jigsaw puzzle", "word search", "slider"] %></td>
                <td><%= ff.select :priority, 1..10 %></td>
                <td><%= !game.versions.blank? && game.versions.last.whodunnit ? User.find(game.versions.last.whodunnit).email : "" %><br><%= game.updated_at.strftime('%F at %T') %></td>
                <td><%= ff.check_box :_destroy %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="table-container">
      <h3>Fun Facts</h3>
      <table class="table table-striped" id="fun-fact-table">
        <thead>
          <tr>
            <th>Content</th>
            <th>Reference</th>
            <th>Priority</th>
            <th>Updated By</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @place.fun_facts.each do |fun_fact| %>
            <%= f.fields_for :fun_facts, fun_fact do |ff| %>
              <tr>
                <%= ff.input :id, as: :hidden %>
                <td><%= ff.text_field :content %></td>
                <td><%= ff.text_field :reference %></td>
                <td><%= ff.select :priority, 1..10 %></td>
                <td><%= !fun_fact.versions.blank? && fun_fact.versions.last.whodunnit ? User.find(fun_fact.versions.last.whodunnit).email : "" %><br><%= fun_fact.updated_at.strftime('%F at %T') %></td>
                <td><%= ff.check_box :_destroy %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="table-container">
      <h3>Specials</h3>
      <table class="table table-striped" id="discount-table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Priority</th>
            <th>Updated By</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @place.discounts.each do |discount| %>
            <%= f.fields_for :discounts do |ff| %>
              <tr>
                <%= ff.input :id, as: :hidden %>
                <td><%= ff.bootsy_area :description %></td>
                <td><%= ff.select :priority, 1..10 %></td>
                <td><%= !discount.versions.blank? ? User.find(discount.versions.last.whodunnit).email : "" %><br><%= discount.updated_at.strftime('%F at %T') %></td>
                <td><%= ff.check_box :_destroy %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <%= f.button :submit, 'Update All' %>
    </div>
    <% end %>
  <% end %>
  <div class="edit_photo">
    <%= render "/videos/form" %>
  </div>

  <div class="edit_photo">
    <%= render "/photos/form" %>
  </div>

  <div class="edit_photo">
    <%= render "/discounts/form" %>
  </div>

  <div class="edit_photo">
    <%= render "/games/form" %>
  </div>

  <div class="edit_photo">
    <%= render "/fun_facts/form" %>
  </div>

  <div class="edit_photo">
    <%= render "/programs/form" %>
  </div>

</div>


<script>
  window.onload = function() {
    $('.caption').on("keypress", function(){
        var len = $(this).val().length;
        $(this).closest('.control-group').next('.charCount').text(140 - len);
    });
  }
</script>

<%= javascript_include_tag 'area.js' %>
