<% if user_signed_in? && current_user.admin? %>
  <div class="container">
    <h1>Pick Hero Image for <%= @place.display_name %></h1>
    <h3>Bound Round Photos</h3>
    <% @place.photos.each do |photo| %>
      <div class="form-group">
        <div class="col-md-3">
          <img style="width: 100%; margin-bottom: 20px;" src="<%= photo.path_url %>">
        <%= simple_form_for @place do |f| %>
          <%= f.input :remote_hero_image_url, as: :hidden, input_html: {value: photo.path_url} %>
          <%= f.submit "Submit", class: "btn btn-default" %>
          <hr>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>You must be signed in and have proper authorization to view this page</h1>
<% end %>
