<div id="table-container">
  <h1>All Places</h1>

  <table class="table table-striped" id="place-table">
    <thead>
    <tr>
      <th>Area</th>
      <th>Place</th>
      <th>Place Type</th>
      <th>Google Place ID</th>
      <th>Subscription Level</th>
      <th>Updated At</th>
      <th>Updated By</th>
    </tr>
    </thead>
    <tbody>
    <% @places.each do |place| %>
        <tr>
          <td><%= place.area_id ? Area.find(place.area_id).display_name : "" %></td>
          <td><%= link_to place.display_name, edit_place_path(place) %></td>
          <td><%= place.categories[0] ? place.categories[0].name : "NOT CATEGORIZED" %></td>
          <td><%= place.place_id %></td>
          <td><%= place.subscription_level %></td>
          <td><%= place.updated_at.strftime('%F at %T') %></td>
          <td><%= !place.versions.blank? && place.versions.last.whodunnit ? User.find(place.versions.last.whodunnit).email : "" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_user.try(:admin) && (current_user.email == "chris.robertson@me.com" || current_user.email == "donovan.whitworth@gmail.com") %>
  <h3>Import Places From Excel</h3>
  <%= form_tag import_places_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Import Videos From Excel</h3>
  <%= form_tag import_videos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Import Photo URLs From Excel</h3>
  <%= form_tag import_photos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Import Games From Excel</h3>
  <%= form_tag import_games_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Validate Import Programs From Excel</h3>
  <%= form_tag validate_import_programs_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Validate Import" %>
  <% end %>
  <h3>Import Programs From Excel</h3>
  <%= form_tag import_programs_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>
