<h1>All Places</h1>
<ul>
  <% @areas.each do |area| %>
  <h3><%= area.display_name %></h3>
    <% area.places.each do |place| %>
      <li><%= link_to place.display_name, edit_place_path(place) %></li>
    <% end %>
  <% end %>
</ul>

<% if current_user.try(:admin) %>
  <h3>Import Places From Excel</h3>
  <%= form_tag import_places_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Import Videos From Excel</h3>
  <%= form_tag import_videos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Import Photo URLs From Excel</h3>
  <%= form_tag import_photos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br />
  <br />
  <h3>Import Games From Excel</h3>
  <%= form_tag import_games_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>
