<div class="container">
  <h1>Create New Place</h1>

  <%= simple_form_for @place, html: { role: 'form'} do |f| %>
    <div class="form-group">
      <%= f.input :display_name, label: 'Place Name', required: true %>
    </div>
    <div class="form-group">
      <%= f.input :area_id, label: 'Part Of What Area?', collection: @areas, as: :select, label_method: :display_name, value_method: :id, required: true %>
    </div>
    <div class="form-group">
      <%= f.input :website, input_html: { class: 'form-control' } %>
    </div>
    <!--
    Map Icon (PNG Only)
    <div class="form-group">
      <%= f.file_field :map_icon, input_html: { class: 'form-control' } %>
    </div> -->
    <div class="form-group">
      <%= f.input :subscription_level, collection: ["Premium", "standard", "basic", "out", "draft"], selected: "draft", required: true %>
    </div>
    <div class="form-group">
      <% Category.all.each do |category| %>
        <%= hidden_field_tag "place[category_ids][]", nil%>
        <%= check_box_tag "place[category_ids][]", category.id, @place.category_ids.include?(category.id), id: dom_id(category) %>
        <%= label_tag dom_id(category), category.name %><br/>
      <% end %>
    </div>

    <p><input id="pac-input" class="controls" type="text"
        placeholder="Enter a location"></p>

    <div class="map-container">
      <div class="map-canvas"></div>
    </div>

    <div class="form-group lat-lng">
      <%= f.input :display_address, placeholder: 'Address', :input_html => { "data-geo" => "formatted_address", class: 'longer-input' }, label: "Display Address" %>
      <%= f.input :latitude, as: :hidden, :input_html => { "data-geo" => "lat" } %>
      <%= f.input :longitude, as: :hidden, :input_html => { "data-geo" => "lng" } %>
      <%= f.input :street_number, :input_html => { "data-geo" => "street_number" } %>
      <%= f.input :route, :input_html => { "data-geo" => "route", class: 'form-control' } %>
      <%= f.input :sublocality, :input_html => { "data-geo" => "sublocality", class: 'form-control' } %>
      <%= f.input :locality, :input_html => { "data-geo" => "locality", class: 'form-control' } %>
      <%= f.input :state, :input_html => { "data-geo" => "administrative_area_level_1", class: 'form-control' } %>
      <%= f.input :country, as: :string, :input_html => { "data-geo" => "country" } %>
      <%= f.input :post_code, as: :string, :input_html => { "data-geo" => "postal_code" } %>
      <%= f.input :phone_number, input_html: { "data-geo" => "formatted_phone_number", class: 'form-control' } %>
    </div>
    </div>
    <div class="form-group">
      <%= f.input :description, as: :bootsy, placeholder: 'Description', required: true, input_html: { class: 'form-control' } %>
    </div>
    <%= f.simple_fields_for :photos do |ff| %>
      <h3>Add Hero Photo</h3>
      <div class="form-group">
        <%= ff.input :title, label: 'Photo Title', required: true %>
      </div>

      <div class="form-group">
        <%= ff.file_field :path, required: true %>
      </div>
      <div class="form-group">
        <%= ff.input :credit, required: true %>
      </div>
      <div class="form-group">
        <%= ff.input :alt_tag, required: true %>
      </div>
      <div class="form-group">
        <%= ff.input :priority, as: :hidden, :input_html => { :value => 1 } %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.submit :submit %>
    </div>
  <%end%>
</div>
<%= javascript_include_tag 'area.js' %>
