<div class="container">
  <% if user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?) %>
    <h1>Edit <%= @place.display_name + ' (ID: ' + @place.id.to_s + ')' %></h1>
    <p>
      <a href="<%= place_path(@place) %>" target="blank">View Place Page</a>
    </p>

    <%= simple_form_for @place, html: { role: 'form'} do |f| %>
      <div class="form-group">
        <%= f.input :top_100, label: "Top 100", input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :display_name, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :country_id, label: 'Country', collection: Country.all, as: :select, label_method: :display_name, value_method: :id, required: true %>
      </div>
      <div class="form-group">
        <%= f.input :short_description, input_html: { class: 'form-control area-description-input' } %>
      </div>
      <div class="form-group">
        <%= f.input :description, label: "Long description", input_html: { class: 'form-control area-description-input' } %>
      </div>
      <div class="form-group">
        <%= f.input :is_area, as: :boolean, label: "Is this an area?", input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :viator_link, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group js-primary-category">
        <%= f.input :primary_category_id, as: :radio_buttons, :collection => PrimaryCategory.all, value_method: :id %>
      </div>
      <div class="field">
        <strong>Secondary categories</strong><br>
        <% SecondaryCategory.all.each do |category| %>
          <%= hidden_field_tag "place[secondary_category_ids][]", nil%>
          <%= check_box_tag "place[secondary_category_ids][]", category.id, @place.secondary_category_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %><br/>
        <% end %>
      </div>
      <div class="form-group">
        <br>
        <strong>Age Range</strong>
        <%= f.input :minimum_age, collection: 5..18, label: "From:", input_html: { class: 'form-control' } %>
        <%= f.input :maximum_age, collection: 9..18, label: "To:", input_html: { class: 'form-control' } %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Price categories</strong><br>
        <% PriceCategory.all.each do |category| %>
          <%= hidden_field_tag "place[price_category_ids][]", nil%>
          <%= check_box_tag "place[price_category_ids][]", category.id, @place.price_category_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %><br/>
        <% end %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Accessibility</strong><br>
        <% AccessibilityCategory.all.each do |category| %>
          <%= hidden_field_tag "place[accessibility_category_ids][]", nil%>
          <%= check_box_tag "place[accessibility_category_ids][]", category.id, @place.accessibility_category_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %><br/>
        <% end %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Place visit duration</strong><br>
        <% DurationCategory.all.each do |category| %>
          <%= hidden_field_tag "place[duration_category_ids][]", nil%>
          <%= check_box_tag "place[duration_category_ids][]", category.id, @place.accessibility_category_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %><br/>
        <% end %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Best time of day</strong><br>
        <% BestTimeToVisitCategory.all.each do |category| %>
          <%= hidden_field_tag "place[best_time_to_visit_category_ids][]", nil%>
          <%= check_box_tag "place[best_time_to_visit_category_ids][]", category.id, @place.accessibility_category_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %><br/>
        <% end %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Weather Conditions</strong><br>
        <% WeatherCategory.all.each do |category| %>
          <%= hidden_field_tag "place[weather_category_ids][]", nil%>
          <%= check_box_tag "place[weather_category_ids][]", category.id, @place.accessibility_category_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %><br/>
        <% end %>
      </div>
      <div class="form-group js-primary-category">
        <br>
        <input type="checkbox" id="special-requirements-box">&nbsp;&nbsp;<strong>Special requirements?</strong> (Unchecking will delete text)
        <div class="js-special-requirements">
          <%= f.input :special_requirements, label: false, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-group">
        <%= f.button :submit, 'Submit' %>
      </div>
    <% end %>
    <hr>
    <h2>All 3D Videos</h2>
    <% @place.three_d_videos.each do |video| %>
      <p>Link: <%= video.link %> || Caption: <%= video.caption %></p>
    <% end %>
    <h2>Create New 3D Video</h2>
    <%= simple_form_for [@place, @three_d_video] do |f|%>
      <%= f.input :link, input_html: { class: 'form-control' } %>
      <%= f.input :caption, input_html: { class: 'form-control' } %>
      <%= f.hidden_field :place_id, value: @place.id %>
      <%= f.submit :submit %>
    <% end %>
  <% else %>
    <h2>You do not have sufficient privileges to view this page</h2>
    <%= link_to "Home", root_path %>
  <% end %>
  <p></p>
  <br>
  <p></p>
</div>

<script>
  $(document).ready(function(){
    if ($('#place_is_area').is(":checked")){
      $('.js-primary-category').hide();
      $('.js-special-requirements').hide();
    }

    if($('#place_special_requirements').val().length > 0){
      $('#special-requirements-box').prop('checked', true);
      $('.js-special-requirements').show();
    } else {
      $('.js-special-requirements').hide();
    }

    $('#place_is_area').change(function(){
      if ($('#place_is_area').is(":checked")){
        $('.js-primary-category').hide();
      } else {
        $('.js-primary-category').show();
      }
    });

    $('#special-requirements-box').change(function(){
      if ($('#special-requirements-box').is(":checked")){
        $('.js-special-requirements').show();
      } else {
        $('.js-special-requirements').hide();
        $('#place_special_requirements').val("");
      }
    });
  });

</script>
