<div class="container">
  <% if user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?) %>
    <%= render "/places/admin_tabs" %>
    <h1>Edit <%= @place.display_name + ' (ID: ' + @place.id.to_s + ')' %></h1>

    <%= simple_form_for @place, html: { role: 'form'} do |f| %>
      <div class="form-group">
        <table class="table">
          <tr>
            <td><%= f.check_box :is_area, label: false %>Is this an area?</td>
            <td><%= f.check_box :primary_area, label: false %>Primary area?</td>
            <td><%= f.check_box :top_100, label: false %>Top 100?</td>
            <td><%= f.check_box :footer_include, label: false %>Include In Footer?</td>
            <td><%= f.check_box :show_on_school_safari, label: false %>Show on School Safari</td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <%= f.input :display_name, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :country_id, label: 'Country', collection: Country.all, as: :select, label_method: :display_name, value_method: :id, required: true %>
      </div>
      <div class="form-group">
        <%= f.input :parent_id, label: 'Parent Place', collection: Place.active.order(display_name: :asc), as: :select, :label_method => lambda { |place| "#{place.display_name}, #{place.country.display_name rescue ""}, ID: #{place.id}"}, value_method: :id, required: true %>
      </div>
      <div class="form-group">
        <%= f.input :short_description, input_html: { class: 'form-control area-description-input' } %>
      </div>
      <div class="form-group">
        <%= f.input :description, as: :bootsy, label: "Long description", input_html: { class: 'form-control area-description-input' } %>
      </div>
      <div class="form-group">
        <%= f.input :school_safari_description, as: :bootsy, label: 'School Safari Description', input_html: { class: 'form-control area-description-input' } %>
      </div>
      <div class="form-group">
        <%= f.input :email, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :website, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :viator_link, input_html: { class: 'form-control' } %>
      </div>
      <% if current_user.has_role?("publisher") || current_user.try(:admin) %>
        <div class="form-group published-radio">
          <%= f.input :subscription_level, as: :radio_buttons, collection: ["basic", "standard", "Premium"] %>
        </div>
        <div class="form-group published-radio">
          <%= f.input :status, as: :radio_buttons, collection: ["draft", "edited", "live", "removed"] %>
        </div>
      <% elsif current_user.has_role?("editor") %>
        <div class="form-group published-radio">
          <%= f.input :subscription_level, as: :radio_buttons, collection: ["basic", "standard", "Premium"] %>
        </div>
        <% if @place.status == "draft" || @place.status == "edited" %>
          <div class="form-group published-radio">
            <%= f.input :status, as: :radio_buttons, collection: ["draft", "edited"] %>
          </div>
        <% else %>
        <div class="form-group published-radio">
          <%= f.input :status, as: :radio_buttons, collection: [@place.status] %>
        </div>
        <% end %>
      <% end %>
      <div class="form-group js-primary-category">
        <%= f.input :primary_category_id, as: :radio_buttons, :collection => PrimaryCategory.all, value_method: :id %>
      </div>
      <div class="field">
        <strong>Secondary categories</strong><br>
        <% Subcategory.all.each do |category| %>
            <% if category.category_type == "subcategory" %>
            <%= hidden_field_tag "place[subcategory_ids][]", nil%>
            <%= check_box_tag "place[subcategory_ids][]", category.id, @place.subcategory_ids.include?(category.id), id: dom_id(category) %>
            <%= label_tag dom_id(category), category.name %><br/>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <br>
        <strong>Age Range</strong>
        <%= f.input :minimum_age, collection: 5..18, label: "From:", input_html: { class: 'form-control' } %>
        <%= f.input :maximum_age, collection: 9..18, label: "To:", input_html: { class: 'form-control' } %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Price categories</strong><br>
        <% Subcategory.all.each do |category| %>
            <% if category.category_type == "price" %>
            <%= hidden_field_tag "place[subcategory_ids][]", nil%>
            <%= check_box_tag "place[subcategory_ids][]", category.id, @place.subcategory_ids.include?(category.id), id: dom_id(category) %>
            <%= label_tag dom_id(category), category.name %><br/>
          <% end %>
        <% end %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Accessibility</strong><br>
        <% Subcategory.all.each do |category| %>
            <% if category.category_type == "accessibility" %>
            <%= hidden_field_tag "place[subcategory_ids][]", nil%>
            <%= check_box_tag "place[subcategory_ids][]", category.id, @place.subcategory_ids.include?(category.id), id: dom_id(category) %>
            <%= label_tag dom_id(category), category.name %><br/>
          <% end %>
        <% end %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Place visit duration</strong><br>
        <% Subcategory.all.each do |category| %>
            <% if category.category_type == "duration" %>
            <%= hidden_field_tag "place[subcategory_ids][]", nil%>
            <%= check_box_tag "place[subcategory_ids][]", category.id, @place.subcategory_ids.include?(category.id), id: dom_id(category) %>
            <%= label_tag dom_id(category), category.name %><br/>
          <% end %>
        <% end %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Best time of day</strong><br>
        <% Subcategory.all.each do |category| %>
            <% if category.category_type == "optimum_time" %>
            <%= hidden_field_tag "place[subcategory_ids][]", nil%>
            <%= check_box_tag "place[subcategory_ids][]", category.id, @place.subcategory_ids.include?(category.id), id: dom_id(category) %>
            <%= label_tag dom_id(category), category.name %><br/>
          <% end %>
        <% end %>
      </div>
      <div class="field js-primary-category">
        <br>
        <strong>Weather Conditions</strong><br>
        <% Subcategory.all.each do |category| %>
            <% if category.category_type == "weather" %>
            <%= hidden_field_tag "place[subcategory_ids][]", nil%>
            <%= check_box_tag "place[subcategory_ids][]", category.id, @place.subcategory_ids.include?(category.id), id: dom_id(category) %>
            <%= label_tag dom_id(category), category.name %><br/>
          <% end %>
        <% end %>
      </div>
      <div class="form-group js-primary-category">
        <br>
        <input type="checkbox" id="special-requirements-box">&nbsp;&nbsp;<strong>Special requirements?</strong> (Unchecking will delete text)
        <div class="js-special-requirements">
          <%= f.input :special_requirements, label: false, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-group">
        <%= f.button :submit, 'Submit' %>
      </div>
    <% end %>
    <hr>
  <% else %>
    <h2>You do not have sufficient privileges to view this page</h2>
    <%= link_to "Home", root_path %>
  <% end %>
  <p></p>
  <br>
  <p></p>
</div>
