
<% provide(:title, @place.display_name) %>
<% category = @place.primary_category.identifier rescue "default"%>
<% provide(:category,  category) %>

<% if @place.status == "live" || @place.status == "guest" || (user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?)) || (user_signed_in? && (current_user.places.include?(@place) && @place.status!= "removed")) %>

<div class="area-content" data-lat="<%= @place.latitude %>" data-long="<%= @place.longitude %>"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="thing-wrapper-zoo">
                <span class="banner-image" style="background-image: url(<%=showing_image(draw_hero_background(@place)) %>)" role="img"
                      aria-label="">
                        </span>

                <div class="overlay"></div>
                <div class="thing-heading">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="thing-heading-breadcrumb">
                            <!-- AUSTRALIA / NEW SOUTH WALES / SYDNEY / TARONGA ZOO -->
                              <%= raw create_breadcrumb_for(@place).upcase %>
                              <% if user_signed_in? and current_user.admin? %>
                                <p><%= link_to "Edit Place", edit_place_path(@place) %></p>
                              <% end %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                            <h1><%= @place.display_name %></h1>
                        </div>
                    </div>

                    <div class="thing-heading-icons">
                        <div class="thing-heading-icon left">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="thing-heading-icon-holder">
                                <span class="thing-icon" style="background-image: url('/assets/new-images/icon-play.png')"
                                      role="img" aria-label=""></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row hidden-xs hidden-sm">
                                <div class="col-md-12">
                                    <div><%= @place.videos.size %> Videos</div>
                                </div>
                            </div>
                            <div class="row hidden-md hidden-lg">
                                <div class="col-md-12">
                                    <div><%= @place.videos.size %></div>
                                </div>
                            </div>

                        </div>
                        <div class="thing-heading-icon">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="thing-heading-icon-holder thing-camera-adjustment">
                                <span class="thing-icon" style="background-image: url('/assets/new-images/icon-camera.png')"
                                      role="img" aria-label=""></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row hidden-xs hidden-sm">
                                <div class="col-md-12">
                                    <div><%= @place.photos.size %> Photos</div>
                                </div>
                            </div>
                            <div class="row hidden-md hidden-lg">
                                <div class="col-md-12">
                                    <div><%= @place.photos.size %></div>
                                </div>
                            </div>
                        </div>

                        <div class="thing-heading-icon right">
                          <% if user_signed_in? && @place.users.include?(current_user) %>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="thing-heading-icon-holder">
                                        <div class="thing-icon icon-favourite selected" data-liked="true" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row hidden-xs hidden-sm">
                                <div class="col-md-12">
                                    <div class="text-favourite-place">Remove from favourites</div>
                                </div>
                            </div>
                          <% else %> <!-- not signin -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="thing-heading-icon-holder">
                                        <div class="thing-icon icon-favourite" data-liked="false" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row hidden-xs hidden-sm">
                                <div class="col-md-12">
                                    <div class="text-favourite-place">Add to favourites</div>
                                </div>
                            </div>
                          <% end %>

                            <div class="row hidden-md hidden-lg">
                                <div class="col-md-12">
                                    <div>&nbsp;</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="mobile-nav-container sticky-container hidden-md hidden-lg">
                        <div class="white-background">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="thing-nav-option-container">
                                            <div class="thing-nav-option-wrapper">
                                                <div class="thing-nav-option"><a data-scroll href="#overview">OVERVIEW</a>
                                                </div>
                                                <div class="thing-nav-option"><a data-scroll href="#videos">VIDEOS</a></div>
                                                <div class="thing-nav-option"><a data-scroll href="#stories">STORIES</a>
                                                </div>
                                                <div class="thing-nav-option"><a data-scroll href="#galleries">GALLERIES</a>
                                                </div>
                                                <div class="thing-nav-option"><a data-scroll href="#memberreviews">MEMBER
                                                    REVIEWS</a>
                                                </div>
                                                <div class="thing-nav-option-boxed">
                                                    <div class="message-icon"
                                                         style="background-image: url('/assets/new-images/icon-review.png')"
                                                         role="img" aria-label=""></div>
                                                    <span class="message-text">LEAVE A REVIEW</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-booking-container">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="booking-wrapper">
                                            <div class="hidden-xs hidden-sm">
                                                <h4>$$</h4>
                                            </div>
                                            <div>
                                                <a class="btn">BOOK NOW</a>
                                            </div>
                                            <div class="visible-xs visible-sm small-dollars">$$</div>
                                            <div class="load-more"><a href="#">VIEW OPENING HOURS</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-booking-container visible-md visible-lg">
                        <div class="booking-wrapper">
                            <div>
                                <h4>$$</h4>
                            </div>
                            <div>
                                <a class="btn">BOOK NOW</a>
                            </div>
                            <div class="load-more"><a href="#">VIEW OPENING HOURS</a></div>
                        </div>
                    </div>
                    <div class="thing-side-info-segment">
                        <div class="row">
                            <div class="col-md-12">Average Rating</div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-12 rating-wrapper">
                                <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                            </div>
                        </div>
                    </div>
                    <div class="thing-side-info-segment">
                        <div class="row">
                            <div class="col-xs-8">Suitable for ages</div>
                            <div class="col-xs-4 thing-side-bold">5-12</div>
                        </div>
                    </div>
                    <div class="thing-side-info-segment">
                        <div class="row">
                            <div class="col-xs-8">Best visited</div>
                            <div class="col-xs-4 thing-side-bold">Daytime</div>
                        </div>
                    </div>
                    <div class="thing-side-info-segment">
                        <div class="row">
                            <div class="col-xs-8">Suitable for ages</div>
                            <div class="col-xs-4 thing-side-bold">5-12</div>
                        </div>
                    </div>
                    <div class="thing-side-info-segment">
                        <div class="row">
                            <div class="col-xs-8">Duration</div>
                            <div class="col-xs-4 thing-side-bold">1/2 Day</div>
                        </div>
                    </div>
                    <div class="thing-side-info-segment">
                        <div class="row">
                            <div class="col-xs-4">Found in</div>
                            <div class="col-xs-8">
                                <div class="tags">
                                    <div class="tag">
                                        <div class="v-center">ANIMALS</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thing-side-info-segment">
                        <div class="icon-holder">
                            <span class="thing-icon" style="background-image: url('/assets/new-images/icon-wheelchair.png')"
                                  role="img" aria-label="Wheelchair Accessible"></span>
                        </div>
                        <div class="icon-holder">
                            <span class="thing-icon" style="background-image: url('/assets/new-images/icon-food.png')" role="img"
                                  aria-label="Food"></span>
                        </div>
                    </div>
                    <div class="thing-side-info-segment">
                        <div class="row">
                            <div class="col-xs-12">Location</div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="thing-map-holder">
                                    <a class="thing-map-directions"
                                       href="https://maps.google.com?daddr=-33.84339960415683, 151.2457449984253"
                                       target="_blank">GET DIRECTIONS</a>

                                    <div style='overflow:hidden;height:100%;width:100%;'>
                                        <div id='gmap_canvas' style='height:100%;width:100%;'></div>
                                        <div>
                                            <small><a href="http://embedgooglemaps.com"> embed google maps </a>
                                            </small>
                                        </div>
                                        <div>
                                            <small><a href="http://freedirectorysubmissionsites.com/">directory
                                                submission sites</a></small>
                                        </div>
                                        <style>#gmap_canvas img {
                                            max-width: none !important;
                                            background: none !important
                                        }</style>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-xs-4">Address</div>
                            <div class="col-xs-8 thing-side-bold">Bradleys Head Road<br/>Mosman NSW 2088<br/>Australia
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-xs-4">Phone</div>
                            <div class="col-xs-8 thing-side-bold">(02) 9969 2777</div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-xs-4">Website</div>
                            <div class="col-xs-8 thing-side-bold">taronga.org.au</div>
                        </div>
                        <br/>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="desktop-sub-nav thing-nav-option-wrapper hidden-xs hidden-sm">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-sm-12">
                                    <div class="thing-nav-option"><a data-scroll href="#overview">OVERVIEW</a></div>
                                    <div class="thing-nav-option"><a data-scroll href="#videos">VIDEOS</a></div>
                                    <div class="thing-nav-option"><a data-scroll href="#stories">STORIES</a></div>
                                    <div class="thing-nav-option"><a data-scroll href="#galleries">GALLERIES</a></div>
                                    <div class="thing-nav-option"><a data-scroll href="#memberreviews">MEMBER
                                        REVIEWS</a></div>
                                    <div class="thing-nav-option-boxed">
                                        <div class="message-icon"
                                             style="background-image: url('/assets/new-images/icon-review.png')"
                                             role="img" aria-label=""></div>
                                        <% if user_signed_in? %>
                                        <span class="message-text" data-toggle="modal" data-target="#ReviewModal">LEAVE A REVIEW</span>
                                        <% else %>
                                        <span class="message-text" data-toggle="modal" data-target="#myModal">LEAVE A REVIEW</span>
                                      <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="overview" class="thing-page-segment">
                        <div class="thing-overview-segment">
                            <div>
                                <h3>Overview</h3>
                            </div>
                            <div id="overview-copy"><%= raw @place.description %>
                            </div>
                            <% if  !@place.good_to_knows.blank? %>
                              <div>
                                <h4 class="good-to-know">Good to know</h4>
                                <ul>
                                 <% @good_to_know.each do |gtk| %>
                                    <li><%= gtk.description %></li>
                                 <% end %>
                                </ul>
                              </div>
                            <% end %>
                        </div>
                    </div>

                    <div id="videos" class="thing-page-segment">
                        <div>
                            <h3>Videos</h3>
                        </div>

                        <%= render partial: "shared/videos_list", locals:{container: "" } %>

                    </div>

                      <%= render partial: "stories/all_stories_place", locals: { stories: @stories, title: "Your Stories" }%>

                    <div id="galleries" class="thing-page-segment galleries">
                        <div>
                            <h3>Galleries</h3>
                        </div>

                        <div class="photo-components-wrapper">
                            <div class="row">
                                <div class="owl-carousel carousel">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="photo-component">
                                            <div class="img-wrapper">
                                                <a href="#"
                                                   style="background: url(/assets/new-images/rowing.jpg) no-repeat;"></a>
                                            </div>
                                            <div class="title-wrapper">
                                                <img class="svg-inject orange-stroke"
                                                     src="/assets/new-images/icon-camera.svg"/>

                                                <div class="photo-title">A day at the Royal National Park in
                                                    Sydney's South
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="photo-component">
                                            <div class="img-wrapper">
                                                <a href="#"
                                                   style="background: url(/assets/new-images/lavender.jpg) no-repeat;"></a>
                                            </div>
                                            <div class="title-wrapper">
                                                <img class="svg-inject orange-stroke"
                                                     src="/assets/new-images/icon-camera.svg"/>

                                                <div class="photo-title">Lorem ipsum gallery</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="photo-component">
                                            <div class="img-wrapper">
                                                <a href="#"
                                                   style="background: url(/assets/new-images/cloudy-opera-house.jpg) no-repeat;"></a>
                                            </div>
                                            <div class="title-wrapper">
                                                <img class="svg-inject orange-stroke"
                                                     src="/assets/new-images/icon-camera.svg"/>

                                                <div class="photo-title">Lorem ipsum gallery</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row hidden-xs">
                                <div class="col-xs-12">
                                    <div class="load-more"><a href="#">LOAD MORE</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="memberreviews" class="thing-page-segment">
                        <div>
                            <h3>Member Reviews</h3>
                        </div>
                        <div class="row member-reviews-wrapper">
                            <div class="owl-carousel auto-height-carousel">
                                <div class="col-md-4">
                                    <div class="member-review-wrapper">
                                        <div class="user-wrapper">
                                            <div class="user-dp"
                                                 style="background: url(/assets/new-images/user-stephen.jpg) no-repeat;"></div>
                                            <div class="username">Alex</div>
                                        </div>
                                        <div class="comment">
                                            It has lots of different animals from bird to elephant and I saw a
                                            elephant
                                            playing Soccer!
                                        </div>
                                        <div class="rating-wrapper">
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                        </div>
                                        <div class="date">July 2015</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="member-review-wrapper">
                                        <div class="user-wrapper">
                                            <div class="user-dp"
                                                 style="background: url(/assets/new-images/user-stephen.jpg) no-repeat;"></div>
                                            <div class="username">kjbaulder</div>
                                        </div>
                                        <div class="comment">
                                            It was awesome. You should definitely go!
                                        </div>
                                        <div class="rating-wrapper">
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                        </div>
                                        <div class="date">July 2015</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="member-review-wrapper">
                                        <div class="user-wrapper">
                                            <div class="user-dp"
                                                 style="background: url(/assets/new-images/user-stephen.jpg) no-repeat;"></div>
                                            <div class="username">brookiethecookie111</div>
                                        </div>
                                        <div class="comment">
                                            I love Taronga Zoo as it has many fascinating animals to look at as well
                                            as a
                                            brand
                                            new high ropes coarse. Stepping on the thin wire and obstacles above the
                                            animal
                                            enclosures
                                            is the most amazing experience ever. I have done it myself and it was
                                            breathtaking!!!
                                        </div>
                                        <div class="rating-wrapper">
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                        </div>
                                        <div class="date">July 2015</div>
                                    </div>
                                </div>
                                <div class="col-md-4 temporary-class-1">
                                    <!--TODO REMOVE TEMPORARY CLASS ONCE ISOTOPE FUNCTIONALITY IS IMPLEMENTED-->
                                    <div class="member-review-wrapper">
                                        <div class="user-wrapper">
                                            <div class="user-dp"
                                                 style="background: url(/assets/new-images/user-stephen.jpg) no-repeat;"></div>
                                            <div class="username">donovan.whitworth</div>
                                        </div>
                                        <div class="comment">
                                            Amazing!!!
                                        </div>
                                        <div class="rating-wrapper">
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject selected" src="/assets/new-images/icon-smiley-face.svg"/>
                                        </div>
                                        <div class="date">July 2015</div>
                                    </div>
                                </div>
                                <div class="col-md-4 temporary-class-2">
                                    <!--TODO REMOVE TEMPORARY CLASS ONCE ISOTOPE FUNCTIONALITY IS IMPLEMENTED-->
                                    <div class="member-review-wrapper">
                                        <div class="user-wrapper">
                                            <div class="user-dp"
                                                 style="background: url(/assets/new-images/user-stephen.jpg) no-repeat;"></div>
                                            <div class="username">Chelsea</div>
                                        </div>
                                        <div class="comment">
                                            Taranga Zoo has recently renovated and they have many mesmerizing
                                            creatures.
                                            They have also
                                            installed an amazing high ropes course. It is definitely a great place
                                            for
                                            people of all ages.
                                        </div>
                                        <div class="rating-wrapper">
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                            <img class="svg-inject" src="/assets/new-images/icon-smiley-face.svg"/>
                                        </div>
                                        <div class="date">July 2015</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 hidden-xs">
                                <div class="load-more member-reviews-load-more temporary-class-3"><a href="#">LOAD
                                    MORE</a></div>
                                <!--TODO REMOVE TEMPORARY CLASS ONCE ISOTOPE FUNCTIONALITY IS IMPLEMENTED-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background">
    <div class="container dest-things-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h3>Related things to do</h3>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel carousel">
                <div class="col-md-4 col-sm-6 dest-thing-wrapper">
                    <div class="dest-thing">
                        <div class="dest-thing-overlay-wrapper">
                            <div class="dest-thing-overlay">
                                <div class="dollar-rating">$</div>
                                <div class="book-wrapper">
                                    <button class="btn" type="button">BOOK</button>
                                </div>
                            </div>
                        </div>
                        <div class="things-img" style="background: url(/assets/new-images/catmosphere.jpg) no-repeat;"
                             role="img"
                             aria-label="Catmosphere"></div>
                        <div class="dest-thing-content">
                            <h4>Catmosphere Cat Cafe</h4>

                            <div class="tags">
                                <div class="tag">
                                    <div class="v-center">ANIMALS</div>
                                </div>
                                <div class="tag">
                                    <div class="v-center">FOOD</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 dest-thing-wrapper">
                    <div class="dest-thing">
                        <div class="things-img" style="background: url(/assets/new-images/fish-market.jpg) no-repeat;"
                             role="img"
                             aria-label="Fish Market"></div>
                        <div class="dest-thing-content">
                            <h4>Sydney Fish Market</h4>

                            <div class="tags">
                                <div class="tag">
                                    <div class="v-center">FOOD</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 dest-thing-wrapper">
                    <div class="dest-thing">
                        <div class="dest-thing-overlay-wrapper">
                            <div class="dest-thing-overlay">
                                <div class="dollar-rating">$$$</div>
                                <div class="book-wrapper">
                                    <button class="btn" type="button">BOOK</button>
                                </div>
                            </div>
                        </div>
                        <div class="things-img" style="background: url(/assets/new-images/parasailing.jpg) no-repeat;"
                             role="img"
                             aria-label="Parasailing"></div>
                        <div class="dest-thing-content">
                            <h4>Parasailing Tandem Flight in Sydney Harbour</h4>

                            <div class="tags">
                                <div class="tag">
                                    <div class="v-center">WATER SPORTS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 dest-thing-wrapper">
                    <div class="dest-thing">
                        <div class="dest-thing-overlay-wrapper">
                            <div class="dest-thing-overlay">
                                <div class="dollar-rating">$$</div>
                                <div class="book-wrapper">
                                    <button class="btn" type="button">BOOK</button>
                                </div>
                            </div>
                        </div>
                        <div class="things-img" style="background: url(/assets/new-images/luna-park.jpg) no-repeat;"
                             role="img"
                             aria-label="Luna Park"></div>
                        <div class="dest-thing-content">
                            <h4>Luna Park</h4>

                            <div class="tags">
                                <div class="tag">
                                    <div class="v-center">THEME PARK</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 dest-thing-wrapper">
                    <div class="dest-thing">
                        <div class="dest-thing-overlay-wrapper">
                            <div class="dest-thing-overlay">
                                <div class="dollar-rating">$</div>
                                <div class="book-wrapper">
                                    <button class="btn" type="button">BOOK</button>
                                </div>
                            </div>
                        </div>
                        <div class="things-img" style="background: url(/assets/new-images/makery-wrokshop.jpg) no-repeat;"
                             role="img" aria-label="Makery Workshop"></div>
                        <div class="dest-thing-content">
                            <h4>The Makery Workshop Nights - Terrariums</h4>

                            <div class="tags">
                                <div class="tag">
                                    <div class="v-center">CLASS / COURSE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 dest-thing-wrapper">
                    <div class="dest-thing">
                        <div class="things-img" style="background: url(/assets/new-images/bondi.jpg) no-repeat;" role="img"
                             aria-label="Bondi"></div>
                        <div class="dest-thing-content">
                            <h4>Bondi Beach</h4>

                            <div class="tags">
                                <div class="tag">
                                    <div class="v-center">BEACH</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-12">
                <div class="load-more"><a href="#">LOAD MORE</a></div>
            </div>
        </div>
    </div>
</div>

<% end %>

<%= render 'layouts/all_modal' %>
<%= render 'new_story' %>
<%= render 'reviews/form' %>
<%= render 'user_photos/form' %>
<%= render partial: 'shared/blueimp_gallery_modal' %>
<%= render 'shared/video_modal' %>
<%= render "stories/modal_story" %>