<%= render "programs_head" %>

<body class="main_bg">
<div class="loader-container"></div>
<script>
var id = 'loader', fill = '#FFF',
      size = 20, radius = 3, duration = 1000,
      maxOpacity = 0.9, minOpacity = 0.15;
  $('<svg id="'+id+'" width="'+(size*3.5)+'" height="'+size+'">' + 
        '<rect width="'+size+'" height="'+size+'" x="0" y="0" rx="'+radius+'" ry="'+radius+'" fill="'+fill+'" fill-opacity="'+maxOpacity+'">' + 
            '<animate attributeName="opacity" values="1;'+minOpacity+';1" dur="'+duration+'ms" repeatCount="indefinite"/>' + 
        '</rect>' + 
        '<rect width="'+size+'" height="'+size+'" x="'+(size*1.25)+'" y="0" rx="'+radius+'" ry="'+radius+'" fill="'+fill+'" fill-opacity="'+maxOpacity+'">' + 
            '<animate attributeName="opacity" values="1;'+minOpacity+';1" dur="'+duration+'ms" begin="'+(duration/4)+'ms" repeatCount="indefinite"/>' + 
        '</rect>' + 
        '<rect width="'+size+'" height="'+size+'" x="'+(size*2.5)+'" y="0" rx="'+radius+'" ry="'+radius+'" fill="'+fill+'" fill-opacity="'+maxOpacity+'">' + 
            '<animate attributeName="opacity" values="1;'+minOpacity+';1" dur="'+duration+'ms" begin="'+(duration/2)+'ms" repeatCount="indefinite"/>' + 
        '</rect>' + 
    '</svg>').appendTo('.loader-container');
</script>
    <div class="border_top hidden-xs"></div>

<div class="result" style="background: url(<%= pick_a_place_hero_url(@place) %>) no-repeat center";
>
<div class="result-top">
	<div class="col-sm-3 fff back"><i class="glyphicon glyphicon-chevron-left"></i> &nbsp; <a class="fff" href="javascript:history.back()">Back to results</a> </div>

	<!--div class="col-md-3 col-sm-3 col-xs-5 left_login profile pull-right text-right">
            <div class="dropdown z_index l_dropdown">
                <button class="login btn-log dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Your Profile
    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu l_dropdown_ul dropdown-menu-right pd15" role="menu" aria-labelledby="dropdownMenu1">
                    <li>  
                    	<a href="#">Excursions</a>                     
                    </li>
                    	
                    <li>       
                    	<a href="#">Saved places</a>                 
                    </li>
                   	<li>
                   		<a href="#">Activities</a>
                   	</li>
                    <li>
                    	<a href="#">Students</a>                                           
                    </li>
                    <li>
                    	<a href="#">Reviews</a>
                    </li>
                    <li>
                    	<a></a>
                    </li>
                    <li>
                    	<a href="#">log out</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="clearfix">
   </div--> 
        </div>

        
        	<h1 class="text-center fff"><%=@place.display_name%><br/><span><%=@place.area.display_name%></span> 
        	</h1>
        	<div class="map-btn text-center">
        		<a href="/places/programsearchresultsmap?id=<%=@place.id%>">View on map</a>        		
        	</div>
        	<div class="clearfix">       		
        	</div>
</div>

		<div class="container result-middle">
			<div class="row result-box-top">
				<div class="col-md-12 fff">
					
						<div class="col-sm-6 col-xs-9  text-left">
							<p>Jump to:&nbsp; <a href="#">Programs</a>&nbsp; <a href="#">Reviews</a>
							</p>
						</div>
						<div class="col-sm-6 col-xs-3 text-right">
							<p class="hidden-xs"><span>Save</span> <%=@place.display_name%>
								<i class="fa fa-star rate"></i> 
							</p>
							<p class="visible-xs">
								<i class="fa fa-star rate"></i> 
							</p>
						</div>
					
				</div>
			</div>	
			<div class="row result-box-middle">
				<div class="col-sm-12">
					
					<div class="col-md-9 col-sm-8">
						<h2><%=@place.display_name%><br/>
							<span><a href="<%=@place.website%>"><%=@place.website%></a></span>
						</h2>
						<div class="visible-xs">
							<i class="fa fa-heart"></i>
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart-o"></i>
								<i class="fa fa-heart-o"></i>
						</div>
						<p class="col-md-11 row">
							<%=@place.description%><br>
							<a href="#" class="hidden-xs">Read More</a>
						</p>
						<p class="visible-xs">
							<span class="bold">Location:</span> <span><%=@place.display_address%></span>	
						</p>
						<div class="clearfix"></div>
						
					<div class="row slider">					
					<div class="col-sm-12">
					<div class="outside hidden-xs">					 
						<span id="slider-prev" class="fa fa-caret-left"></span>
						<span id="slider-next" class="fa fa-caret-right"></span>
					</div>
						<ul class="bxslider1">
							<% @place.photos.each do |photo| %>
						<li>
							<a>
								<img src=<%= asset_path(photo.path_url(:small)) %> class="img-responsive"/>
							</a>	
						</li>
						<% end %>
					</ul>	
					</div>						
					</div>
						<div class="side-btn visible-xs">
							<a href="#"  class="btn  btn-default">Enquire</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 result-box-side hidden-xs">
						<img src="../ss/img/logo3.png" class="center-block"/>
						<ul>
							<li>
								Rating:&nbsp; <span>
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart-o"></i>
								<i class="fa fa-heart-o"></i>
								</span>
							</li>
							<li>
								Grade:&nbsp; <span>K — 12</span>
							</li>
							<li>
								Subject:&nbsp; <span>Geography</span>
							</li>
							<li>
								Programs:&nbsp; <a href="#">5</a>
							</li>
							<li>
								Location:&nbsp; <span>><%=@place.display_address%></</span>
							</li>
						</ul>

						<div class="side-btn">
							<a class="btn btn-default">Enquire</a>
						</div>
					</div>

				</div>
				
			</div>	
			

		<% @place.programs.each do |program| %>
	  <div id="myModal_<%=program.id%>" class="modal fade">
	  	<div class="fixed-btn">
                		<a href="#myModal2" data-toggle="modal" class="fff hidden-sm hidden-xs side-book"><span class="side-arrow"><</span> <span>Book<br>now!</span></a>
                	</div>
        <div class="modal-dialog">
        	<div class="rating-box">
	        	<h2 class="text-center fff">Looks like you have been here before!<br>
	        		<span>What did you think?</span>
	        	</h2>
	        	<h1 class="text-center fff model-heart">
	        	<input type="hidden" value="3"  class="rating" data-filled="fa fa-heart" data-empty="fa fa-heart-o"/> 
	        	</h1>
        	</div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>                    
                </div>
                <div class="col-md-11 modal-middle center-block">
                	<div class="row">
                		<div class="col-md-2 col-sm-3">
                			<img src=<%= @place.logo %> class="center-block img-responsive" alt=<%= @place.logo %> >
                		</div>
                		<div class="col-md-9">
                			<h1>
                				<%= program.name %><br>
                				<span>
                					<a href="<%= program.programpath %>"><%= program.programpath %></a>
                				</span>
                			</h1>
                		</div>
                		<div class="col-sm-12 ">
                			<div class="col-md-12 bar center-block">
                				<div class="col-sm-3">
                					Rating:&nbsp;&nbsp;<span><i class="fa fa-heart"></i>
												<i class="fa fa-heart"></i> 
												<i class="fa fa-heart"></i> 
												<i class="fa fa-heart-o"></i> 
												<i class="fa fa-heart-o"></i> 
											</span>
                				</div>
                				<div class="col-sm-3">
                					Grade:&nbsp;&nbsp;<span>K-12</span>
                				</div>
                				<div class="col-sm-3">
                					Subject:&nbsp;&nbsp;<span>Geography</span>  
                				</div>
                				<div class="col-sm-3">
                					Duration:&nbsp;&nbsp;<span>6 hours</span>
                				</div>
                				<div class="clearfix"></div>
                			</div>
                		</div>
                		<div class="col-md-12">
                			<p>
                				<%= program.description %>
                			</p>
											<div style="max-height:400px;max-width:500px;overflow:hidden;border-radius:8px; width=100%">
												<img src="<%=program.heroimagepath%>" class="center-block img-responsive" style="display:block"/>
											</div>
                			<!--iframe width="100%" height="400" src="https://www.youtube.com/embed/Q-4w5xYLwiU" frameborder="0" allowfullscreen></iframe-->
                			<h4>What’s involved in <%= program.name %>?</h4>
                			<p>
                				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. Lorem ipsum dolor sit amet:
                			</p>
                			<ol>
                				<li>
                					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                				</li>
                				<li>
                					<span>Adipiscing elit.  Quis tellus adipiscing sit amet suscipit justo malesuada.</span>
                				</li>
                				<li>
                					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus 		    quis tellus adipiscing sit amet suscipit justo malesuada.
                					</span>
                				</li>
                			</ol>
                			<!--h4>Times</h4>
                			<div class="model-slider">
                		   <ul class="bxslider">
                				
                					
                				<li>
                					
                					<p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p>
                					<p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p>
                					<p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p>
                					
                				</li>
                				<li>
                					
                						<p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="avial">Not available</span> 
                					</p>
                					
                				</li>
                				<li>
                					
                						<p class="times">July 24, 2015 – 
                							<span class="avial">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p>
                					
                				</li>
                				<li>
                					
                						<p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="avial">Not available</span> 
                					</p>
                					
                				</li>
                				<li>
                					
                						<p class="times">July 24, 2015 – 
                							<span class="avial">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p>
                					
                				</li><li>
                					
                						<p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="avial">Not available</span> 
                					</p>
                					
                				</li>
                				<li>
                					
                						<p class="times">July 24, 2015 – 
                							<span class="avial">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p><p class="times">July 24, 2015 – 
                							<span class="not">Not available</span> 
                					</p>
                					
                				</li>

                				
                			
                		 
                		  </ul>
                		
                			<span id="slider-next2" class="fa fa-caret-right"></span>
                			<span id="slider-prev2" class="fa fa-caret-left"></span-->
                		</div>
                		
                			<div class="clearfix"></div>
                	    </div>
                		
                	</div>
                	<div class="row modal-bottom">
                	 	<div class="col-md-12"><h4>Download resources</h4>
                	 	</div>
                		<div class="clearfix"></div>
										<% program.webresources.each do |webresource| %>
                		<div class="col-sm-4">
                			<a href="<%= webresource.path %>" target="_blank" class="text-center btn btn-default form-control">
                			<span class="glyphicon glyphicon-download pull-left"></span> 
                				<%= webresource.caption %>
                			</a>
                		</div>
										<% end %>
                		<div class="clearfix"></div>
                	</div>
                	<div class="col-md-12">
                		<h1 class="text-center model-end"><%= program.cost %></h1>
                	</div>
                	<div class="col-sm-12 ">
                		<a href="#myModal2" data-toggle="modal" class="book-now  form-control btn btn-default">Book now!</a>                		
                	</div> 
                	<div class="clearfix"></div>
                	<div class="col-md-12 ">
                		<p class="text-center last-star ">
                			<i class="fa fa-star rate ">&nbsp; </i>Or save it to your 
                			<span>Favourites</span>
                		</p>                	
                	</div>

                	
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
		<% end %>
		
    <div id="myModal2" class="modal fade">
        <div class="modal-dialog golu-p">
        	
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>                    
                </div>
                <div class="col-md-11 modal-middle center-block">
                	
                	<div class="golu center-block">                		
                	</div>
                	<div class="golu2 center-block">                		
                	</div>
                	<div class="text-center">
                	<img src="../ss/img/logo.png" class="golu-logo">
                	</div>
                	
                	<div class="col-md-12">
                		<h1 class="text-center ">Booking</h1>
                		<p class="text-center done-modal-p">
                			<span class="bold">Roar & Snore</span><br>
							Western Plains Zoo<br>
							213, Obley Road, Dubbo NSW, 2830<br>
                		</p>
                	</div>
                	<div class="clearfix"></div>
                	<div class="model-end-middle width-no">
                		<div class="col-md-12">
                			<div class="col-md-12">
                				<div class="col-sm-3 border-right pad20">           	
                					<p>Date</p>
                					<div>
                						<input type="text" value="22/05/2015" id="datepicker"><span class="new-cart caret"></span>
                					</div>
                				</div>
                				<div class="col-sm-3 border-right pad20">                	
                					<div class="divin"> 
                				  		<p>Time</p>               			
                					<select class="selectpicker">
                						<option>13:00</option>
                						<option>14:00</option>
                						<option>15:00</option>
                					</select>
                				  </div>	
                					
                				</div>
                				<div class="col-sm-3 border-right pad20"> 
                				  <div class="divin"> 
                				  	<p>Grade</p>               			
                					<select class="selectpicker">
                						<option>22/05/2015</option>
                						<option>22/05/2015</option>
                						<option>22/05/2015</option>
                					</select>
                				  </div>
                				</div>
                				<div class="col-sm-3 pad20">
                					<div class="divin">
                					<p>Program</p>                			
                					<select class="selectpicker">
                						<option>22/05/2015</option>
                						<option>22/05/2015</option>
                						<option>22/05/2015</option>
                					</select>
                				</div>
                				</div>
                			</div>
                		</div>
                		<div class="clearfix"></div>
                	</div>
                	<div class="col-md-12">
                		<h1 class="text-center model-end  f36">Cost: $1550</h1>
                	</div>

                	<div class="col-sm-12 ">
                		<a href="#" class="order book-now  form-control btn btn-default">Book</a>
                		
                	</div> 
                	<div class="col-md-12 ">
                		<p class="text-center last-marg">
                			On clicking book, we will email the venue with their details.
                			<br> <span class="bold">
                				They will contact you shortly with a confirmation
                				</span>
                		</p>                	
                	</div>

                	
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


			
		</div>
		<div class="container max-1024">
			<div class="row">
				<div class="row width-no">				
					<div class="col-md-12">
						<h2>Programs</h2>
					</div>
				</div>							
			</div>
		</div>
		<div class="container max-1024">
			<div class="row">
				<div class="row width-no">
					<% @place.programs.each do |program| %>
					<div class="col-sm-4">
					<div class="bottom-box">
						<div class="top-row">
							<div class="col-xs-10"><h3><%=program.name%></h3></div>
							<div class="col-xs-2 text-right">
								<i class="fa fa-star "></i>
							</div>
						 <div class="clearfix"></div>								
						</div>	
						<div class="bottom-middle">
							<div class="col-sm-12 col-md-11 col-xs-12">
								<p id="program_<%=program.id%>" class="enquire-modal "><%=program.description%>
								</p>
								<p>
									Duration: <span class="bold"><%=program.duration%></span>
								</p>
							</div>
							<div class="clearfix"></div>				
						</div>		
						<div class="bottom-footer">
							<div class="col-xs-5 col-sm-5">
								<p>
									K-12
								</p>
							</div>	
							<div class="col-xs-7  col-sm-7 text-right">
								<p><i class="fa fa-heart"></i>
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart-o"></i>
								<i class="fa fa-heart-o"></i>
								</p>
							</div>
							<div class="clearfix"></div>											
						</div>	
						<div class="clearfix">						
					</div>
							
						</div>
					</div>
					<% end %>
				</div>
				
			</div>
		</div>

		<!--div class="result-footer">
			<div class="container max-1024">
				<div class="row">
				 <div class="row width-no">
				 	<div class="col-md-12">
				 		<h2>Reviews</h2>
				 		<p class="sub-hed hidden-xs">Looks like your have been here before, why don’t you
				 			<span><a href="#">write a review?</a></span>
				 		</p>
				 	</div>
				 </div>

				 <div class="row width-no">
				 	<div class="col-sm-3">
				 		<h4>Meet with a keeper</h4>
				 		<p>
				 			“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vi vmus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada. Aenean non tortor id. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada....”
				 		</p>
				 		<p class="anchor">
				 			<a href="#">See entire review</a>
				 		</p>
				 		<img src="../ss/img/review.png" class="pull-left">
				 		<p class="pull-left cl-name">Chris Jones,<br/>Mosman Public</p>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-3">
				 		<h4>Meet with a keeper</h4>
				 		<p>
				 			“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vi vmus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada. Aenean non tortor id. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada....”
				 		</p>
				 		<p class="anchor">
				 			<a href="#">See entire review</a>
				 		</p>
				 		<img src="../ss/img/review.png" class="pull-left">
				 		<p class="pull-left cl-name">Chris Jones,<br/>Mosman Public</p>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-3">
				 		<h4>Meet with a keeper</h4>
				 		<p>
				 			“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vi vmus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada. Aenean non tortor id. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada....”
				 		</p>
				 		<p class="anchor">
				 			<a href="#">See entire review</a>
				 		</p>
				 		<img src="../ss/img/review.png" class="pull-left">
				 		<p class="pull-left cl-name">Chris Jones,<br/>Mosman Public</p>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-3">
				 		<h4>Meet with a keeper</h4>
				 		<p>
				 			“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vi vmus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada. Aenean non tortor id. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada....”
				 		</p>
				 		<p class="anchor">
				 			<a href="#">See entire review</a>
				 		</p>
				 		<img src="../ss/img/review.png" class="pull-left">
				 		<p class="pull-left cl-name">Chris Jones,<br/>Mosman Public</p>
				 		<div class="clearfix"></div>
				 	</div>
				 </div>
				</div>	
				<div class="row">
					<div class="col-md-12 see-more">
						<a href="#" class="btn btn-default center-block">See more reviews</a>
					</div>					
				</div>
			</div>
		</div-->
		


    <footer class="f_otter" >
     <!--   <img src="../ss/img/Bound_logo.png" alt="bound_logo" />-->
        <nav class="navbar navbar-default nav_button">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="app.boundround.com" target="_blank"> <img src="../ss/img/Bound_logo.png" alt="bound_logo" class="hidden-xs" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav_ul">
           <li><a href="http://boundround.com/privacy-terms/">Privacy Policy </a></li>
           <li><a href="http://boundround.com/about-us/">About Us </a></li>
           <li><a href="http://boundround.com/contact-bound-round/">Contact </a></li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../ss/js/bootstrap.min.js"></script>
    <script src="../ss/js/owl.carousel.min.js"></script>

    <script src="../ss/bxslider/jquery.bxslider.min.js"></script>
     <script src="../ss/js/jquery.datetimepicker.js"></script>

    <script>
     var slider;
     var slider_n;
        $(document).ready(function () {

              slider= $('.bxslider1').bxSlider({
			  minSlides: 2,
			  maxSlides: 3,
			  slideWidth: 200,
			  slideMargin: 12,
			  auto:true,
			  pager: false,
			  controls:false			  
			});
            $('#slider-prev').click(function(e){
			        e.preventDefault();
			        slider.goToPrevSlide();
			    });
			$('#slider-next').click(function(e){
			        e.preventDefault();
			        slider.goToNextSlide();
			    });
       
       

              slider_n= $('.bxslider', $('.model-slider')).bxSlider({
			  minSlides: 1,
			  maxSlides: 4,
			  slideWidth: 250,
			  auto:true,
			  pager: false,
			  controls:false			  
			});
              $('#slider-next2').click(function(e){
			        e.preventDefault();
			        slider_n.goToNextSlide();
			    });
              $('#slider-prev2').click(function(e){
			        e.preventDefault();
			        slider_n.goToPrevSlide();
			    });
					
							<% @place.programs.each do |program| %>
			          $('#program_<%=program.id%>').click(function(e){
			          		e.preventDefault();
			          		$('#myModal_<%=program.id%>').modal('show');
			          		setTimeout(function(){
			          			slider_n.reloadSlider();
			          		}, 400);
        		
			          });
/*			          $('.enquire-modal').click(function(e){
			          		e.preventDefault();
			          		$('#myModal').modal('show');
			          		setTimeout(function(){
			          			slider_n.reloadSlider();
			          		}, 400);        		
			          });
*/
				  		<% end %>
							
              $('.modal-header .close').click(function(e){
              	e.preventDefault();
              		
//              			$('#myModal,#myModal2').modal('hide');
              			$('.modal').modal('hide');

              		
              });

             
             	$('#datepicker').change(function(){
              		 $('#datepicker').datetimepicker('hide');
              });
             
            
        });
    </script>

    <script>
    	$('#datepicker').datetimepicker({				 
				 timepicker:false,
				 format:'d.m.Y'
				});
    	
        $(document).ready(function () {
            $(".navbar-toggle").on("click", function () {
                $(this).toggleClass("active");
            });

            $('.carousel').carousel({
                interval: 6000

            });

            $('.rate').click(function(){
            	$(this).toggleClass('filled-star');
            })

        });

        $('.selectpicker').selectpicker();

        $('.rating-box input').change(function(){
        	$('.rating-box').slideUp(400);
        });
    </script>
    <script>
        $('.btn-log').click(function () {
              
            
            $('.nav_button').children('ul').hide(0);
            setTimeout(function(){
                if ($('.left_login .dropdown').hasClass('open')) {

                     $('.left_login').addClass('top100');
             }
             else{
                $('.left_login').removeClass('top100'); 
             }  
         },5);
                   

        });
        $('.nav_button button').click(function () {
              
            $('.nav_button').toggleClass('top100');
            $('.left_login').children('ul').hide(0);
            $('.left_login .login').css('z-index','5'); 
             $('.left_login').removeClass('top100');        

        });
        $('.left_login .dropdown-menu').on({
            "click":function(e){
              e.stopPropagation();
            }
        });
        
        
    </script>

    
    <script>
 
    $(window).load(function(){
        setTimeout(function(){
             $('.loader-container').fadeOut(800);
         },1000);
       
    })


    
    </script>



</body>
