
<% provide(:title, @place.display_name) %>
<% category = @place.primary_category.identifier rescue "default"%>
<% provide(:category,  category) %>

<% if @place.status == "live" || @place.status == "guest" || (user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?)) || (user_signed_in? && (current_user.places.include?(@place) && @place.status!= "removed")) %>

<div class="area-content" data-lat="<%= @place.latitude %>" data-long="<%= @place.longitude %>">
  <div class="container" id="search-nav" style="display:none;background:white;">
  <div class="row">
    <div class="col-xs-1 col-sm-1 top15">
        <i class="fa fa-search pink fontbig-signin i-big-isize"></i>
    </div>
    <div class="col-xs-9 col-sm-9" style="height:60px">
      <form>
        <div class="form-group top13">
          <input type="text" class="form-control navbar-form navbar-search-form" placeholder="Search for places, experiences & more...">
        </div>
      </form>
    </div>
    <div class="top15" align="center">
      <i id="fa-times-nav-xs" class="fa fa-times grey fontbig-signin i-big-isize"></i>
    </div>
  </div>
</div>



<div class="header-image-with-nav top-outer-js">
  <!--<div class="places-bg">-->
  <img src="<%=showing_image(draw_hero_background(@place)) %>" alt="" class="img-header top-inner-js" >
 <!-- </div>-->
  <div class="container padding-style">
    <div class="title-container hidden-xs">
      <div class="row">
        <div class="col-md-offset-2 text-center col-md-8">
          <h1 class="text-center places-bg white"><%= @place.display_name %></h1>
        </div>
      </div>
    </div>
    <div class="action bg-place">
      <div class="left">
        <% if user_signed_in? %>
          <a href="#" class="white" data-toggle="modal" data-target="#ReviewModal"><i class="fa fa-smile-o"></i> Leave review </a>
        <% else %>
          <a href="#" class="white" data-toggle="modal" data-target="#myModal"><i class="fa fa-smile-o"></i> Leave review </a>
        <% end %>
        </div>
      <% if user_signed_in? %>
        <div class="center"><a class="white" href="#" data-toggle="modal" data-target="#addMediaModal" ><i class="fa fa-plus"></i> Add photos</a>  </div>
        <% else %>
        <div class="center"><a class="white" href="#" data-toggle="modal" data-target="#myModal" ><i class="fa fa-plus"></i> Add photos</a>  </div>
      <% end %>
      <%# if user_signed_in? %>
        <!-- <div class="right"><a  href="#" class="white" id="aStoryModal"><i class="fa fa-file-text-o"></i> Tell your story</a></div> -->
        <%# else %>
        <!-- <div class="right"><a href="#" class="white" data-toggle="modal" data-target="#myModal" ><i class="fa fa-file-text-o"></i> Tell your story</a></div> -->
      <%# end %>
      <div class="pull-right hidden-xs">
        <div class="component-desk">
          <ul>
            <li><a href="#"><i class="fa fa-image"></i> <%= @place.photos.size %> Photos</a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i> <%= @place.videos.size %> Videos</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /action bg-place -->
    <div class="component visible-xs">
      <ul>
        <li><a href="#"><i class="fa fa-image"></i> <%= @place.photos.size %> Photos</a></li>
        <li><a href="#"><i class="fa fa-youtube-play"></i> <%= @place.videos.size %> Videos</a></li>
      </ul>
    </div>
  </div> <!-- /container -->
</div> <!-- /header-image-with-nav -->

<div class="container mobile-container padding-style"> <!-- main container -->
<section class="place-details country-details">
  <div class="text-center visible-xs">
    <h2 class="place-title2 place-color2"><%= @place.display_name %></h2>
  </div>

  <div class="row"> <!-- main row -->
    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="detail-place">
        <div class="located"><p class="gray-font">For kids</p><p><%= @place.minimum_age.to_s + " - " + @place.maximum_age.to_s %></p></div>
        <div class="language"><p class="gray-font">Best visited</p><p><%=  @optimum_times.first.name rescue "" %></p></div>
        <div class="population">
          <p class="gray-font">Duration</p><p><%= @durations.first.name rescue "" %></p>
          </div>
        <div class="suka">
          <p class="gray-font">Average rating</i></p>
          <p>
          <% if !@place.quality_average.blank? %>
            <% (1..@place.quality_average.avg.to_i).each do %>
              <i class='fa fa-smile-o'></i>
            <% end %>
          <% end %>
            </p>
          </div>
      </div>
      <div class="desc-place">
        <p data-full-text="<%= @place.description.try(:html_safe) %>"><%= raw  @place.description.try(:html_safe[0..280]+"...") %></p>
        <button class="blueish" style="background:none;border:none;">More <span class="caret"></span></button>
      </div>
      <div class="border-section"></div>
      <div class="row top20 btm20">
        <div class="col-xs-12">
          <div class="rel-dest">
            <ul>
              <li class="gray-color">Found in</li>
              <% if !@place.similar_places.blank? %>
                <% @place.similar_places.each do |place| %>
                 <!-- <li><a href="#" class="badge"><i class="fa fa-male"></i> Do</a> </li> -->
                 <li><a href="<%= place_path(place.similar_place) %>" class="badge"><%= place.similar_place.display_name %></a> </li>
                <% end %>
               <% end %>

             </ul>
          </div>
        </div>
      </div>
      <div class="border-section btm20"></div>
        <div class="row">
          <div class="col-xs-4">
            <p class="gray-font">Opening hours</p>
            <p id="operating-hours"></p>
            <p id="hours"></p>
            <p><a href="#" data-toggle="modal" data-target="#OpeningHourModal">View details</a></p>
          </div>
          <div class="col-xs-4">
            <p class="gray-font">Other services</p>
            <p>
              <!-- <i class="fa fa-wheelchair"></i><i class="fa fa-headphones"></i> -->
              <% if !@accessibilities.blank? %>
                <% @accessibilities.each do |c| %>
                  <%= c.name %>
                <% end %>
               <% end %>
            </p>
          </div>
          <div class="col-xs-4">
            <p class="gray-font">Price</p>
            <p><%= @prices.first.name rescue "" %>
            </p>
            <!-- <p><a href="#" data-toggle="modal" data-target="#TicketsModal">View details</a></p> -->
          </div>
        </div>
      </div><!-- col-sm-8 -->

      <div class="col-xs-12 col-sm-4 col-md-4 border-left-desk"> <!-- for map -->
          <div class="text-center clearfix  visible-xs">
            <!-- <a href="#" class="btn button-orange button-style-booking fontbig-button btn-radius" data-toggle="modal" data-target="#BookingModal">Book Now!</a> -->
            <a href="<%= @place.viator_link %>" data-target="_blank" class="btn button-orange button-style-booking btn-shadow fontbig-button btn-radius">Book Now!</a>
          </div>
        <div class="text-center div-btn-country top15 btm15 visible-xs">

          <!-- <a id="place-favorite" class=""><i class="fa fa-bookmark-o"></i> Add To Favourites</a> -->
          <% if user_signed_in? && @place.users.include?(current_user) %>
            <i class="fa fa-bookmark-o"></i>
            <a href="#" class="place-favorite black" data-liked="true" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"> Remove From Favourites</a>
          <% else %>
            <i class="fa fa-bookmark-o"></i>
            <a href="#" class="place-favorite black" data-liked="false" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"> Add To Favourites</a>
          <% end %>

        </div>
        <div id="map"></div>
        <div class="text-center btn-map">
          <a href="https://www.google.com/maps/dir/Current+Location/<%= raw @place.display_address %>" target="blank" class="btn btn-primary btn-shadow btn-direction btn-direct"><i class="fa fa-share blue-nero-icon"></i> Get directions </a>
        </div>
        <div class="top15">
          <p class="grey btm0">Address</p>
          <p class="btm15" ><%= @place.display_address %></p>
        </div>
          <p class="grey">Contact</p>
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 btm10">
            <a href="mailto:<%= @place.email rescue "" %>" class="btn btn-primary btn-block btn-museum btn-shadow font-btn"><i class="fa fa-envelope-o blue-nero-icon leftmin7responsive"></i> Send a message </a>
          </div>
          <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 btm10">
            <a href="tel: <%= @place.phone_number %>" class="btn btn-primary btn-block btn-museum font-btn"><i class="fa fa-phone blue-nero-icon leftmin7responsive"></i> <%= @place.phone_number %></a>
          </div>
        </div>

          <p class="grey btm0 top15">Website</p>
          <p class="mrg0 blueish"><a href="<%= @place.website %>" target="blank"><%= extract_domain(@place.website) %></a></p>
      </div><!-- /col-sm-4 map-->
    </div><!-- /main row -->
  </section>
  <div class="text-center clearfix  hidden-xs" style="clear:both;z-index:1;position: relative;">
    <!-- "Book Now" - place.viator_link -->
    <a href="<%= @place.viator_link %>" data-target="_blank" style="margin:-5px" class="btn button-orange button-style-booking fontbig-button btn-radius btn-shadow">Book Now!</a>

  </div>

  <div class="text-center div-btn-country top20 btm20 hidden-xs">
    <% if user_signed_in? && @place.users.include?(current_user) %>
    <i class="fa fa-bookmark-o"></i>
     <a href="#" class="place-favorite black" data-liked="true" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"> Remove From Favourites</a>
    <% else %>
    <i class="fa fa-bookmark-o"></i>
    <a href="#" class="place-favorite black" data-liked="false" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"> Add To Favourites</a>
    <% end %>
  </div>


<%= render "photo_carousel" %>

</div><!-- /maincontainer -->

<section class="travelling-tips themuseum fun-fact mrg0">
  <div class="container padding-style">
    <div class="row">


      <%= render :partial => "good_to_knows" %>
      <%= render :partial => "fun_facts", :locals => { :color => "" }  %>


    </div>
  </div>
</section>


<div class="container padding-style">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <!-- left-col -->


    <%= render partial: "stories/all_stories", locals: { stories: @stories, title: "Your Stories" }%>
    <%= render "stories/modal_story" %>

    <div class="border-section clearfix btm0 top20 visible-xs"></div>
    </div> <!-- /left-col -->

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> <!-- right-col -->
      <section class="your-stories btm15 cards">
        <div class="row">
          <div class="col-xs-12">
            <% unless @reviews.blank? %>
              <div class="text-left">
                <h4 class="section-title">Member Reviews</h4>
              </div>

              <div id="reviews-list">
                <%= render partial: "reviews/reviews_list", collection: @reviews, as: :review %>
              </div>

              <% unless last_page? @reviews %>
                <div class="text-center clearfix btm20 single-pagination-container" id="reviews-single-pagination-container" style="clear:both">
                  <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
                    <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                  </div>
                  <%= link_to "Load More", place_path(@place, reviews_page: @reviews.next_page, resources: 'reviews', pagination_template: 'reviews/reviews_list'), class: 'btn btn-default single-pagination btn btn-default top5 load-more', remote: true %>
                </div>
              <% end %>

            <% end %>
          </div>
        </div> <!-- row -->
      </section>


      <%= render :partial => "fun_facts_mobile", :locals => { :color => "blue", bg:"bg-blue" }  %>

      <% unless @more_places.blank? %>
        <section class="places-to-go visit-place cards">
          <div class="border-section"></div>
          <div class="text-left">
            <h4 class="section-title">More places like this</h4>
          </div>
          <div class="row">
           <div class="col-xs-12" id="more_places-list">
              <%= render partial: 'primary_categories/places_list', collection: @more_places, as: :place %>
              <!-- #hardcode activate paginate (6 cards per page) -->
              <!-- sebelumnya di limit 6. pake js tampil lg 3  -->
            </div>
          </div> <!-- row -->
        </section>
        <% unless last_page? @more_places %>
          <div class="text-center clearfix btm20 single-pagination-container" id="more_places-single-pagination-container" style="clear:both">
            <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
              <img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64">
            </div>
            <%= link_to "Load More", place_path(@place, more_places_page: @more_places.next_page, resources: 'more_places', pagination_template: 'primary_categories/places_list', collection_object: 'place'), class: 'btn btn-default single-pagination btn btn-default top5 load-more', remote: true %>
          </div>
        <% end %>
      <% end %>
      </div> <!-- /col-md-8 -->
    </div> <!-- /main row -->
  </div> <!-- /main container -->
</div><!--/.area-content -->
<% end %>

<%= render 'layouts/all_modal' %>
<%= render 'new_story' %>
<%= render 'reviews/form' %>
<%#= render 'layouts/video_modal' %>
<%#= render 'stories/modal_story' %>

<!-- <div class="container" id="blogs">
    <h2 id="blog-title"></h2>
    <div id="blog-content"></div>
</div> -->
