<% provide(:title, @place.display_name) %>
<div class="area-content" data-lat="<%= @place.latitude %>" data-long="<%= @place.longitude %>">
  <a href="<%= root_path %>"><input type="image" src="<%= asset_path("home-button-blue.png") %>" class="globe-home"></a>
  <div class="page-wrap">
    <div class="banner-wrapper">
      <div class="banner">
        <div class="title-wrapper">
          <div class="title"><%= @place.display_name %></div>
        </div>
      </div>
    </div>
    <div class="slick-carousel">
      <div>
        <%= render partial: 'photos_masonry' %>
      </div>
      <div>
        <%= render '/search_suggestions/search_cards' %>
      </div>
      <% if current_user.try(:admin?) %>
        <p><%= link_to 'Edit Place', edit_place_path %></p>
      <% end %>
    </div>
  </div>

</div>
<%= javascript_include_tag 'search_suggestions' %>
<%= javascript_include_tag 'slick.min' %>
<%= javascript_include_tag 'slick-carousel' %>
