<% provide(:title, @place.display_name) %>
<% category = @place.categories.first.identifier rescue "default"%>
<% provide(:category,  category) %>

<% if @place.status == "live" || @place.status == "guest" || (user_signed_in? && (current_user.has_role?("publisher") || current_user.has_role?("editor") || current_user.admin?)) || (user_signed_in? && (current_user.places.include?(@place) && @place.status!= "removed")) %>
  <style>
    .br15_city_header {
      background: url(<%= raw draw_hero_background(@place) %>) center center no-repeat;
      background-size: cover;
      min-height: 334px;

    }
     .homepage { background-color: #fff !important;};
  </style>
<div class="area-content" data-lat="<%= @place.latitude %>" data-long="<%= @place.longitude %>">
        <div class="br15_top_search container-fluid">
            <div class="br15_search cs-br15_search">
                <div class="input-group">
                    <input type="text" id="search-box" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="magnifying-glass" type="button"><span class="fa fa-search"></span></button>
                    </span>
                </div>

<!--               <%# if @place.country %>
                <a href="<%#= country_path(@place.country) %>">
                  <img src="<%#= asset_path('flags/' + @place.country.country_code.downcase + '.png') %>" class="img-resposive country-flag" >
                </a>
              <%# end %>-->
            </div>
            <div class="br15_search_result cs-br15_search_result">
              <%= render "search_suggestions/search_results" %>
            </div>
           <!--  <div class="btn-group br15_signup_btn_group hidden-xs" role="group" aria-label="...">
                <a type="button" class="btn btn-default">Sign In</a>
                <a type="button" class="btn btn-default">Sign Up</a>
            </div> -->

            <div class="col-xs-12 col-sm-6 text-right pull-right"> <%= render 'layouts/profile_dropdown' %> </div>
            <!-- <div class="col-xs-12 visible-xs"> <%#= render 'layouts/mobile_nav' %> </div>   -->

            <div class="row br15_city_header text-center">
                <% if @place.country %>
                    <p class="br_time cs-br-time">
                        <a href="<%= country_path(@place.country)%>"> <img class="country-flag" src="<%= asset_path('flags/' + @place.country.country_code.downcase + '.png') %>"/>
                        </a>
                    </p>
                <% end %>

                <div class="col-sm-12 ">
                    <a href="#" class="center-block br15_logo"><img src="<%= asset_path('br_logo_new.png') %>" class="img-responsive center-block" alt=""></a>
                </div>

                <%#= render 'layouts/search_input'%>
            </div>
            <nav class=" br15_fixed nav row" data-spy="affix" data-offset-top="300">
                <div class="col-sm-3 pull-right col-xs-12 br15_light_font">
                    <div class="row">
                        <div class="btn-group br15_Action_Buttons btn-group-justified text-uppercase">
                            <a href="#photos" class="btn btn-primary"><span class="fa fa-plus-circle"></span> photo</a>
                            <a href="#videos" class="btn btn-primary"><span class="fa fa-plus-circle"></span> Video</a>
                            <a href="#stories" class="btn btn-primary"><span class="fa fa-plus-circle"></span> Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <h3 class="text-uppercase br15_semi_font">
                        <%= body_title(@place.display_name, category) %>
                        <!-- <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> -->
                        <!-- <li class="hero-hearts"> -->
                          <% if @place.quality_average %>
                            <% if user_signed_in? %>
                              <a href="#" class="no-anchor-decoration" data-toggle="modal" data-target="#myModal3">
                                <%= rating_for (@place ? @place : @area), "quality", :read_only => true %> (<%= @place.quality_average.qty %>)
                              </a>
                            <% else %>
                              <a href="#" class="no-anchor-decoration" data-toggle="modal" data-target="#signInModal">
                                <%= rating_for (@place ? @place : @area), "quality", :read_only => true %> (<%= @place.quality_average.qty %>)
                              </a>
                            <% end %>
                          <% else %>
                            <% if user_signed_in? %>
                              <a href="#" class="no-anchor-decoration" data-toggle="modal" data-target="#myModal3">
                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                <span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </a>
                            <% else %>
                              <a href="#" class="no-anchor-decoration" data-toggle="modal" data-target="#signInModal">
                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                <span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </a>
                            <% end %>
                          <% end %>
                        <!-- </li> -->
                    </h3>
                </div>
                <div class="col-sm-4 col-xs-12 text-center br15_light_font">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <a href="#" class="br15_share_btn"><i class="fa fa-share-square-o hidden-xs"></i><br/>SHARE <i class="fa fa-share-square-o hidden-sm hidden-md hidden-lg"></i></a>

                        </div>
                        <div class="col-sm-9 col-xs-12 br15_light_font">
                            <div class="btn-group br15_Review_Wishlist_BTN btn-group-justified ">
                                <a href="#reviews" class="btn btn-primary">Leave Review</a>
                                <!-- <a href="#" class="btn btn-primary">Add To Wishlist</a> -->
                                 <% if user_signed_in? && @place.users.include?(current_user) %>
                                    <a class="btn btn-primary" href="#" id="place-favorite" data-liked="true" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Remove from wishlist</a>
                                  <% else %>
                                    <a class="btn btn-primary" href="#" id="place-favorite" data-liked="false" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Add to wishlist</a>
                                  <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div><!--/.br15_top_search container-fluid -->

        <div class="br15_about container-fluid">
            <div class="br15_row_mob">
                <div class="col-xs-12">
                    <p>
                      <%= raw @place.description %>
                    </p>
 <!--                    <a href="#" class="visible-xs">Read More</a>
                    <br/>
                    <p class="hidden-xs">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis lorem ut semper ullamcorper. Aenean in quam auctor, convallis nibh ac, semper sem. Duis mi libero, egestas in imperdiet eu, sollicitudin a est. Vivamus ut eros nisl. Sed et risus in urna finibus varius. Suspendisse blandit dictum lacus, at mattis sem fermentum sed.
                    </p> -->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <% unless @videos.blank? %>
        <div class="br15_videos br15_bor_bot container-fluid" id="videos">
            <a  href="#" class="btn btn-default new-btn-orange br15_Title_See_All">videos</a>
            <div class="row">
                <div id="br15_owl_video" class="owl-carousel">
                   <!--  <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/51_gSa1OdEE"></iframe>
                        </div>
                    </div> -->
                    <%# @all_photos_and_videos.each_with_index do |asset, index| %>
                    <% @videos.each_with_index do |asset, index| %>
                    <%# unless asset.class.to_s == "Photo" %>
                      <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="player<%= index + 5 %>" src="//player.vimeo.com/video/<%= asset.vimeo_id %>?api=1&player_id=player<%= index + 5 %>" width="273" frameborder="2"  data-description="<%= asset.description %>" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                            </iframe>
                        <!-- <div class="overlay carousel-country-photo" data-slide-number="<%= index %>">
                          <span class="carousel-like-icon"><%#= raw like_icon(asset) %></span>
                        </div> -->
                        <div class="video-title"><%= asset.title %></div>
                        </div>
                      </div>
                    <%# end %>
                  <% end %>
                </div><!--/.owl-carousel -->
            </div>
        </div>
        <% end %>

        <% unless @reviews.blank? %>
        <div class="br15_review container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" id="reviews">
                      <% if user_signed_in? %>
                        <a href="#"  class="btn btn-default new-btn-orange br15_pad_bot_5  br15_features_btn  br15_Title_See_All">reviews</a> &nbsp;
                        <!-- <a href="" class="btn btn-default new-btn-orange br15_pad_bot_5  br15_features_btn  br15_Title_See_All" data-toggle="modal" data-target="#myModal3">Leave a review</a> -->
                      <% else %>
                        <a href="#"  class="btn btn-default new-btn-orange br15_pad_bot_5  br15_features_btn  br15_Title_See_All">Reviews</a> &nbsp;
                        <!-- <a href="" class="btn btn-default new-btn-orange br15_pad_bot_5  br15_features_btn  br15_Title_See_All" data-toggle="modal" data-target="#signInModal">Leave a review</a></h2> -->
                      <% end %>
                    <!-- <a href="#"  class="btn btn-default br15_pad_bot_5  br15_features_btn  br15_Title_See_All">Reviews</a> -->
                    <%= render "reviews/reviews" %>
                </div>
            </div>
        </div>
        <% end %>

        <div class="clearfix"></div>

        <% unless @photos.blank? %>
        <div class="br15_videos  br15_bor_bot br15_photos_cont container-fluid" id="photos">
            <a  href="#" class="btn btn-default new-btn-orange br15_Title_See_All">Photos</a>
            <div class="row">
                <div id="br15_owl_photos" class="owl-carousel">

                    <!-- <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="img/frame.jpg">
                        </div>
                    </div>-->
                    <%# @all_photos_and_videos.each_with_index do |asset, index| %>
                    <% @photos.each_with_index do |asset, index| %>
                     <%# unless asset.class.to_s == "Video" || asset.class.to_s == "UserPhoto" %>
                      <div>
                          <div class="embed-responsive embed-responsive-16by9">
                            <img src="<%= asset.path_url(:medium)%>" alt='<%= asset.caption ? asset.caption : "" %>' class="embed-responsive-item" data-slide-number="<%= index %>" data-caption="<%= asset.caption ? asset.caption : '' %>" data-placeUrl="<%= asset.place ? place_path(asset.place) : '' %>" data-placeName="<%= asset.place ? asset.place.display_name : '' %>">
                            <div class="place-photo-credit"><%= asset.credit rescue "" %></div>
                            <span class="carousel-like-icon"><%= raw like_icon(asset) %></span>
                          </div>
                      </div>
                      <%# end %>
                    <% end %>

                </div><!--/.carousel -->
            </div>
        </div>
        <% end %>
        <% unless @stories.blank? %>
        <div class="br15_features hidden-xs container-fluid">
            <div class="row">

                <div class="col-sm-12" id="stories">
                    <div class=" br15_stories br15_reviews">
                        <div class="col-xs-12">
                            <a  href="#" class="btn btn-default new-btn-orange br15_features_btn  br15_Title_See_All">Stories<span>See All</span></a>
                            <hr class="br15_hr visible-xs"/>
                            <%= render 'stories/all_stories' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        <%= render 'user_photos/form' %>
        <%= render 'stories/form' %>

        <div class="br15_map br15_collapse">
            <a href="#" class="btn btn-default new-btn-orange br15_pad_bot_5  br15_features_btn  br15_Title_See_All">map</a>
            <div id="place-map-canvas">
            </div>
        </div>

     <% unless @nearby_places.blank? %>
        <div class="br15_videos br15_nearby    container-fluid">
            <a href="#" class="btn btn-default new-btn-orange br15_pad_bot_5  br15_features_btn  br15_Title_See_All">Nearby</a>
            <div class="row">
                <div id="br15_owl_nearby" class="owl-carousel">
                    <% @nearby_places.each do |place| %>
                        <div>
                            <a href="<%= place_path(place) %>" class="no-anchor-decoration">
                                <div class="embed-responsive embed-responsive-16by9 ">
                                    <img class="embed-responsive-item" src="<%= draw_small_background(place) %>">
                                </div>
                                <div class="text-center br15_text_nearby">
                                    <h2><%= place.display_name %></h2>
                                    <h1>
                                        <% if place.quality_average %>
                                            <%= rating_for place, "quality", :read_only => true %> (<%= place.quality_average.qty %>)
                                        <% else %>
                                            <span class="">
                                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>(0)
                                            </span>
                                        <% end %>
                                    </h1>
                                    <div class="br_place_footer">
                                        <ul class="list-unstyled">
                                          <li>
                                            <a href="#"><i class="fa fa-video-camera"></i> &nbsp; <%= place.videos ? place.videos.length : "00" %></a>
                                          </li>
                                          <li>
                                            <a href="#"><i class="fa fa-puzzle-piece"></i> &nbsp; <%= place.games ? place.games.length : "00" %></a>
                                          </li>
                                          <li>
                                            <a href="#"><i class="fa fa-picture-o"></i> &nbsp; <%= place.photos ? place.photos.length : "00" %></a>
                                          </li>
                                        </ul>
                                    </div>
                                  <a href=" " class="br_top_left"><i class="fa fa-paper-plane"></i> <%= place.categories[0].name if !place.categories.blank? %></a>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        </div><!--/.br15_nearby -->
    <% end %>

    <% unless @place.display_address.blank? and @place.phone_number.blank? and @place.website.eql? "http://"%>
        <div class="br15_info  container-fluid">
            <a href="#" class="btn btn-default new-btn-orange br15_pad_bot_5  br15_features_btn  br15_Title_See_All">info</a>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>
                        <% unless @place.display_address.blank? %>
                            <label class="br15_semi_font text-uppercase">Address:</label>
                            <span class="br15_light_font text-uppercase"><%= @place.display_address %></span>
                            <br/>
                        <% end %>
                        <% unless @place.phone_number.blank? %>
                            <label class="br15_semi_font text-uppercase">Phone:</label>
                            <span class="br15_light_font text-uppercase"><%= @place.phone_number %></span>
                            <br/>
                        <% end %>
                        <% unless @place.website.eql? "http://" or @place.website.nil? %>
                            <label class="br15_semi_font text-uppercase">Website:</label>
                            <span class="br15_light_font "><a href="<%= @place.website %>" target="blank"><%= extract_domain(@place.website) %></a></span><br/>
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
    <% end %>

    <% unless @similar_places.blank? %>
        <div class="br15_videos br15_nearby br15_similar container-fluid">
            <a href="#" class="btn btn-default new-btn-orange br15_pad_bot_5  br15_features_btn  br15_Title_See_All">Similar</a>
            <div class="row">
                <div id="br15_owl_similar" class="owl-carousel">
                    <% @similar_places.each do |place| %>
                        <div>
                            <a href="<%= place_path(place) %>" class="no-anchor-decoration">
                                <div class="embed-responsive embed-responsive-16by9 ">
                                    <img class="embed-responsive-item" src="<%= place.photos.length > 0 ? place.photos.first.path_url(:small) : asset_path('generic-grey.jpg') %>">
                                </div>
                                <div class="text-center br15_text_nearby">
                                    <h2><%= place.display_name %></h2>
                                    <h1>
                                        <% if place.quality_average %>
                                            <%= rating_for place, "quality", :read_only => true %> (<%= place.quality_average.qty %>)
                                        <% else %>
                                            <span class="">
                                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>(0)
                                            </span>
                                          <% end %>
                                    </h1>
                                    <div class="br_place_footer">
                                      <ul class="list-unstyled">
                                        <li>
                                          <a href="#"><i class="fa fa-video-camera"></i> &nbsp; <%= place.videos ? place.videos.length : "00" %></a>
                                        </li>
                                        <li>
                                          <a href="#"><i class="fa fa-puzzle-piece"></i> &nbsp; <%= place.games ? place.games.length : "00" %></a>
                                        </li>
                                        <li>
                                          <a href="#"><i class="fa fa-picture-o"></i> &nbsp; <%= place.photos ? place.photos.length : "00" %></a>
                                        </li>
                                      </ul>
                                    </div>
                                    <a href=" " class="br_top_left"><i class="fa fa-paper-plane"></i> <%= place.categories[0].name if !place.categories.blank? %></a>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        </div><!--/.br15_videos.br15_nearby -->
    <% end %>

        <% if !@place.fun_facts.blank? %>
        <div class="br15_review container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <a href="#" class="btn btn-default new-btn-orange a-fun bt-fun br15_pad_bot_5  br15_features_btn  br15_Title_See_All">Fun Facts</a>
                    <div id="br15_owl_fun_facts" class="owl-carousel">
                        <!-- <div> for looping
                            <div class="br15_img_round_cont">
                                <img src="img/hugh.jpg" alt="">
                            </div>
                            <h1 class="br15_light_font text-center">Sydney Harbour is one the largest natural harbours in the world. </h1>
                        </div> -->
                        <% @place.fun_facts.active.each_with_index do |fun_fact, index| %>
                            <div>
                                <div class="br15_img_round_cont">
                                    <img src="<%= fun_fact.hero_photo.url || asset_path(get_random_place_photo(@place)) %>" alt="">
                                </div>
                                <h1 class="br15_light_font text-center"><%= raw fun_fact.content %></h1>
                            </div>
                        <% end %>

                       <!--  <%# @place.fun_facts.active.each_with_index do |fun_fact, index| %>
                            <div class="br_fun_fact hidden-xs">
                              <div class="row">
                                <div class="col-sm-4 col-md-3 col-lg-2">
                                  <img src="<%#= fun_fact.hero_photo.url || asset_path(get_random_place_photo(@place)) %>" class="fun-fact-image">
                                </div>
                                <div class="col-sm-8 col-md-9 col-lg-10">
                                  <h2> </h2>
                                  <p>
                                    <%#= raw fun_fact.content %>
                                  </p>
                                </div>
                              </div>
                            </div>
                        <%# end %> -->

                        <%#= render 'fun_facts/all_fun_facts' %>
                    </div><!--/.carousel -->
                </div>
            </div>
        </div><!--/.br-15-review -->
    <% end %>
</div><!--/.area-content -->
<% end %>
<%= render 'layouts/footer' %>
