<% provide(:title, @place.display_name) %>
<% category = @place.categories.first.identifier rescue "default"%>
<% provide(:description, @place.meta_description ? @place.meta_description : @place.description) %>
<% provide(:og_image, open_graph_image.gsub("https://", "http://")) %>
<% provide(:og_secure_image, open_graph_image) %>

<div id='country-data' data-country-code=<%= @place.country.blank? ? 'no-country' : @place.country.country_code %> data-capital-city=<%= @place.country.blank? ? 'no-country' : @place.country.capital_city %>></div>

<div class="area-content" data-lat="<%= @place.latitude %>" data-long="<%= @place.longitude %>">
<div class="breadcrumbs container">
<%= raw create_breadcrumb_for(@place) %>
<% if user_signed_in? and current_user.admin? %>
  <%= link_to "Edit Place", edit_place_path(@place), class: "breadcrumbs__link" %>
<% end %>
</div>
<div class="hero-image-wrapper hero dismiss-mega-menu-search"
         style="background: url( <%= showing_image(draw_hero_background(@place)) %>) no-repeat;" role="img"
         aria-label="">
   <div class="photo-credit"><%= get_hero_image_credit(@place) %></div>
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="location">
              </div>
              <h1><%= @place.display_name %></h1>
              <div class="destination-details">

                  <div class="favourites-wrapper">
                      <% if user_signed_in? && @place.users.include?(current_user) %>
                        <div class="icon-favourite selected" id="favouriteType" data-post-path="countries_users" data-klass="place" data-liked="true" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                        <div class="favourites-title hidden-xs">Remove from favourites</div>
                      <% else %>
                        <div class="icon-favourite" id="favouriteType" data-post-path="countries_users" data-klass="place" data-liked="false" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>"></div>
                        <div class="favourites-title hidden-xs" >Add to favourites</div>
                      <% end %>

                  </div>
                  <a data-scroll href="#photos" class="white">
                    <div class="photo-wrapper">
                        <img class="svg-inject" src="/assets/new-images/icon-camera.svg"/>

                        <div class="photo-title"><span class="count"> <%= @place.photos.size %></span> <span class="hidden-xs">Photos</span>
                        </div>
                    </div>
                  </a>
                  <a data-scroll href="#videos" class="white">
                    <div class="video-wrapper">
                        <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">

                        <div class="video-title"><span class="count"><%= @place.videos.size %></span><span class="hidden-xs"> Videos</span>
                        </div>
                    </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="destinations">
  <div class="destinations-content-block width-limiter">
    <aside>
      <h3 class="point-card__header"><%= @place.display_name %></h3>
      <ul class="featured-articles">
        <% @stories.each do |story| %>
        <li>
          <div class="fa-img-block">
            <div class="user-dp"
                 style="background: url(<%= showing_image(story.user.avatar_url)%>) no-repeat;"
                 role="img"
                 aria-label="User: <%= story.user.username %>">
            </div>
          </div>
          <p class="xs-heading"><%= raw story.title.blank? ? story.title : story.title.truncate(65) %></p>
          <a href="<%= story_path(story) %>" class="btn-bordered red small">READ MORE</a>
          <span class="label-article">Featured Article</span>
        </li>
        <% end %>
      </ul>
    </aside>
    <section>
      <div class="main-article">
        <h2 class="lg-heading"><%= @place.display_name %></h2>
        <p class="destination-desc " style="display:none;">
            <%= raw @place.description %>
        </p>
        <p class="destination-desc">
            <%= raw @place.description[0..280]+"..." %>
        </p>
        <a href="javascript:void()" class="readmore-area more-link">READ MORE</a>
        <a href="javascript:void()" class="readmore-area more-link" style="display:none;">LESS</a>
      </div>
      <% if @offers.present? %>
        <div id="offers" class="top-holidays">
          <h3 class="sm-heading lars">Top <%= @place.display_name %> Holidays</h3>
          <ul id="offers-list"> 
            <%= render partial: 'offers/all_offers', collection: @offers, as: :offer %>
          </ul>
          <% unless last_page? @offers %>
            <div class="single-pagination-container" id="offers-single-pagination-container">
              <div class="load-more region">
                <div class="hidden single-pagination-loader" align="center">
                  <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                </div>
              <%= link_to "load more", paginate_offers_place_path(@place, offers_page: @offers.next_page, resources: 'offers', pagination_template: 'offers/all_offers', collection_object: 'offer'), class: 'load-more single-pagination', remote: true %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="map-block">
        <h3 class="sm-heading lars">Map of <%= @place.display_name %></h3>
        <div id='dest-map' data-map="<%= create_marker @map_marker %>" ></div>
        <script async defer  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAqfBj1CzMc-sshEJHETwDKtGTAlQA2pcM&callback=initMap'></script>
      </div>
      <div class="key-info">
                <h3 class="sm-heading lars">Key Travel Information</h3>

                <div class="ki-content">
                    <div class="kic-item health">
                        <h4 class="kici-heading ">Health</h4>
                        <p>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Sociis natoque penatibus magnis dis parturient montes nascetur.</p>
                    </div>
                    <div class="kic-item short currency">
                        <h4 class="kici-heading ">currency</h4>
                        <p>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan.</p>
                    </div>
                    <div class="kic-item short language">
                        <h4 class="kici-heading ">language</h4>
                        <p>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan.</p>
                    </div>
                    <div class="kic-item long weather">
                            <h4 class="kici-heading ">weather</h4>
                            <ul class="t-block">
                                <li>
                                    <span class="t-high">20</span>
                                    <span class="t-low">10</span>
                                    <span class="month">September</span>
                                </li>
                                <li>
                                    <span class="t-high">20</span>
                                    <span class="t-low">10</span>
                                    <span class="month">September</span>
                                </li>
                                <li>
                                    <span class="t-high">20</span>
                                    <span class="t-low">10</span>
                                    <span class="month">September</span>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>

          <% unless @videos.blank? %>
          <div class="videos-block">
                <h3 class="sm-heading lars">Videos & Photos</h3>
      <% if !@last_video.youtube_id.blank? %>
    <div id="videos" class="large-video-component-wrapper play-in-modal"
         style="background: url(<%= @last_video.vimeo_thumbnail %>) no-repeat;"
         role="img"
         data-id="<%= @last_video.youtube_id %>"
         data-video="youtube"
         data-modal="#video-modal"
         data-video-url="<%= @last_video.url %>"
         aria-label="Kids View: Things to do in Sydney"
         data-thumb="<%= @last_video.vimeo_thumbnail %>" >
        <div class="overlay"></div>
          <div class="kids-view-wrapper">
              <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">

              <div class="kids-view"><%= @last_video.title %></div>
          </div>
        <div class="main-play-icon-wrapper">
            <div class="main-play-icon"></div>
        </div>
      </div>
  <% else %>
    <div id="videos" class="large-video-component-wrapper play-in-modal"
         style="background: url(<%= @last_video.vimeo_thumbnail %>) no-repeat;"
         role="img"
         data-id="<%= @last_video.vimeo_id %>"
         data-video="vimeo"
         data-modal="#video-modal"
         data-video-url="<%= @last_video.url %>"
         aria-label="Kids View: Things to do in Sydney"
         data-thumb="<%= @last_video.vimeo_thumbnail %>">
          <div class="overlay"></div>
            <div class="kids-view-wrapper">
                <img class="svg-inject" src="/assets/new-images/icon-play-rect-unfilled.svg">
                <div class="kids-view"><%= @last_video.title %></div>
            </div>
        <div class="main-play-icon-wrapper">
            <div class="main-play-icon"></div>
        </div>
    </div>
    <% end %>
    <%= render partial: "shared/videos_list", locals:{container: "" } %>
    <div id="photos">
      <%= render partial: "shared/photos_list", as: :photos, locals:{container: ""} %>
    </div>
    </div>
  <% end %>
    </section>
  </div>
</div>







  </div>

<%= render 'layouts/all_modal' %>
<%= render partial: 'shared/blueimp_gallery_modal' %>
<%= render 'shared/video_modal' %>

<style>
  @media (min-width: 767px){
    h1 {
      <%= 'font-size:80px !important;' if @place.display_name.size > 15 %>
    }
  }
</style>
