<% provide(:title, @place.display_name) %>
<style>
  .br_place_page {
    background: url(<%= @hero_photo ? @hero_photo.path_url(:medium) : @place.photos.blank? ? asset_path('generic-grey.jpg') : @place.photos.first.path_url(:large) %>) no-repeat;
    background-size: 100% 700px;
  }
</style>
<div class="area-content br_place_page" data-lat="<%= @place.latitude %>" data-long="<%= @place.longitude %>">
  <div class="container-fluid br_area">
        <div class="row">
          <div class="col-xs-6 hidden-xs">
            <img src="<%= @place.country ? asset_path('flags/' + @place.country.country_code.downcase + '.png') : "" %>" class="img-responsive country-flag" />
            <!-- <a href="#" class="br_view_cont">
              <i class="fa fa-eye"></i> View <span>all content</span> <i class="
              glyphicon glyphicon-triangle-bottom"></i>
            </a> -->
          </div>
          <div class="col-xs-12 visible-xs">
            <%= render 'layouts/mobile_nav' %>
          </div>
          <div class="col-xs-12 col-sm-6 text-right">
            <%= render 'layouts/profile_dropdown' %>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <a href="<%= root_path %>">
                  <img src="<%= asset_path('br_logo_new.png') %>" class="img-resposive center-block hidden-xs place-logo" >
                </a>
                <img src="<%= @place.country ? asset_path('flags/' + @place.country.country_code.downcase + '.png') : "" %>" class="img-resposive visible-xs country-flag" >
              </div>
              <div class="col-xs-12">
                <div class="br_search_box">
                  <div class="input-group text-center">
                    <input class="search-box form-control" placeholder="Where do you want to explore?"><i class="spinner search-spinner fa fa-spinner fa-pulse fa-2x fa-spin"></i></input>
                    <!-- <input type="text" class="form-control" placeholder="Placeholder"> -->
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                  </div>
                </div>
              </div>
              <!-- <div class="search-wrapper">

                <div class="search-sidebar"></div>
              </div> -->
              <div class="col-xs-12 text-center">
                <h1 class="br_top_heading hidden-xs">
                  <%= @place.display_name %>
                </h1>
                <h1 class="br_top_heading_mob visible-xs">
                  <%= @place.display_name %>
                </h1>
                <span class="hero-hearts"><a href="#"><i class="fa fa-share-square-o"></i> Share</a></span>
                <p class="text-center br_time">
                  <!-- <span class="visible-xs">
                        <i class="fa fa-clock-o"></i>&nbsp;
                        3:28am &nbsp;&nbsp;<i class="fa fa-bolt"></i>&nbsp; Slight showers
                    </span> TIME AND WEATHER -->&nbsp;
                </p>
                <ul class="list-unstyled br_buttons hidden-xs">
                  <li class="add-to-wishlist">
                    <% if user_signed_in? && @place.users.include?(current_user) %>
                      <a href="#" id="place-favorite" data-liked="true" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Remove from wishlist</a>
                    <% else %>
                      <a href="#" id="place-favorite" data-liked="false" data-place-id="<%= @place.id.to_s %>" data-user-id="<%= user_signed_in? ? current_user.id.to_s : 'no-user' %>">Add to wishlist</a>
                    <% end %>
                  </li>
                  <li>

                    <% unless @place.booking_url.blank? %>
                      <a href="<%= @place.booking_url %>" target="blank" class="btn btn-default">Book now!</a>
                    <% end %>
                  </li>
                  <li class="hero-hearts">
                    <% if @place.quality_average %>
                      Rate this place<br>
                      <% if user_signed_in? %>
                        <a href="#" class="" data-toggle="modal" data-target="#myModal3">
                          <%= raw show_place_rating(@place) %> (<%= @place.quality_average.qty %>)
                        </a>
                      <% else %>
                        <a href="#" onclick="alertSignIn()">
                          <%= raw show_place_rating(@place) %> (<%= @place.quality_average.qty %>)
                        </a>
                      <% end %>
                    <% else %>
                        Be the first to rate this place!<br>
                      <% if user_signed_in? %>
                        <a href="#" class="no-anchor-decoration" data-toggle="modal" data-target="#myModal3">
                          <i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i>
                        </a>
                      <% else %>
                        <a href="#" class="no-anchor-decoration" onclick="alertSignIn()">
                          <i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i>
                        </a>
                      <% end %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid br_container">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="list-unstyled text-center hidden-xs br_top_links">
                  <li>
                    <a href="#info">Info</a>
                  </li>
                  <li>
                    <a href="#top5">Top 5 Places</a>
                  </li>
                  <li>
                    <a href="#stories">Stories</a>
                  </li>
                  <li>
                    <a href="#games">Games</a>
                  </li>
                  <li>
                    <a href="#fun-facts">Fun Facts</a>
                  </li>
                  <li>
                    <a href="#featured-places">Featured Places</a>
                  </li>
                  <li>
                    <a href="#reviews">Reviews</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row br_container_box">
              <div>
                <a href="#" class="br_Activity_btn visible-xs">Activity details <span class="caret"></span></a>
                <div class="br_info_mob ">
                    <p>
                      <label>Rating:</label><br/>
                        <% if @place.quality_average %>
                          Rate this place<br>
                          <a href="#" class=""data-toggle="modal" data-target="#myModal3">
                            <%= raw show_place_rating(@place) %>
                          </a> (<%= @place.quality_average.qty %>)
                        <% else %>
                          Be the first to rate this place!<br>
                          <a href="#" class="no-anchor-decoration" data-toggle="modal" data-target="#myModal3">
                            <i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i>
                          </a>
                        <% end %>
                      <br/>
                      <label>Address:</label><br/>
                      <%= @place.display_address %><br/>
                      <label>Website:</label><br/>
                      <a href="<%= @place.website %>" target="blank"><%= @place.website %></a><br/>
                      <!-- <label>Email:</label><br/>
                      <a href="#">contact@ncaventurepark.com.au</a><br/> -->
                    </p>

                      <img src="<%= asset_path('trip.png') %>" class="img-responsive"/>
                      <h4><%= @place.display_name %></h4>
                     <p> TRIP ADVISOR INFO<br/><br/>
                      <a href="#">Visit the Trip Adisor page</a>
                    </p>
                </div>
              </div>
              <a name="info"></a>
              <div class="col-sm-12 col-md-6 col-md-offset-1">

                <h2><%= @place.display_name %></h2>
                <p>
                  <%= raw @place.description %>
                </p>
              </div>
              <% if @hero_video %>
                <div class="col-md-4 col-sm-12 hidden-xs">
                  <iframe class="hero-video" width="100%" height="272" src="//player.vimeo.com/video/<%= @hero_video.vimeo_id %>?api=1&player_id=player1" frameborder="0" allowfullscreen></iframe>
                </div>
              <% end %>
              <div class="clearfix"></div>
              <hr class="hidden-xs"/>
              <div class="col-md-10 col-md-offset-1">
                <div class="slider">
                  <div class="owl-carousel">
                                <div>
                                    <div class="br_16">
                                      <a data-toggle="modal" data-target="#myModal">
                                        <img src="<%= asset_path('Badge.png') %>" class="center-block">
                                        <h3>Add photo</h3>
                                      </a>
                                    </div>
                                </div>
                                <% @videos_photos.each_with_index do |asset, index| %>
                                  <% if asset.class.to_s == "Video" %>
                                  <div>
                                    <iframe class="carousel-item carousel-video" id="player1" src="//player.vimeo.com/video/<%= asset.vimeo_id %>?api=1&player_id=player1" width="273" frameborder="2" webkitallowfullscreen mozallowfullscreen allowfullscreen data-slide-number="<%= index %>"></iframe>
                                  </div>
                                  <% elsif asset.class.to_s == "Photo" %>
                                    <div class="carousel-item br_16">
                                        <img src="<%= asset.path_url(:medium)%>" class="img-resposive carousel-country-photo" data-slide-number="<%= index %>" data-caption="<%= asset.caption ? asset.caption : '' %>" data-placeUrl="<%= asset.place ? place_path(asset.place) : asset.area ? area_path(asset.area) : '' %>" data-placeName="<%= asset.place ? asset.place.display_name : asset.area ? asset.area.display_name : '' %>">
                                    </div>
                                  <% end %>
                                <% end %>
                        </div>
                        <span class="hidden-xs hidden-sm  glyphicon glyphicon-triangle-left owl_prev"></span>
                        <span class="hidden-xs hidden-sm glyphicon glyphicon-triangle-right owl_next"></span>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 hidden-xs br_trip_advisor">
                <div class="row">
                  <div class="col-sm-6 br_trip ">
                    <img src="<%= asset_path('trip.png') %>" class="img-responsive"/>
                     <h4><%= @place.display_name %></h4>
                     <p> TRIP ADVISOR INFO</p><br>
                     <a href="#">Visit the Trip Adisor page for <%= @place.display_name %></a>
                  </div>
                  <div class="col-sm-6 br_detail">
                    <h2>Place details</h2>
                    <label>Rating:</label> &nbsp;
                      <span>
                        <% if @place.quality_average %>
                          Rate this place<br>
                          <a href="#" class=""data-toggle="modal" data-target="#myModal3">
                            <%= raw show_place_rating(@place) %>
                          </a> (<%= @place.quality_average.qty %>)
                        <% else %>
                          Be the first to rate this place!<br>
                          <a href="#" class="no-anchor-decoration" data-toggle="modal" data-target="#myModal3">
                            <i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i>
                          </a>
                        <% end %>
                      </span><br/>

                      <label>Address:</label> &nbsp;
                      <span><%= @place.display_address %></span><br/>
                      <label>Phone:</label>  <span><%= @place.phone_number %></span><br/>
                      <label>Website:</label> &nbsp;
                      <span><a href="<%= @place.website %>" target="blank"><%= @place.website %></a></span><br/>

                      <!-- <label>Email:</label> &nbsp;
                      <span><a href="#">contact@ncaventurepark.com.au</a></span><br/> -->
                      <label id="hours"></label>
                      <span>
                        <p id="operating-hours"></p>
                      </span>
                  </div>
                </div>
              </div>
            </div>
            <a name="games"></a>
            <div class="row br_games">
              <div class="col-md-12 text-center">
                    <h2 class="">Some activities <span class="hidden-xs">for you!</span></h2>
                    <ul class="list-unstyled hidden-xs text-center">
                      <% @place.games.each do |game| %>
                        <% if game.game_type == "jigsaw puzzle" %>
                          <li>
                            <a href="#" class="game-icon" data-toggle="modal" data-target="#game-modal" data-game-url="<%= game.url %>">
                              <i class="fa  fa-puzzle-piece"></i><br><span class="hidden-sm">Jigsaw Puzzle</span>
                              <span class="arrow"></span>
                            </a>
                          </li>
                        <% elsif game.game_type == "word search" %>
                          <li class="">
                            <a href="#" class="game-icon" data-toggle="modal" data-target="#game-modal" data-game-url="<%= game.url %>">
                             <i class="fa fa-search"></i><br><span class=" hidden-sm hidden-xs">Word Search</span>
                             <span class="arrow"></span>
                           </a>
                         </li>
                         <% elsif game.game_type == "slider" %>
                          <li class="">
                            <a href="#" class="game-icon" data-toggle="modal" data-target="#game-modal" data-game-url="<%= game.url %>">
                             <i class="fa fa-table"></i><br><span class=" hidden-sm hidden-xs">Slider Puzzle</span>
                             <span class="arrow"></span>
                           </a>
                         </li>
                       <% end %>
                     <% end %>
                     <!-- <li class="">
                      <a href="#">
                       <i class="fa fa-question"></i><br><span class=" hidden-sm hidden-xs">Quiz</span>
                       <span class="arrow"></span>
                     </a>
                   </li>
                   <li class="">
                    <a href="#">
                      <i class="fa fa-ticket"></i><br><span class="hidden-sm hidden-xs">Postcard</span>
                      <span class="arrow"></span>
                    </a>
                  </li> -->
                  <li class="">
                    <a href="#">
                     <i class="fa fa-question-circle"></i><br><span class="hidden-xs hidden-sm">Open question</span>
                     <span class="arrow"></span>
                   </a>
                 </li>
               </ul>
               <select class="selectpicker visible-xs center-block">
                <% @place.games.each do |game| %>
                  <% if game.game_type == "jigsaw puzzle" %>
                    <option>
                      <a href="#" class="game-icon" data-toggle="modal" data-target="#game-modal" data-game-url="<%= game.url %>">
                        <i class="fa  fa-puzzle-piece"></i><br><span class="hidden-sm">Jigsaw puzzle</span>
                        <span class="arrow"></span>
                      </a>
                    </option>
                  <% elsif game.game_type == "word search" %>
                    <option class="">
                      <a href="#" class="game-icon" data-toggle="modal" data-target="#game-modal" data-game-url="<%= game.url %>">
                       <i class="fa fa-search"></i><br><span class=" hidden-sm hidden-xs">Word search</span>
                       <span class="arrow"></span>
                     </a>
                   </option>
                   <% elsif game.game_type == "slider" %>
                    <option class="">
                      <a href="#" class="game-icon" data-toggle="modal" data-target="#game-modal" data-game-url="<%= game.url %>">
                       <i class="fa fa-search"></i><br><span class=" hidden-sm hidden-xs">Slider</span>
                       <span class="arrow"></span>
                     </a>
                    </option>
                  <% end %>
                <% end %>
               </select>
              </div>
            </div>
            <a name="top5"></a>
            <div class="row br_top_5">
              <div class="col-md-12 ">
                <h2 class="text-center">Top 5 places <span>in this area!</span></h2>
              </div>
              <div class="col-md-12">
                <div class="br_top_5_slider">
                  <div class="owl-carousel">
                    <% @top_places.each do |place| %>
                      <div>
                        <a href="<%= place_path(place) %>" class="no-anchor-decoration">
                          <div class="br_top_place">
                            <div class="br_place_top">
                              <img src="<%= place.photos.length > 0 ? place.photos.first.path_url(:small) : asset_path('generic-grey.jpg') %>">
                            </div>
                            <div class="br_place_mid">
                              <h4><%= place.display_name %></h4>
                            </div>
                            <div class="br_place_footer">
                              <ul class="list-unstyled">
                                <li>
                                  <a href="#"><i class="fa fa-video-camera"></i> &nbsp; <%= place.videos ? place.videos.length : "00" %></a>
                                </li>
                                <li>
                                  <a href="#"><i class="fa fa-puzzle-piece"></i> &nbsp; <%= place.games ? place.games.length : "00" %></a>
                                </li>
                                <li>
                                  <a href="#"><i class="fa fa-picture-o"></i> &nbsp; <%= place.photos ? place.photos.length : "00" %></a>
                                </li>
                              </ul>
                            </div>
                            <a href=" " class="br_top_left"><i class="fa fa-paper-plane"></i> <%= place.categories[0].name if !place.categories.blank? %></a>
                            <a href=" " class="br_top_right"><i class="fa fa-star"></i></a>
                          </div>
                        </a>
                      </div>
                    <% end%>
                  </div>
                </div>
              </div>
            </div>
            <!-- DISCOUNTS GO HERE -->
            <!-- <div class="row br_featured_place ">
              <div class="col-md-12 br_place_bg">
                  <div class="col-xs-5 text-left">
                     <img src="img/as_logo.png" class="img-responsive">
                  </div>
                  <div class="col-xs-7 text-right">
                     <h2>40% off!</h2>
                  </div>
                  <div class="col-xs-12">
                      <h2>Kids bored this Summer?<br>
                          <span>Take a trip to Australia Zoo!</span>
                          </h2>
                  </div>
                  <div class="clearfix"></div>
              </div>
            </div> -->
            <a name="stories"></a>
            <div class="row  br_place_or_story">
              <div class="col-md-12 text-center">
                <h2>
                  Some stories from Brisbane
                </h2>
                <a href="#" data-toggle="modal" data-target="#story" class="br_create_btn btn btn-default">+ Create story</a>
              </div>
              <div class="col-sm-12 col-md-6 ">
                <div class="br_story">
                  <h3>The day I met a lion with Pete the trainer from Taronga Zoo!</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. Aenean non tortor id lda. Aenean non tortor id leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. non tortor id leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus
                  </p>
                  <a href="#" class="br_read_more">Read story</a>
                  <img src="<%= asset_path('Badge.png') %>" class="img-responsive">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="br_story bg">
                  <h3>The day I met a lion with Pete the trainer from Taronga Zoo!</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. Aenean non tortor id lda. Aenean non tortor id leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. non tortor id leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus
                  </p>
                  <a href="#" class="br_read_more">Read story</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="br_story">
                      <div class="br_story_img_cont">
                        <img src=""/>
                        <!-- this would be background image for BR created story -->
                      </div>
                      <div class="br_story_desc">
                          <h3>Train rides across Brisbane!</h3>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. Aenean non tortor id lda. Aenean non tortor id leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus qui...
                          </p>
                          <a href="#" class="br_read_more">Read story</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="br_story">
                  <h3>The day I met a lion with Pete the trainer from Taronga Zoo!</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. Aenean non tortor id lda. Aenean non tortor id leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. non tortor id leo. olor sit amet, consectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet suscipit justo malesuada. non tortor id leo.Lorem ipsum dolor sit amet,
                  </p>
                  <a href="#" class="br_read_more">Read story</a>
                  <img src="<%= asset_path('Badge.png') %>">
                </div>
              </div>
            </div>
            <a name="fun-facts"></a>
            <div class="row">
              <div class="col-md-12">
                <% @place.fun_facts.active.each_with_index do |fun_fact, index| %>
                  <style>
                    #fun-fact-<%= index %> {
                      background: transparent url(<%= fun_fact.hero_photo.url || asset_path('flags/' + @place.country.country_code.downcase + '.png') %>) no-repeat scroll 0% 0%;
                    }
                  </style>
                  <div class="br_fun_fact hidden-xs hidden-sm">
                    <div class="row">
                      <div class="col-sm-3 col-md-3 col-lg-2">
                        <img src="<%= fun_fact.hero_photo.url || asset_path(get_random_place_photo(@place)) %>" class="fun-fact-image">
                      </div>
                      <div class="col-sm-9 col-md-9 col-lg-10">
                        <a href="#"><i class="fa fa-share-square-o"></i> &nbsp; Share</a>
                        <h2>Now here’s a fun fact!</h2>
                        <p>
                          <%= raw fun_fact.content %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 visible-xs visible-sm">
                    <div class="row">
                      <div class="br_fun_fact-mob" id="fun-fact-<%= index %>">
                        <div class="br_fun_fact col-xs-10 col-sm-10 pull-right">
                          <h2>Now here’s a fun fact!</h2>
                          <p>
                            <%= raw fun_fact.content %>
                          </p>
                          <a href="#"><i class="fa fa-share-square-o"></i> &nbsp; Share</a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
            <a name="reviews"></a>
            <div class="row br_reviews">
              <div class="col-md-12 text-center">
                <% if user_signed_in? %>
                  <h2>Reviews &nbsp;<a href="#reviews" data-toggle="modal" data-target="#myModal3">Leave a review</a></h2>
                <% else %>
                  <h2>Reviews &nbsp;<a href="#reviews" onclick="alertSignIn()">Leave a review</a></h2>
                <% end %>
              </div>
              <%= render "reviews/reviews" %>
            </div>
          </div>
        </div>
      </div>
      <a name="featured-places"></a>
      <div class="conatiner-fluid br_related_places">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="text-center">Places nearby</h2>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
                 <div class="br_top_5_slider">
                  <div class="owl-carousel">
                    <% @nearby_places.each do |place| %>
                      <div>
                        <div class="br_top_place">
                          <div class="br_place_top">
                            <img src="<%= place.photos.length > 0 ? place.photos.first.path_url(:small) : asset_path('generic-grey.jpg') %>">
                          </div>
                          <div class="br_place_mid">
                            <h4><%= place.display_name %></h4>
                          </div>
                          <div class="br_place_footer">
                            <ul class="list-unstyled">
                              <li>
                                <a href="#"><i class="fa fa-video-camera"></i> &nbsp; <%= place.videos ? place.videos.length : "00" %></a>
                              </li>
                              <li>
                                <a href="#"><i class="fa fa-puzzle-piece"></i> &nbsp; <%= place.games ? place.games.length : "00" %></a>
                              </li>
                              <li>
                                <a href="#"><i class="fa fa-picture-o"></i> &nbsp; <%= place.photos ? place.photos.length : "00" %></a>
                              </li>
                            </ul>
                          </div>
                          <a href=" " class="br_top_left"><i class="fa fa-paper-plane"></i> <%= place.categories[0].name if !place.categories.blank? %></a>
                          <a href=" " class="br_top_right"><i class="fa fa-star"></i></a>
                        </div>
                      </div>
                    <% end%>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
                <h2 class="text-center">Places like this</h2>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
                <div class="br_top_5_slider">
                  <div class="owl-carousel">
                    <% @similar_places.each do |place| %>
                      <div>
                        <div class="br_top_place">
                          <div class="br_place_top">
                            <img src="<%= place.photos.length > 0 ? place.photos.first.path_url(:small) : asset_path('generic-grey.jpg') %>">
                          </div>
                          <div class="br_place_mid">
                            <h4><%= place.display_name %></h4>
                          </div>
                          <div class="br_place_footer">
                            <ul class="list-unstyled">
                              <li>
                                <a href="#"><i class="fa fa-video-camera"></i> &nbsp; <%= place.videos ? place.videos.length : "00" %></a>
                              </li>
                              <li>
                                <a href="#"><i class="fa fa-puzzle-piece"></i> &nbsp; <%= place.games ? place.games.length : "00" %></a>
                              </li>
                              <li>
                                <a href="#"><i class="fa fa-picture-o"></i> &nbsp; <%= place.photos ? place.photos.length : "00" %></a>
                              </li>
                            </ul>
                          </div>
                          <a href=" " class="br_top_left"><i class="fa fa-paper-plane"></i> <%= place.categories[0].name if !place.categories.blank? %></a>
                          <a href=" " class="br_top_right"><i class="fa fa-star"></i></a>
                        </div>
                      </div>
                    <% end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      <div class="modal fade br_add_pic" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog text-center" role="document">
           <img src="<%= asset_path('Badge.png') %>"/>
           <h1>Add a photo</h1>
           <div class="modal-content">
              <div class="br_upload">
                <input type="file"/>
                <h4>Click <span class="br_underline">Browse</span> and navigate to the file,<br/> or, just drag the file <strong>here</strong></h4>
              </div>
              <div>
                    <a href="#">Upload</a>
              </div>
          </div>
        </div>
      </div>

      <div  class="modal fade" id="story">
        <div class="text-center">
          <img src="<%= asset_path('Badge.png') %>"/><br/>
        </div><br/><br/>
        <div class="modal-dialog">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div style="" class="img-cont share">
              <div class="share-btn">
                <span class="glyphicon glyphicon-picture"></span><br>
                <div class="br_upload_2">
                 <button href="#" class="btn">+ Add feature image</button>
                 <input type="file"/>
               </div>
            </div>
          </div>
          <div class="br_form text-center">
            <input type="text" class="form-control text-center" placeholder="What’s the name of your story?"/>
            <textarea class="form-control text-center">Write an introduction to your story</textarea>
          </div>
          <div class="br_mid text-center">
            <hr/>
              <div class="br_upload_2">
                 <button href="#" class="btn">Add  image & copy</button>
                 <input type="file">
               </div>
            <hr/>
              <div class="br_upload_2">
                   <button href="#" class="btn">Add  image</button>
                   <input type="file">
                 </div>
            <hr/>
              <div class="br_upload_2">
                   <button href="#" class="btn">Add new paragraph</button>
                   <input type="file">
                 </div>
             </div>
             <hr/>
             <div class="br_modal-footer text-center">
               <button class="btn btn-lg">Publish story</button><br>
               <a href="#" data-dismiss="modal" aria-label="Close" >Cancel</a>
             </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade" id="carousel-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="owl-carousel" id="modal-carousel">
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% if current_user.try(:admin?) %>
  <p><%= link_to 'Edit Place', edit_place_path %></p>
<% end %>
<div id="place-map-canvas"></div>
<div id="place-id" data-place="<%= @place.place_id %>"></div>

<div id="game-modal" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">

            <div class="modal-content text-center">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

                <div class="col-md-12 modal-middle center-block">

                  <h2 class="text-center editable editable-click"><%= @place.display_name %></h2>
                  <div id="game-body"></div>


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

<div id="myModal3" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="col-md-12 modal-middle center-block">
        <h2 class="text-center">Leave a review</h2>
        <h3 class="text-center">
          Rate this place
          <%= rating_for @place, "quality", :disable_after_rate => true %>
        </h3>
        <%= simple_form_for [@reviewable, @review] do |f| %>
          <%= f.input :user_id, as: :hidden, :input_html => { :value => (current_user.id if user_signed_in?) } %>
          <input type="radio" name="review[content]" id="review1" value="It was awesome. You should definitely go!"><label for="review1">&nbsp;It was awesome, you should definitely go!</label><br>
          <input type="radio" name="review[content]" id="review2" value="It was pretty good. Most kids would like it."><label for="review2">&nbsp;It was pretty good. Most kids would like it.</label><br>
          <input type="radio" name="review[content]" id="review3" value="It was ok. Some kids would think it's good."><label for="review3">&nbsp;It was ok. Some kids would think it's good.</label><br>
          <input type="radio" name="review[content]" id="review4" value="I didn't really like it."><label for="review4">&nbsp;I didn't really like it</label><br>
          <input type="radio" id="review5"><label for="review1">&nbsp;I'd like to write my own review below</label>
          <%= f.input :title, placeholder: "Give your review a title", label: false, input_html: {class: "form-control"} %>
          <textarea class="form-control" name="review[content]" placeholder="Leave your review here" disabled></textarea>
          <%= f.submit "Publish", class: "pub" %>
        <!-- <a href="#" class="pub">Publish</a><br> -->
        <% end %>
        <a  data-dismiss="modal" aria-hidden="true" class="can">Cancel</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script>
  var alertSignIn = function(){
    alert("You must be signed in to do this");
  }
</script>
<!-- - It was awesome, you should definitely go!
- It was pretty good most kids would like it
- It was ok, some kids would think it's good
- I didn't really like it -->
