<% provide(:title, @place.display_name) %>
<% category = @place.categories.first.identifier rescue "default"%>
<% provide(:description, @place.meta_description ? @place.meta_description : @place.description) %>
<% provide(:og_image, open_graph_image.gsub("https://", "http://")) %>
<% provide(:og_secure_image, open_graph_image) %>

<div id='country-data' data-country-code=<%= @place.country.blank? ? 'no-country' : @place.country.country_code %> data-capital-city=<%= @place.country.blank? ? 'no-country' : @place.country.capital_city %>></div>

<div id="place-data" class="area-content" data-lat="<%= @place.latitude %>" data-long="<%= @place.longitude %>">
<div class="breadcrumbs container">
<%= raw create_breadcrumb_for(@place) %>
<% if user_signed_in? and current_user.admin? %>
  <%= link_to "Edit Place", edit_place_path(@place), class: "breadcrumbs__link" %>
<% end %>
</div>
<div class="hero-image-wrapper hero dismiss-mega-menu-search"
         style="background: url( <%= showing_image(draw_hero_background(@place)) %>) no-repeat;" role="img"
         aria-label="">
   <div class="photo-credit"><%= get_hero_image_credit(@place) %></div>
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="location">
                <% if user_signed_in? and current_user.admin? %>
                  <p><%= link_to "Edit Place", edit_place_path(@place) %></p>
                <% end %>
              </div>
              <h1><%= @place.display_name %></h1>
              <div class="destination-details">

              </div>
          </div>
      </div>
  </div>
</div>
<div class="destinations">
  <div class="destinations-content-block width-limiter">
    <aside>
      <h3 class="point-card__header"><%= @place.display_name %></h3>
      <ul class="featured-articles">
        <%= render partial: "stories/all_stories_white", collection: @stories, as: :story %>
      </ul>
    </aside>
    <section>
      <div class="main-article">
        <h2 class="lg-heading"><%= @place.try(:description_heading) %></h2>
        <%if @place.description.size > 280 %>
          <main>
            <div class="destination-desc " style="display:none;">
                <%= simple_format @place.description %>
            </div>
            <div class="destination-desc">
                <%= simple_format @place.description[0..280]+"..." %>
            </div>
          </main>
          <div>
            <a href="javascript:void()" class="readmore-area more-link">READ MORE</a>
            <a href="javascript:void()" class="readmore-area more-link" style="display:none;">LESS</a>
          </div>
        <% else %>
          <div class="destination-desc ">
              <%= raw @place.description %>
          </div>
        <% end %>
      </div>
      <% if @offers.present? %>
        <div id="offers" class="top-holidays">
          <h3 class="sm-heading lars">Top <%= @place.display_name %> Holidays</h3>
          <ul id="offers-list">
            <%= render partial: 'offers/all_offers', collection: @offers, as: :offer %>
          </ul>
          <% unless last_page? @offers %>
            <div class="single-pagination-container" id="offers-single-pagination-container">
              <div class="load-more region">
                <div class="hidden single-pagination-loader" align="center">
                  <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
                </div>
              <%= link_to "load more", paginate_offers_place_path(@place, offers_page: @offers.next_page, resources: 'offers', pagination_template: 'offers/all_offers', collection_object: 'offer'), class: 'load-more single-pagination', remote: true %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="map-block hidden-sm">
        <h3 class="sm-heading lars">Map of <%= @place.display_name %></h3>
        <div id='dest-map' data-zoom="<%= @place.zoom_level %>" data-map="<%= create_marker @place %>" ></div>
        <!-- <script async defer  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAqfBj1CzMc-sshEJHETwDKtGTAlQA2pcM'></script> -->
      </div>
      <div class="key-info">
                <h3 class="sm-heading lars">Key Travel Information</h3>

                <div class="ki-content">
                    <div class="kic-item health">
                        <h4 class="kici-heading ">Health</h4>
                        <p>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Sociis natoque penatibus magnis dis parturient montes nascetur.</p>
                    </div>
                    <div class="kic-item short currency">
                        <h4 class="kici-heading ">currency</h4>
                        <p>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan.</p>
                    </div>
                    <div class="kic-item short language">
                        <h4 class="kici-heading ">language</h4>
                        <p>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan.</p>
                    </div>
                    <div class="kic-item long weather">
                            <h4 class="kici-heading ">weather</h4>
                            <ul class="t-block">
                            </ul>
                        </div>
                </div>
            </div>

          <h3 class="sm-heading lars">Videos & Photos</h3>
          <% unless @videos.blank? %>
            <div class="videos-block place-video">
              <% if !@last_video.youtube_id.blank? %>
                <div class="video-embed-wrapper">
                  <div class="small-video-component">
                    <iframe class="player-vimeo" src="<%= @last_video.url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                </div>
              <% end %>
            <%= render partial: "shared/videos_list", locals:{container: "" } %>
          </div>
          <% end %>
          <% unless @photos.blank? %>
          <div class="gallery">
              <div class="slider-mobile-wrapper">
                  <div class="slider-for">
                      <% @photos.each do |photo| %>
                          <div><img src="<%= photo.path_url(:large) %>" alt="" width="100%"></div>
                      <% end %>
                  </div>
              </div>
              <div class="slider-nav xs-invisible">
                  <% @photos.each do |photo| %>
                      <div><img src="<%= photo.path_url(:large) %>" alt="" width="100%"   ></div>
                  <% end %>
              </div>
          </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>

<%= render 'layouts/all_modal' %>
<%= render partial: 'shared/blueimp_gallery_modal' %>
<%= render 'shared/video_modal' %>

<style>
  @media (min-width: 767px){
    h1 {
      <%= 'font-size:80px !important;' if @place.display_name.size > 15 %>
    }
  }
</style>
