<% if user_signed_in? %>
  <% if current_user.try(:admin) || current_user.has_role?("publisher") || current_user.has_role?("editor") %>
    <nav class="navbar navbar-default admin-navbar" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <div class="navbar-header">
            <ul class='nav navbar-nav'>
              <a class="navbar-brand" href="#">ADMIN MENU</a>
              <li><%= link_to 'Home', root_path %></li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Countries
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Countries', countries_path %></li>
                  <li><%= link_to 'New Country', new_country_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Areas
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Areas', "/places?is_area=true" %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Places
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Places', places_path %></li>
                  <li><%= link_to 'New Place', new_place_path %></li>
                  <li><%= link_to 'Assets In Review', "/places/all_edited" %></li>
                  <li><%= link_to 'Publishing Queue', "/places/publishing_queue" %></li>
                  <li><%= link_to 'Merge Places', "/places/merge" %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Users
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'User Content Review', "/users/draft_content" %></li>
                  <li><%= link_to 'User Created Places', "/places/user_created" %></li>
                  <li><%= link_to 'Show/Edit Users', users_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  School Safari
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Programs', programs_path %></li>
                  <li><%= link_to 'New Program', new_program_path %></li>
                  <li><%= link_to 'Edit Place Tags', "/places/tags" %></li>
                  <li><%= link_to 'Edit Program Tags', "/programs/tags" %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Other
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.try(:admin) %>
                    <li><%= link_to 'Rails Admin', rails_admin_path %></li>
                    <li><%= link_to 'Assign Points Values to Assets', points_values_path %>
                    <li><%= link_to 'See All Transactions', transactions_path %>
                    <li><%= link_to 'See Complete Leaderboard', "/users/leaderboard" %>
                  <% end %>
                </ul>
              </li>
              <% if user_signed_in? %>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  <% end %>
<% end %>
