<% if user_signed_in? %>
  <% if current_user.try(:admin) %>
    <nav class="navbar navbar-default admin-navbar" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <div class="navbar-header">
            <ul class='nav navbar-nav'>
              <a class="navbar-brand" href="#">ADMIN MENU</a>
              <li><%= link_to 'Home', root_path %></li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Countries
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Countries', countries_path %></li>
                  <li><%= link_to 'New Country', new_country_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Regions
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Regions', regions_path %></li>
                  <li><%= link_to 'New Region', new_region_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Pages
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Pages', all_pages_pages_path %></li>
                  <li><%= link_to 'New Page', new_page_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Competitions
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Compeitions', competitions_path %></li>
                  <li><%= link_to 'New Competition', new_competition_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Places
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Places', places_path %></li>
                  <li><%= link_to 'New Place', new_place_path %></li>
                  <li><%= link_to 'Assets In Review', "/places/all_edited" %></li>
                  <li><%= link_to 'Publishing Queue', "/places/publishing_queue" %></li>
                  <li><%= link_to 'Merge Places', "/places/merge" %></li>
                  <li><%= link_to 'Edit Parents', "/places/edit_parents" %></li>
                  <li><%= link_to 'Places With Subcategories', places_with_subcategories_places_path %></li>
                  <li><%#= link_to 'Areas With Subcategories', areas_with_subcategories_places_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Attractions
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Attractions', attractions_path %></li>
                  <li><%= link_to 'New Attractions', new_attraction_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Users
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'User Content Review', "/users/draft_content" %></li>
                  <li><%= link_to 'User Created Places', "/places/user_created" %></li>
                  <li><%= link_to 'Show/Edit Users', users_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Categories
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Primary Categories', "/primary_categories/cms_index" %></li>
                  <li><%= link_to 'All Subcategories', "/subcategories/cms_index" %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Posts
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Posts', posts_path %></li>
                  <li><%= link_to 'New Post', new_post_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Stories
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Stories', stories_path %></li>
                  <li><%= link_to 'New Story', new_story_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  School Safari
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Programs', programs_path %></li>
                  <li><%= link_to 'New Program', new_program_path %></li>
                  <li><%= link_to 'Edit Place Tags', "/places/tags" %></li>
                  <li><%= link_to 'Edit Program Tags', "/programs/tags" %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Offers
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Offers', offers_path %></li>
                  <li><%= link_to 'New Offer', new_offer_path %></li>
                  <li>
                    <%= link_to "Create New Offer From LIVN", new_livn_offer_offers_path %>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  Other
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.try(:admin) %>
                    <li><%= link_to 'Rails Admin', rails_admin_path %></li>
                    <li><%= link_to 'Assign Points Values to Assets', points_values_path %></li>
                    <li><%= link_to 'See All Transactions', transactions_path %></li>
                    <li><%= link_to 'See Complete Leaderboard', "/users/leaderboard" %></li>
                  <% end %>
                </ul>
              </li>
              <% if user_signed_in? %>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  <% end %>
<% end %>
