<div class="dropdown pull-right">

  <ul id="menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% if user_signed_in? %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= user_path(current_user) %>" data-filter="*">
          <%= image_tag 'all_icon-02.svg', class: 'dropdown-menu-icon' %>
          My Profile
        </a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= destroy_user_session_path %>" data-filter="*" data-method="delete">
          <%= image_tag 'all_icon-02.svg', class: 'dropdown-menu-icon' %>
          Log Out
        </a>
      </li>
    <% else %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= new_user_session_path %>" data-filter="*">
          <%= image_tag 'all_icon-02.svg', class: 'dropdown-menu-icon' %>
          Sign In
        </a>
      </li>
    <% end %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= root_path %>" data-filter="*">
          <%= image_tag 'corporate_icon-02.svg', class: 'dropdown-menu-icon' %>
          Home
        </a>
      </li>
    <% unless @videos %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= videos_path %>" data-filter=".slider">
          <%= image_tag 'game_icon-slider.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
          Videos
        </a>
      </li>
    <% end %>
    <% unless @games %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= games_path %>" data-filter=".jigsaw">
          <%= image_tag 'game_icon-01.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
          Games
        </a>
      </li>
    <% end %>
    <% if @games %>
      <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" data-filter=".slider">
            <%= image_tag 'game_icon-slider.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Slider
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" data-filter=".jigsaw">
            <%= image_tag 'game_icon-01.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Jigsaw
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" data-filter=".word">
            <%= image_tag 'game_icon-wordsearch.svg', class: 'dropdown-menu-icon', data: { filter: '.word-search'} %>
            Word Search
          </a>
        </li>
      <% end %>
  </ul>
</div>
