<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-brw navbar-static-top" id="menu-nav">
  <div class="container big-container">
    <div class="navbar-header">
      <div class="sign visible-xs">
        <a href="#" data-toggle="modal" data-target="#myModal">
          Sign in/Join
        </a>
        <a href="#">
          <i class="fa fa-search" id="fa-search-nav-xs"></i>
        </a>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <i class="fa fa-bars"></i>
          <i class="fa fa-times" style="display:none"></i>
      </button>
      <a class="navbar-brand brw-navbar-brand" href="<%= root_path %>">
        <img src="<%= asset_path('br-logo-new-blue-bkgd.png')%>" alt="Bound Round Logo" class="img-logo-index">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown menu-large">
          <p class="find visible-xs">Find</p>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places to go<span class="caret"></span></a>

          <ul class="dropdown-menu megamenu row megamenu-bg">
        </li>

                <div class="row megamenu-paddings megamenu-bg">

                  <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                    <div class="border-section"></div>

                    <div class="text-left padding-left">
                      <h4 class="section-title emphasize megamenu-font-color">Featured destinations</h4>
                    </div>
                    <% @featured_nav_destinations = Place.find([1064, 1221, 1071, 1060]) %>
                    <% @featured_nav_destinations.each do |place| %>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="<%= place_path(place) %>">
                            <div class="thumbnail box-shadow">
                              <div class="image-cat">
                                <img src="<%= draw_small_background(place) %>" alt="" class="top-rounded img-responsive inner-js">
                              </div>
                              <div class="caption text-center">
                                <h4 class="font-orange2"><%= place.display_name %></h4>
                              </div>
                              <div class="details-dest">
                                <div class="left">
                                  <!-- <a href="#"><i class="fa fa-newspaper-o"></i> 2</a> -->
                                </div>
                                <div class="right">
                                  <% if !place.viator_link.blank? %>
                                    <a href="<%= place.viator_link%>" target="_blank" class="pink">Book Now</a>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                        </div>
                      </a>
                    <% end %>

                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <a class="btn btn-default btn-margin-top-bottom btn-radius2 btn-shadow2 btn-brw-orange2">View all places to go</a>
                      </div>

                    </div> <!-- col -->

                    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                      <div class="border-section"></div>
                            <section class="places-to-go">
                                <div class="text-left">
                                  <h4 class="section-title padding-left emphasize megamenu-font-color">Featured places</h4>
                                </div>
                                <div class="row">
                                  <% @featured_nav_places = Place.find([233, 117, 921]) %>
                                  <% @featured_nav_places.each do |place| %>
                                    <a href = "<%= place_path(place) %>">
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                      <div class="thumbnail margin-both box-shadow">
                                        <div class="image-cat image-cat-left">
                                          <img src="<%= draw_small_background(place) %>" alt="" class="img-responsive img-full-div inner-js">
                                        </div>
                                        <div class="caption caption-right">
                                          <h4 class="gray-font"><%= place.country.display_name %></h4>
                                          <h4 class="cruises-color"><%= place.display_name %></h4>
                                        </div>
                                        <div class="details-dest">
                                          <div class="left">
                                            <% place.subcategories.subcats.each do |category| %>
                                              <a href="<%= subcategory_path(category) %>"><i class="fa fa-ship"></i><%= category.name %></a>
                                            <% end %>
                                          </div>
                                          <div class="right">
                                            <% if !place.viator_link.blank? %>
                                              <a href="<%= place.viator_link%>" target="_blank" class="pink">Book Now</a>
                                            <% end %>
                                          </div>
                                          </div>
                                        </div>
                                      </div>
                                    </a>
                                  <% end %>
                                </div> <!-- row -->
                              </section>

                    </div> <!-- col -->
                    </div> <!-- row -->
              </li>
          </ul>
        </li>
        <li class=""><%= link_to "Things To Do", subcategories_path %></li>
        <!-- <li class=""><a href="#">Trips for Everyone</a></li> -->
      </ul>
      <ul class="nav navbar-nav first-ul">
        <p class="find visible-xs">Browse</p>
        <li class=""><a href="/photos"><i class="fa fa-camera find-c"></i>&nbsp; Galleries</a></li>
        <!-- <li class=""><a href="/videos"><i class="fa fa-youtube-play find-c"></i>&nbsp; Videos</a></li> -->
      </ul>
      <ul class="nav first-ul visible-xs">
      <li>
        <p class="find find-become btm10 ">Become a member</p>
        <a href="#" class="btn btn-default btn-become">Join Boundround</a>
      </li>
      </ul>
      <ul class="nav navbar-nav first-ul hidden-xs">
        <li>
          <div class="input-group input-search-nav">
          <!-- #check -->
<!--             <%#= form_tag('/serach', method: :get, id: "top-search") do %>
              <%#= submit_tag '', class: "btn btn-default", id: "btn-search-top" %>
              <i class="fa fa-search"></i>
              <%#= text_field_tag 'term', nil , placeholder: 'Search for destinations', class: "search-nav", id: "search-box"%>
            <%# end %> -->
            <div class="input-group input-search-nav">

              <%= form_tag searching_path, id: '', method: :get  do %>
                <%= submit_tag "", id: 'btn-search-top'  %><i class="fa fa-search"></i>
                <%= text_field_tag "search[common]", params.traverse('search', 'common'), class: 'search-nav', placeholder: 'Search for destinations' %>
              <% end %>
            </div><!-- /input-group -->



          </div><!-- /input-group -->
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <% if user_signed_in? %>
        <li>
          <!-- <span class="badge badge-profile"> 1 </span>
          <div class="outer-profile">
            <img src="http://www.tahupedia.com/img/uploaded/post/post_3/anjing_peliharaan.jpg" class="img-rounded-mini"/>
          </div> -->
        </li>
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span>
          <!-- <span class="badge badge-profile"> 2 </span> -->
            <div class="outer-profile">
              <img src="<%= current_user.avatar_url rescue "" %>" />
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a href="<%= user_path(current_user) %>">My Profile</a></li>
            <li><a href="<%= edit_user_path(current_user) %>">Edit Profile</a></li>
            <li><a href="<%= favourites_user_path(current_user) %>">My Favourites</a></li>
            <li><a href="<%= photos_user_path(current_user) %>">My Photos</a></li>
            <li><a href="<%= stories_user_path(current_user) %>">My Stories</a></li>
            <li><a href="<%= reviews_user_path(current_user) %>">My Reviews</a></li>
            <li><a href="<%= destroy_user_session_path %>">Sign Out</a></li>
            <!-- <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>

          <!-- <li class="">
            <a href="#">
              <span class="badge badge-danger notif"> 1 </span>
              <img src="http://www.tahupedia.com/img/uploaded/post/post_3/anjing_peliharaan.jpg" class="img-rounded-mini"/>
            </a>
          </li>
          <li class="">
            <a href="#" style="margin-top: 10px; margin-left: 5px; margin-right: -25px;">My Account <span class="caret"></span></a>
          </li> -->
        <% else %>
          <li class=""><a style="cursor:pointer" data-toggle="modal" data-target="#myModal">Sign in</a></li>
          <li class=""><a href="<%= new_user_registration_path %>" class="join-nav">Join</a></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!-- // -->
