<div class="dropdown br_profile">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="add-text-shadow">Profile</span>
    <span class="caret"></span>
    <img src="<%= user_signed_in? && current_user.avatar_url ? current_user.avatar_url : asset_path('user_copy_2.png') %>" >
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% if user_signed_in? %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= user_path(current_user) %>" data-filter="*">
          My Profile
        </a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= users_stories_path %>" data-filter="*">
          My Stories
        </a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= users_places_path %>" data-filter="*">
          My Wishlist
        </a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= destroy_user_session_path %>" data-filter="*" data-method="delete">
          Sign Out
        </a>
      </li>
    <% else %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#signInModal" data-filter="*">
          Sign In
        </a>
      </li>
    <% end %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="<%= root_path %>" data-filter="*">
          Home
        </a>
      </li>
  </ul>
</div>
