<% modal_class = controller_name.eql?("registrations")? 'br_sign_style_modal' : 'modal fade in' %>
<div class="<%= modal_class %>" id="signup_modal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
            <%= simple_form_for User.new do |f| %>
            <div class="modal-header">
                <div class="modal-content__header text-center">
                  <img src="/assets/mydiscoveries_icon/i/logo-short.svg" class="modal-content__logo-short" alt="logo-short">
                  <p class="modal-content__sing">join mydiscoveries</p>
                </div>
            </div>

            <div class="modal-content__body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <%= f.label :email, "Email address", class: "modal-content__title control-label" %>
                      <%= f.input_field :email, required: true, autofocus: true, placeholder: "Email", class: "modal-content__input form-control" %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <%= f.label :password, "Password", class: "modal-content__title control-label" %>
                      <%= f.password_field :password, required: true, placeholder: "Password", class: "modal-content__input form-control" %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <%= f.label :password_confirmation, "Password Confirmation", class: "modal-content__title control-label" %>
                      <%= f.password_field :password_confirmation, required: true, placeholder: "Password Confirmation", class: "modal-content__input form-control" %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.button :submit, "Join", :class=>'modal-content__btn-access' %>
                  <%#= f.button :submit, "Join", :class=>'btn btn-default btn-block btn-radius btn-height fontbig-button pink' %>
                </div>
                <div class="row">
                    <hr>
                </div>

                <% end %>
                  Or sign up with...
                <div class="row">
                  <%- if devise_mapping.omniauthable? %>
                    <%- resource_class.omniauth_providers.each do |provider| %>
                      <% if provider.to_s == "facebook" %>
                        <div class="half-left">
                          <a href="<%= omniauth_authorize_path(resource_name, provider) %>" role="button" class="btn btn-primary btn-block button btn-radius fontbig-signin btn-facebook mrg0"><i class="fa fa-<%= provider.to_s %>"></i> Facebook</button>
                          </a>
                        </div>
                      <% elsif provider.to_s == "google_oauth2" %>
                        <div class="half-right">
                          <a href="<%= omniauth_authorize_path(resource_name, provider) %>" type="button" class="btn button btn-danger btn-block btn-google-plus btn-radius fontbig-signin" role="button"><i class="fa fa-google"></i> Google+
                          </a>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
            </div><!--/modal body -->

            <div class="modal-footer">
              <div class="row">
                <div class="col-xs-12">
                  <div class="left">
                    <p class="text-center">We're committed to protecting your privacy. By proceeding, you agree to our <%= link_to "Privacy Policy", pages_privacy_path, target: "_blank" %> and <%= link_to "Terms and Conditions", pages_terms_path, target: "_blank" %></p>
                  </div>
                </div>
              </div>
            </div>
        <% end %> <!--/simple form -->
    </div>
  </div>
</div><!--/modal-->
