<!DOCTYPE html>
<html lang="en" ng-App="boundRound">
<% if not @placeprograms %>
	<head>
	  <title><%= full_title(yield(:title), yield(:category)) %></title>

	  <%= stylesheet_link_tag( 'application', media: 'all') %>
	  <%= csrf_meta_tags %>

	  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"> -->

		<link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path('favicons/apple-touch-icon-57x57.png')%>">
		<link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path('favicons/apple-touch-icon-60x60.png')%>">
		<link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('favicons/apple-touch-icon-72x72.png')%>">
		<link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path('favicons/apple-touch-icon-76x76.png')%>">
		<link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('favicons/apple-touch-icon-114x114.png')%>">
		<link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path('favicons/apple-touch-icon-120x120.png')%>">
		<link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path('favicons/apple-touch-icon-144x144.png')%>">
		<link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-32x32.png')%>" sizes="32x32">
		<link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-96x96.png')%>" sizes="96x96">
		<link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-16x16.png')%>" sizes="16x16">
		<link rel="manifest" href="<%= asset_path('favicons/manifest.json')%>">
		<meta name="description" content="<%= meta_description(yield(:title), yield(:description)) %>">
		<meta name="author" content="Bound Round Pty Ltd">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="<%= asset_path('favicons/mstile-144x144.png')%>">
		<meta name="theme-color" content="#ffffff">

	  <meta name="viewport" content="width=device-width,
	                                     initial-scale=1.0,
	                                     maximum-scale=1.0,
	                                     user-scalable=no">
      <% if ENV['BOUNDROUND_ENV'] == 'boundround_production' %>
          <script type="text/javascript">var _CnvMonk = {};_CnvMonk.cguid = "MzA4MzM";_CnvMonk.in_url = document.location.href;
            (function() {var cm = document.createElement('script'); cm.type = 'text/javascript'; cm.async = true;cm.src = '//app.conversionmonk.com/v1/cm_embed.js?cguid='+_CnvMonk.cguid+'&in_url='+encodeURIComponent(_CnvMonk.in_url);var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cm, s);})();
          </script>

          <!-- Alexa Metrics Tracking -->
          <meta name="alexaVerifyID" content="rCx4wAynuVnH_ioayBEVT5PQS0I">

          <!-- Sumo Me Metrics Trackings -->

          <!-- HEAP Analytics Trackings -->

          <!-- Facebook Pixel Code -->
          <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','//connect.facebook.net/en_US/fbevents.js');

            fbq('init', '746879908782524');
            fbq('track', "PageView");
          </script>
          <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=746879908782524&ev=PageView&noscript=1"
          /></noscript>
          <!-- End Facebook Pixel Code -->

          <meta name="google-site-verification" content="XprSXLyuxufKywFzcpPs5KmuKpR56aKSbQnKqHRu0Rk">

					<script type="text/javascript">
						var trackcmp_email = '';
						var trackcmp = document.createElement("script");
						trackcmp.async = true;
						trackcmp.type = 'text/javascript';
						trackcmp.src = '//trackcmp.net/visit?actid=25096090&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
						var trackcmp_s = document.getElementsByTagName("script");
						if (trackcmp_s.length) {
							trackcmp_s[0].parentNode.appendChild(trackcmp);
						} else {
							var trackcmp_h = document.getElementsByTagName("head");
							trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
						}
					</script>
      <% else %>

      <% end %>

    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->

		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="<%= yield(:title) %>" />
		<meta property="og:description"   content="<%= yield(:description) %>" />
		<meta property="og:image"         content="<%= yield(:og_image) %>" />
		<meta property='og:image:secure_url' content="<%= yield(:og_secure_image) %>" />
		<meta property='og:image:type' content='image/jpeg' />
	  <%= render "/layouts/ga" %>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        #home-map-wrapper,
        #home-map {
            height: 100%;
            width: 100%;
            position: absolute;
        }
        #info-box {
            background-color: white;
            border: 1px solid black;
            top: 30px;
            height: 200px;
            padding: 10px;
            position: absolute;
            right: 30px;
        }

        .home-map-wrapper .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 9;
            display: block;
            top: 0;
            left: 0;
            z-index: 000;
            opacity: 0;
        }

        .home-map-wrapper.enabled .overlay {
            display: none;
        }

        .no-bg {
            background: transparent !important;
        }
    </style>
<script async src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	</head>

	<body class="<%= @set_body_class ? @set_body_class : 'homepage' %>">
		<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1418185688437447',
			xfbml      : true,
			version    : 'v2.6'
		});
		};

		(function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>


    <div id="place-holder"></div>
    <% flash.each do |type, message| %>
      <% if !bootstrap_class_for(type).eql?("timedout")%>
        <% if is_flash_key_for_tracking?(type) %>
          <div class="hidden <%= type %>"></div>
        <% else %>
            <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
        <% end %>
      <% end %>
    <% end %>

    <% if !@no_nav %>
      <%= render "/layouts/admin_menu" %>
      <%= render "layouts/navbar" %>
    <% end %>

    <div class="app-wrap">
      <%= yield %>
    </div>
    <%= render 'layouts/signin_modal' %>
    <% if !@no_nav %>
      <%= render "layouts/footer" %>
    <% end %>
    <%= render "/layouts/video_modal" %>

    <%= javascript_include_tag 'application' %>
    <%= render "/layouts/stamp_modal" %>
    <script type="text/javascript">
      setTimeout("$('.alert').fadeOut('slow')",4000);
    </script>
		<% if ENV['BOUNDROUND_ENV'] == 'boundround_production' %>
			<!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com --><script>var om57849e4d511bd,om57849e4d511bd_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){om57849e4d511bd_poll(function(){if(window['om_loaded']){if(!om57849e4d511bd){om57849e4d511bd=new OptinMonsterApp();return om57849e4d511bd.init({"s":"20785.57849e4d511bd","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;om57849e4d511bd=new OptinMonsterApp();om57849e4d511bd.init({"s":"20785.57849e4d511bd","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
		<% end %>
	</body>



<% elsif @placeprograms %>

	    <%= yield %>

<% end %>
</html>
