<!DOCTYPE html>
<html>
<head>
  <title>BoundRoundWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class='nav navbar-nav'>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'All Areas', areas_path %></li>
        <li><%= link_to 'New Area', new_area_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign In', user_registration_path %></li>
        <li><%= link_to 'Facebook Sign In', user_omniauth_authorize_path(:facebook) %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      </ul>
    </div>
  </nav>
<div class="container">
  <div class="row flash">
    <div class="large-12 columns">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
  </div>
  <%= yield %>
</div>
<%= javascript_include_tag 'application' %>

<script>
resrc = {
  options: {
    server: "trial.resrc.it"
  }
};
</script>
<script src="//use.resrc.it"></script>
</body>
</html>
