<!DOCTYPE html>
<html lang="en">
	<head>
	  <title><%= full_title(yield(:title), yield(:category)) %></title>

      <%= analytics_init if GoogleAnalytics.valid_tracker? %>
	  <%= stylesheet_link_tag( 'application', media: 'all') %>
	  <%= csrf_meta_tags %>

	  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"> -->
		<link href="<%= request.original_url %>" rel="canonical" />

		<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('favicons/mydiscoveries/apple-touch-icon.png')%>">
		<link rel="icon" type="image/png" href="<%= asset_path('favicons/mydiscoveries/favicon-16x16.png')%>" sizes="16x16">
		<link rel="icon" type="image/png" href="<%= asset_path('favicons/mydiscoveries/favicon-32x32.png')%>" sizes="32x32">
		<link rel="icon" type="image/png" href="<%= asset_path('favicons/mydiscoveries/favicon.ico')%>">
		<link rel="manifest" href="<%= asset_path('favicons/mydiscoveries/manifest.json')%>">
		<meta name="description" content="<%= meta_description(yield(:title), yield(:description)) %>">
		<meta name="author" content="Bound Round Pty Ltd">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="<%= asset_path('favicons/mydiscoveries/mstile-150x150.png')%>">
		<meta name="theme-color" content="#ffffff">

	  <meta name="viewport" content="width=device-width,
	                                     initial-scale=1.0,
	                                     maximum-scale=1.0,
	                                     user-scalable=no">

		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="<%= yield(:title) %>" />
		<meta property="og:description"   content="<%= yield(:description) %>" />
		<meta property="og:image"         content="<%= yield(:og_image) %>" />
		<meta property='og:image:secure_url' content="<%= yield(:og_secure_image) %>" />
		<meta property='og:image:type' content='image/jpeg' />
		<% if ENV["BOUNDROUND_ENV"] == "boundround_production" %>
			<meta name="p:domain_verify" content="686be2abe0a940c9850d1d44857ce726">
		<% end %>
	  <%= render "/layouts/ga" %>
	  <%= render "/layouts/facebook_pixel" %>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        #home-map-wrapper,
        #home-map {
            height: 100%;
            width: 100%;
            position: absolute;
        }
        #info-box {
            background-color: white;
            border: 1px solid black;
            top: 30px;
            height: 200px;
            padding: 10px;
            position: absolute;
            right: 30px;
        }

        .home-map-wrapper .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 9;
            display: block;
            top: 0;
            left: 0;
            z-index: 000;
            opacity: 0;
        }

        .home-map-wrapper.enabled .overlay {
            display: none;
        }

        .no-bg {
            background: transparent !important;
        }
    </style>
    <%# unless params[:controller] == "places" %>
    <script async src="//maps.googleapis.com/maps/api/js?key=AIzaSyDk49bKAZAXex-UBN5AbFnvkjlaptQNtiM&amp;libraries=places"></script>
    <%# end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>
	</head>
	<body class="<%= @set_body_class ? @set_body_class : 'homepage' %>">
		<div id="environment" data-environment="<%= Rails.env %>">
    <div id="place-holder"></div>
    <% flash.each do |type, message| %>
      <% if !bootstrap_class_for(type).eql?("timedout")%>
        <% if is_flash_key_for_tracking?(type) %>
          <div class="hidden <%= type %>"></div>
        <% else %>
          <% if action_name != "payment" && controller_name != "orders" %>
            <div class="alert <%= bootstrap_class_for(type) %> fade in">
              <button class="close" data-dismiss="alert">×</button>
              <%= message %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if !@no_nav %>
      <%= render "/layouts/admin_menu" %>
      <%= render "layouts/navbar" %>
    <% end %>

    <div class="app-wrap">
      <%= yield %>
    </div>
    <%= render 'layouts/signin_modal' %>
    <% if controller_name != "registrations" %>
      <%= render 'layouts/signup_modal' %>
    <% end %>
    <% if !@no_nav %>
      <%= render "layouts/footer" %>
    <% end %>
    <%= render "/layouts/video_modal" %>

    <%= javascript_include_tag 'application' %>
    <% if (controller_name == "regions") && (action_name == "show") %>
      <%= javascript_include_tag 'region_map' %>
    <% end %>
    <% if (controller_name != "users") && (action_name != "show") %>
      <%= javascript_include_tag 'bootstrap-datepicker' %>
    <% else %>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <% end %>
    <% if (controller_name == "offers") && (action_name == "show") %>
        <%= javascript_include_tag 'offer_map' %>
    <% end %>
    <%= render "/layouts/stamp_modal" %>
    <script type="text/javascript">
      setTimeout("$('.alert').fadeOut('slow')",4000);
    </script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		<% if ENV["BOUNDROUND_ENV"] == "boundround_production" %>
			<%= render '/layouts/hubspot_tracking' %>
		<% end %>
	</body>
</html>
