<div class="container">
<%= render 'admin_tabs' %>
<h1>Edit Photos</h1>
<%= link_to "Back To Edit #{@attraction.display_name}", edit_attraction_path(@attraction)%>
	<% if @user_photos.present? %>
		<h4>User Photos (Click to Edit)</h4>
		<div class="row">
		<% @user_photos.each do |photo| %>
			<div class="col-md-4 col-hero-list">
				<div class="outer-image hero-list">
					<a href="" data-toggle="modal" data-target="#photoEditModal"
						data-photo-id="<%= photo.id.to_s %>" data-type="<%= photo.class.to_s %>"
						data-caption="<%= photo.caption %>" data-alt="<%= photo.alt_tag %>"
						data-status="<%= photo.status %>" data-priority="<%= photo.priority %>"
						data-credit="<%= photo.credit %>" data-instance="<%= photo.class.to_s.underscore %>"
						class="edit-photo" data-path="<%= "/user_photos/#{photo.id}/attraction_update" %>">
						<img src="<%= showing_image(photo.path_url(:large)) %>" alt="">
					</a>
				</div>
				<% if photo.hero.eql? true %>
					<label>
						<input name="hero_image" type="checkbox" checked > Current hero image
					</label>
				<% else %>
				<label>
					<input name="hero_image" data-place="<%= @attraction.id %>" data-photo="<%= photo.id %>" data-type="<%= photo.class.to_s %>" type="checkbox"> Choose as hero image
				</label>
				<% end %>
			</div>
			<% end %>
		</div>
		<hr>
	<% end %>
	<% if @attraction_photos.present? %>
		<h4>Attraction Photos (Click to Edit)</h4>
		<div class="row">
		<% @attraction_photos.each do |photo| %>
			<div class="col-md-4 col-hero-list">
				<div class="outer-image hero-list">
					<a href="" data-toggle="modal" data-target="#photoEditModal"
						data-photo-id="<%= photo.id.to_s %>" data-type="<%= photo.class.to_s %>"
						data-caption="<%= photo.caption %>" data-alt="<%= photo.alt_tag %>"
						data-credit="<%= photo.credit %>" data-instance="<%= photo.class.to_s.underscore %>"
						data-status="<%= photo.status %>" data-priority="<%= photo.priority %>"
						class="edit-photo" data-path="<%= "/photos/#{photo.id}/attraction_update" %>">
						<img src="<%= showing_image(photo.path_url(:large)) %>" alt="">
					</a>
				</div>
				<% if photo.hero.eql? true %>
					<label>
						<input name="hero_image" type="checkbox" checked > Current hero image
					</label>
				<% else %>
					<label>
						<input name="hero_image" data-from="attraction"  data-place="<%= @attraction.id %>" data-photo= "<%= photo.id %>" data-type="<%= photo.class.to_s %>" type="checkbox"> Choose as hero image
					</label>
				<% end %>
			</div>
		<% end %>
		</div>
	</div>
	<% end %>
	<div class="container">
		<%= render 'photos/form' %>
	</div>
	<!-- Modal -->
<div class="modal fade" id="photoEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
			<%= form_for :photo, method: "put", html: { id: "edit-photo-form" } do |f| %>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Edit Photo</h4>
	      </div>
	      <div class="modal-body">
	        <div id="photo">
					</div>
					<img id="photo-preview" class="img-responsive" alt="">
					<span class="avatar-text" >Click to change</span><br>
					<%= file_field_tag 'photo-file' %>
					<label for="caption">Caption</label>
					<input type="text" id="caption" class="form-control" name="caption">
					<label for="credit">Credit</label>
					<input type="text" id="credit" class="form-control" name="credit">
					<label for="alt_tag">Alt Tag</label>
					<input type="text" id="alt-tag" class="form-control" name="alt_tag">
					<label for="priority">Priority</label>
					<select type="text" id="priority" class="form-control" name="priority">
						<option value></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
					<label for="status">Status</label>
					<select type="text" id="status" class="form-control" name="status">
						<option value></option>
						<option value="draft">draft</option>
						<option value="edited">edited</option>
						<option value="live">live</option>
						<option value="removed">removed</option>
					</select>
					<input type="hidden" id="photo-id">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <input type="submit" id="submit-upload" class="btn btn-primary" value="Save changes">
	      </div>
			<% end %>
    </div>
  </div>
</div>
