<table style="background-color: #fff; width: 600px; margin: auto; border-collapse: collapse;" border="0">
  <% if email_page %>
    <tr>
      <td colspan="2" style="font-family:'Rubik'; font-size: 16px; color: #fff; background-color: #000060; padding: 30px 0">
        Having trouble viewing this email? View it in your
        <%= link_to 'browser',
          order_confirmation_url(order),
          style: "text-decoration: underline; color: #fff"
        %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2" style="padding: 40px 40px 30px;">
      <% if email_page %>
        <img src="<%= asset_url('assets/mydiscoveries_icon/i/logo-full.png') %>" style="width: 230px;">
      <% else %>
        <img src="<%= asset_url('assets/mydiscoveries_icon/i/logo-full.svg') %>" style="width: 230px;">
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 10px 40px;">
      <span style="font-family: 'Georgia', Arial; font-size: 26px">Important information</span>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-family: Arial; font-size: 16px; color: #333; padding-bottom: 15px; padding: 0; padding-bottom: 25px;">
      <ul style="padding: 0 40px; padding-left: 55px;">
        <li style="margin: 15px 0; line-height: 20px">
          This voucher is your proof of purchase.
          Treat your prepaid voucher as you would cash and keep it in a safe place
        </li>
      </ul>
    </td>
  </tr>
  <%= render 'vouchers/table_items',
    pdf_page:   pdf_page,
    email_page: email_page,
    order:      order,
    customer:   customer,
    collection: order.line_items
  %>
  <tbody>
  <% if !email_page %>
    <tr>
      <td colspan="2" style="padding: 25px 40px 40px;">
        <a href="javascript:void(0)" class='js-print-vouchers-button' style="background-color: #ff4a1a;width: 100%;display: block;padding: 20px 0;text-align: center;font-size: 18px;font-family: Arial;color: #fff;text-decoration: none;" data-toprint='true'>
          PRINT VOUCHERS
        </a>
      </td>
    </tr>
  <% end %>
  <% order.products.uniq.each do |product| %>
    <tr>
      <td colspan="2" style="padding: 0">
        <hr style="margin:0; height: 1px; background-color: #000060; border: 0;">
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding: 40px; text-align: center;">
        <% if email_page || !pdf_page %>
          <a href="https://www.insureandgo.com.au/?affiliateid=384&promocode=discovery10&utm_source=MyDiscoveries&utm_medium=referral&utm_campaign=affiliate" target="_blank"><img src="<%= asset_url('assets/email_confirmation.jpg') %>" style="width: 300px;"></a>
        <% else %>
          <img src="<%= asset_url('assets/pdf_voucher.jpg') %>" style="width: 300px;">
        <% end %>
      </td>
    </tr>
        <tr>
          <td colspan="2" style="padding: 0">
            <hr style="margin:0; height: 1px; background-color: #000060; border: 0;">
          </td>
        </tr>
      <tr>
        <td colspan="2" style="padding: 40px 40px 30px; padding-bottom: 15px;">
          <span style="font-family: 'Georgia'; font-size: 26px">
            Tour information
          </span>
          <br>
          <span style="font-family: Arial; font-weight: bold; font-size: 20px;">
            <%= product.name %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 0 40px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">
            Operator name
          </span>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0">
            <%= product.operator.name %>
          </p>
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">
            Contact number
          </span>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0">
            <%= product.operator.phone %>
          </p>
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">
            Inclusions
          </span>
          <ul style="margin: 0;padding-left: 0;list-style: none;margin-bottom: 15px; margin-top: 10px;">
            <%= simple_format product.includes %>
          </ul>
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">
            Fine Print
          </span>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; margin-bottom: 5px;">
            <%= simple_format product.customStr3 %>
          </p>
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">
            Booking Essentials
          </span>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; margin-bottom: 5px;">
            <%= simple_format product.customStr1 %>
          </p>
        </td>
      </tr>
    </tr>
    <% if product.itinerary.url.present? %>
      <% if email_page %>
        <tr style="background-color: #000060;">
      <% else %>
        <tr style="background-color: #eaeaea">
      <% end %>
        <td colspan="2" style="padding: 25px 40px 40px;">
          <a href=<%= product.itinerary.url %> style="background-color: #ff4a1a;width: 100%;display: block;padding: 20px 0;text-align: center;font-size: 18px;font-family: Arial;color: #fff;text-decoration: none;">
            VIEW HOLIDAY PDF
          </a>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% if email_page %>
    <tr style="background-color: #000060;">
      <td style="font-family:'Rubik'; font-size: 16px; color: #fff; background-color: #000060; padding: 40px 0;">
        <a href="<%= ENV['HOME_URL'] %>" style="text-decoration: underline; color: #fff; display: block;">mydiscoveries.com.au</a>
        <span style="font-family:Arial; display: block;margin-top: 10px;">431 Warringah Road, Frenchs Forest, NSW 2086<br>
          1300 404 606</span>
      </td>
      <td style="background-color: #000060;  padding: 40px 0;" valign="top" align="right">
        <%= link_to 'https://www.facebook.com/BoundRound', style: "text-decoration: none;" do %>
          <img src="<%= asset_url('assets/mydiscoveries_icon/i/footer/fb.png') %>" style="height: 20px;margin: 0 5px;">
        <% end %>
        <%= link_to 'http://instagram.com/boundround', style: "text-decoration: none;" do %>
          <img src="<%= asset_url('assets/mydiscoveries_icon/i/footer/insta.png') %>" style="height: 20px;margin: 0 5px;">
        <% end %>
        <%= link_to 'https://twitter.com/BoundRoundAus', style: "text-decoration: none;" do %>
          <img src="<%= asset_url('assets/mydiscoveries_icon/i/footer/twitter.png') %>" style="height: 20px;margin: 0 5px;">
        <% end %>
        <%= link_to 'https://www.youtube.com/user/BoundRoundGuides', style: "text-decoration: none;" do %>
          <img src="<%= asset_url('assets/mydiscoveries_icon/i/footer/youtube.png') %>" style="height: 20px;margin: 0 5px;">
        <% end %>
        <%= link_to 'https://au.pinterest.com/boundround', style: "text-decoration: none;" do %>
          <img src="<%= asset_url('assets/mydiscoveries_icon/i/footer/pinterest.png') %>" style="height: 20px;margin: 0 5px;">
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
