<tbody class="js-print-vouchers" style="<%= (pdf_page) ? 'page-break-inside: avoid; display: block;' : '' %>" id="not-print">
  <tr>
    <td colspan="3" style="padding: 8px 40px;">
    <span style="font-family: Arial; font-weight: bold; font-size: 18px">Dear <%= customer.full_name %>,</span>
    <br>
    <p style="font-family: Arial; font-size: 16px; margin-top: 5px">Thank you for booking with MyDiscoveries. Your booking details are listed below. Enjoy your trip!
    </p>
    </td>
  </tr>
  <tr>
  <% collection.each_with_index do |line_item, index| %>
    <tr class="<%= index == 0 ? '' : 'add-page-break' %> " style="<%= (pdf_page) ? 'page-break-after: always; display:block;' : '' %>">
        <td colspan="3" style="padding: 8px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 18px">Booking Details</span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 0px 40px">
          <hr style="margin:0; height: 1px; background-color: #000060; border: 0;">
        </td>
      </tr>

      <td colspan="3" style="padding: 8px 40px;">
        <span style="font-family: Arial; font-weight: bold; font-size: 16px">
          <%= "Package #{index + 1}" %>
        </span>
      </td>
      <tr>
        <td colspan="1" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Name</span>
        </td>
        <td colspan="2" style="padding: 20px 40px; text-align: left;">
          <p style="font-family: Arial; font-size: 16px; margin-top: 0">
            <%= ": " + customer.full_name %>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="1" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Customer No.</span>
        </td>
        <td colspan="2" style="padding: 20px 40px; text-align: left;">
          <p style="font-family: Arial; font-size: 16px; margin-top: 0">
            <%= ": " + customer.uniq_number %>
          </p>
        </td>
      </tr>      
      <tr>
        <td colspan="1" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Purchase Date</span>
        </td>
        <td colspan="2" style="padding: 20px 40px; text-align: left;">
          <p style="font-family: Arial; font-size: 16px; margin-top: 0">
            <%= ": " +  order.purchase_date.try(:strftime, "%d/%m/%Y") %>
          </p>
        </td>
      </tr>     
      <tr>
        <td colspan="3" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px">Booking Reference</span><br>
          <span style="font-family: 'Georgia'; font-size: 26px">
            <%= "#{line_item.order.ax_sales_id}-#{index + 1}" %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 0px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Holiday Name</span>
        </td>
      <tr>
        <td colspan="3" style="padding: 8px 40px; padding-bottom: 15px;">
          <span style="font-family: 'Georgia'; font-size: 26px">
            <%= line_item.product.name %><br>
            <%= line_item.product_options %>
            <% if line_item.add_ons.any? %>
              <%= " (+ #{line_item.add_on_names}) " %>
            <% end %>
          </span>
          <br>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Holiday Description</span>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <%= line_item.variant.product.description %>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 18px;">Your Purchase Details</span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 0px 40px">
          <hr style="margin:0; height: 1px; background-color: #000060; border: 0;">
        </td>
      </tr>
      <!-- TODO: Add ons in here --> 
      <tr>
        <td colspan="1" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Holiday Name</span> 
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <%= line_item.variant.name %><br>
            <%= line_item.product_options %>
          </p>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <% if line_item.add_ons.any? %>
              <%= " (+ #{line_item.add_on_names}) " %>
            <% end %>
          </p>
        </td>
        <td colspan="1" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Quantity</span>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <%= line_item.quantity %>
          </p> 
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <% if line_item.add_ons.any? %>
              <%= line_item.add_on.quantity %>
            <% end %>
          </p>      
        </td>
        <td colspan="1" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Total Price</span>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <%= number_to_currency(line_item.amount) %>
          </p>
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <% if line_item.add_ons.any? %>
              <%= line_item.add_on.quantity * line_item.add_on.price %>
            <% end %>
          </p>         
        </td>
      </tr>
      <tr>
        <td colspan="1" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Installments?</span>
        </td>
        <td colspan="2" style="padding: 20px 40px; text-align: left;">
          <p style="font-family: Arial; font-size: 16px; margin-top: 0">
            <% if line_item.request_installments %>
              <%= "Yes" %>
            <% else %>
              <%= "No" %>
            <% end %>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 20px 40px; text-align: right;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Total Payable</span>
        </td>
        <td colspan="1" style="padding: 20px 40px;">
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <%= number_to_currency(order.total_amount) %>
          </p>            
        </td>
      </tr>
      <tr>
      <tr>
        <td colspan="2" style="padding: 00px 40px; text-align: right;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Amount paid today</span>
        </td>
        <td colspan="1" style="padding: 00px 40px;">
          <p style="font-family: Arial; font-size: 16px; margin-top: 0; text-align: justify; text-justify: inter-word;">
            <%= number_to_currency(order.total_amount) %>
          </p>            
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 10px 40px;">
          <hr style="margin:0; height: 1px; background-color: #000060; border: 0;">
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">How to book</span>
          <span style="font-family: Arial; font-size: 16px; margin-top: 0;">
            <%= simple_format line_item.variant.product.customStr1 %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 20px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Valid Until</span>
        </td>
        <td colspan="1" style="padding: 20px 40px; text-align: right;">
          <p style="font-family: Arial; font-size: 16px; margin-top: 0">
            <%= line_item.variant.product.validityEndDate.try(:strftime, "%d/%m/%Y") %>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 0px 40px;">
          <span style="font-family: Arial; font-weight: bold; font-size: 18px;">Additional Information</span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 10px 40px;">
          <hr style="margin:0; height: 1px; background-color: #000060; border: 0;">
        </td>
      </tr>
      <tr>
        <td colspan="1" style="padding: 20px 40px;">
          <p style="font-family: Arial; font-size: 16px; margin-top:">
            Package Details & Fine Print:
          </p>
        </td>
        <td colspan="2" style="padding: 20px 40px; text-align: right;">
          <span style="font-family: Arial; font-size: 16px; margin-top: 0;">
            <%= link_to 'download itinerary', "https://www.mydiscoveries.com/offers/#{line_item.variant.product.slug}.pdf", id:"download-itinerary" %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 20px 40px;">
          <hr style="margin:0; height: 1px; background-color: #000060; border: 0;">
        </td>
      </tr>
  <% end %>
  <tr>
    <td colspan="2" style="padding: 0px 40px;">
      <span style="font-family: Arial; font-weight: bold; font-size: 16px;">What else do you need?</span>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding: 40px; text-align: center;">
      <% if email_page || !pdf_page %>
        <a href="https://www.insureandgo.com.au/?affiliateid=384&promocode=discovery10&utm_source=MyDiscoveries&utm_medium=referral&utm_campaign=affiliate" target="_blank"><img src="<%= asset_url('assets/email_confirmation.jpg') %>" style="width: 300px;"></a>
      <% else %>
        <img src="<%= asset_url('assets/pdf_voucher.jpg') %>" style="width: 300px;">
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding: 0px 40px;">
      <span style="font-family: Arial; font-weight: bold; font-size: 16px;">Need help?</span>
    </td>
  </tr>
  <tr>
    <td colspan="1" style="padding: 20px 40px;">
      <span style="font-family: Arial; font-size: 16px;">Do you need to speak with a Travel Consultant?</span>
    </td>
    <td colspan="2" style="padding: 20px 40px; text-align: right;">
      <p style="font-family: Arial; font-size: 16px; margin-top: 0">
        Call 1300 404 606
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding: 8px 40px;">
      <span style="font-family: Arial; font-weight: bold; font-size: 16px">Cancellations</span>
      <br>
      <p style="font-family: Arial; font-size: 16px; margin-top: 5px">If you are no longer able to travel and would like a refund or if you would simply prefer to change your travel dates, please contact <a href='mailto:bookings@mydiscoveries.com.au'>bookings@mydiscoveries.com.au</a> and our customer support team will provide further guidance.
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding: 8px 40px;">
    <span style="font-family: Arial; font-weight: bold; font-size: 16px">Hope you have a wonderful holiday!</span>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding: 8px 40px;">
    <span style="font-family: Arial; font-weight: bold; font-size: 16px">MyDiscoveries Team</span>
    </td>
  </tr>
</tbody>
